.gamePage {
  width: 100vw;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .heading {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 500;
    color: white;
  }
  .gameWrapper {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    .gameMain {
      // width: 1280px;
      // height: 720px;
      width: calc(16vw * 4);
      height: calc(9vw * 4);
      background-color: white;
    }
  }

  .sticky {
    margin-top: 100px;
    height: 80vh;
  }
}

@media only screen and (max-width: 860px) {
  .gamePage {
    width: 100vw;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .heading {
      height: 10%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 32px;
      font-weight: 500;
      color: white;
    }
    .gameWrapper {
      display: flex;
      justify-content: center;
      padding: 20px 0;
      .gameMain {
        // width: 1280px;
        // height: 720px;
        width: 100vw;
        height: calc(100vw * 9 / 16);
      }
    }

    .sticky {
      margin-top: 100px;
      height: 80vh;
    }
  }
}
