@use "../variables/colors.scss" as *;

@keyframes moveit {
  0% {
    transform: translateY(-20%) scaleX(-1);
  }
  100% {
    transform: translateY(0) scaleX(-1);
  }
}

.gamespage {
  height: fit-content;
  background-color: #ff6263;
  display: flex;
  flex-direction: column;
  padding: 0 7vw 5vh;
  .heading {
    font-size: 48px;
    font-weight: 700;
    color: white;
    margin-top: 80px;
  }
  .subheading {
    font-size: 18px;
    color: white;
    font-weight: 400;
    margin-top: 10px;
    width: 100%;
    line-height: 32px;
  }
  .mawrapper {
    display: flex;
    width: 100%;
    height: 100%;
    flex: 1;
    margin-top: 50px;
    .left {
      width: 40%;
      max-width: 500px;
      height: 100%;
      .title {
        font-size: 32px;
        color: rgb(231, 231, 231);
        font-weight: 700;
      }
      .description {
        font-size: 16px;
        color: rgba(255, 255, 255, 0.92);
        font-weight: 400;
        margin-top: 10px;
        line-height: 28px;
      }
      .button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px 32px;
        width: 137px;
        height: 48px;
        background: #ffffff;
        border-radius: 6px;
        font-size: 16px;
        font-weight: 500;
        margin-top: 20px;
        margin-top: 20px;
        cursor: pointer;
      }
      .buttonWrapper {
        margin-top: 40px;
        display: flex;
        align-items: center;
        .arrowl,
        .arrowr {
          width: 50px;
          cursor: pointer;
        }
        .arrowl {
          transform: rotateZ(180deg);
        }
        .arrowr {
          margin-left: 30px;
          padding-top: 8px;
        }
      }
      .navbar {
        display: flex;
        margin-top: 4vh;
        transition: all 0.3s ease;
        .ball {
          width: 10px;
          height: 10px;
          background-color: #fff;
          border-radius: 10px;
          transition: all 0.3s ease;
          margin: 0 10px;
        }
        .active {
          height: 10px;
          border-radius: 10px;
          width: 40px;
          background-color: #fdcc03;
        }
      }
    }
    .right {
      width: 65%;
      height: 100%;
      display: flex;
      flex: 1;
      justify-content: center;
      .container {
        position: relative;
        height: fit-content;
        width: 100%;
        max-height: 552px;
        display: flex;
        justify-content: flex-end;
        video {
          width: calc(16vw * 3);
          aspect-ratio: 16/9;
          object-fit: contain;
        }
        .gameimg {
          aspect-ratio: 16/9;
          width: calc(16vw * 3);
          object-fit: contain;
          height: 450px;
          border-radius: 12px;
        }
        .playIcon,
        .pauseIcon {
          position: absolute;
          right: 100px;
          bottom: 40px;
          width: 60px;
          cursor: pointer;
          z-index: 4;
        }
        .pauseIcon {
          width: 65px;

          path {
            fill: white;
          }
        }
      }
    }
  }
  .wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    flex: 1;
    margin-top: 100px;
    border-top: 1px solid rgb(255, 132, 132);
    padding-top: 50px;
    .left {
      width: 35%;
      max-width: 350px;
      height: 100%;
      .title {
        font-size: 32px;
        color: rgb(231, 231, 231);
        font-weight: 700;
      }
      .description {
        font-size: 16px;
        color: rgba(255, 255, 255, 0.92);
        font-weight: 400;
        margin-top: 10px;
        line-height: 28px;
      }
      .button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px 32px;
        width: 137px;
        height: 48px;
        background: #ffffff;
        border-radius: 6px;
        font-size: 16px;
        font-weight: 500;
        margin-top: 20px;
        margin-top: 20px;
        cursor: pointer;
      }
      .buttonWrapper {
        margin-top: 40px;
        display: flex;
        align-items: center;
        .arrowl,
        .arrowr {
          width: 50px;
          cursor: pointer;
        }
        .arrowl {
          transform: rotateZ(180deg);
        }
        .arrowr {
          margin-left: 30px;
          padding-top: 8px;
        }
      }
      .navbar {
        display: flex;
        margin-top: 22vh;
        transition: all 0.3s ease;
        .ball {
          width: 10px;
          height: 10px;
          background-color: #fff;
          border-radius: 10px;
          transition: all 0.3s ease;
          margin: 0 10px;
        }
        .active {
          height: 10px;
          border-radius: 10px;
          width: 40px;
          background-color: #fdcc03;
        }
      }
    }
    .right {
      width: 65%;
      height: 100%;
      display: flex;
      flex: 1;
      justify-content: center;
      .container {
        position: relative;
        height: fit-content;
        width: 100%;
        max-height: 552px;
        display: flex;
        justify-content: flex-end;
        video {
          width: calc(16vw * 3);
          aspect-ratio: 16/9;
          object-fit: contain;
        }
        .gameimg {
          aspect-ratio: 16/9;
          width: calc(16vw * 3);
          object-fit: contain;
          height: 450px;
        }
        .playIcon,
        .pauseIcon {
          position: absolute;
          right: 100px;
          bottom: 40px;
          width: 60px;
          cursor: pointer;
          z-index: 4;
        }
        .pauseIcon {
          width: 65px;

          path {
            fill: white;
          }
        }
      }
    }
  }
}
.darkgamepage{
  .heading {
    color: $d-moredark;
  }
  .subheading {
    color: $d-moredark;
  }
  .wrapper {
    .left {
      .title {
        color: $d-moredark;
      }
      .description {
        color: $d-moredark;

      }
      .button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px 32px;
        width: 137px;
        height: 48px;
        background:  $d-moredark;
        border-radius: 6px;
        font-size: 16px;
        font-weight: 500;
        margin-top: 20px;
        margin-top: 20px;
        cursor: pointer;
      }
      .buttonWrapper {
        margin-top: 40px;
        display: flex;
        align-items: center;
        .arrowl,
        .arrowr {
          width: 50px;
          cursor: pointer;     path{
            fill:  $d-moredark;
          }
        }
        .arrowl {
          transform: rotateZ(180deg);
          path{
            fill:  $d-moredark;
          }
      }
        .arrowr {
          margin-left: 30px;
          padding-top: 8px;
        }
      }
      .navbar {
        display: flex;
        margin-top: 22vh;
        transition: all 0.3s ease;
        .ball {
          width: 10px;
          height: 10px;
          background-color: $d-light;
          border-radius: 10px;
          transition: all 0.3s ease;
          margin: 0 10px;
        }
        .active {
          height: 10px;
          border-radius: 10px;
          width: 40px;
          background-color: $d-text1;
        }
      }
    }
    .right {
      width: 65%;
      height: 100%;
      display: flex;
      flex: 1;
      justify-content: center;
      .container {
        position: relative;
        height: fit-content;
        width: 100%;
        max-height: 552px;
        display: flex;
        justify-content: flex-end;
        video {
          width: calc(16vw * 3);
          aspect-ratio: 16/9;
          object-fit: contain;
        }
        .gameimg {
          aspect-ratio: 16/9;
          width: calc(16vw * 3);
          object-fit: contain;
          height: 450px;
        }
        .playIcon,
        .pauseIcon {
          position: absolute;
          right: 100px;
          bottom: 40px;
          width: 60px;
          cursor: pointer;
          z-index: 4;
        }
        .pauseIcon {
          width: 65px;

          path {
            fill: white;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 900px) and (max-height: 900px) {
  .gamespage {
    height: unset;
    .heading {
      font-size: 40px;
      margin-top: 50px;
    }
    .subheading {
      font-size: 16px;
      line-height: 28px;
    }
    .wrapper {
      margin-top: 30px;
      margin-bottom: 100px;
      .left {
        .title {
          font-size: 30px;
        }
        .description {
          font-size: 14px;
          margin-top: 2px;
          line-height: 26px;
        }
        .button {
          width: 127px;
          height: 42px;
          font-size: 14px;
          margin-top: 10px;
        }
        .buttonWrapper {
          margin-top: 20px;

          .arrowl,
          .arrowr {
            width: 40px;
          }
        }
      }
      .right {
        .container {
          max-height: 400px;
          video {
          }
          .playIcon,
          .pauseIcon {
            width: 50px;
          }
          .pauseIcon {
            width: 60px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1200px) {
  .gamespage {
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 100px;
    .heading {
      font-size: 40px;
      margin-top: 8%;
    }
    .subheading {
      text-align: left;
      font-size: 16px;
      line-height: 26px;
      width: 100%;
    }
    .wrapper {
      display: flex;
      flex-direction: column-reverse;
      max-width: 1400px;
      height: 100%;
      flex: 1;
      margin-top: 50px;
      justify-content: space-evenly;
      .left {
        width: 100%;
        max-width: unset;
        height: 100%;
        margin-top: 20px;
        .title {
          font-size: 36px;
          color: white;
          font-weight: 700;
        }
        .description {
          font-size: 18px;
          color: rgba(255, 255, 255, 0.92);
          font-weight: 400;
          margin-top: 10px;
          line-height: 32px;
        }
        .button {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 12px 32px;
          width: 137px;
          height: 48px;
          background: #ffffff;
          border-radius: 6px;
          font-size: 16px;
          font-weight: 500;
          margin-top: 20px;
          margin-top: 20px;
          cursor: pointer;
        }
        .buttonWrapper {
          margin-top: 40px;
          display: flex;
          align-items: center;
          .arrowl,
          .arrowr {
            width: 50px;
            cursor: pointer;
          }
          .arrowl {
            transform: rotateZ(180deg);
          }
          .arrowr {
            margin-left: 30px;
            padding-top: 8px;
          }
        }
        .navbar {
          display: flex;
          margin-top: 5vh;
          transition: all 0.3s ease;
          .ball {
            width: 10px;
            height: 10px;
            background-color: #fff;
            border-radius: 10px;
            transition: all 0.3s ease;
            margin: 0 10px;
            &:first-child {
              margin-left: 0;
            }
          }
          .active {
            height: 10px;
            border-radius: 10px;
            width: 40px;
            background-color: #fdcc03;
          }
        }
      }
      .right {
        width: 100%;
        height: 100%;
        .container {
          position: relative;
          height: 100%;
          width: 100%;
          max-height: 552px;
          justify-content: center;
          video {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .playIcon,
          .pauseIcon {
            position: absolute;
            right: 40px;
            bottom: 40px;
            width: 60px;
            cursor: pointer;
            z-index: 4;
          }
          .pauseIcon {
            width: 65px;

            path {
              fill: white;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 860px) {
  .gamespage {
    .wrapper {
      padding-top: 20px;
      .left {
        .navbar {
          display: flex;
          margin-top: 4vh;
          transition: all 0.3s ease;
          .ball {
            width: 6px;
            height: 6px;
            background-color: #fff;
            border-radius: 10px;
            transition: all 0.3s ease;
            margin: 0 6px;
          }
          .active {
            height: 6px;
            border-radius: 10px;
            width: 20px;
            background-color: #fdcc03;
          }
        }
      }
      .right {
        .container {
          justify-content: center;
          margin-top: 0;
          padding-top: 0;
          .playIcon {
            width: 8vw;
            right: 20px;
            bottom: 20px;
          }
          .gameimg {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 500px) {
  .gamespage {
    padding-bottom: 50px;
    .heading {
      font-size: 30px;
    }
    .subheading {
      font-size: 12px;
      line-height: 22px;
    }
    .wrapper {
      margin-top: 20px;
      .left {
        margin-top: 10px;
        .title {
          font-size: 26px;
        }
        .description {
          font-size: 12px;
          margin-top: 5px;
          line-height: 18px;
        }
        .button {
          padding: 12px;
          width: 120px;
          height: 40px;
          font-size: 14px;
          margin-top: 10px;
        }
        .buttonWrapper {
          margin-top: 10px;
          .arrowl,
          .arrowr {
            width: 30px;
          }
          .arrowr {
            margin-left: 20px;
          }
        }
      }
    }
  }
}
@media screen and (orientation: landscape) and (max-width: 860px) {
  .gamespage {
    height: unset;
    .heading {
      font-size: 4vw;
      margin-top: 50px;
    }
    .subheading {
      font-size: clamp(14px, 1vw, 16px);
      line-height: 20px;
    }
    .wrapper {
      margin-top: 30px;
      margin-bottom: 0px;
      flex-direction: row;
      padding-top: 40px;
      .left {
        width: 50vw;
        padding-right: 20px;
        margin: 0;
        .title {
          font-size: 3vw;
        }
        .description {
          font-size: clamp(12px, 1vw, 14px);
          line-height: 20px;
        }
        .button {
          width: 127px;
          height: 42px;
          font-size: 14px;
          margin-top: 10px;
        }
        .buttonWrapper {
          margin-top: 20px;

          .arrowl,
          .arrowr {
            width: 40px;
          }
        }
      }
      .right {
        .container {
          max-height: 400px;
          margin-top: 12vh;
          .gameimg {
            width: 20vw;
            height: 50vh;
          }
          .playIcon,
          .pauseIcon {
            width: 50px;
          }
          .pauseIcon {
            width: 60px;
          }
        }
      }
    }
  }
}
@media screen and (orientation: landscape) and (max-height: 500px) {
  .gamespage {
    height: unset;
    .heading {
      font-size: 2.5vw;
      margin-top: 50px;
    }
    .subheading {
      font-size: clamp(12px, 1.5vw, 14px);
      line-height: 20px;
    }
    .wrapper {
      margin-top: 20px;
      margin-bottom: 0px;
      flex-direction: row;
      padding-top: 40px;
      .left {
        width: 50vw;
        padding-right: 20px;
        margin: 0;
        .title {
          font-size: 2vw;
        }
        .description {
          font-size: clamp(12px, 1vw, 14px);
          line-height: 20px;
        }
        .button {
          width: 127px;
          height: 42px;
          font-size: 14px;
          margin-top: 10px;
        }
        .buttonWrapper {
          margin-top: 20px;

          .arrowl,
          .arrowr {
            width: 40px;
          }
        }
      }
      .right {
        .container {
          max-height: 200px;
          margin-top: 6vh;
          .gameimg {
            width: 20vw;
            height: 50vh;
          }
          video {
          }
          .playIcon,
          .pauseIcon {
            width: 50px;
          }
          .pauseIcon {
            width: 60px;
          }
        }
      }
    }
  }
}
