@use "../variables/colors.scss" as *;

.container {
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.19);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .contentWrapper {
    position: unset;
    z-index: -1 !important;
    padding: 1rem 4rem;
    background-color: #fff;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: unset;
    .giftBox {
      z-index: 2 !important;
      position: absolute;
      top: 22%;
      // transform: translateY(-50%);
      transition: all;
      transform: rotate(0);
      animation: giftbox-animation 1.5s linear infinite alternate;
    }
    .contentContainer {
      margin-top: 6rem;
      margin-bottom: 1rem;
      text-align: center;
      .heading {
        font-size: 1.8rem;
        font-weight: 500;
      }
      .subheading {
        font-size: 1rem;
        color: #959090;
        margin: 0.5rem 0;
      }
      .button {
        margin-top: 10px;
        font-size: 1.2rem;
        padding: 0.5rem 5rem;
        background-color: $blue;
        color: #fff;
        border: none;
        border-radius: 10px;
        cursor: pointer;
      }
    }
  }
}
@keyframes giftbox-animation {
  to {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(10deg);
  }
}
