@keyframes moveit {
  0% {
    transform: translateY(-20%) scaleX(-1);
  }
  100% {
    transform: translateY(0) scaleX(-1);
  }
}

.calculatorsPage {
  height: 100vh;
  overflow-y: auto;
  background-color: transparent;

  input[type="range"] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
  }
  input[type="range"]:focus {
    outline: none;
  }
  input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #4166eb;
    border-radius: 50px;
    border: 0px solid #000000;
  }
  input[type="range"]::-webkit-slider-thumb {
    box-shadow: 0px 0px 1px #ffffff;
    border: 0px solid #000000;
    height: 16px;
    width: 16px;
    border-radius: 50px;
    background: #4166eb;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
  }
  input[type="range"]:focus::-webkit-slider-runnable-track {
    background: #4166eb;
  }
  input[type="range"]::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #4166eb;
    border-radius: 50px;
    border: 0px solid #000000;
  }
  input[type="range"]::-moz-range-thumb {
    box-shadow: 0px 0px 1px #ffffff;
    border: 0px solid #000000;
    height: 16px;
    width: 16px;
    border-radius: 50px;
    background: #4166eb;
    cursor: pointer;
  }
  input[type="range"]::-ms-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type="range"]::-ms-fill-lower {
    background: #4166eb;
    border: 0px solid #000000;
    border-radius: 100px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type="range"]::-ms-fill-upper {
    background: #4166eb;
    border: 0px solid #000000;
    border-radius: 100px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type="range"]::-ms-thumb {
    box-shadow: 0px 0px 1px #ffffff;
    border: 0px solid #000000;
    height: 16px;
    width: 16px;
    border-radius: 50px;
    background: #4166eb;
    cursor: pointer;
  }
  input[type="range"]:focus::-ms-fill-lower {
    background: #4166eb;
  }
  input[type="range"]:focus::-ms-fill-upper {
    background: #4166eb;
  }

  .contentWrapper {
    padding-top: 5vh;
    min-height: 100vh;
    padding: 0 14%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    .curve2 {
      position: fixed;
      width: 100vw;
      left: 0;
      top: 60%;
      z-index: -1;
      transform: scaleX(-1);
      animation: moveit 5s ease alternate infinite;
      animation-delay: 2s;
    }
    .curve1 {
      position: fixed;
      width: 100vw;
      left: 0;
      top: 25%;
      z-index: -1;
      animation: moveit 5s ease alternate infinite;
    }
    .icon {
      width: 145px;
    }
    .headingSection {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .heading {
        margin-top: 45px;
        font-weight: 700;
        font-size: 48px;
        color: #000000;
        text-align: center;
      }
      .subheading {
        margin-top: 1vh;
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        text-align: center;
        font-feature-settings: "salt" on, "liga" off;
        color: #18191f;
      }
    }
    .calculatorsList {
      margin-top: 5vh;
      display: flex;
      min-height: 70vh;
      overflow: auto;
      flex-wrap: wrap;
      justify-content: space-evenly;
      .calcCard {
        background: linear-gradient(
            0deg,
            rgba(241, 248, 255, 0.2),
            rgba(241, 248, 255, 0.2)
          ),
          #ffffff;
        box-shadow: 0px 13.3978px 24.8817px rgba(8, 60, 194, 0.15);
        border-radius: 12px;
        cursor: pointer;
        width: 350px;
        height: 445px;
        font-family: "Roboto";
        font-weight: 500;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 43px;
        margin-top: 0;
        margin-left: 20px;
        text-align: center;
        transition: all 0.3s ease;
        padding: 20px;
        .calccardtitle {
          font-size: 18px;
          font-weight: 500;
          width: 100%;
          text-align: left;
        }
        .calccardsubtitle {
          margin-top: 10px;
          font-size: 12px;
          font-weight: 400;
          width: 100%;
          text-align: left;
          overflow: auto;
          scrollbar-width: thin;
        }
        .date {
          font-size: 11.4839px;
          margin-top: 6px;
          text-align: left;
          width: 100%;
          color: #848484;
        }
        border: 1px solid rgb(255, 255, 255);

        &:hover {
          border: 1px solid rgb(187, 187, 187);
        }
        .cardimg {
          height: 225px;
          width: 100%;
          margin-bottom: 20px;
          object-fit: cover;
          border-radius: 18px;
          position: relative;
          overflow: hidden;
        }
      }
    }
  }
}
@media only screen and (min-width: 860px) and (max-height: 900px) {
  .calculatorsPage {
    .contentWrapper {
      margin-top: 4vh;
      padding-left: 7%;
      padding-right: 7%;
      .calculatorsList {
        margin-top: 5vh;
        display: flex;
        min-height: 70vh;
        overflow: auto;
        flex-wrap: wrap;
        justify-content: space-evenly;
        .calcCard {
          background: linear-gradient(
              0deg,
              rgba(241, 248, 255, 0.2),
              rgba(241, 248, 255, 0.2)
            ),
            #ffffff;
          box-shadow: 0px 13.3978px 24.8817px rgba(8, 60, 194, 0.15);
          border-radius: 12px;
          cursor: pointer;
          width: 300px;
          height: 445px;
          font-family: "Roboto";
          font-weight: 500;
          border-radius: 8px;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 43px;
          margin-top: 0;
          margin-left: 20px;
          text-align: center;
          transition: all 0.3s ease;
          padding: 20px;
          .calccardtitle {
            font-size: 18px;
            font-weight: 500;
            width: 100%;
            text-align: left;
          }
          .calccardsubtitle {
            margin-top: 10px;
            font-size: 12px;
            font-weight: 400;
            width: 100%;
            text-align: left;
            overflow: auto;
            scrollbar-width: thin;
          }
          .date {
            font-size: 11.4839px;
            margin-top: 6px;
            text-align: left;
            width: 100%;
            color: #848484;
          }
          border: 1px solid rgb(255, 255, 255);

          &:hover {
            border: 1px solid rgb(187, 187, 187);
          }
          .cardimg {
            height: 225px;
            width: 100%;
            margin-bottom: 20px;
            object-fit: cover;
            border-radius: 18px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 860px) {
  .calculatorsPage {
    height: 100%;
    .contentWrapper {
      margin-top: 0px;
      padding-left: 7%;
      padding-right: 7%;
      padding-top: 15px;
      .pathSection {
        .path {
          font-size: 12px;
        }
      }
      .headingSection {
        margin-top: 20px;
        .heading {
          font-weight: 700;
          font-size: 20px;
          margin-bottom: 10px;
          width: 100%;
        }
        .subheading {
          margin-top: 0;
          font-weight: 400;
          font-size: 12px;
          line-height: 22px;
          width: 100%;
        }
      }
      .calculatorsList {
        margin-top: 3vh;
        display: flex;
        height: 100%;
        overflow: auto;
        flex-wrap: wrap;
        justify-content: space-around;
        .calcCard {
          cursor: pointer;
          width: 45%;
          border-radius: 8px;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 0;
          margin-bottom: 30px;
          min-width: 300px;
          img {
          }
          .calccardtitle {
            font-size: 16px;
          }
        }
      }
    }
  }
}
