@use "../variables/colors.scss" as *;

.calculatorsPage {
  height: 100vh;
  overflow-y: auto;
  background: linear-gradient(
    180deg,
    rgba(156, 207, 255, 0.05) 0%,
    rgba(65, 133, 235, 0.05) 100%
  );
  input[type="range"] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
  }
  input[type="range"]:focus {
    outline: none;
  }
  input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #4166eb;
    border-radius: 50px;
    border: 0px solid #000000;
  }
  input[type="range"]::-webkit-slider-thumb {
    box-shadow: 0px 0px 1px #ffffff;
    border: 0px solid #000000;
    height: 16px;
    width: 16px;
    border-radius: 50px;
    background: #4166eb;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
  }
  input[type="range"]:focus::-webkit-slider-runnable-track {
    background: #4166eb;
  }
  input[type="range"]::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #4166eb;
    border-radius: 50px;
    border: 0px solid #000000;
  }
  input[type="range"]::-moz-range-thumb {
    box-shadow: 0px 0px 1px #ffffff;
    border: 0px solid #000000;
    height: 16px;
    width: 16px;
    border-radius: 50px;
    background: #4166eb;
    cursor: pointer;
  }
  input[type="range"]::-ms-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type="range"]::-ms-fill-lower {
    background: #4166eb;
    border: 0px solid #000000;
    border-radius: 100px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type="range"]::-ms-fill-upper {
    background: #4166eb;
    border: 0px solid #000000;
    border-radius: 100px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type="range"]::-ms-thumb {
    box-shadow: 0px 0px 1px #ffffff;
    border: 0px solid #000000;
    height: 16px;
    width: 16px;
    border-radius: 50px;
    background: #4166eb;
    cursor: pointer;
  }
  input[type="range"]:focus::-ms-fill-lower {
    background: #4166eb;
  }
  input[type="range"]:focus::-ms-fill-upper {
    background: #4166eb;
  }

  .contentWrapper {
    padding-top: 5vh;
    padding-left: 14%;
    min-height: 100vh;
    padding-right: 14%;
    .waitinglist {
      width: 100%;
      height: 96px;
      background: linear-gradient(270.33deg, #0047ff 4.32%, #00b2ff 100.13%);
      overflow: hidden;
      border-radius: 15px;
      position: relative;
      display: flex;
      margin-bottom: 30px;
      .left {
        flex: 1;
        position: relative;
        img {
          position: absolute;
          right: 0;
        }
      }
      .midflex {
        flex: 1;
        min-width: fit-content;
        font-size: 22px;
        color: rgba(255, 255, 255, 1);
        font-weight: 400;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 4%;
      }
      .right {
        flex: 1;
        overflow: hidden;
        position: relative;
        .background {
          z-index: 1;
          position: absolute;
          left: 0;
        }
        .text {
          color: white;
          font-weight: 400;
          font-size: 22px;
          padding-left: 20%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 100%;
          position: absolute;
          z-index: 4;
          p {
            display: flex;
            justify-content: left;
            width: 100%;
          }
          span {
            font-weight: 700;
            display: flex;
            min-width: fit-content;
            margin-right: 8px;
          }
        }
      }
    }
    .headingSection {
      font-family: "Lexend", sans-serif;
      .mainheading {
        font-size: 36px;
        font-weight: 700;
        color: #4166eb;
        margin-bottom: 20px;
      }
      .heading {
        font-weight: 600;
        font-size: 22px;
        color: #000000;
      }
      .subheading {
        margin-top: 1vh;
        font-weight: 400;
        font-size: 15px;
        color: #808080;
        line-height: 22px;
      }
    }
    .calculatorsList {
      margin-top: 5vh;
      display: flex;
      min-height: 70vh;
      overflow: auto;
      flex-wrap: wrap;
      .calcCard {
        background: linear-gradient(
            0deg,
            rgba(241, 248, 255, 0.2),
            rgba(241, 248, 255, 0.2)
          ),
          #ffffff;
        box-shadow: 0px 14px 26px rgba(8, 60, 194, 0.15);
        border-radius: 12px;
        cursor: pointer;
        width: 207px;
        height: 207px;
        font-family: "Lexend", sans-serif;
        font-weight: 500;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 43px;
        margin-top: 0;
        margin-left: 20px;
        text-align: center;
        transition: all 0.3s ease;
        padding: 10px;
        &:hover {
          background-color: rgb(227, 227, 227);
        }
        img {
          height: 70px;
          width: 70px;
          margin-bottom: 20px;
          object-fit: cover;
          opacity: 0.8;
        }
      }
    }
  }
}
.darkstyles {
  background: transparent;
  .contentWrapper {
    .waitinglist {
      width: 100%;
      height: 96px;
      background: linear-gradient(270.33deg, #0047ff 4.32%, #00b2ff 100.13%);
      overflow: hidden;
      border-radius: 15px;
      position: relative;
      display: flex;
      margin-bottom: 30px;
      .left {
        flex: 1;
        position: relative;
        img {
          position: absolute;
          right: 0;
        }
      }
      .midflex {
        flex: 1;
        min-width: fit-content;
        font-size: 22px;
        color: rgba(255, 255, 255, 1);
        font-weight: 400;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 4%;
      }
      .right {
        flex: 1;
        overflow: hidden;
        position: relative;
        .background {
          z-index: 1;
          position: absolute;
          left: 0;
        }
        .text {
          color: white;
          font-weight: 400;
          font-size: 22px;
          padding-left: 20%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 100%;
          position: absolute;
          z-index: 4;
          p {
            display: flex;
            justify-content: left;
            width: 100%;
          }
          span {
            font-weight: 700;
            display: flex;
            min-width: fit-content;
            margin-right: 8px;
          }
        }
      }
    }
    .headingSection {
      .heading {
        color: $d-text2;
      }
      .subheading {
        color: $d-text2;
      }
    }
  }
}
@media only screen and (min-width: 860px) and (max-height: 900px) {
  .calculatorsPage {
    .contentWrapper {
      margin-top: 4vh;
      padding-left: 7%;
      padding-right: 7%;
    }
  }
}
@media only screen and (max-width: 1500px) {
  .calculatorsPage {
    .contentWrapper {
      margin-top: 4vh;
      padding-left: 7%;
      padding-right: 7%;
    }
  }
}
@media only screen and (max-width: 860px) {
  .calculatorsPage {
    height: 100%;
    .contentWrapper {
      margin-top: 0px;
      padding-left: 7%;
      padding-right: 7%;
      padding-top: 15px;
      .waitinglist {
        width: 100%;
        height: max-content;
        background: linear-gradient(270.33deg, #0047ff 4.32%, #00b2ff 100.13%);
        overflow: hidden;
        border-radius: 15px;
        position: relative;
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        .left {
          flex: unset;
          height: 60px;
          overflow: hidden;
          position: relative;
          img {
            position: absolute;
            object-fit: cover;
            right: 0;
          }
        }
        .midflex {
          flex: unset;
          min-width: unset;
          width: 100%;
          font-size: 12px;
          height: 60px;
          color: rgba(255, 255, 255, 1);
          font-weight: 400;
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          padding: 0 4%;
        }
        .right {
          flex: unset;
          height: 60px;
          overflow: hidden;
          position: relative;
          .background {
            z-index: 1;
            position: absolute;
            left: 0;
          }
          .text {
            color: white;
            font-weight: 400;
            font-size: 12px;
            width: 100%;
            padding-right: 5%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            position: absolute;
            z-index: 4;
            p {
              display: flex;
              justify-content: center;
              width: 100%;
              text-align: center;
            }
            span {
              font-weight: 700;
              display: flex;
              min-width: fit-content;
              margin-right: 8px;
            }
          }
        }
      }
      .pathSection {
        .path {
          font-size: 12px;
        }
      }
      .headingSection {
        margin-top: 20px;
        .mainheading {
          font-size: 24px;
        }
        .heading {
          font-weight: 700;
          font-size: 16px;
          margin-bottom: 10px;
          width: 100%;
        }
        .subheading {
          margin-top: 0;
          font-weight: 400;
          font-size: 12px;
          width: 100%;
        }
      }
      .calculatorsList {
        margin-top: 3vh;
        display: flex;
        height: 100%;
        overflow: auto;
        flex-wrap: wrap;
        justify-content: center;
        .calcCard {
          background-color: rgb(247, 247, 247);
          cursor: pointer;
          width: 120px;
          height: 120px;
          border-radius: 8px;
          display: flex;
          justify-content: space-around;
          flex-direction: column;
          align-items: center;
          margin: 10px;
          img {
            height: 60px;
            width: 60px;
          }
          .calccardtitle {
            font-size: 12px;
          }
        }
      }
    }
  }
}
