.inputBlock {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
  input[type="range"] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
  }
  input[type="range"]:focus {
    outline: none;
  }
  input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #4166eb;
    border-radius: 50px;
    border: 0px solid #000000;
  }
  input[type="range"]::-webkit-slider-thumb {
    box-shadow: 0px 0px 1px #ffffff;
    border: 0px solid #000000;
    height: 16px;
    width: 16px;
    border-radius: 50px;
    background: #4166eb;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
  }
  input[type="range"]:focus::-webkit-slider-runnable-track {
    background: #4166eb;
  }
  input[type="range"]::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #4166eb;
    border-radius: 50px;
    border: 0px solid #000000;
  }
  input[type="range"]::-moz-range-thumb {
    box-shadow: 0px 0px 1px #ffffff;
    border: 0px solid #000000;
    height: 16px;
    width: 16px;
    border-radius: 50px;
    background: #4166eb;
    cursor: pointer;
  }
  input[type="range"]::-ms-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type="range"]::-ms-fill-lower {
    background: #4166eb;
    border: 0px solid #000000;
    border-radius: 100px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type="range"]::-ms-fill-upper {
    background: #4166eb;
    border: 0px solid #000000;
    border-radius: 100px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type="range"]::-ms-thumb {
    box-shadow: 0px 0px 1px #ffffff;
    border: 0px solid #000000;
    height: 16px;
    width: 16px;
    border-radius: 50px;
    background: #4166eb;
    cursor: pointer;
  }
  input[type="range"]:focus::-ms-fill-lower {
    background: #4166eb;
  }
  input[type="range"]:focus::-ms-fill-upper {
    background: #4166eb;
  }

  .topBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .label {
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      font-weight: 500;
      margin-right: 20px;
    }
    .signAndValue {
      background-color: rgb(255, 255, 255);
      border: 1px solid #898989;
      display: flex;
      padding: 5px 20px;
      min-width: 150px;
      max-width: 150px;
      height: 45px;
      justify-content: space-around;
      border-radius: 8px;
      align-items: center;
      input {
        outline: none;
        border: none;
        max-width: 85px;
        padding: 5px;
        text-align: center;
        flex: 1;
        font-size: 14px;
        font-family: "Roboto", sans-serif;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        -moz-appearance: textfield;
      }

      .sign {
        margin: 0px 0px;
        color: rgb(153, 153, 153);
      }
    }
  }
}

@media only screen and (max-width: 860px) {
  .inputBlock {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    .topBlock {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .label {
        font-size: 16px;
      }
      .signAndValue {
        width: fit-content;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 12px;
        padding: 10px;
        input {
          width: 100%;
          outline: none;
          border: none;
          border-radius: 8px;
          padding: 0px;
          margin-left: 0px;
          font-size: 14px;
          margin-right: 0px;
        }
      }
    }
  }
}
