.inputBlock {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
  .topBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .label {
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      font-weight: 500;
    }
    .signAndValue {
      background-color: rgb(255, 255, 255);
      border: 1px solid #898989;
      display: flex;
      padding: 5px 20px;
      min-width: 100px;
      height: 45px;
      width: fit-content;
      justify-content: space-around;
      border-radius: 8px;
      align-items: center;
      input {
        outline: none;
        border: none;
        padding: 5px;
        text-align: center;
        flex: 1;
        font-size: 14px;
        font-family: "Roboto", sans-serif;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        -moz-appearance: textfield;
      }

      .sign {
        margin: 0px 0px;
        color: rgb(153, 153, 153);
      }
    }
  }
}

@media only screen and (min-width: 769px) and (max-width: 1360px) {
  .inputBlock {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    .topBlock {
      .signAndValue {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 14px;
        input {
          width: 50%;
          outline: none;
          border: none;
          border-radius: 8px;
          padding: 10px;
          margin-left: 5px;
          font-size: 14px;
          margin-right: 5px;
        }
      }
    }
  }
}

@media only screen and (max-width: 860px) {
  .inputBlock {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    .topBlock {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .label {
        font-size: 16px;
      }
      .signAndValue {
        width: fit-content;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 12px;
        padding: 10px;
        input {
          width: 100%;
          outline: none;
          border: none;
          border-radius: 8px;
          padding: 0px;
          margin-left: 0px;
          font-size: 14px;
          margin-right: 0px;
        }
      }
    }
  }
}
