.calculator {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .img {
    position: relative;
    min-width: 70px;
    height: 70px;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 10px;
  }
  .right {
    .categories {
      color: white;
      color: rgb(59, 59, 59);
      font-size: 0.75rem;
      text-transform: capitalize;
    }
    .title {
      font-size: 1rem;
      font-weight: 500;
    }
    .content {
      font-size: 0.75rem;
      color: rgb(59, 59, 59);
    }
    .time {
      font-size: 10px;
      color: rgb(59, 59, 59);
      margin-top: 4px;
    }
  }
  &:last-child {
    margin-bottom: 0px;
  }
}

@media only screen and (min-width: 900px) and (max-height: 900px) {
  .calculator {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
    .img {
      position: relative;
      min-width: 70px;
      height: 70px;
      border-radius: 10px;
      overflow: hidden;
      margin-right: 10px;
    }
    .right {
      .categories {
        color: white;
        color: rgb(59, 59, 59);
        font-size: 0.75rem;
        text-transform: capitalize;
      }
      .title {
        font-size: 0.875rem;
        font-weight: 500;
      }
      .content {
        font-size: 11px;
        color: rgb(59, 59, 59);
      }
      .time {
        font-size: 10px;
        color: rgb(59, 59, 59);
        margin-top: 4px;
      }
    }
    &:last-child {
      margin-bottom: 0px;
    }
  }
} ;
