.resultBox {
  display: flex;
  flex-direction: column;
  padding-left: 2vw;
  padding-right: 2vw;
  .topflex {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 20px;
  }
  .bottomContainer {
    text-align: center;
    width: 100%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1360px) {
  .resultBox {
    display: flex;
    flex-direction: column;
    padding-left: 2vw;
    padding-right: 2vw;
    .topflex {
      display: flex;
      justify-content: space-between;
      text-align: center;
    }
    .bottomContainer {
      text-align: center;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 860px) {
  .resultBox {
    display: flex;
    flex-direction: column;
    padding-left: 2vw;
    padding-right: 2vw;
    .topflex {
      display: flex;
      justify-content: space-between;
      text-align: center;
    }
    .bottomContainer {
      text-align: center;
      width: 100%;
    }
  }
}
