@use "../variables/colors.scss" as *;
.resultBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  margin-top: 50px;
  .topflex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    align-items: flex-start;
    width: 100%;
    .container {
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      .heading {
        color: #808080;
        font-family: "Lexend", sans-serif;
        font-size: 14px;
        font-weight: 400;
        width: 50%;
        flex: 1;
      }
      .result,
      input {
        font-family: "Lexend", sans-serif;
        font-size: 24px;
        font-weight: 700;
        text-align: center;
      }
      .onlytext {
        background-color: rgb(238, 238, 238);
        padding: 20px;
        font-size: 22px;
        font-weight: 500;
        border-radius: 12px;
      }
      .bsign {
        padding-left: 20px;
        border-radius: 12px;
        min-height: 45px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        height: 100%;
        background-color: #ecececb7;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .inputbox {
        border: none;
        background-color: #ecececb7;
        padding: 10px;
        height: 45px;
        border-radius: 12px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        width: 50%;
        max-width: 200px;
        &:focus {
          outline: none;
        }
      }
    }
  }
  .bottomContainer {
    text-align: left;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .heading {
      color: #808080;
      font-family: "Lexend", sans-serif;
      font-size: 14px;
      font-weight: 400;
      min-width: fit-content;
      width: 50%;
    }
    .result {
      font-family: "Lexend", sans-serif;
      font-size: 24px;
      font-weight: 700;
      flex: 1;
      text-align: center;
    }
  }
}
.darkstyles {
  .topflex {
    .container {
      .heading {
        color: $d-text2;
      }
      .result,
      input {
        font-family: "Lexend", sans-serif;
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        color: $d-text2;
      }
      .onlytext {
        color: $d-text2;
        background-color: $d-main;
      }
      .bsign {
        background-color: $d-main;
        color: $d-text2;
      }
      .inputbox {
        background-color: $d-main;
        color: $d-text2;
      }
    }
  }
  .bottomContainer {
    text-align: left;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .heading {
      color: #808080;
      font-family: "Lexend", sans-serif;
      font-size: 14px;
      font-weight: 400;
      min-width: fit-content;
      width: 50%;
    }
    .result {
      font-family: "Lexend", sans-serif;
      font-size: 24px;
      font-weight: 700;
      flex: 1;
      text-align: center;
    }
  }
}
@media only screen and (max-width: 860px) {
  .resultBox {
    display: flex;
    flex-direction: column;
    padding-left: 2vw;
    padding-right: 2vw;
    .topflex {
      display: flex;
      justify-content: space-between;
      text-align: center;
      .container {
        .heading {
          text-align: left;
        }
        .inputbox,
        .result {
          font-size: 18px;
        }
      }
    }
    .bottomContainer {
      text-align: center;
      width: 100%;
    }
  }
}
