.banner {
  border-radius: 14px;
  color: #fff;
  padding: 30px;
  margin-top: 10px;
  position: relative;
  .triangle {
    position: absolute;
    // top: -20px;
    // left: 70px;
  }
  .content {
    display: flex;
    justify-content: space-between;
    .left {
      .title {
        font-size: 36px;
        font-weight: 400;
        padding: 20px 0 5px;
      }
      .description {
        font-size: 18px;
        font-weight: 300;
      }
      .buttonArea {
        padding: 10px 0;
        .button {
          background-color: #4066eb;
          color: #fff;
          border: none;
          outline: none;
          padding: 10px 20px;
          border-radius: 14px;
          box-shadow: 0px 0px 3px 1px #1447f8;
        }
      }
    }
    .right {
      .reward {
        .svg {
          width: 12px;
          height: 12px;
          margin-right: 5px;
          path {
            fill: #fff;
          }
        }
      }
    }
  }
  .rewardBanner {
    margin: -30px;
    position: relative;
    .rewardBg {
      object-fit: cover;
      width: 100%;
      max-height: 209px;
      border-radius: 14px;
    }
    .rewardText {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #686869;
      font-size: 28px;
      font-weight: 500;
    }
  }
}

// smaller width tabs
@media only screen and (min-width: 480px) and (max-width: 820px) {
}

// smaller tabs landscape mode
@media only screen and (orientation: landscape) and (max-height: 820px) {
}

// for phones
@media only screen and (max-width: 480px) {
}

// for phones landscape
@media only screen and (orientation: landscape) and (max-height: 480px) {
}
