@mixin journeyFullPage($paddingY: 10px, $paddingX: 50px) {
  padding: $paddingY $paddingX;
  .mainheading {
    font-weight: 500;
    font-size: 25px;
    color: rgba(87, 88, 128, 1);
    display: flex;
    align-items: center;
    padding: 20px 0;
    svg {
      margin-left: 10px;
    }
  }
  .journeyLayout {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 2.5rem 0;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.journey {
  @include journeyFullPage();
}

@media only screen and (min-width: 501px) and (max-width: 990px) {
  .journey {
    @include journeyFullPage(20px, 20px);
  }
}

@media only screen and (max-width: 500px) {
  .journey {
    @include journeyFullPage(10px, 20px);
  }
}