.journey {
  padding: 10px 50px;
  .mainheading {
    font-weight: 500;
    font-size: 25px;
    color: rgba(87, 88, 128, 1);
    display: flex;
    align-items: center;
    padding: 20px 0;
    svg {
      margin-left: 10px;
    }
  }
  .journeyLayout {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0.5rem 0;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
