@use "../variables/colors.scss" as *;

.card {
  position: relative;
  overflow: hidden;
  display: flex;
  width: 18rem;
  height: 19rem;
  border-radius: 2.5rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.56s ease-in-out;
  &:hover {
    box-shadow: 0 30px 40px 6px rgba(0, 0, 0, 0.14),
      0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
  }
  .cardThumbnail {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0,0,0,.2);  /* for debugging */
    img {
      height: 100%;
    }
    .cardContent {
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      padding: 0.6rem 0.8rem;
      background: rgba(143, 130, 135, 0.5);
      backdrop-filter: saturate(180%) blur(0.625rem);
      .cardName {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #fff;
        font-size: 1.2em;
        margin-bottom: 0.6rem;
      }
      .actionArea {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0.2rem 0.4rem;
        .registerButton {
          padding: 0.5rem 0.8rem;
          background-color: $blue;
          color: #fff;
          border: none;
          border-radius: 0.8rem;
          cursor: pointer;
          transition: all;
          transition-duration: 300ms;
          transition-timing-function: ease-out;
          &:hover {
            background-color: $blue;
            color: #fff;
          }
        }
        .detailsButton {
          padding: 0.5rem 0.8rem;
          color: #fff;
          background-color: #4d4d4d53;
          border: none;
          border-radius: 0.8rem;
          cursor: pointer;
          transition: all;
          transition-duration: 300ms;
          transition-timing-function: ease-in;
          &:hover {
            background-color: #4d4d4d;
          }
        }
      }
    }
    .dataContainer {
      position: absolute;
      top: 0.625rem;
      right: 0.625rem;
      background-color: $blue;
      padding: 0.6rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      p {
        color: #fff;
        font-size: 0.625rem;
        text-align: center;
      }
      .month {
        color: #fff;
        font-size: 0.4rem;
        text-align: center;
      }
    }
  }
}

// smaller width tabs
@media only screen and (min-width: 480px) and (max-width: 820px) {
  .card {
    width: 15rem;
    height: 16rem;
    .cardThumbnail {
      .cardContent {
        .cardName {
          font-size: 1em;
          margin-bottom: 0.4rem;
        }
        .actionArea {
          padding: 0.2rem 0.4rem;
          .registerButton {
            padding: 0.5rem 0.7rem;
            font-size: 0.75em;
          }
          .detailsButton {
            padding: 0.5rem 0.7rem;
            font-size: 0.75em;
          }
        }
      }
    }
  }
}

// smaller tabs landscape mode
@media only screen and (orientation: landscape) and (max-height: 820px) {
}

// for phones
@media only screen and (max-width: 480px) {
  .card {
    width: 15rem;
    height: 16rem;
    .cardThumbnail {
      .cardContent {
        .cardName {
          font-size: 1em;
          margin-bottom: 0.4rem;
        }
        .actionArea {
          padding: 0.2rem 0.4rem;
          .registerButton {
            padding: 0.5rem 0.7rem;
            font-size: 0.75em;
          }
          .detailsButton {
            padding: 0.5rem 0.7rem;
            font-size: 0.75em;
          }
        }
      }
    }
  }
}

// for phones landscape
@media only screen and (orientation: landscape) and (max-height: 480px) {
  .card {
    width: 30%;
  }
}
