.card {
  border-radius: 14px;
  box-shadow: 0px 6px 7px 0px rgb(148 148 148 / 31%);
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin-bottom: 1rem;
  max-height: 40vh;
  max-width: 25vw;
  .banner {
    width: 100%;
    height: 60%;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
  }
  .cardContent {
    padding: 5px 10px;
    flex: 1;
    .cardName {
      font-size: 1.5rem;
      font-weight: 300;
      color: #333;
      padding-bottom: 5px;
    }
    .eventType {
      font-size: 1rem;
      font-weight: 500;
      color: #676767a1;
    }
    .eventDate {
      font-size: 1rem;
      font-weight: 500;
      color: #676767a1;
    }
  }
  .actionArea {
    height: 3rem;
    .actionButton {
      border: none;
      outline: none;
      cursor: pointer;
      box-shadow: 0px 6px 7px 0px rgb(148 148 148 / 31%);
      font-size: 1rem;
      width: 50%;
      height: 100%;
      padding: 0.9rem;
    }
    .registerButton {
      @extend .actionButton;
      background-color: #4066eb;
      color: #fff;
      border-bottom-left-radius: 14px;
    }
    .commingButton {
      @extend .actionButton;
      background-color: #fdcc03;
      color: #fff;
      border-bottom-left-radius: 14px;
      cursor: default;
    }
    .detailsButton {
      @extend .actionButton;
      background-color: #404040;
      color: #fff;
      border-bottom-right-radius: 14px;
    }
  }
}
