@use "../../styles/variables/colors.scss" as *;

.container {
  background: $blue;
  display: flex;
  padding: 4rem 6rem;
  margin-bottom: 3rem;
  .leftContainer {
    width: 35%;
    .heading {
      color: #fff;
      font-size: 2.2em;
      line-height: 1.4;
      font-weight: 400;
    }
    .button {
      width: 50%;
      cursor: pointer;
      margin-top: 1rem;
      padding: 0.2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #fff;
      border-radius: 360px;
      border: 3px solid $green;
      p {
        margin-left: 1rem;
        font-size: 1.2em;
        font-weight: 500;
      }
      svg {
        padding: 5px;
        width: 40px;
        height: 40px;
        color: #fff;
        background: $green;
        border-radius: 360px;
      }
    }
  }
  .rightContainer {
    width: 65%;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    .card {
      background: #fff;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 2rem 0;
      p {
        margin-top: 20px;
      }
    }
  }
}

@media only screen and (max-width: 711px) {
  .container {
    background: $blue;
    display: flex;
    flex-direction: column;
    padding: 2rem 1.2rem;
    margin-bottom: 3rem;
    .leftContainer {
      margin-bottom: 1rem;
      width: 100%;
      .heading {
        color: #fff;
        font-size: 2.2em;
        line-height: 1.4;
        font-weight: 400;
      }
      .button {
        width: 80%;
        cursor: pointer;
        margin-top: 1rem;
        padding: 0.2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #fff;
        border-radius: 360px;
        border: 3px solid $green;
        p {
          margin-left: 1rem;
          font-size: 1.2em;
          font-weight: 500;
        }
        svg {
          padding: 5px;
          width: 40px;
          height: 40px;
          color: #fff;
          background: $green;
          border-radius: 360px;
        }
      }
    }
    .rightContainer {
      width: 100%;
      display: grid;
      gap: 10px;
      grid-template-columns: 1fr 1fr;
      .card {
        background: #fff;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem 0;
        p {
          margin-top: 20px;
        }
      }
    }
  }
}

@media (min-width: 712px) and (max-width: 1024px) {
  .container {
    background: $blue;
    display: flex;
    flex-direction: column;
    padding: 4rem 6rem;
    margin-bottom: 3rem;
    .leftContainer {
      width: 100%;
      .heading {
        color: #fff;
        font-size: 2.2em;
        line-height: 1.4;
        font-weight: 400;
      }
      .button {
        width: 40%;
        cursor: pointer;
        margin-top: 1rem;
        padding: 0.2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #fff;
        border-radius: 360px;
        border: 3px solid $green;
        p {
          margin-left: 1rem;
          font-size: 1.2em;
          font-weight: 500;
        }
        svg {
          padding: 5px;
          width: 40px;
          height: 40px;
          color: #fff;
          background: $green;
          border-radius: 360px;
        }
      }
    }
    .rightContainer {
      margin-top: 2rem;
      width: 100%;
      display: grid;
      gap: 20px;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      .card {
        background: #fff;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem 0;
        p {
          margin-top: 20px;
        }
      }
    }
  }
}
