@use "../../styles/variables/colors.scss" as *;

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-top: 6rem;
  margin-bottom: 3rem;
  .heading {
    font-size: 2.8em;
    line-height: 1.5;
    font-weight: 700;
    text-align: center;
  }
  .contentWrapper {
    --blur-size: 36px;
    position: relative;
    padding: 3rem 0;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .doodle {
      border-radius: 100%;
      position: absolute;
      // z-index: 1;
    }
    .dl1 {
      left: 10%;
      top: -2rem;
      width: 300px;
      height: 300px;
      background: $red;
      opacity: 0.6;
      filter: blur(var(--blur-size));
    }
    .dl2 {
      right: 10%;
      bottom: 50%;
      width: 400px;
      height: 400px;
      background: $green;
      opacity: 0.6;
      filter: blur(var(--blur-size));
    }

    .dl3 {
      left: 10%;
      bottom: 40%;
      width: 300px;
      height: 300px;
      opacity: 0.6;
      background: $yellow;
      filter: blur(var(--blur-size));
    }
    .dl4 {
      right: 5%;
      bottom: -2rem;
      width: 220px;
      height: 220px;
      background: $blue;
      opacity: 0.6;
      filter: blur(var(--blur-size));
    }
    .teacherWrapper {
      padding: 1.5rem;
      width: 100%;
      box-shadow: #4166eb30 0px 2px 10px 0px;
      background-color: #fff;
      position: relative;
      overflow: hidden;
      .subHeading {
        font-size: 1.8em;
        line-height: 1.2;
        font-weight: 500;
        width: 100%;
        text-align: center;
        margin: 0.8rem auto;
        color: #555;
      }
      .carouselContainer {
        position: relative;
        padding: 1rem 12rem;
        .button {
          padding: 0.6rem;
          border-radius: 99999999999999px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #fff;
          border: #fff;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          cursor: pointer;
          svg {
            width: 2rem;
            height: 2rem;
            color: $blue;
          }
        }
        .leftButton {
          position: absolute;
          top: 50%;
          left: 10rem;
          transform: translateY(-50%);
          display: none;
        }
        .rightButton {
          position: absolute;
          top: 50%;
          right: 10rem;
          transform: translateY(-50%);
        }
        .carousel {
          display: flex;
          align-items: center;
          column-gap: 4rem;
          overflow-x: auto;
          scrollbar-width: none;
          scroll-behavior: smooth;
          &::-webkit-scrollbar {
            display: none;
          }
          ::-webkit-scrollbar {
            width: 0; /* Remove scrollbar space */
            background: transparent; /* Optional: just make scrollbar invisible */
          }
          .videoWrapper {
            width: fit-content;
            padding: 0;
            .videoContainer {
              position: relative;
              overflow: hidden;
              border-radius: 20px;
              video {
                height: 20rem;
                object-fit: fill;
              }
              .playButtonWrapper {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #00000030;
                display: flex;
                align-items: center;
                justify-content: center;
                .name {
                  position: absolute;
                  bottom: 0.5rem;
                  right: 0.5rem;
                  color: #fff;
                  font-size: 1em;
                }
                .playGif {
                  fill: #fff;
                  color: #fff;
                  width: 3rem;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }
    .studentWrapper {
      margin-top: 4rem;
      padding: 1.5rem;
      width: 100%;
      box-shadow: #4166eb30 0px 2px 10px 0px;
      background-color: #fff;
      position: relative;
      overflow: hidden;
      .subHeading {
        font-size: 1.8em;
        line-height: 1.2;
        font-weight: 500;
        width: 100%;
        text-align: center;
        margin: 0.8rem auto;
        color: #555;
      }
      .carouselContainer {
        position: relative;
        padding: 1rem 12rem;
        .button {
          padding: 0.6rem;
          border-radius: 99999999999999px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #fff;
          border: #fff;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          cursor: pointer;
          svg {
            width: 2rem;
            height: 2rem;
            color: $blue;
          }
        }
        .leftButton {
          position: absolute;
          top: 50%;
          left: 10rem;
          transform: translateY(-50%);
          display: none;
        }
        .rightButton {
          position: absolute;
          top: 50%;
          right: 10rem;
          transform: translateY(-50%);
        }
        .carousel {
          display: flex;
          align-items: center;
          column-gap: 4rem;
          overflow-x: auto;
          scrollbar-width: none;
          scroll-behavior: smooth;
          &::-webkit-scrollbar {
            display: none;
          }
          ::-webkit-scrollbar {
            width: 0; /* Remove scrollbar space */
            background: transparent; /* Optional: just make scrollbar invisible */
          }
          .videoWrapper {
            width: fit-content;
            padding: 0;
            .videoContainer {
              position: relative;
              overflow: hidden;
              border-radius: 20px;
              video {
                height: 20rem;
                object-fit: fill;
              }
              .playButtonWrapper {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #00000030;
                display: flex;
                align-items: center;
                justify-content: center;
                .name {
                  position: absolute;
                  bottom: 0.5rem;
                  right: 0.5rem;
                  color: #fff;
                  font-size: 1em;
                }
                .playGif {
                  fill: #fff;
                  color: #fff;
                  width: 3rem;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-top: 6rem;
    margin-bottom: 3rem;
    .heading {
      font-size: 2.8em;
      line-height: 1.5;
      font-weight: 700;
      text-align: center;
    }
    .contentWrapper {
      --blur-size: 36px;
      position: relative;
      padding: 3rem 0;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      .doodle {
        border-radius: 100%;
        position: absolute;
      }
      .dl1 {
        left: 10%;
        top: -2rem;
        width: 300px;
        height: 300px;
        background: $red;
        opacity: 0.6;
        filter: blur(var(--blur-size));
      }
      .dl2 {
        right: 10%;
        bottom: 50%;
        width: 400px;
        height: 400px;
        background: $green;
        opacity: 0.6;
        filter: blur(var(--blur-size));
      }
      .dl3 {
        left: 10%;
        bottom: 40%;
        width: 300px;
        height: 300px;
        opacity: 0.6;
        background: $yellow;
        filter: blur(var(--blur-size));
      }
      .dl4 {
        right: 5%;
        bottom: -2rem;
        width: 220px;
        height: 220px;
        background: $blue;
        opacity: 0.6;
        filter: blur(var(--blur-size));
      }
      .teacherWrapper {
        padding: 1.5rem;
        width: 100%;
        box-shadow: #4166eb30 0px 2px 10px 0px;
        background-color: #fff;
        position: relative;
        overflow: hidden;
        .subHeading {
          font-size: 1.8em;
          line-height: 1.2;
          font-weight: 500;
          width: 100%;
          text-align: center;
          margin: 0.8rem auto;
          color: #555;
        }
        .carouselContainer {
          position: relative;
          padding: 1rem;
          .button {
            padding: 0.4rem;
            border-radius: 99999999999999px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            border: #fff;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            cursor: pointer;
            svg {
              width: 1.6rem;
              height: 1.6rem;
              color: $blue;
            }
          }
          .leftButton {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            display: none;
          }
          .rightButton {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
          }
          .carousel {
            display: flex;
            align-items: center;
            column-gap: 4rem;
            overflow-x: auto;
            scrollbar-width: none;
            scroll-behavior: smooth;
            &::-webkit-scrollbar {
              display: none;
            }
            ::-webkit-scrollbar {
              width: 0; /* Remove scrollbar space */
              background: transparent; /* Optional: just make scrollbar invisible */
            }
            .videoWrapper {
              width: fit-content;
              padding: 0;
              .videoContainer {
                position: relative;
                overflow: hidden;
                border-radius: 20px;
                video {
                  height: 20rem;
                  object-fit: fill;
                }
                .playButtonWrapper {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  background-color: #00000030;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  .name {
                    position: absolute;
                    bottom: 0.5rem;
                    right: 0.5rem;
                    color: #fff;
                    font-size: 1em;
                  }
                  .playGif {
                    fill: #fff;
                    color: #fff;
                    width: 3rem;
                    cursor: pointer;
                  }
                }
              }
            }
          }
        }
      }
      .studentWrapper {
        margin-top: 4rem;
        padding: 1.5rem;
        width: 100%;
        box-shadow: #4166eb30 0px 2px 10px 0px;
        background-color: #fff;
        position: relative;
        overflow: hidden;
        .subHeading {
          font-size: 1.8em;
          line-height: 1.2;
          font-weight: 500;
          width: 100%;
          text-align: center;
          margin: 0.8rem auto;
          color: #555;
        }
        .carouselContainer {
          position: relative;
          padding: 1rem;
          .button {
            padding: 0.4rem;
            border-radius: 99999999999999px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            border: #fff;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            cursor: pointer;
            svg {
              width: 1.6rem;
              height: 1.6rem;
              color: $blue;
            }
          }
          .leftButton {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            display: none;
          }
          .rightButton {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
          }
          .carousel {
            display: flex;
            align-items: center;
            column-gap: 4rem;
            overflow-x: auto;
            scrollbar-width: none;
            scroll-behavior: smooth;
            &::-webkit-scrollbar {
              display: none;
            }
            ::-webkit-scrollbar {
              width: 0; /* Remove scrollbar space */
              background: transparent; /* Optional: just make scrollbar invisible */
            }
            .videoWrapper {
              width: fit-content;
              padding: 0;
              .videoContainer {
                position: relative;
                overflow: hidden;
                border-radius: 20px;
                video {
                  height: 20rem;
                  object-fit: fill;
                }
                .playButtonWrapper {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  background-color: #00000030;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  .name {
                    position: absolute;
                    bottom: 0.5rem;
                    right: 0.5rem;
                    color: #fff;
                    font-size: 1em;
                  }
                  .playGif {
                    fill: #fff;
                    color: #fff;
                    width: 3rem;
                    cursor: pointer;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 501px) and (max-width: 990px) {
  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-top: 6rem;
    margin-bottom: 3rem;
    .heading {
      font-size: 2.8em;
      line-height: 1.5;
      font-weight: 700;
      text-align: center;
    }
    .contentWrapper {
      --blur-size: 36px;
      position: relative;
      padding: 3rem 0;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      .doodle {
        border-radius: 100%;
        position: absolute;
      }
      .dl1 {
        left: 10%;
        top: -2rem;
        width: 300px;
        height: 300px;
        background: $red;
        opacity: 0.6;
        filter: blur(var(--blur-size));
      }
      .dl2 {
        right: 10%;
        bottom: 50%;
        width: 400px;
        height: 400px;
        background: $green;
        opacity: 0.6;
        filter: blur(var(--blur-size));
      }
      .dl3 {
        left: 10%;
        bottom: 40%;
        width: 300px;
        height: 300px;
        opacity: 0.6;
        background: $yellow;
        filter: blur(var(--blur-size));
      }
      .dl4 {
        right: 5%;
        bottom: -2rem;
        width: 220px;
        height: 220px;
        background: $blue;
        opacity: 0.6;
        filter: blur(var(--blur-size));
      }
      .teacherWrapper {
        padding: 1.5rem;
        width: 100%;
        box-shadow: #4166eb30 0px 2px 10px 0px;
        background-color: #fff;
        position: relative;
        overflow: hidden;
        .subHeading {
          font-size: 1.8em;
          line-height: 1.2;
          font-weight: 500;
          width: 100%;
          text-align: center;
          margin: 0.8rem auto;
          color: #555;
        }
        .carouselContainer {
          position: relative;
          padding: 1rem;
          .button {
            padding: 0.4rem;
            border-radius: 99999999999999px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            border: #fff;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            cursor: pointer;
            svg {
              width: 1.6rem;
              height: 1.6rem;
              color: $blue;
            }
          }
          .leftButton {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            display: none;
          }
          .rightButton {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
          }
          .carousel {
            display: flex;
            align-items: center;
            column-gap: 4rem;
            overflow-x: auto;
            scrollbar-width: none;
            scroll-behavior: smooth;
            &::-webkit-scrollbar {
              display: none;
            }
            ::-webkit-scrollbar {
              width: 0; /* Remove scrollbar space */
              background: transparent; /* Optional: just make scrollbar invisible */
            }
            .videoWrapper {
              width: fit-content;
              padding: 0;
              .videoContainer {
                position: relative;
                overflow: hidden;
                border-radius: 20px;
                video {
                  height: 20rem;
                  object-fit: fill;
                }
                .playButtonWrapper {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  background-color: #00000030;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  .name {
                    position: absolute;
                    bottom: 0.5rem;
                    right: 0.5rem;
                    color: #fff;
                    font-size: 1em;
                  }
                  .playGif {
                    fill: #fff;
                    color: #fff;
                    width: 3rem;
                    cursor: pointer;
                  }
                }
              }
            }
          }
        }
      }
      .studentWrapper {
        margin-top: 4rem;
        padding: 1.5rem;
        width: 100%;
        box-shadow: #4166eb30 0px 2px 10px 0px;
        background-color: #fff;
        position: relative;
        overflow: hidden;
        .subHeading {
          font-size: 1.8em;
          line-height: 1.2;
          font-weight: 500;
          width: 100%;
          text-align: center;
          margin: 0.8rem auto;
          color: #555;
        }
        .carouselContainer {
          position: relative;
          padding: 1rem;
          .button {
            padding: 0.4rem;
            border-radius: 99999999999999px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            border: #fff;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            cursor: pointer;
            svg {
              width: 1.6rem;
              height: 1.6rem;
              color: $blue;
            }
          }
          .leftButton {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            display: none;
          }
          .rightButton {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
          }
          .carousel {
            display: flex;
            align-items: center;
            column-gap: 4rem;
            overflow-x: auto;
            scrollbar-width: none;
            scroll-behavior: smooth;
            &::-webkit-scrollbar {
              display: none;
            }
            ::-webkit-scrollbar {
              width: 0; /* Remove scrollbar space */
              background: transparent; /* Optional: just make scrollbar invisible */
            }
            .videoWrapper {
              width: fit-content;
              padding: 0;
              .videoContainer {
                position: relative;
                overflow: hidden;
                border-radius: 20px;
                video {
                  height: 20rem;
                  object-fit: fill;
                }
                .playButtonWrapper {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  background-color: #00000030;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  .name {
                    position: absolute;
                    bottom: 0.5rem;
                    right: 0.5rem;
                    color: #fff;
                    font-size: 1em;
                  }
                  .playGif {
                    fill: #fff;
                    color: #fff;
                    width: 3rem;
                    cursor: pointer;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 991px) and (max-width: 1300px) {
  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-top: 6rem;
    margin-bottom: 3rem;
    .heading {
      font-size: 2.8em;
      line-height: 1.5;
      font-weight: 700;
      text-align: center;
    }
    .contentWrapper {
      --blur-size: 36px;
      position: relative;
      padding: 3rem 0;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      .doodle {
        border-radius: 100%;
        position: absolute;
        // z-index: 1;
      }
      .dl1 {
        left: 10%;
        top: -2rem;
        width: 300px;
        height: 300px;
        background: $red;
        opacity: 0.6;
        filter: blur(var(--blur-size));
      }
      .dl2 {
        right: 10%;
        bottom: 50%;
        width: 400px;
        height: 400px;
        background: $green;
        opacity: 0.6;
        filter: blur(var(--blur-size));
      }

      .dl3 {
        left: 10%;
        bottom: 40%;
        width: 300px;
        height: 300px;
        opacity: 0.6;
        background: $yellow;
        filter: blur(var(--blur-size));
      }
      .dl4 {
        right: 5%;
        bottom: -2rem;
        width: 220px;
        height: 220px;
        background: $blue;
        opacity: 0.6;
        filter: blur(var(--blur-size));
      }
      .teacherWrapper {
        padding: 1.5rem;
        width: 100%;
        box-shadow: #4166eb30 0px 2px 10px 0px;
        background-color: #fff;
        position: relative;
        overflow: hidden;
        .subHeading {
          font-size: 1.8em;
          line-height: 1.2;
          font-weight: 500;
          width: 100%;
          text-align: center;
          margin: 0.8rem auto;
          color: #555;
        }
        .carouselContainer {
          position: relative;
          padding: 1rem 12rem;
          .button {
            padding: 0.6rem;
            border-radius: 99999999999999px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            border: #fff;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            cursor: pointer;
            svg {
              width: 2rem;
              height: 2rem;
              color: $blue;
            }
          }
          .leftButton {
            position: absolute;
            top: 50%;
            left: 10rem;
            transform: translateY(-50%);
            display: none;
          }
          .rightButton {
            position: absolute;
            top: 50%;
            right: 10rem;
            transform: translateY(-50%);
          }
          .carousel {
            display: flex;
            align-items: center;
            column-gap: 4rem;
            overflow-x: auto;
            scrollbar-width: none;
            scroll-behavior: smooth;
            &::-webkit-scrollbar {
              display: none;
            }
            ::-webkit-scrollbar {
              width: 0; /* Remove scrollbar space */
              background: transparent; /* Optional: just make scrollbar invisible */
            }
            .videoWrapper {
              width: fit-content;
              padding: 0;
              .videoContainer {
                position: relative;
                overflow: hidden;
                border-radius: 20px;
                video {
                  height: 20rem;
                  object-fit: fill;
                }
                .playButtonWrapper {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  background-color: #00000030;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  .name {
                    position: absolute;
                    bottom: 0.5rem;
                    right: 0.5rem;
                    color: #fff;
                    font-size: 1em;
                  }
                  .playGif {
                    fill: #fff;
                    color: #fff;
                    width: 3rem;
                    cursor: pointer;
                  }
                }
              }
            }
          }
        }
      }
      .studentWrapper {
        margin-top: 4rem;
        padding: 1.5rem;
        width: 100%;
        box-shadow: #4166eb30 0px 2px 10px 0px;
        background-color: #fff;
        position: relative;
        overflow: hidden;
        .subHeading {
          font-size: 1.8em;
          line-height: 1.2;
          font-weight: 500;
          width: 100%;
          text-align: center;
          margin: 0.8rem auto;
          color: #555;
        }
        .carouselContainer {
          position: relative;
          padding: 1rem 12rem;
          .button {
            padding: 0.6rem;
            border-radius: 99999999999999px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            border: #fff;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            cursor: pointer;
            svg {
              width: 2rem;
              height: 2rem;
              color: $blue;
            }
          }
          .leftButton {
            position: absolute;
            top: 50%;
            left: 10rem;
            transform: translateY(-50%);
            display: none;
          }
          .rightButton {
            position: absolute;
            top: 50%;
            right: 10rem;
            transform: translateY(-50%);
          }
          .carousel {
            display: flex;
            align-items: center;
            column-gap: 4rem;
            overflow-x: auto;
            scrollbar-width: none;
            scroll-behavior: smooth;
            &::-webkit-scrollbar {
              display: none;
            }
            ::-webkit-scrollbar {
              width: 0; /* Remove scrollbar space */
              background: transparent; /* Optional: just make scrollbar invisible */
            }
            .videoWrapper {
              width: fit-content;
              padding: 0;
              .videoContainer {
                position: relative;
                overflow: hidden;
                border-radius: 20px;
                video {
                  height: 20rem;
                  object-fit: fill;
                }
                .playButtonWrapper {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  background-color: #00000030;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  .name {
                    position: absolute;
                    bottom: 0.5rem;
                    right: 0.5rem;
                    color: #fff;
                    font-size: 1em;
                  }
                  .playGif {
                    fill: #fff;
                    color: #fff;
                    width: 3rem;
                    cursor: pointer;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
