@use "../../styles/variables/colors.scss" as *;

.container {
  padding: 2rem 0;
  .heading {
    font-size: 2.2em;
    line-height: 1.4;
    font-weight: 600;
    margin: 0 auto;
    padding: 0.4rem 0;
    text-align: center;
    margin-bottom: 0;
  }

  .sliderWrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
    .sliderContainer {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .card {
        list-style: none;
        display: flex;
        flex-direction: column;
        position: relative;
        vertical-align: middle;
        width: 60vw;
        height: 50vh;
        // background: #212020;
        .cardWrapper {
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          // justify-content: space-between;
          padding: 1rem 0;
          .imageContainer {
            position: relative;
            // width: 70%;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            .image {
              position: relative;
              z-index: 2;
              width: fit-content;
              height: 18rem;
              // bottom: 0.7rem;
              object-fit: scale-down;
              max-width: 25vw;
            }
            // svg {
            //   path {
            //     fill: red;
            //   }
            // }
            .ellipse {
              position: absolute;
              z-index: 1;
              svg {
                fill: red;
                path {
                  fill: hwb(60 0% 0%);
                }
              }
            }
            .secondEllipse {
              z-index: 0;
            }
          }
          .textContainer {
            margin-top: auto;
            ul {
              li {
                text-align: left;
              }
            }
          }
        }
      }
      .cloudContainers {
        width: 60vw;
        display: flex;
        flex-wrap: wrap;
        column-gap: 1rem;
        row-gap: 1rem;
        justify-content: center;
        .cloud {
          min-width: 25%;
          max-width: 25%;
          // position: absolute;
          // left: 0%;
          // top: 40%;
          background-color: #b4f3ec;
          border-radius: 999999999999px;
          padding: 1rem 2rem;
          display: flex;
          align-items: center;
          justify-content: center;
          // transform: translateY(-50%);
          p {
            font-weight: 350;
            font-size: 1em;
            text-align: center;
          }
          &:nth-child(2) {
            width: fit-content;
            background: #ffe8e8;
            // left: auto;
            // bottom: 0%;
            // top: auto;
            // transform: translateY(-90%);
          }
          &:nth-child(3) {
            width: fit-content;
            background: #fff7d4;
            // left: auto;
            // right: 10%;
            // bottom: auto;
            // top: 0;
            // transform: translateY(0) translateX(-80%);
          }
          &:nth-child(4) {
            width: fit-content;
            background: #dde5ff;
            // left: 0;
            // right: auto;
            // bottom: auto;
            // top: 0;
            // transform: translateY(0) translateX(0);
          }
          &:nth-child(5) {
            width: 20%;
            background: #b4f3ec;
            // left: auto;
            // right: 0;
            // bottom: auto;
            // top: 30%;
            // transform: translateY(-50%) translateX(0);
          }
          &:nth-child(6) {
            width: 20%;
            background: #fff7d4;
            // left: auto;
            // right: 0;
            // bottom: 20%;
            // top: auto;
            // transform: translateY(-50%) translateX(0);
          }
          &:nth-child(7) {
            width: 20%;
            // background: #fff7d4;
            // left: 0;
            // right: auto;
            // bottom: 20%;
            // top: auto;
            // transform: translateY(-50%) translateX(0);
          }
        }
      }
    }
  }

  .nav {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    .dot {
      width: 0.6rem;
      height: 0.6rem;
      background-color: #e5e5e5;
      border-radius: 9999999999999999px;
      cursor: pointer;
    }
    .active {
      background-color: $blue;
    }
  }
}

@media only screen and (max-width: 500px) {
  .container {
    padding: 1rem 0;
    .heading {
      font-size: 2em;
      line-height: 1.4;
      font-weight: 600;
      margin: 0 auto;
      padding: 0.4rem 0;
      text-align: center;
    }

    .sliderWrapper {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 65vh;
      .sliderContainer {
        position: absolute;
        .card {
          list-style: none;
          display: inline-block;
          position: relative;
          vertical-align: middle;
          width: 90vw;
          height: 43vh;
          .cardWrapper {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0 0;
            .imageContainer {
              position: relative;
              width: 100%;
              top: 0;
              left: 0;
              display: flex;
              align-items: center;
              justify-content: center;
              .image {
                position: relative;
                z-index: 2;
                width: fit-content;
                height: 80%;
                object-fit: scale-down;
                max-width: 100%;
              }
              .ellipse {
                position: absolute;
                width: 100%;
                z-index: 1;
              }
              .secondEllipse {
                z-index: 0;
              }
            }
            .textContainer {
              margin-top: auto;
              ul {
                li {
                  text-align: left;
                }
              }
            }
          }
        }
        .cloudContainers {
          width: 100vw;
          display: flex;
          flex-wrap: wrap;
          column-gap: 0.6rem;
          row-gap: 0.6rem;
          justify-content: center;
          .cloud {
            min-width: 30%;
            max-width: 30%;
            // position: absolute;
            // left: 0%;
            // top: 40%;
            background-color: #b4f3ec;
            border-radius: 999999999999px;
            padding: 0.8rem 1.4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            // transform: translateY(-50%);
            p {
              font-weight: 350;
              font-size: 0.8em;
              text-align: center;
            }
            &:nth-child(2) {
              width: fit-content;
              background: #ffe8e8;
              // left: auto;
              // bottom: 0%;
              // top: auto;
              // transform: translateY(-90%);
            }
            &:nth-child(3) {
              width: fit-content;
              background: #fff7d4;
              // left: auto;
              // right: 10%;
              // bottom: auto;
              // top: 0;
              // transform: translateY(0) translateX(-80%);
            }
            &:nth-child(4) {
              width: fit-content;
              background: #dde5ff;
              // left: 0;
              // right: auto;
              // bottom: auto;
              // top: 0;
              // transform: translateY(0) translateX(0);
            }
            &:nth-child(5) {
              width: 20%;
              background: #b4f3ec;
              // left: auto;
              // right: 0;
              // bottom: auto;
              // top: 30%;
              // transform: translateY(-50%) translateX(0);
            }
            &:nth-child(6) {
              width: 20%;
              background: #fff7d4;
              // left: auto;
              // right: 0;
              // bottom: 20%;
              // top: auto;
              // transform: translateY(-50%) translateX(0);
            }
            &:nth-child(7) {
              width: 20%;
              // background: #fff7d4;
              // left: 0;
              // right: auto;
              // bottom: 20%;
              // top: auto;
              // transform: translateY(-50%) translateX(0);
            }
          }
        }
      }
    }

    .nav {
      margin-top: 2rem;
      margin-bottom: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 1rem;
      .dot {
        width: 0.6rem;
        height: 0.6rem;
        background-color: #e5e5e5;
        border-radius: 9999999999999999px;
        cursor: pointer;
      }
      .active {
        background-color: $blue;
      }
    }
  }
}

@media only screen and (min-width: 501px) and (max-width: 990px) {
  .container {
    padding: 1rem 0;
    .heading {
      font-size: 2.2em;
      line-height: 1.4;
      font-weight: 600;
      margin: 0 auto;
      padding: 0;
      text-align: center;
    }

    .sliderWrapper {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 55vh;
      .sliderContainer {
        position: absolute;
        .card {
          list-style: none;
          display: inline-block;
          position: relative;
          vertical-align: middle;
          width: 90vw;
          height: 35vh;
          .cardWrapper {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0 0;
            .imageContainer {
              position: relative;
              width: 100%;
              top: 0;
              left: 0;
              display: flex;
              align-items: center;
              justify-content: center;
              .image {
                position: relative;
                z-index: 2;
                width: fit-content;
                height: 90%;
                object-fit: fill;
                max-width: 100%;
              }
              .ellipse {
                position: absolute;
                width: 100%;
                z-index: 1;
              }
              .secondEllipse {
                z-index: 0;
              }
            }
            .textContainer {
              margin-top: auto;
              ul {
                li {
                  text-align: left;
                }
              }
            }
          }
        }
        .cloudContainers {
          width: 80vw;
          display: flex;
          flex-wrap: wrap;
          column-gap: 0.6rem;
          row-gap: 0.6rem;
          justify-content: center;
          .cloud {
            min-width: 30%;
            max-width: 30%;
            // position: absolute;
            // left: 0%;
            // top: 40%;
            background-color: #b4f3ec;
            border-radius: 999999999999px;
            padding: 0.8rem 1.4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            // transform: translateY(-50%);
            p {
              font-weight: 350;
              font-size: 0.8em;
              text-align: center;
            }
            &:nth-child(2) {
              width: fit-content;
              background: #ffe8e8;
              // left: auto;
              // bottom: 0%;
              // top: auto;
              // transform: translateY(-90%);
            }
            &:nth-child(3) {
              width: fit-content;
              background: #fff7d4;
              // left: auto;
              // right: 10%;
              // bottom: auto;
              // top: 0;
              // transform: translateY(0) translateX(-80%);
            }
            &:nth-child(4) {
              width: fit-content;
              background: #dde5ff;
              // left: 0;
              // right: auto;
              // bottom: auto;
              // top: 0;
              // transform: translateY(0) translateX(0);
            }
            &:nth-child(5) {
              width: 20%;
              background: #b4f3ec;
              // left: auto;
              // right: 0;
              // bottom: auto;
              // top: 30%;
              // transform: translateY(-50%) translateX(0);
            }
            &:nth-child(6) {
              width: 20%;
              background: #fff7d4;
              // left: auto;
              // right: 0;
              // bottom: 20%;
              // top: auto;
              // transform: translateY(-50%) translateX(0);
            }
            &:nth-child(7) {
              width: 20%;
              // background: #fff7d4;
              // left: 0;
              // right: auto;
              // bottom: 20%;
              // top: auto;
              // transform: translateY(-50%) translateX(0);
            }
          }
        }
      }
    }

    .nav {
      margin-top: 0.6rem;
      margin-bottom: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 1rem;
      .dot {
        width: 0.6rem;
        height: 0.6rem;
        background-color: #e5e5e5;
        border-radius: 9999999999999999px;
        cursor: pointer;
      }
      .active {
        background-color: $blue;
      }
    }
  }
}

@media only screen and (min-width: 991px) and (max-width: 1300px) {
  .container {
    padding: 1rem 0;
    .heading {
      font-size: 2.2em;
      line-height: 1.4;
      font-weight: 600;
      margin: 0 auto;
      padding: 0;
      text-align: center;
    }

    .sliderWrapper {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 80vh;
      .sliderContainer {
        position: absolute;
        .card {
          list-style: none;
          display: inline-block;
          position: relative;
          vertical-align: middle;
          width: 60vw;
          height: 45vh;
          // background: #212020;
          .cardWrapper {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            // justify-content: space-between;
            padding: 0;
            .imageContainer {
              position: relative;
              // width: 70%;
              top: 0;
              left: 0;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 60%;
              .image {
                position: relative;
                z-index: 2;
                width: fit-content;
                height: 15rem;
                // bottom: 0.7rem;
                object-fit: fill;
                max-width: 23vw;
              }
              // svg {
              //   path {
              //     fill: red;
              //   }
              // }
              .ellipse {
                position: absolute;
                width: 95%;
                z-index: 1;
                svg {
                  fill: red;
                  path {
                    fill: hwb(60 0% 0%);
                  }
                }
              }
              .secondEllipse {
                z-index: 0;
                width: 95%;
              }
            }
            .textContainer {
              margin-top: auto;
              ul {
                li {
                  text-align: left;
                }
              }
            }
          }
        }
        .cloudContainers {
          width: 70vw;
          margin-top: 2rem;
          display: flex;
          flex-wrap: wrap;
          column-gap: 1rem;
          row-gap: 1rem;
          justify-content: center;
          .cloud {
            min-width: 25%;
            max-width: 35%;
            // position: absolute;
            // left: 0%;
            // top: 40%;
            background-color: #b4f3ec;
            border-radius: 999999999999px;
            padding: 0.9rem 1.6rem;
            display: flex;
            align-items: center;
            justify-content: center;
            // transform: translateY(-50%);
            p {
              font-weight: 350;
              font-size: 1em;
              text-align: center;
            }
            &:nth-child(2) {
              width: fit-content;
              background: #ffe8e8;
              // left: auto;
              // bottom: 0%;
              // top: auto;
              // transform: translateY(-90%);
            }
            &:nth-child(3) {
              width: fit-content;
              background: #fff7d4;
              // left: auto;
              // right: 10%;
              // bottom: auto;
              // top: 0;
              // transform: translateY(0) translateX(-80%);
            }
            &:nth-child(4) {
              width: fit-content;
              background: #dde5ff;
              // left: 0;
              // right: auto;
              // bottom: auto;
              // top: 0;
              // transform: translateY(0) translateX(0);
            }
            &:nth-child(5) {
              width: 20%;
              background: #b4f3ec;
              // left: auto;
              // right: 0;
              // bottom: auto;
              // top: 30%;
              // transform: translateY(-50%) translateX(0);
            }
            &:nth-child(6) {
              width: 20%;
              background: #fff7d4;
              // left: auto;
              // right: 0;
              // bottom: 20%;
              // top: auto;
              // transform: translateY(-50%) translateX(0);
            }
            &:nth-child(7) {
              width: 20%;
              // background: #fff7d4;
              // left: 0;
              // right: auto;
              // bottom: 20%;
              // top: auto;
              // transform: translateY(-50%) translateX(0);
            }
          }
        }
      }
    }

    .nav {
      margin-top: 1.6rem;
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 1rem;
      .dot {
        width: 0.6rem;
        height: 0.6rem;
        background-color: #e5e5e5;
        border-radius: 9999999999999999px;
        cursor: pointer;
      }
      .active {
        background-color: $blue;
      }
    }
  }
}
