@use "../../styles/variables/fontsizes.scss" as *;

.actionArea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  align-content: space-between;
  align-items: flex-start;

  .commonButton {
    position: relative;
    cursor: pointer;
    border: none;
    outline: none;
    color: #d4d1d1;
    width: $gen-superxl;
    height: $gen-superxl;
    vertical-align: baseline;
    svg {
      height: $gen-xxxl;
      width: $gen-xxxl;
    }
  }
  .fullScreenButton {
    @extend .commonButton;
    border-radius: 0px 0rem 3rem 3rem;
    background-color: red;
    // // svg {
    // //   position: absolute;
    // //   bottom: $gen-xs;
    // //   left: $gen-xs;
    // // }
  }
  .doneButton {
    @extend .commonButton;
    border-radius: 0px 0rem 3rem 3rem;
    background-color: green;
    // svg {
    //   position: absolute;
    //   bottom: $gen-xs;
    //   right: $gen-xs;
    // }
  }
}
