.mainLoading {
  width: 20vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  .percentageArea {
    display: flex;
    justify-content: center;
    align-items: center;
    .loadingText {
      font-size: 3rem;
      color: #4066eb;
      margin-right: 5px;
    }
    .percentage {
      @extend .loadingText;
      color: #333;
      font-size: 2rem;
    }
  }
  .progressBg {
    width: 100%;
    height: 20px;
    border-radius: 20px;
    background-color: #ccc;
    .progress {
      @extend .progressBg;
      background-color: #4066eb;
    }
  }
}
