@use "../../styles/variables/fontsizes.scss" as *;

.gameView {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 99;
    .gameScreen {
        width: 100%;
        height: 100%;
    }
    .loadingArea {
        width: 100%;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
    }
    .hidden {
        display: none;
    }
}
