@use "../variables/colors.scss" as *;

@keyframes moveit {
  0% {
    transform: translateY(-20%) scaleX(-1);
  }
  100% {
    transform: translateY(0) scaleX(-1);
  }
}

.mainContainer {
  height: 100vh;
  position: relative;
  .contentWrapper {
    padding-top: 5vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    .curve2 {
      position: fixed;
      width: 100vw;
      left: 0;
      top: 60%;
      z-index: -1;
      transform: scaleX(-1);
      animation: moveit 5s ease alternate infinite;
      animation-delay: 2s;
    }
    .curve1 {
      position: fixed;
      width: 100vw;
      left: 0;
      top: 25%;
      z-index: -1;
      animation: moveit 5s ease alternate infinite;
    }

    .sectionWrapper {
      display: flex;
      .left {
        width: 60%;
        margin-right: 1rem;
        .carouselContainer {
          box-shadow: 0px 13.3978px 24.8817px rgba(8, 60, 194, 0.15);
          border-radius: 30px;
          overflow: hidden;
          max-width: 800px;
          position: relative;
          box-shadow: 0 0 30px -20px #223344;
          margin: auto;
          z-index: 0;
          .mySlides {
            display: none;
            img {
              display: block;
              width: 100%;
            }
          }
          .prev,
          .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            width: auto;
            padding: 20px;
            color: white;
            font-weight: bold;
            font-size: 24px;
            border-radius: 0 8px 8px 0;
            background: rgba(173, 216, 230, 0.1);
            user-select: none;
            border: none;
            &:hover {
              background-color: rgba(173, 216, 230, 0.3);
            }
          }
          .next {
            right: 0;
            border-radius: 8px 0 0 8px;
          }
          .animate {
            -webkit-animation-name: animate;
            -webkit-animation-duration: 1s;
            animation-name: animate;
            animation-duration: 2s;
          }
        }
      }
      .right {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .topWrapper {
          .logo {
            width: fit-content;
            padding: 2px;
            background-color: #fff;
            border-radius: 14px;
            box-shadow: 0px 13.3978px 24.8817px rgba(8, 60, 194, 0.15);
            img {
              width: 6rem;
              height: 4rem;
              object-fit: contain;
              object-position: center;
            }
          }
          .heading {
            font-weight: 700;
            font-size: 48px;
            color: #000000;
          }
          .description {
            color: #838383;
          }
        }
        .bottomWrapper {
          padding: 4rem 0 0 0;
          .subheading {
            font-weight: 400;
            font-size: 12px;
            color: #838383;
          }
          .btnContainer {
            display: flex;
            row-gap: 6px;
            align-items: center;
            margin-top: 6px;
            button {
              margin-top: 6px;
              margin-inline: 6px;
              padding: 0.6rem 1.2rem;
              background-color: $blue;
              border: none;
              border-radius: 8px;
              font-weight: 500;
              font-size: 14px;
              color: #fff;
              cursor: pointer;
              &:hover {
                box-shadow: 0px 13.3978px 24.8817px rgba(8, 60, 194, 0.15);
              }
            }
            .badge {
              width: 9rem;
              height: 2.5rem;
              object-fit: cover;
              object-position: center;
              border-radius: 6px;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 769px) and (max-width: 1360px) {
  .mainContainer {
    .contentWrapper {
      margin-top: 4vh;
      padding-left: 7%;
      padding-right: 7%;

      .sectionWrapper {
        display: flex;
        .left {
          width: 60%;
          margin-right: 1rem;
          .carouselContainer {
            box-shadow: 0px 13.3978px 24.8817px rgba(8, 60, 194, 0.15);
            border-radius: 30px;
            overflow: hidden;
            max-width: 800px;
            position: relative;
            box-shadow: 0 0 30px -20px #223344;
            margin: auto;
            z-index: 0;
            .mySlides {
              display: none;
              img {
                display: block;
                width: 100%;
              }
            }
            .prev,
            .next {
              cursor: pointer;
              position: absolute;
              top: 50%;
              transform: translate(0, -50%);
              width: auto;
              padding: 20px;
              color: white;
              font-weight: bold;
              font-size: 24px;
              border-radius: 0 8px 8px 0;
              background: rgba(173, 216, 230, 0.1);
              user-select: none;
              border: none;
              &:hover {
                background-color: rgba(173, 216, 230, 0.3);
              }
            }
            .next {
              right: 0;
              border-radius: 8px 0 0 8px;
            }
            .animate {
              -webkit-animation-name: animate;
              -webkit-animation-duration: 1s;
              animation-name: animate;
              animation-duration: 2s;
            }
          }
        }
        .right {
          width: 40%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          .topWrapper {
            .logo {
              width: fit-content;
              padding: 2px;
              background-color: #fff;
              border-radius: 14px;
              box-shadow: 0px 13.3978px 24.8817px rgba(8, 60, 194, 0.15);
              img {
                width: 6rem;
                height: 4rem;
                object-fit: contain;
                object-position: center;
              }
            }
            .heading {
              font-weight: 700;
              font-size: 48px;
              color: #000000;
            }
            .description {
              color: #838383;
            }
          }
          .bottomWrapper {
            padding: 4rem 0 0 0;
            .subheading {
              font-weight: 400;
              font-size: 12px;
              color: #838383;
            }
            .btnContainer {
              display: flex;
              row-gap: 6px;
              align-items: center;
              margin-top: 6px;
              button {
                margin-top: 6px;
                margin-inline: 6px;
                padding: 0.6rem 1.2rem;
                background-color: $blue;
                border: none;
                border-radius: 8px;
                font-weight: 500;
                font-size: 14px;
                color: #fff;
                cursor: pointer;
                &:hover {
                  box-shadow: 0px 13.3978px 24.8817px rgba(8, 60, 194, 0.15);
                }
              }
              .badge {
                width: 9rem;
                height: 2.5rem;
                object-fit: cover;
                object-position: center;
                border-radius: 6px;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 860px) {
  .mainContainer {
    height: 100%;
    .contentWrapper {
      margin-top: 0px;
      padding-left: 7%;
      padding-right: 7%;
      padding-top: 15px;

      .sectionWrapper {
        display: flex;
        flex-direction: column;
        gap: 12px;
        .left {
          width: 100%;
          margin-right: 1rem;
          .carouselContainer {
            box-shadow: 0px 13.3978px 24.8817px rgba(8, 60, 194, 0.15);
            border-radius: 30px;
            overflow: hidden;
            max-width: 800px;
            position: relative;
            box-shadow: 0 0 30px -20px #223344;
            margin: auto;
            z-index: 0;
            .mySlides {
              display: none;
              img {
                display: block;
                width: 100%;
              }
            }
            .prev,
            .next {
              cursor: pointer;
              position: absolute;
              top: 50%;
              transform: translate(0, -50%);
              width: auto;
              padding: 20px;
              color: white;
              font-weight: bold;
              font-size: 24px;
              border-radius: 0 8px 8px 0;
              background: rgba(173, 216, 230, 0.1);
              user-select: none;
              border: none;
              &:hover {
                background-color: rgba(173, 216, 230, 0.3);
              }
            }
            .next {
              right: 0;
              border-radius: 8px 0 0 8px;
            }
            .animate {
              -webkit-animation-name: animate;
              -webkit-animation-duration: 1s;
              animation-name: animate;
              animation-duration: 2s;
            }
          }
        }
        .right {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          .topWrapper {
            .logo {
              width: fit-content;
              padding: 2px;
              background-color: #fff;
              border-radius: 14px;
              box-shadow: 0px 13.3978px 24.8817px rgba(8, 60, 194, 0.15);
              img {
                width: 6rem;
                height: 4rem;
                object-fit: contain;
                object-position: center;
              }
            }
            .heading {
              font-weight: 700;
              font-size: 48px;
              color: #000000;
            }
            .description {
              color: #838383;
            }
          }
          .bottomWrapper {
            padding: 2rem 0 0 0;
            .subheading {
              font-weight: 400;
              font-size: 12px;
              color: #838383;
            }
            .btnContainer {
              display: flex;
              row-gap: 6px;
              align-items: center;
              margin-top: 6px;
              button {
                margin-top: 6px;
                margin-inline: 6px;
                padding: 0.6rem 1.2rem;
                background-color: $blue;
                border: none;
                border-radius: 8px;
                font-weight: 500;
                font-size: 14px;
                color: #fff;
                cursor: pointer;
                &:hover {
                  box-shadow: 0px 13.3978px 24.8817px rgba(8, 60, 194, 0.15);
                }
              }
              .badge {
                width: 9rem;
                height: 2.5rem;
                object-fit: cover;
                object-position: center;
                border-radius: 6px;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}

@-webkit-keyframes slidy {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

@-moz-keyframes slidy {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

@-o-keyframes slidy {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

@keyframes slidy {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

@keyframes animate {
  from {
    transform: scale(1.1) rotateY(10deg);
  }
  to {
    transform: scale(1) rotateY(0deg);
  }
}
