# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


# dependencies
/node_modules
/.pnp
.pnp.js
/randomdata
public/sitemap-0.xml
public/robots.txt
public/sitemap.xml
public/sw.js.map
public/workbox-327c579b.js.map
yarn.lock
# testing
/coverage
# next.js
/.next/
/out/
src/firebase.js
config.js
# production
/build
/config
# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

.vscode

.babelrc
.prettierrc