/* width */
::-webkit-scrollbar {
  display: none;
}

body {
  overflow: auto;
  border: none;
  font-family: "Roboto", sans-serif;
  height: 100%;
  line-height: 1.25;
  color: #333;
}
.section {
  padding: 5px 0;
}
.list {
  list-style: decimal-leading-zero;
}
.title {
  margin: 5px 0;
  font-size: 20px;
  font-weight: 600;
}