.partnerCardFront {
  border-radius: 30px;
  height: 25vh;
  width: 20vw;
  position: relative;
  cursor: pointer;
  backface-visibility: hidden;
  transition: 1s ease-in;
  .frontFace {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .banner {
      height: 80px;
      width: 100%;
    }
    .cardBody {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 20px;
      .badgeArea {
        display: flex;
        justify-content: flex-end;
        .badge {
          background-color: #ff6163;
          color: #fff;
          font-size: 0.75rem;
          border-radius: 20px;
          padding: 4px 12px;
        }
      }
    }
  }
  .seeMore {
    cursor: pointer;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1673c8;
    font-size: 1.25rem;
    font-weight: 400;
  }
  &:active {
    transform: rotateY(90deg);
    -webkit-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    transition: 0.2s ease-in;
  }
}
.partnerCardBack {
  border-radius: 30px;
  height: 25vh;
  width: 20vw;
  position: relative;
  cursor: pointer;
  backface-visibility: hidden;
  transition: 1s ease-out;
  .backFace {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .bannerArea {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      padding: 10px 20px;
      .smallBanner {
        height: 40px;
        width: 40px;
      }
    }
    .cardBody {
      flex: 1;
      display: flex;
      flex-direction: column;
      width: 80%;
      .details {
        font-size: 0.875rem;
        font-weight: 400;
        padding-bottom: 10px;
      }
      .terms {
        font-size: 8px;
        font-weight: 300;
      }
      .claimArea {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: auto;
        padding: 10px 0;
        .claimButton {
          cursor: pointer;
          border: none;
          outline: none;
          background-color: #1673c8;
          color: #fff;
          border-radius: 14px;
          font-size: 0.875rem;
          padding: 10px 20px;
          width: 100%;
        }
      }
    }
  }
  &:active {
    transform: rotateY(90deg);
    -webkit-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    transition: 0.2s ease-out;
  }
}
