.main {
  height: 80vh;
  display: flex;
  flex-direction: column;
  scroll-snap-align: end;
  padding: 40px 10%;
  overflow: hidden;
  width: 100%;
  background-color: #17d1bc;
  .container {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    position: relative;
    .background {
      position: absolute;
      width: 100%;
      height: 100%;
      bottom: 0px;
      z-index: 1;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .left {
      z-index: 2;
      height: fit-content;
      width: 100%;
      display: flex;
      flex-direction: column;
      background-color: #17d1bc;
      align-items: center;
      justify-content: center;
      padding: 40px 40px 40px 0px;
      .heading {
        margin: 50px 0 20px;
        font-size: 34px;
        font-weight: 700;
        padding-right: 50px;
        width: 100%;
        color: #ffffff;
      }
      .subheading {
        font-size: 22px;
        font-weight: 400;
        color: #000000c7;
        margin-bottom: 40px;
        line-height: 32px;
      }
    }
    .right {
      display: flex;
      flex-direction: column;
      height: 100%;
      align-items: flex-end;
      width: 50%;
      padding-top: 5%;
      justify-content: center;
      .imageblock {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        max-width: 563px;
        width: 15vw;
        z-index: 2;
        height: 30vw;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .green {
          position: absolute;
          right: 22%;
          top: -20px;
          width: 69px;
          height: 69px;
          border-radius: 50%;
          background-color: #fdcc03;
        }
        .yellow {
          position: absolute;
          bottom: 0;
          right: 0;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background-color: #17d1bc;
        }
        .white {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 110px;
          height: 110px;
          border-radius: 50%;
          background-color: #4166eb;
          z-index: -1;
        }
      }
    }
  }
}

@media only screen and (min-width: 860px) and (max-height: 900px) {
  .main {
    .container {
      .left {
        padding-right: 40px;
        .heading {
          font-size: 30px;
          padding-right: 0px;
          margin: 0;
        }
        .subheading {
          font-size: 18px;
          margin-top: 20px;
          line-height: 24px;
        }
      }
      .right {
      }
    }
  }
}
@media only screen and (max-width: 860px) {
  .main {
    min-height: 450px;
    height: 70vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    scroll-snap-align: end;
    padding: 0;
    overflow: hidden;
    width: 100%;

    .container {
      display: flex;
      height: 100vh;
      width: 100%;
      align-items: center;
      justify-content: center;
      position: relative;
      .background {
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0px;
        opacity: 0.5;
        z-index: 3;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .left {
        height: fit-content;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: transparent;
        z-index: 4;
        justify-content: center;
        padding: 40px;
        .heading {
          font-size: 20px;
          font-weight: 700;
          margin-top: 0;
          width: 100%;
          text-align: center;
          padding-right: 0;
        }
        .subheading {
          font-size: 14px;
          font-weight: 400;
          margin-bottom: 0px;
          text-align: center;
          line-height: 24px;
        }
      }
      .right {
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: flex-end;
        width: 50%;
        padding-top: 5%;
        justify-content: center;
        .imageblock {
          width: 100%;
          position: relative;
          display: flex;
          justify-content: center;
          max-width: 563px;
          width: 15vw;
          z-index: 2;
          height: 30vw;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .green {
            position: absolute;
            right: 22%;
            top: -20px;
            width: 69px;
            height: 69px;
            border-radius: 50%;
            background-color: #fdcc03;
          }
          .yellow {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #17d1bc;
          }
          .white {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 110px;
            height: 110px;
            border-radius: 50%;
            background-color: #4166eb;
            z-index: -1;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 500px) {
  .main {
    height: max-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 7vw;
    min-height: unset;
    .container {
      height: 100%;
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      color: black;
      flex-direction: column-reverse;

      .left {
        width: 100%;
        height: 100%;
        padding: 0;
        justify-content: center;
        align-items: center;
        display: flex;
        .heading {
          font-size: 20px;
          text-align: left;
        }
        .subheading {
          font-size: 12px;
          font-weight: 300;
          margin-bottom: 10px;
          text-align: left;
          line-height: 25px;
          span {
            font-weight: 500;
          }
        }
      }
    }
  }
}
@media only screen and (orientation: landscape) and (max-height: 500px) {
  .main {
    min-height: 350px;
    height: 60vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    scroll-snap-align: end;
    padding: 0;
    overflow: hidden;
    width: 100%;
    .container {
      display: flex;
      height: 100vh;
      width: 100%;
      align-items: center;
      justify-content: center;
      position: relative;
      .background {
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0px;
        opacity: 0.5;
        z-index: 3;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .left {
        height: fit-content;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: transparent;
        z-index: 4;
        justify-content: center;
        padding: 40px;
        .heading {
          font-size: 20px;
          font-weight: 700;
          margin-top: 0;
          width: 100%;
          text-align: center;
          padding-right: 0;
        }
        .subheading {
          font-size: 14px;
          font-weight: 400;
          margin-bottom: 0px;
          text-align: center;
          line-height: 24px;
        }
      }
      .right {
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: flex-end;
        width: 50%;
        padding-top: 5%;
        justify-content: center;
        .imageblock {
          width: 100%;
          position: relative;
          display: flex;
          justify-content: center;
          max-width: 563px;
          width: 15vw;
          z-index: 2;
          height: 30vw;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .green {
            position: absolute;
            right: 22%;
            top: -20px;
            width: 69px;
            height: 69px;
            border-radius: 50%;
            background-color: #fdcc03;
          }
          .yellow {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #17d1bc;
          }
          .white {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 110px;
            height: 110px;
            border-radius: 50%;
            background-color: #4166eb;
            z-index: -1;
          }
        }
      }
    }
  }
}
@media only screen and (orientation: landscape) and (max-width: 900px) {
  .main {
    min-height: 350px;
    height: 60vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    scroll-snap-align: end;
    padding: 0;
    overflow: hidden;
    width: 100%;
    .container {
      display: flex;
      height: 100vh;
      width: 100%;
      align-items: center;
      justify-content: center;
      position: relative;
      .background {
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0px;
        opacity: 0.5;
        z-index: 3;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .left {
        height: fit-content;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: transparent;
        z-index: 4;
        justify-content: center;
        padding: 40px;
        .heading {
          font-size: 20px;
          font-weight: 700;
          margin-top: 0;
          width: 100%;
          text-align: center;
          padding-right: 0;
        }
        .subheading {
          font-size: 14px;
          font-weight: 400;
          margin-bottom: 0px;
          text-align: center;
          line-height: 24px;
        }
      }
      .right {
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: flex-end;
        width: 50%;
        padding-top: 5%;
        justify-content: center;
        .imageblock {
          width: 100%;
          position: relative;
          display: flex;
          justify-content: center;
          max-width: 563px;
          width: 15vw;
          z-index: 2;
          height: 30vw;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .green {
            position: absolute;
            right: 22%;
            top: -20px;
            width: 69px;
            height: 69px;
            border-radius: 50%;
            background-color: #fdcc03;
          }
          .yellow {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #17d1bc;
          }
          .white {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 110px;
            height: 110px;
            border-radius: 50%;
            background-color: #4166eb;
            z-index: -1;
          }
        }
      }
    }
  }
}
