@keyframes float {
  0% {
    transform: translatey(-20px, 0px) rotate(-25deg);
  }
  50% {
    transform: translate(20px, -20px) rotate(-40deg);
  }
  100% {
    transform: translatey(-10px, 0px) rotate(-25deg);
  }
}

.waitlist {
  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #4166eb;
    color: #fff;
    align-items: center;
    padding: 6rem 0;
    .green {
      background-color: #17d1bc;
      width: 10vw;
      height: 5vw;
      border-radius: 10vw;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      position: absolute;
      right: 10%;
      top: 30%;
      transform: rotate(-25deg);
      animation: float 8s ease infinite both;
      animation-delay: 0.5s;
    }
    .white {
      background-color: #ff6263;
      width: 5vw;
      height: 5vw;
      border-radius: 5vw;
      position: absolute;
      left: 10%;
      animation-delay: 0.7s;
      top: 30%;
      animation: float 8s ease infinite both;
    }
    .yellow {
      background-color: #fdcc03;
      width: 2vw;
      height: 2vw;
      border-radius: 2vw;
      position: absolute;
      right: 10%;
      animation-delay: 0.2s;
      top: 80%;
      animation: float 8s ease infinite both;
    }
    .ball4 {
      background-color: #ffff;
      width: 4vw;
      height: 4vw;
      border-radius: 4vw;
      left: 15%;
      position: absolute;
      top: 80%;
      animation: float 8s ease infinite both;
    }
    .heading {
      font-size: 100px;
      color: #fff;
      font-weight: 900;
      text-align: center;
    }
    .heading2 {
      font-size: 30px;
      margin-top: 10px;
      font-weight: 600;
      text-align: center;
    }
    .msg {
      margin-top: 5px;
      margin-bottom: 20px;
      text-align: center;
    }
    .heading3 {
      font-size: 60px;
      color: #fff;
      font-weight: 700;
      margin-bottom: 5px;
      text-align: center;
    }
    .subheading2 {
      margin-top: 10px;
      font-weight: 500;
      font-size: 1.25rem;
      text-align: center;
      color: rgb(223, 223, 223);
    }
    .subheading {
      margin-top: 40px;
      font-weight: 500;
      font-size: 1rem;
      color: rgb(223, 223, 223);
    }
    .line {
      border-bottom: 1px solid rgba(216, 216, 216, 0.466);
      width: 40%;
    }
    .socials {
      margin-top: 20px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      .social {
        cursor: pointer;
        margin-right: 30px;
        width: 40px;
        height: 40px;
        path,
        circle {
          fill: rgb(255, 255, 255);
        }
      }
      .socialyt {
        width: 45px;
        cursor: pointer;
        margin-right: 30px;
        height: 45px;
        path {
          fill: rgb(255, 255, 255);
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .invoiceContainer {
      .invoiceWrapper {
        overflow: auto;
        overscroll-behavior-x: auto;
        // width: 100vw;
      }
      .btnContainer {
        width: 100%;
        display: flex;
        gap: 10px;
        margin: 10px 0;
        .btn {
          border: none;
          border-radius: 8px;
          background-color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #4166eb;
          font-weight: 600;
          padding: 10px 20px;
          font-size: 1rem;
          cursor: pointer;
          transition: all 0.3s ease;
          &:hover {
            background-color: hsl(0, 0%, 94%);
          }
        }
      }
    }
    .goback {
      border-radius: 8px;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #4166eb;
      font-weight: 600;
      padding: 10px 20px;
      font-size: 1rem;
      margin-top: 20px;
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover {
        background-color: hsl(0, 0%, 94%);
      }
    }
  }
}

@media only screen and (max-width: 860px) {
  .waitlist {
    .container {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      background-color: #4166eb;
      color: #fff;
      align-items: center;
      padding-top: 20vh;
      .ball4 {
        background-color: #ffff;
        width: 4vw;
        height: 4vw;
        border-radius: 4vw;
        left: 15%;
        position: absolute;
        top: 80%;
        animation: float 8s ease infinite both;
      }
      .heading {
        font-size: 90px;
        color: #fff;
        font-weight: 900;
        text-align: center;
      }
      .heading2 {
        font-size: 26px;
        margin-top: 10px;
        font-weight: 600;
        text-align: center;
      }
      .heading3 {
        font-size: 55px;
        color: #fff;
        font-weight: 700;
        margin-bottom: 5px;
        text-align: center;
      }
      .subheading {
        margin-top: 40px;
        font-weight: 500;
        font-size: 0.875rem;
        color: rgb(223, 223, 223);
      }
      .line {
        border-bottom: 1px solid rgba(216, 216, 216, 0.466);
        width: 40%;
      }
      .socials {
        margin-top: 20px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .social {
          cursor: pointer;
          margin-right: 30px;
          width: 30px;
          height: 30px;
          path,
          circle {
            fill: rgb(255, 255, 255);
          }
        }
        .socialyt {
          width: 35px;
          cursor: pointer;
          margin-right: 30px;
          height: 35px;
          path {
            fill: rgb(255, 255, 255);
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
      .invoiceContainer {
        .invoiceWrapper {
          overflow: auto;
          overscroll-behavior-x: auto;
          width: 95vw;
        }
        .btnContainer {
          width: 100%;
          display: flex;
          gap: 10px;
          margin: 10px 0;
          .btn {
            border: none;
            border-radius: 8px;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #4166eb;
            font-weight: 600;
            padding: 10px 20px;
            font-size: 1rem;
            cursor: pointer;
            transition: all 0.3s ease;
            &:hover {
              background-color: hsl(0, 0%, 94%);
            }
          }
        }
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .waitlist {
    .container {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      background-color: #4166eb;
      color: #fff;
      align-items: center;
      padding-top: 20vh;
      .ball4 {
        background-color: #ffff;
        width: 4vw;
        height: 4vw;
        border-radius: 4vw;
        left: 15%;
        position: absolute;
        top: 80%;
        animation: float 8s ease infinite both;
      }
      .heading {
        font-size: 90px;
        color: #fff;
        font-weight: 900;
        text-align: center;
      }
      .heading2 {
        font-size: 26px;
        margin-top: 10px;
        font-weight: 600;
        text-align: center;
      }
      .heading3 {
        font-size: 55px;
        color: #fff;
        font-weight: 700;
        margin-bottom: 5px;
      }
      .subheading {
        margin-top: 40px;
        font-weight: 500;
        font-size: 0.875rem;
        color: rgb(223, 223, 223);
      }
      .line {
        border-bottom: 1px solid rgba(216, 216, 216, 0.466);
        width: 40%;
      }
      .socials {
        margin-top: 20px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .social {
          cursor: pointer;
          margin-right: 30px;
          width: 30px;
          height: 30px;
          path,
          circle {
            fill: rgb(255, 255, 255);
          }
        }
        .socialyt {
          width: 35px;
          cursor: pointer;
          margin-right: 30px;
          height: 35px;
          path {
            fill: rgb(255, 255, 255);
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
      .invoiceContainer {
        .invoiceWrapper {
          overflow: auto;
          overscroll-behavior-x: auto;
          width: 95vw;
        }
        .btnContainer {
          width: 100%;
          display: flex;
          gap: 10px;
          margin: 10px 0;
          .btn {
            border: none;
            border-radius: 8px;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #4166eb;
            font-weight: 600;
            padding: 10px 20px;
            font-size: 1rem;
            cursor: pointer;
            transition: all 0.3s ease;
            &:hover {
              background-color: hsl(0, 0%, 94%);
            }
          }
        }
      }
    }
  }
}
@media only screen and (orientation: landscape) and (max-height: 500px) {
  .waitlist {
    .container {
      height: fit-content;
      padding: 10vh 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: #fff;
      align-items: center;
      .green {
        background-color: #17d1bc;
        width: 10vw;
        height: 5vw;
        border-radius: 10vw;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        position: absolute;
        right: 10%;
        top: 30%;
        transform: rotate(-25deg);
        animation: float 8s ease infinite both;
        animation-delay: 0.5s;
      }
      .white {
        background-color: #ff6263;
        width: 5vw;
        height: 5vw;
        border-radius: 5vw;
        position: absolute;
        left: 10%;
        animation-delay: 0.7s;
        top: 30%;
        animation: float 8s ease infinite both;
      }
      .yellow {
        background-color: #fdcc03;
        width: 2vw;
        height: 2vw;
        border-radius: 2vw;
        position: absolute;
        right: 10%;
        animation-delay: 0.2s;
        top: 80%;
        animation: float 8s ease infinite both;
      }
      .ball4 {
        background-color: #ffff;
        width: 4vw;
        height: 4vw;
        border-radius: 4vw;
        left: 15%;
        position: absolute;
        top: 80%;
        animation: float 8s ease infinite both;
      }
      .heading {
        font-size: 80px;
        color: #fff;
        font-weight: 900;
        text-align: center;
      }
      .heading2 {
        font-size: 26px;
        margin-top: 10px;
        font-weight: 600;
        text-align: center;
      }
      .heading3 {
        font-size: 60px;
        color: #fff;
        font-weight: 700;
        margin-bottom: 5px;
      }
      .subheading2 {
        margin-top: 10px;
        font-weight: 500;
        font-size: clamp(12px, 1.5vw, 14px);

        text-align: center;
        color: rgb(223, 223, 223);
      }
      .subheading {
        margin-top: 40px;
        font-weight: 500;
        font-size: 1rem;
        color: rgb(223, 223, 223);
      }
      .line {
        border-bottom: 1px solid rgba(216, 216, 216, 0.466);
        width: 40%;
      }
      .socials {
        margin-top: 20px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .social {
          cursor: pointer;
          margin-right: 30px;
          width: 40px;
          height: 40px;
          path,
          circle {
            fill: rgb(255, 255, 255);
          }
        }
        .socialyt {
          width: 45px;
          cursor: pointer;
          margin-right: 30px;
          height: 45px;
          path {
            fill: rgb(255, 255, 255);
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
      .goback {
        border-radius: 8px;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #4166eb;
        font-weight: 600;
        padding: 10px 20px;
        font-size: 1rem;
        margin-top: 20px;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
          background-color: hsl(0, 0%, 94%);
        }
      }
    }
  }
}
@media only screen and (orientation: landscape) and (max-width: 900px) {
  .waitlist {
    .container {
      height: fit-content;
      padding: 10vh 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: #fff;
      align-items: center;
      .green {
        background-color: #17d1bc;
        width: 10vw;
        height: 5vw;
        border-radius: 10vw;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        position: absolute;
        right: 10%;
        top: 30%;
        transform: rotate(-25deg);
        animation: float 8s ease infinite both;
        animation-delay: 0.5s;
      }
      .white {
        background-color: #ff6263;
        width: 5vw;
        height: 5vw;
        border-radius: 5vw;
        position: absolute;
        left: 10%;
        animation-delay: 0.7s;
        top: 30%;
        animation: float 8s ease infinite both;
      }
      .yellow {
        background-color: #fdcc03;
        width: 2vw;
        height: 2vw;
        border-radius: 2vw;
        position: absolute;
        right: 10%;
        animation-delay: 0.2s;
        top: 80%;
        animation: float 8s ease infinite both;
      }
      .ball4 {
        background-color: #ffff;
        width: 4vw;
        height: 4vw;
        border-radius: 4vw;
        left: 15%;
        position: absolute;
        top: 80%;
        animation: float 8s ease infinite both;
      }
      .heading {
        font-size: 80px;
        color: #fff;
        font-weight: 900;
        text-align: center;
      }
      .heading2 {
        font-size: 26px;
        margin-top: 10px;
        font-weight: 600;
        text-align: center;
      }
      .heading3 {
        font-size: 60px;
        color: #fff;
        font-weight: 700;
        margin-bottom: 5px;
      }
      .subheading2 {
        margin-top: 10px;
        font-weight: 500;
        font-size: clamp(12px, 1.5vw, 14px);
        text-align: center;
        color: rgb(223, 223, 223);
      }
      .subheading {
        margin-top: 40px;
        font-weight: 500;
        font-size: 1rem;
        color: rgb(223, 223, 223);
      }
      .line {
        border-bottom: 1px solid rgba(216, 216, 216, 0.466);
        width: 40%;
      }
      .socials {
        margin-top: 20px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .social {
          cursor: pointer;
          margin-right: 30px;
          width: 40px;
          height: 40px;
          path,
          circle {
            fill: rgb(255, 255, 255);
          }
        }
        .socialyt {
          width: 45px;
          cursor: pointer;
          margin-right: 30px;
          height: 45px;
          path {
            fill: rgb(255, 255, 255);
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
      .goback {
        border-radius: 8px;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #4166eb;
        font-weight: 600;
        padding: 10px 20px;
        font-size: 1rem;
        margin-top: 20px;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
          background-color: hsl(0, 0%, 94%);
        }
      }
    }
  }
}
