.questPage {
  background-color: #f4f5f7;
  height: 100vh;
  width: 100vw;
  display: flex;
  overflow: hidden;
  .contentWrapper {
    height: 100vh;
    flex: 1;
    display: flex;
    width: 100%;
    flex-direction: column;
    .mainContent {
      width: 100%;
      padding: 0 45px;
      overflow-y: auto;
      padding-bottom: 100px;
      .mainhead {
        display: flex;
        align-items: center;
        background-color: white;
        border-radius: 25px;
        margin-top: 20px;
        height: 219px;
        position: relative;
        padding: 40px;
        img {
          object-fit: cover;
          width: 136px;
          height: 137px;
          border-radius: 25px;
          margin-right: 30px;
        }
        .right {
          .questheading {
            color: #232323;
            font-size: 32px;
            font-weight: 600;
          }
          .age {
            color: #000000cf;
            font-family: "Roboto";
            font-size: 14px;
            margin-top: 10px;
            font-weight: 500;
          }
          .details {
            display: flex;
            color: #232323;
            font-family: "Roboto";
            font-size: 14px;
            font-weight: 400;
            margin-top: 10px;
            svg {
              margin-right: 5px;
            }
            .students {
              margin-right: 20px;
              display: flex;
              align-items: center;
            }
            .projects {
              display: flex;
              align-items: center;
            }
          }
        }
        .creditandweeks {
          position: absolute;
          bottom: 20px;
          right: 40px;
          color: #232323;
          font-size: 24px;
          font-weight: 600;
          text-align: right;
        }
      }
      .mainwrapper {
        display: flex;
        .left {
          flex: 1;
          .heading {
            color: #4166eb;
            margin-top: 20px;
            font-size: 24px;
            font-weight: 600;
          }
          .conceptswrapper {
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            margin-top: 20px;
            gap: 20px;
            .concept {
              width: fit-content;
              height: fit-content;
              padding: 8px 15px;
              background: #f4f5f7;
              border: 0.5px solid #9d9d9d;
              border-radius: 4px;
            }
          }
          .about,
          .content {
            margin-top: 10px;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
          }
          .contentDetails {
            display: flex;
            margin-top: 20px;
            flex-direction: column;
            .contentheading {
              font-size: 20px;
              font-weight: 600;
            }
            .contentdes {
              margin-top: 2px;
              font-size: 16px;
              font-weight: 400;
            }
          }
          .map {
            width: 100%;
            margin-top: 20px;
            display: flex;
            position: relative;
            align-items: flex-start;
            .stamp {
              position: absolute;
              z-index: 5;
              width: 100%;
              height: 100%;
              object-fit: contain;
              background-color: rgba(31, 31, 31, 0.288);
            }
            .kqc {
              position: absolute;
              font-weight: 500;
              cursor: not-allowed;
              font-size: 12px;
              border-radius: 12px;
              width: fit-content;
              z-index: 2;
              color: rgb(44, 44, 44);
              text-align: center;
              filter: drop-shadow(2px 4px 10px rgba(0, 0, 0, 0.25));
              padding: 10px;
              background-color: rgb(201, 201, 201);
            }
            .activekqc {
              cursor: pointer;
              color: black;
              background-color: white;
            }
            .completedkqc {
              background-color: rgb(81, 235, 102);
              cursor: pointer;
              color: rgb(0, 61, 18);
            }
            .kqc1 {
              bottom: 10%;
              width: 160px;
              right: 38%;
            }
            .kqc2 {
              bottom: 30%;
              right: 52%;
            }
            .kqc3 {
              bottom: 50%;
              right: 65%;
            }
            .kqc4 {
              bottom: 65%;
              right: 42%;
            }
            .kqc5 {
              bottom: 32%;
              width: 160px;
              right: 5%;
            }
            .kqc6 {
              top: 20%;
              right: 12%;
            }
            .bg {
              width: 100%;
              z-index: 1;
            }
            .boat {
              width: 12%;
              position: absolute;
              z-index: 2;
              transition: all 0.3s ease;
              height: fit-content;
              pointer-events: none;
            }
            .boat1 {
              bottom: 1%;
              right: 22%;
            }
            .boat2 {
              bottom: 20%;
              right: 65%;
            }
            .boat3 {
              bottom: 44%;
              right: 56%;
              transform: rotateY(180deg);
            }
            .boat4 {
              bottom: 40%;
              right: 45%;
              transform: rotateY(180deg);
            }
            .boat5 {
              bottom: 12%;
              right: 22%;
              transform: rotateY(180deg);
            }
            .boat6 {
              bottom: 62%;
              right: 18%;
            }
            .island1 {
              position: absolute;
              top: 15%;
              left: clamp(1.5vw, 1.5vw, 100px);
              cursor: pointer;
              height: 30%;
              z-index: 2;
              width: auto;
              .container {
                position: relative;
                width: 100%;
                height: 100%;
                .title {
                  color: black;
                  z-index: 2;
                  position: absolute;
                  width: 70%;
                  background-color: rgba(71, 71, 71, 0.5);
                  color: white;
                  border-radius: 12px;
                  font-size: clamp(10px, 1vw, 14px);
                  padding: clamp(10px, 1vw, 14px);
                  top: 30%;
                  left: 40%;
                  text-align: center;
                  transform: translateY(-50%, -50%);
                }
                svg {
                  width: 100%;
                  height: 100%;
                }
                .boat {
                  width: 50%;
                  position: absolute;
                  top: -20%;
                  animation: boat 3s ease alternate infinite;
                  left: 105%;
                  z-index: 2;
                }
              }
            }
            .island2 {
              position: absolute;
              bottom: 2vh;
              right: clamp(5vw, 10vw, 100px);
              cursor: pointer;
              height: 10vw;
              width: 10vw;
              z-index: 2;
              .container {
                position: relative;
                width: 200px;
                height: 100%;
                .boat {
                  width: 50%;
                  position: absolute;
                  top: 10%;
                  animation: boat 3s ease alternate infinite;
                  left: -35%;
                  z-index: 2;
                }
                .title {
                  color: black;
                  z-index: 2;
                  position: absolute;
                  width: 70%;
                  background-color: rgba(71, 71, 71, 0.5);
                  color: white;
                  border-radius: 12px;
                  font-size: clamp(10px, 1vw, 14px);
                  padding: clamp(10px, 1vw, 14px);
                  top: 30%;
                  right: 0%;

                  text-align: center;
                  transform: translateY(-50%, -50%);
                }
                svg {
                  width: 100%;
                  height: 100%;
                  cursor: pointer;
                }
              }
            }
            .island2disabled {
              filter: grayscale(100%);
            }
          }
          .course {
            aspect-ratio: 16/9;
          }
          .blockscroll {
            overflow-y: hidden;
          }
          .buttons {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            .button {
              padding: 10px 20px;
              border-radius: 8px;
              font-size: 16px;
              color: white;
              background-color: #4166eb;
              cursor: pointer;
              transition: all 0.3s ease;

              &:hover {
                background-color: #4d5dfb;
              }
              &:first-child {
                background-color: gray;
                &:hover {
                  background-color: #4d4d4d;
                }
              }
            }
          }
        }
        .right {
          width: 20vw;
          padding-top: 20px;
          display: flex;
          flex-direction: column;
          .buttonwrapper {
            display: flex;
            justify-content: flex-end;
            margin-top: 20px;
            .bookmarkbutton {
              width: 129px;
              height: 42px;
              border: 1px solid #000000;
              border-radius: 12px;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 14px;
              font-weight: 500;
              cursor: pointer;
              margin-right: 20px;
              svg {
                margin-right: 5px;
              }
            }
            .startbutton {
              color: white;
              background-color: #4166eb;
              width: 129px;
              height: 42px;
              border-radius: 8px;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 14px;
              cursor: pointer;
              font-weight: 500;
              flex: 1;
              width: 100%;
            }
          }
          .details {
            display: flex;
            justify-content: space-around;
            font-weight: 500;
            margin-top: 40px;
            .section {
              display: flex;
              flex-direction: column;
              align-items: center;
              .number {
                font-size: 36px;
              }
              .name {
                font-size: 14px;
              }
            }
          }
          .heading {
            color: #4166eb;
            margin-top: 20px;
            font-size: 24px;
            font-weight: 600;
          }
          .conceptswrapper {
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            margin-top: 20px;
            .concept {
              width: fit-content;
              height: fit-content;
              padding: 10px 20px;
              background: #f4f5f7;
              border: 0.5px solid #9d9d9d;
              border-radius: 4px;
              margin: 5px;
            }
          }
        }
      }
    }
  }
}

// tab screen portrait
@media only screen and (orientation: portrait) and (max-width: 912px) {
  .questPage {
    .contentWrapper {
      .mainContent {
        display: flex;
        flex-direction: column;
        padding: 0 20px;

        .mainhead {
          display: flex;
          align-items: center;
          background-color: white;
          border-radius: 25px;
          margin-top: 20px;
          height: 219px;
          position: relative;
          padding: 40px;
          img {
            object-fit: cover;
            width: 136px;
            height: 137px;
            border-radius: 25px;
            margin-right: 30px;
          }
          .right {
            .questheading {
              color: #232323;
              font-size: 24px;
              font-weight: 600;
            }
            .age {
              color: #000000cf;
              font-family: "Roboto";
              font-size: 12px;
              margin-top: 10px;
              font-weight: 500;
            }
            .details {
              display: flex;
              color: #232323;
              font-family: "Roboto";
              font-size: 12px;
              font-weight: 400;
              margin-top: 10px;
              svg {
                margin-right: 5px;
              }
              .students {
                margin-right: 20px;
                display: flex;
                align-items: center;
              }
              .projects {
                display: flex;
                align-items: center;
              }
            }
          }
          .creditandweeks {
            position: absolute;
            bottom: 20px;
            right: 40px;
            color: #232323;
            font-size: 16px;
            font-weight: 600;
            text-align: right;
          }
        }
        .mainwrapper {
          margin-bottom: 20px;
          .left {
            flex: 1;
            .heading {
              font-size: 20px;
            }
            .about,
            .content {
              margin-top: 10px;
              font-family: "Roboto";
              font-size: 14px;
              font-weight: 400;
            }
          }
          .right {
            width: 25vw;
            margin-right: 20px;
            .buttonwrapper {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              .bookmarkbutton {
                width: 80%;
                height: 42px;
                border: 1px solid #000000;
                border-radius: 12px;
                display: flex;
                margin-bottom: 20px;
                align-items: center;
                justify-content: center;
                font-size: 14px;
                font-weight: 500;
                cursor: pointer;
                margin-right: 0px;
                svg {
                  margin-right: 5px;
                }
              }
              .startbutton {
                color: white;
                background-color: #4166eb;
                width: 80%;
                height: 42px;
                border-radius: 12px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 14px;
                cursor: pointer;
                font-weight: 500;
              }
            }
            .details {
              display: flex;
              justify-content: space-around;
              align-items: center;
              font-weight: 500;
              margin-top: 40px;
              .section {
                display: flex;
                flex-direction: column;
                justify-content: center;
                .number {
                  font-size: 30px;
                  text-align: center;
                }
                .name {
                  font-size: 12px;
                }
              }
            }
            .heading {
              font-size: 20px;
            }
            .conceptswrapper {
              display: flex;
              flex-wrap: wrap;
              align-content: flex-start;
              margin-top: 20px;
              .concept {
                width: fit-content;
                height: fit-content;
                padding: 10px 20px;
                background: #f4f5f7;
                border: 0.5px solid #9d9d9d;
                border-radius: 4px;
                margin: 5px;
                font-size: 12px;
              }
            }
          }
        }
      }
      .mainwrapper {
        .conceptswrapper {
          display: flex;
          flex-wrap: wrap;
          align-content: flex-start;
          gap: 5px !important;
          .concept {
            width: fit-content;
            height: fit-content;
            padding: 8px 15px;
            background: #f4f5f7;
            border: 0.5px solid #9d9d9d;
            border-radius: 4px;
            font-size: 12px;
          }
        }
      }
    }
  }
}

// mobile screen portrait
@media only screen and (orientation: portrait) and (max-width: 700px) {
  .questPage {
    .contentWrapper {
      .mainContent {
        padding: 0 20px;
        padding-bottom: 100px;
        .mainhead {
          padding: 20px;
          border-radius: 10px;
          margin-top: 30px;
          width: unset;
          flex-direction: column;
          min-height: 31vh;
          img {
            width: 100%;
            height: 15vh;
            border-radius: 10px;
            margin-right: 0px;
            object-fit: contain;
          }
          .right {
            margin-top: 10px;
            width: 100%;
            .questheading {
              font-size: 16px;
            }
            .age {
              font-size: 10px;
              margin-top: 5px;
            }
            .details {
              font-size: 8px;
              font-weight: 400;
              margin-top: 7px;
              svg {
                width: 1.5vw;
                margin-right: 5px;
              }
              .students {
                margin-top: 0px;
                align-items: center;
                margin-bottom: 0px;
              }
            }
          }
          .creditandweeks {
            font-size: 10px;
            left: 20px;
            right: unset;
            bottom: 15px;
            text-align: left;
          }
        }
        .mainwrapper {
          display: flex;
          flex-direction: column-reverse;
          .left {
            flex: 1;
            margin: 0;
            .heading {
              font-size: 18px;
            }
            .about,
            .content {
              margin-top: 10px;
              font-family: "Roboto";
              font-size: 12px;
              font-weight: 400;
            }
            .map {
              width: 100%;
              margin-top: 20px;
              aspect-ratio: 16/9;
              display: flex;
              position: relative;
              overflow-y: auto;
              align-items: flex-start;
              .kqc {
                position: absolute;
                font-weight: 500;
                cursor: not-allowed;
                font-size: 8px;
                border-radius: 6px;
                max-width: 100px;
                width: fit-content;
                z-index: 2;
                color: rgb(44, 44, 44);
                text-align: center;
                filter: drop-shadow(2px 4px 10px rgba(0, 0, 0, 0.25));
                padding: 2px;
                background-color: rgb(201, 201, 201);
              }
              .activekqc {
                cursor: pointer;
                color: black;
                background-color: white;
              }
              .kqc1 {
                bottom: -7%;
                width: 160px;
                right: 38%;
              }
              .kqc2 {
                bottom: 12%;
                right: 52%;
              }
              .kqc3 {
                bottom: 33%;
                right: 65%;
              }
              .kqc4 {
                bottom: 55%;
                right: 42%;
              }
              .kqc5 {
                bottom: 12%;
                width: 160px;
                right: 5%;
              }
              .kqc6 {
                top: 20%;
                right: 12%;
              }
              .bg {
                width: 100%;
                z-index: 1;
              }
              .boat {
                width: 12%;
                position: absolute;
                z-index: 2;
                transition: all 0.3s ease;
                height: fit-content;
              }
              .boat1 {
                bottom: -15%;
                right: 22%;
              }
              .boat2 {
                bottom: 25%;
                right: 50%;
              }
              .boat3 {
                bottom: -5%;
                right: 85%;
                transform: rotateY(180deg);
              }
              .boat4 {
                bottom: 50%;
                right: 55%;
                transform: rotateY(180deg);
              }
              .boat5 {
                bottom: 2%;
                right: 25%;
                transform: rotateY(180deg);
              }
              .boat6 {
                bottom: 60%;
                right: 20%;
              }
              .island1 {
                position: absolute;
                top: 15%;
                left: clamp(1.5vw, 1.5vw, 100px);
                cursor: pointer;
                height: 30%;
                z-index: 2;
                width: auto;
                .container {
                  position: relative;
                  width: 100%;
                  height: 100%;
                  .title {
                    color: black;
                    z-index: 2;
                    position: absolute;
                    width: 70%;
                    background-color: rgba(71, 71, 71, 0.5);
                    color: white;
                    border-radius: 12px;
                    font-size: clamp(10px, 1vw, 14px);
                    padding: clamp(10px, 1vw, 14px);
                    top: 30%;
                    left: 40%;
                    text-align: center;
                    transform: translateY(-50%, -50%);
                  }
                  svg {
                    width: 100%;
                    height: 100%;
                  }
                  .boat {
                    width: 50%;
                    position: absolute;
                    top: -20%;
                    animation: boat 3s ease alternate infinite;
                    left: 105%;
                    z-index: 2;
                  }
                }
              }
              .island2 {
                position: absolute;
                bottom: 2vh;
                right: clamp(5vw, 10vw, 100px);
                cursor: pointer;
                height: 10vw;
                width: 10vw;
                z-index: 2;
                .container {
                  position: relative;
                  width: 200px;
                  height: 100%;
                  .boat {
                    width: 50%;
                    position: absolute;
                    top: 10%;
                    animation: boat 3s ease alternate infinite;
                    left: -35%;
                    z-index: 2;
                  }
                  .title {
                    color: black;
                    z-index: 2;
                    position: absolute;
                    width: 70%;
                    background-color: rgba(71, 71, 71, 0.5);
                    color: white;
                    border-radius: 12px;
                    font-size: clamp(10px, 1vw, 14px);
                    padding: clamp(10px, 1vw, 14px);
                    top: 30%;
                    right: 0%;

                    text-align: center;
                    transform: translateY(-50%, -50%);
                  }
                  svg {
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                  }
                }
              }
              .island2disabled {
                filter: grayscale(100%);
              }
            }
          }
          .right {
            width: 100%;
            padding-right: 10px;
            margin-right: 20px;
            .buttonwrapper {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;
              .bookmarkbutton {
                width: 47%;
                height: 35px;
                border: 1px solid #000000;
                border-radius: 12px;
                display: flex;
                margin-bottom: 0px;
                align-items: center;
                justify-content: center;
                font-size: 12px;
                font-weight: 500;
                cursor: pointer;
                margin-right: 0px;
                svg {
                  width: 12px;
                  margin-right: 5px;
                }
              }
              .startbutton {
                color: white;
                background-color: #4166eb;
                width: 47%;
                height: 35px;
                border-radius: 12px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 12px;
                cursor: pointer;
                font-weight: 500;
              }
            }
            .details {
              display: flex;
              justify-content: space-around;
              align-items: center;
              font-weight: 500;
              margin-top: 20px;
              .section {
                display: flex;
                flex-direction: column;
                justify-content: center;
                .number {
                  font-size: 25px;
                  text-align: center;
                }
                .name {
                  font-size: 10px;
                }
              }
            }
            .heading {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (orientation: landscape) and (max-height: 912px) {
  .questPage {
    .contentWrapper {
      .mainContent {
        display: flex;
        flex-direction: column;
        padding: 0 20px;

        .mainhead {
          display: flex;
          align-items: center;
          background-color: white;
          border-radius: 25px;
          margin-top: 0px;
          height: 219px;
          position: relative;
          padding: 30px;
          img {
            object-fit: cover;
            width: 136px;
            height: 137px;
            border-radius: 25px;
            margin-right: 30px;
          }
          .right {
            .questheading {
              color: #232323;
              font-size: 24px;
              font-weight: 600;
            }
            .age {
              color: #000000cf;
              font-family: "Roboto";
              font-size: 12px;
              margin-top: 10px;
              font-weight: 500;
            }
            .details {
              display: flex;
              color: #232323;
              font-family: "Roboto";
              font-size: 12px;
              font-weight: 400;
              margin-top: 10px;
              svg {
                margin-right: 5px;
              }
              .students {
                margin-right: 20px;
                display: flex;
                align-items: center;
              }
              .projects {
                display: flex;
                align-items: center;
              }
            }
          }
          .creditandweeks {
            position: absolute;
            bottom: 20px;
            right: 40px;
            color: #232323;
            font-size: 16px;
            font-weight: 600;
            text-align: right;
          }
        }
        .mainwrapper {
          margin-bottom: 20px;
          .left {
            flex: 1;
            .heading {
              font-size: 20px;
            }
            .about,
            .content {
              margin-top: 10px;
              font-family: "Roboto";
              font-size: 14px;
              font-weight: 400;
            }
          }
          .right {
            width: 25vw;
            margin-right: 20px;
            .buttonwrapper {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              .bookmarkbutton {
                width: 80%;
                height: 42px;
                border: 1px solid #000000;
                border-radius: 12px;
                display: flex;
                margin-bottom: 20px;
                align-items: center;
                justify-content: center;
                font-size: 14px;
                font-weight: 500;
                cursor: pointer;
                margin-right: 0px;
                svg {
                  margin-right: 5px;
                }
              }
              .startbutton {
                color: white;
                background-color: #4166eb;
                width: 80%;
                height: 42px;
                border-radius: 12px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 14px;
                cursor: pointer;
                font-weight: 500;
              }
            }
            .details {
              display: flex;
              justify-content: space-around;
              align-items: center;
              font-weight: 500;
              margin-top: 40px;
              .section {
                display: flex;
                flex-direction: column;
                justify-content: center;
                .number {
                  font-size: 30px;
                  text-align: center;
                }
                .name {
                  font-size: 12px;
                }
              }
            }
            .heading {
              font-size: 20px;
            }
            .conceptswrapper {
              display: flex;
              flex-wrap: wrap;
              align-content: flex-start;
              margin-top: 20px;
              .concept {
                width: fit-content;
                height: fit-content;
                padding: 10px 20px;
                background: #f4f5f7;
                border: 0.5px solid #9d9d9d;
                border-radius: 4px;
                margin: 5px;
                font-size: 12px;
              }
            }
          }
        }
      }
      .mainwrapper {
        .conceptswrapper {
          display: flex;
          flex-wrap: wrap;
          align-content: flex-start;
          gap: 5px !important;
          .concept {
            width: fit-content;
            height: fit-content;
            padding: 8px 15px;
            background: #f4f5f7;
            border: 0.5px solid #9d9d9d;
            border-radius: 4px;
            font-size: 12px;
          }
        }
      }
    }
  }
}
