.section {
  width: 100%;
  border-radius: 20px;
  display: flex;
  .left {
    width: 25%;
    position: relative;
    .sectionno {
      color: #0000005c;
      font-size: 12px;
      font-weight: 500;
    }
    .sectiontitle {
      font-size: 22px;
      font-weight: 500;
    }
    .sectiondesc {
      font-size: 12px;
      font-weight: 300;
      margin-top: 10px;
    }
  }
  .right {
    flex: 1;
    padding-top: 0px;
    .numberingArea {
      display: flex;
      flex-direction: column;
      .number {
        height: fit-content;
        width: fit-content;
        border: 2px solid #4166eb;
        border-radius: 50%;
        font-size: 14px;
        padding: 0 5px;
        z-index: 3;
      }
      .numberLine {
        margin-left: 9px;
        background-color: #cecece;
        width: 2px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 0;
      }
      .completeLine {
        @extend .numberLine;
        background-color: #4166eb;
      }
    }
    .chapterArea {
      padding-left: 11px;
      .chapter {
        background: #ffffff;
        width: auto;
        position: relative;
        margin-left: 20px;
        box-shadow: 0px 13.3978px 24.8817px rgb(8 60 194 / 15%);
        .verticalLine {
          background-color: #cecece;
          position: absolute;
          left: -22px;
          top: 0;
          width: 2px;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 0;
        }
        .completedVerticalLine {
          @extend .verticalLine;
          background-color: #4166eb;
        }
        .chapterball {
          background-color: #cecece;
          position: absolute;
          left: -27px;
          top: 43%;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 1;
        }
        .completedChapterBall {
          @extend .chapterball;
          background-color: #4166eb;
        }
        .main {
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 100%;
          padding: 20px;
          .chapterno,
          .remainingtime {
            font-family: "Lexend", sans-serif;
            margin-top: 5px;
            font-size: 10px;
            color: #0000004d;
          }
          .chaptertitle {
            font-size: 16px;
            margin-top: 5px;
            font-weight: 600;
          }
        }
      }
    }
  }
}

// for phones
@media only screen and (max-width: 480px) {
  .section {
    width: 100%;
    border-radius: 20px;
    display: flex;
    .left {
      width: 25%;
      position: relative;
      .sectionno {
        color: #0000005c;
        font-size: 10px;
        font-weight: 500;
      }
      .sectiontitle {
        font-size: 16px;
        font-weight: 500;
        word-wrap: break-word;
      }
      .sectiondesc {
        font-size: 12px;
        font-weight: 300;
        margin-top: 10px;
      }
    }
    .right {
      flex: 1;
      padding-top: 0px;
      .numberingArea {
        display: flex;
        flex-direction: column;
        .number {
          height: fit-content;
          width: fit-content;
          border: 2px solid #4166eb;
          border-radius: 50%;
          font-size: 14px;
          padding: 0 5px;
          z-index: 3;
        }
        .numberLine {
          margin-left: 9px;
          background-color: #cecece;
          width: 2px;
          height: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 0;
        }
        .completeLine {
          @extend .numberLine;
          background-color: #4166eb;
        }
      }
      .chapterArea {
        padding-left: 11px;
        .chapter {
          background: #ffffff;
          width: auto;
          position: relative;
          margin-left: 20px;
          .verticalLine {
            background-color: #cecece;
            position: absolute;
            left: -22px;
            top: 0;
            width: 2px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 0;
          }
          .completedVerticalLine {
            @extend .verticalLine;
            background-color: #4166eb;
          }
          .chapterball {
            background-color: #cecece;
            position: absolute;
            left: -27px;
            top: 43%;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;
          }
          .completedChapterBall {
            @extend .chapterball;
            background-color: #4166eb;
          }
          .main {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            padding: 20px;
            .chapterno,
            .remainingtime {
              font-family: "Lexend", sans-serif;
              margin-top: 5px;
              font-size: 10px;
              color: #0000004d;
            }
            .chaptertitle {
              font-size: 16px;
              margin-top: 5px;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}
