.main {
  width: 100vw;
  min-height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  .container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
