@use "../variables/colors.scss" as *;
.form {
  width: 50%;
  height: 20vh;
  display: flex;
  align-items: center;
  border-radius: 12px;
  justify-content: center;
  flex-direction: column;
  input {
    height: 45px;
    padding: 0 20px;
    font-size: 1.25rem;
    margin: 10px 0;
  }
  .btn {
    background-color: $blue;
    color: white;
    padding: 10px 20px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 1rem;
  }
}

.darkform {
  background: $d-moredark;
  input {
    background-color: $d-main;
    outline: none;
    border: none;
    border-radius: 12px;
    color: $d-text2;
  }
  .heading {
    color: $d-text1;
  }
}
