.chorePending {
  display: flex;
  width: 100%;
  max-width: 950px;
  align-items: center;
  background-color: white;
  padding: 10px;
  height: 80px;
  border-radius: 12px;
  margin-bottom: 20px;
  img {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 10px;
  }
  .taskAndTo {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 26%;
    .task {
      font-size: 18px;
      font-weight: 500;
    }
    .to {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      color: #828282;
    }
  }
  .completionIcon {
    flex: 0.4;
  }
  .time {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 400;
    margin-right: 10px;
    text-align: center;
    justify-content: center;
    flex: 1;
    svg {
      margin-right: 5px;
    }
  }
  .button {
    background: #4166eb;
    border-radius: 8px;
    color: white;
    height: 65%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      background-color: #ffffff;
      color: #4166eb;
      border: 1px solid #4166eb;
    }
  }
  .removebutton {
    background: rgba(255, 98, 99, 1);
    border-radius: 8px;
    color: white;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    margin: 0 10px;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      fill: rgba(255, 98, 99, 1);

      path {
        fill: rgba(255, 98, 99, 1);
      }
      background-color: #ffffff;
      color: rgba(255, 98, 99, 1);
      border: 1px solid rgba(255, 98, 99, 1);
    }
  }
}

@media only screen and (max-width: 1378px) {
  .chorePending {
    img {
      width: 54px;
      height: 54px;
    }
    .taskAndTo {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 10px;
      margin-right: 10px;
      min-width: 70px;
      .task {
        font-size: 16px;
        font-weight: 500;
      }
      .to {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        color: #828282;
      }
    }
    .completionIcon {
      .compIcon {
        margin-right: 10px;
      }
    }
    .time {
      display: flex;
      align-items: center;
      font-size: 13px;
      font-weight: 400;
      margin-right: 10px;
      svg {
        margin-right: 5px;
      }
    }
    .button {
      background: #4166eb;
      border-radius: 8px;
      color: white;
      height: 65%;
      width: 15%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover {
        background-color: #ffffff;
        color: #4166eb;
        border: 1px solid #4166eb;
      }
    }
    .more {
      flex: 1;
      max-width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      cursor: pointer;
      &:hover {
        svg {
          transition: all 0.3s ease;
          circle {
            fill: rgb(41, 41, 41);
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 860px) and (max-height: 800px) {
  .chorePending {
    justify-content: start;
    margin-bottom: 15px;
    .taskAndTo {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 10px;
      margin-right: 10px;
      min-width: 25%;
      flex: 1;
      .task {
        font-size: 16px;
        margin-bottom: 5px;
      }
      .to {
        font-size: 12px;
      }
    }
    .completionIcon {
      margin: 0;
      .compIcon {
        margin: 0;
      }
    }
    .time {
      display: flex;
      font-size: 13px;
      font-weight: 400;
      margin-right: 10px;
      width: 90px;
      height: 100%;
      margin: 0 4%;
      svg {
        width: 30px;
        margin-right: 5px;
      }
    }
    .button {
      background: #4166eb;
      border-radius: 8px;
      color: white;
      height: 65%;
      max-width: 91px;
      width: 15%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      margin-right: 15px;
      transition: all 0.3s ease;
      margin: 0 2%;
      &:hover {
        background-color: #ffffff;
        color: #4166eb;
        border: 1px solid #4166eb;
      }
    }
    .removebutton {
      background: rgba(255, 98, 99, 1);
      border-radius: 8px;
      color: white;
      height: 40px;
      width: 40px;
      display: flex;
      justify-content: center;
      margin-right: 10px;
      align-items: center;
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover {
        fill: rgba(255, 98, 99, 1);

        path {
          fill: rgba(255, 98, 99, 1);
        }
        background-color: #ffffff;
        color: rgba(255, 98, 99, 1);
        border: 1px solid rgba(255, 98, 99, 1);
      }
    }
  }
}
@media only screen and (max-width: 860px) {
  .chorePending {
    position: relative;
    img {
      margin-right: 2px;
    }
    .taskAndTo {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-left: 10px;
      margin-right: 5px;
      min-width: 70px;
      width: fit-content;
      padding-top: 5px;
      .task {
        font-size: 16px;
        font-weight: 500;
      }
      .to {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        color: #828282;
      }
    }
    .time {
      display: flex;
      align-items: center;
      font-size: 10px;
      font-weight: 400;
      margin-right: 10px;
      margin-right: 5px;
      position: absolute;
      left: 75px;
      bottom: 15px;
      color: #828282;
      svg {
        margin-right: 3px;
        width: 8px;
        path {
          fill: #828282;
        }
      }
    }
    .button {
      flex: 0.5;
      margin: 0;
      height: 35px;
      width: fit-content;
      padding: 5px;
      min-width: 100px;
      margin-right: 10px;
      max-width: 150px;
      margin-left: auto;
    }
    .more {
      max-width: 5px;
      display: -moz-box;
      display: flex;
      -moz-box-pack: center;
      justify-content: center;
      -moz-box-align: center;
      align-items: center;
      height: 100%;
      cursor: pointer;
      margin-left: 15px;
      margin-right: 10px;
    }
  }
}

@media only screen and (max-width: 500px) {
  .chorePending {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: white;
    padding: 0 5px;
    height: 60px;
    justify-content: space-between;
    border-radius: 10px;
    margin-bottom: 10px;
    position: relative;
    img {
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 8px;
      margin-right: 2px;
    }
    .taskAndTo {
      height: 100%;
      display: flex;
      padding: 12px 0;
      flex-direction: column;
      justify-content: flex-start;
      margin-left: 5px;
      margin-right: 5px;
      min-width: 30%;
      flex: 1;
      .task {
        font-size: 12px;
        font-weight: 500;
      }
      .to {
        margin-top: 1px;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        color: #828282;
      }
    }
    .completionIcon {
      display: flex;
      align-items: center;
      max-width: fit-content;
      margin-right: 10px;
      svg {
        width: 15px;
      }
      .compIcon {
        width: 10px;
      }
    }
    .time {
      display: flex;
      align-items: center;
      font-size: 8px;
      font-weight: 400;
      margin-right: 5px;
      position: absolute;
      left: 60px;
      bottom: 6px;
      p {
        color: #828282;
        width: fit-content;
      }
      svg {
        margin-right: 2px;
        fill: #828282;
        width: 7px;
        path {
          fill: #828282;
        }
      }
    }
    .button {
      flex: none;
      background: #4166eb;
      border-radius: 6px;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      font-size: 10px;
      transition: all 0.3s ease;
      margin-right: 0;
      height: 30px;
      width: fit-content;
      max-width: unset;
      padding: 0 10px;
      min-width: unset;
      &:hover {
        background-color: #ffffff;
        color: #4166eb;
        border: 1px solid #4166eb;
      }
    }
    .removebutton {
      height: 30px;
      width: 30px;
    }
    .more {
      max-width: 5px;
      margin: 0 10px 0 10px;
      .menuicon {
        pointer-events: none;
      }
      svg {
        width: 10px;
        height: 15px;
      }
    }
  }
}
@media only screen and (max-width: 370px) {
  .chorePending {
    .taskAndTo {
      max-width: 35%;
      min-width: 35%;
    }
    .time {
      left: 63px;
    }
  }
}
