.choreModal {
  position: absolute;
  z-index: 5;
  .choreModalWrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 7vh;
    .choreModalcontainer {
      display: flex;
      align-items: center;
      flex-direction: column;
      z-index: 6;
      background-color: white;
      height: fit-content;
      min-height: 400px;
      padding: 4rem;
      border-radius: 3rem;
      position: relative;
      transition: all 0.3s ease;
    }
    .background {
      position: absolute;
      z-index: 4;
      background-color: rgba(0, 0, 0, 0.19);
      width: 100vw;
      cursor: pointer;
      height: 100vh;
      top: 0;
      left: 0;
    }
  }
}

@media only screen and (max-width: 860px) {
  .choreModal {
    top: 0;
    position: fixed;
    z-index: 201;
    .choreModalWrapper {
      padding-top: 0;
      .choreModalcontainer {
        width: 80vw;
        padding: 26px 18px 26px;
        border-radius: 20px;
        height: fit-content;
      }
      .background {
        position: absolute;
        z-index: 5;
        background-color: rgba(0, 0, 0, 0.19);
        width: 100vw;
        cursor: pointer;
        height: 100vh;
        top: 0;
        left: 0;
      }
    }
  }
}
