.choreTemplateSelection {
  width: 100%;
  .header {
    display: flex;
    align-items: center;
    height: fit-content;
    margin-bottom: 20px;
    svg {
      cursor: pointer;
    }
    .text {
      margin-left: 10px;
      font-size: 24px;
      font-weight: 500;
      .heading {
        color: rgba(167, 167, 167, 1);
      }
    }
  }
  .wrapper {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    border-radius: 10px;
    flex-wrap: wrap;
    .card {
      display: flex;
      align-items: center;
      margin-bottom: 12px;
      padding: 10px 20px;
      border-radius: 20px;
      width: 100%;
      border: 1px solid rgba(107, 107, 107, 1);
      img {
        width: 64px;
        height: 64px;
        object-fit: cover;
        border-radius: 12px;
        margin-right: 20px;
      }
      .text {
        display: flex;
        flex-direction: column;
        flex: 1;
        height: 100%;
        .name {
          font-size: 18px;
          font-weight: 500;
        }
        .time {
          font-size: 14px;
          font-weight: 400;
          color: rgba(130, 130, 130, 1);
        }
      }
      .button {
        display: flex;
        align-items: center;
        justify-content: center;
        background: hsl(227, 81%, 59%);
        border-radius: 8px;
        width: 125px;
        height: 40px;
        color: white;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
          background: hsl(227, 91%, 59%);
        }
      }
    }
  }
}
@media only screen and (max-width: 860px) {
  .choreTemplateSelection {
    width: 100%;
    .header {
      svg {
        width: 15px;
      }
      .text {
        font-size: 18px;
      }
    }
    .wrapper {
      .card {
        margin-bottom: 10px;
        padding: 5px 5px;
        border-radius: 10px;
        img {
          width: 50px;
          height: 50px;
          border-radius: 10px;
          margin-right: 10px;
        }
        .text {
          padding-top: 5px;
          .name {
            font-size: 12px;
            font-weight: 500;
          }
          .time {
            font-size: 10px;
            font-weight: 400;
            color: rgba(130, 130, 130, 1);
          }
        }
        .button {
          display: flex;
          align-items: center;
          justify-content: center;
          background: hsl(227, 81%, 59%);
          border-radius: 8px;
          width: 30%;
          min-width: 60px;
          height: 35px;
          color: white;
          cursor: pointer;
          font-size: 10px;
          transition: all 0.3s ease;
          &:hover {
            background: hsl(227, 91%, 59%);
          }
        }
      }
    }
  }
}
