.reject {
  display: flex;
  width: 100vw;
  overflow: hidden;
  height: 100vh;
  position: fixed;
  z-index: 2000;
  align-items: center;
  justify-content: center;
  .background {
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
  }
  .cross {
    position: fixed;
    top: 10%;
    right: 15%;
    z-index: 100;
    background-color: white;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .icon {
      font-size: 40px;
      color: rgb(255, 109, 109);
      transition: all 0.3s ease;
      &:hover {
        color: hsl(0, 75%, 65%);
        cursor: pointer;
      }
    }
  }
  .main {
    overflow-y: auto;
    padding: 30px 40px 0px;
    display: flex;
    background-color: white;
    border-radius: 10px;
    flex-direction: column;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    .heading {
      font-size: 26px;
      font-weight: 600;
    }
    .subheading {
      font-size: 16px;
      margin-top: 10px;
    }
    .err {
      color: hsl(0, 75%, 65%);
      width: 100%;
      margin-top: 10px;
      font-size: 14px;
    }
    .flexTop {
      display: flex;
      align-items: center;
      overflow-x: auto;
      width: 100%;
      gap: 20px;
      scroll-behavior: smooth;
      flex: 1;
      margin: 20px 0 30px;
      .delete,
      .reschedule {
        background-color: #ff6263;
        width: 50%;
        padding: 15px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        color: white;
        font-size: 14px;
        cursor: pointer;
      }
      .reschedule {
        background-color: rgb(236, 236, 236);
        color: black;
      }
    }
    .flexBottom {
      display: flex;
      align-items: center;
      flex-direction: column;
      overflow-x: auto;
      justify-content: space-between;
      width: 100%;
      gap: 20px;
      scroll-behavior: smooth;
      flex: 1;
      margin: 20px 0 30px;
      .top {
        align-items: center;
        width: 100%;
        justify-content: space-between;
        display: flex;
        .title {
          height: 100%;
          display: flex;
          align-items: center;
          font-size: 16px;
        }
        input {
          height: 49px;
          font-size: 18px;
          font-family: "Lexend", sans-serif;
          font-weight: 500;
          border: 1px solid #898989;
          border-radius: 8px;
          padding: 0 20px;
          cursor: pointer;
          text-align: center;
          &:focus {
            outline: none;
          }
        }
      }

      .btn {
        background-color: #ff6263;
        width: 100%;
        padding: 15px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        color: white;
        font-size: 14px;
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width: 860px) {
  .reject {
    .cross {
      position: fixed;
      top: 10%;
      right: 15%;
      z-index: 100;
      background-color: white;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .icon {
        font-size: 40px;
        color: rgb(255, 109, 109);
        transition: all 0.3s ease;
        &:hover {
          color: hsl(0, 75%, 65%);
          cursor: pointer;
        }
      }
    }
    .main {
      overflow-y: auto;
      padding: 30px 40px 0px;
      display: flex;
      background-color: white;
      border-radius: 10px;
      flex-direction: column;
      width: 80vw;
      height: 80vh;
      margin-top: 15vh;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      .heading {
        font-size: 26px;
        font-weight: 600;
      }
      .flexTop {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-x: auto;
        gap: 20px;
        scroll-behavior: smooth;
        flex: 1;
        margin: 40px 0;
        padding-bottom: 40px;
        .level {
          width: 350px;
          height: 380px;
          background-color: rgb(241, 241, 241);
          border-radius: 12px;
          user-select: none;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-bottom: 40px;
          img {
            width: 250px;
          }
          .levelName {
            font-weight: bold;
            width: 100%;
            text-align: center;
          }
          .chorecompleted {
            width: 100%;
            text-align: center;
            margin-top: 10px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 500px) {
  .reject {
    display: flex;
    width: 100vw;
    overflow: hidden;
    height: 100vh;
    .contentWrapper {
      overflow: hidden;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      .mainContent {
        flex: 1;
        overflow-y: auto;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        .flexTop {
          display: flex;
          flex-direction: column;
          align-items: center;
          background-color: white;
          border-radius: 8px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          padding: 20px;
          overflow-x: auto;
          gap: 20px;
          scroll-behavior: smooth;
          flex: 1;
          margin: 0;
          .level {
            width: 100%;
            background-color: rgb(241, 241, 241);
            border-radius: 12px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 40px;
            img {
              width: 250px;
            }
            .levelName {
              font-weight: bold;
              width: 100%;
              text-align: center;
            }
          }
        }
      }
    }
  }
}
