.mainPage {
    position: relative;
    .curve{
        position: absolute;
        margin-top: 6vh;
        right: 5%;
        transform: rotate(15deg);
        svg{
          width: 15rem;
        }
    }
    .circle{
        position: absolute;
        left:10%;
        top:-2vh;
        svg{
          width: 35rem;
        }
    }
    .circle2{
        position: absolute;
        top:80vh;
        right:10%;
        svg{
          width: 15rem;
        }
    }
    .circle3{
        position: absolute;
        top:80vh;
        left:0%;
        svg{
          width: 20rem;
        }
    }
    .wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: #4067eb;
      padding:8rem;
      .subheading{
        color:#fff;
        margin-top: 2rem;
        font-size: 1.5rem;
        font-weight: 600;
      }
      .resetPassword{
        background: #fff;
        color: #4067eb;
        padding: 0.7rem 3rem;
        margin-top: 2rem;
        border-radius: 0.8rem;
        font-size: 1.2rem;
        font-weight: 600;
        cursor: pointer;
        &:hover{
            color:#fff;
            background-color: #4067eb;
            border:5px #fff solid;
            padding: 0.4rem 2.8rem;
        }
    }
    }
    .uptoDate{
        margin-top: 2rem;
        color:white;
        .brandtext {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            .socials{
                display: flex;
                min-width: 100%;
                justify-content: center;
                gap:2rem;
                margin-left: -1.5rem;
                margin-top: 1rem;
            }
            .social{
                color:white;
                font-size: 3rem;
            }
        }
    }
    .resetContainer{
        position: relative;
        .error {
            font-weight: 500;
            font-size: 0.9375rem;
            color: #ff6263;
            text-align: center;
            margin-top: 1rem;
            position: absolute;
            left:-2.2rem;
            width: 150%;
        }  
       
        .resetPassword{
            background: #fff;
            color: #4067eb;
            padding: 0.7rem 3rem;
            margin-top: 2rem;
            border-radius: 0.8rem;
            font-size: 1.2rem;
            font-weight: 600;
            &:hover{
                color:#fff;
                background-color: #4067eb;
                border:5px #fff solid;
                padding: 0.4rem 2.8rem;
            }
        }
    } 

    .heading{
        color:white;
        padding: 1rem 3rem;
        margin: 0 -3rem;
        font-size: 4rem;
        font-weight: 700;
        margin-top: 8rem;
        border-bottom: 1px white solid;
    }
    .resetpasswordContainer{
        display: flex;
        margin-top: 2rem;
        gap:1rem;
        .detailPass {
            display: flex;
            position: absolute;
            flex-direction: column;
            background-color: white;
            border-radius: 12px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            top: -2rem;
            padding-top: 15px;
            left: -120%;
            z-index: 2;
            transform: translateX(50%);
            animation: fade 0.3s ease;
            .arrow {
              position: absolute;
              top: 10%;
              right: -10%;
              transform: rotate(45deg);
              background-color: white;
              z-index: -5;
              width: 4rem;
              height: 4rem;
            }
            .tab {
              display: flex;
              width: 100%;
              align-items: center;
              background-color: white;
              padding: 0 20px;
              padding-bottom: 10px;
              border-radius: 12px;
              z-index: 2;
              &:last-child {
                padding-bottom: 20px;
              }
              svg {
                width: 15px;
                height: 15px;
              }
              p {
                margin-left: 6px;
                font-size: 0.9375rem;
              }
            }
            .white {
              background-color: white;
              width: 100%;
              border-radius: 12px;
              height: 15px;
            }
          }
        .resetpass{
        display: flex;
        position: relative;
        align-items: center;
        input {
            height: 49px;
            width: 100%;
            font-size: 1.125rem;
            font-family: "Lexend", sans-serif;
            font-weight: 500;
            border: 1px solid #030303;
            border-radius: 8px;
            padding: 0 20px;
            margin: 0 !important;
            &:focus {
              outline: none;
            }
          }
                .show{
                    position: absolute;
                    right: 0.5rem;
                    color:#4067eb;
                }
        }
      }
    }
    // mobile
@media screen and (max-width:500px) {
  .mainPage{
    width: 100vw;
    .curve{
      svg{
        width: 7.5rem;
      }
    }
    .circle{
      top:-2vh;
      svg{
        width: 20rem;
      }
    }
    .circle2{
      svg{
        width:8rem;
      }
    }
    .circle3{
      left:-10%;
      svg{
        width:12rem;
      }
    }
    .wrapper{
      .heading{
        font-size: 2rem;
      }
      .resetpasswordContainer{
        display: flex;
        position: relative;
        flex-direction: column;
      }}
    }
  }
  //tablet
  @media screen and (max-width:1000px)  and (min-width:500px)  {
    .mainPage{
      width: 100vw;
    .curve{
      right:10%;
      svg{
        width: 10rem;
      }
    }
    .circle{
      top:2vh;
      left:10%;
      svg{
        width: 25rem;
      }
    }
    .circle2{
      svg{
        width:10rem;
      }
    }
    .circle3{
      left:-10%;
      svg{
        width:15rem;
      }
    }
    .wrapper{
      .heading{
        font-size: 2.5rem;
      }
      .resetpasswordContainer{
        display: flex;
        position: relative;
        flex-direction: column;
      }}
  }
}