.choreComponent {
  display: flex;
  width: 100%;
  max-width: 950px;
  align-items: center;
  background-color: white;
  padding: 10px;
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 0px 13.3978px 24.8817px rgb(8 60 194 / 15%);
  img {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 10px;
  }
  .taskAndTo {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 26%;
    .task {
      font-size: 18px;
      font-weight: 500;
    }
    .to {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      color: #828282;
    }
  }
  .completionIcon {
    flex: 0.4;
  }
  .time {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 400;
    margin-right: 10px;
    text-align: center;
    justify-content: center;
    flex: 1;
    svg {
      margin-right: 5px;
    }
  }
  .button {
    background: #4166eb;
    border-radius: 8px;
    color: white;
    height: 65%;
    width: 15%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      background-color: #ffffff;
      color: #4166eb;
      border: 1px solid #4166eb;
    }
  }
  .more {
    flex: 1;
    max-width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer;
    position: relative;
    .menu {
      position: absolute;
      right: -30px;
      top: -40px;
      width: 100px;
      height: 40px;
      background-color: white;
      border-radius: 8px;
      border: 1px solid rgb(228, 228, 228);
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      .menutab {
        width: 100px;
        height: 40px;
        color: rgb(8, 8, 8);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    &:hover {
      svg {
        transition: all 0.3s ease;
        circle {
          fill: rgb(41, 41, 41);
        }
      }
    }
  }
}

@media only screen and (max-width: 1378px) {
  .choreComponent {
    .taskAndTo {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 10px;
      margin-right: 10px;
      min-width: 70px;
      .task {
        font-size: 16px;
        font-weight: 500;
      }
      .to {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        color: #828282;
      }
    }
    .completionIcon {
      .compIcon {
        margin-right: 10px;
      }
    }
    .time {
      display: flex;
      align-items: center;
      font-size: 13px;
      font-weight: 400;
      margin-right: 10px;
      svg {
        margin-right: 5px;
      }
    }
    .button {
      background: #4166eb;
      border-radius: 8px;
      color: white;
      height: 65%;
      width: 15%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover {
        background-color: #ffffff;
        color: #4166eb;
        border: 1px solid #4166eb;
      }
    }
    .more {
      flex: 1;
      max-width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      cursor: pointer;
      &:hover {
        svg {
          transition: all 0.3s ease;
          circle {
            fill: rgb(41, 41, 41);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 860px) {
  .choreComponent {
    position: relative;
    img {
      margin-right: 2px;
    }
    .taskAndTo {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-left: 10px;
      margin-right: 5px;
      min-width: 70px;
      width: fit-content;
      padding-top: 5px;
      .task {
        font-size: 16px;
        font-weight: 500;
      }
      .to {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        color: #828282;
      }
    }
    .time {
      display: flex;
      align-items: center;
      font-size: 10px;
      font-weight: 400;
      margin-right: 10px;
      margin-right: 5px;
      position: absolute;
      left: 85px;
      bottom: 10px;
      color: #828282;
      svg {
        margin-right: 3px;
        width: 8px;
        path {
          fill: #828282;
        }
      }
    }
    .completionIcon {
      flex: 1;
      display: flex;
      justify-content: center;
      .compIcon {
        margin-right: 10px;
        width: 20px;
      }
    }
    .button {
      flex: 0.5;
      margin: 0;
      height: 35px;
      width: fit-content;
      padding: 5px;
      min-width: 100px;
      margin-right: 5%;
    }
    .more {
      max-width: 5px;
      display: -moz-box;
      display: flex;
      -moz-box-pack: center;
      justify-content: center;
      -moz-box-align: center;
      align-items: center;
      height: 100%;
      cursor: pointer;
      margin-left: 15px;
      margin-right: 10px;
    }
  }
}

@media only screen and (max-width: 500px) {
  .choreComponent {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: white;
    padding: 0 5px;
    justify-content: space-between;
    border-radius: 10px;
    margin-bottom: 10px;
    position: relative;
    img {
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 8px;
      margin-right: 2px;
    }
    .taskAndTo {
      height: 100%;
      display: flex;
      padding: 12px 0;
      flex-direction: column;
      justify-content: flex-start;
      margin-left: 5px;
      margin-right: 5px;
      min-width: 30%;
      flex: 1;
      .task {
        font-size: 12px;
        font-weight: 500;
      }
      .to {
        margin-top: 1px;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        color: #828282;
      }
    }
    .completionIcon {
      display: flex;
      align-items: center;
      max-width: fit-content;
      margin-right: 10px;
      svg {
        width: 15px;
      }
      .compIcon {
        width: 10px;
      }
    }
    .time {
      display: flex;
      align-items: center;
      font-size: 8px;
      font-weight: 400;
      margin-right: 5px;
      position: absolute;
      left: 60px;
      p {
        color: #828282;
        width: fit-content;
      }
      svg {
        margin-right: 2px;
        fill: #828282;
        width: 7px;
        path {
          fill: #828282;
        }
      }
    }
    .button {
      flex: none;
      background: #4166eb;
      border-radius: 6px;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      font-size: 10px;
      transition: all 0.3s ease;
      margin-right: 0;
      height: 30px;
      width: fit-content;
      max-width: unset;
      padding: 0 10px;
      min-width: unset;
      &:hover {
        background-color: #ffffff;
        color: #4166eb;
        border: 1px solid #4166eb;
      }
    }
    .more {
      max-width: 5px;
      margin: 0 10px 0 10px;
      .menuicon {
        pointer-events: none;
      }
      svg {
        width: 10px;
        height: 15px;
      }
    }
  }
}
@media only screen and (max-width: 370px) {
  .choreComponent {
    .taskAndTo {
      max-width: 35%;
      min-width: 35%;
    }
    .time {
      left: 63px;
    }
  }
}
