.choremenu {
  position: absolute;
  top: -10px;
  right: -5px;
  z-index: 20;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 15px;
  width: 150px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  .tab {
    margin-bottom: 10px;
    padding: 10px;
    transition: all 0.2s ease;
    border-radius: 8px;
    font-size: 15px;
    color: rgb(73, 73, 73);
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: flex-start;
    text-align: left;
    &:hover {
      background-color: rgb(245, 245, 245);
    }
  }
  .tab:last-child {
    margin-bottom: 0;
  }
}
