@use "../variables/fontsizes.scss" as *;
@use "../variables/colors.scss" as *;

.dashboardLeftPanel {
  height: 100vh;
  min-width: 350px;
  width: 30vw;
  max-width: 350px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    width: 0px;
  }
  padding-top: 40px;
  box-shadow: 0px 26px 74px rgba(0, 0, 0, 0.1);
  .dashboardLogo {
    cursor: pointer;
  }
  .miniLogo {
    width: 80%;
    height: 3rem;
    z-index: 1;
    margin-top: 0px;
    cursor: pointer;
  }
  .tabContainer {
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    margin-bottom: 50px;
    .tab {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 15%;
      padding-right: 15%;
      min-height: 60px;
      cursor: pointer;
      transition: all 0.3s ease;
      .icon {
        padding: 7px;
        width: 40px;
        height: 40px;
        object-fit: contain;
        color: #4f4f4f;
        g {
          path {
            fill: #4f4f4f;
          }
        }
      }
      .partnericon {
        font-size: 26px;
        width: 40px;
        height: 40px;
        padding: 7px;
        color: #4f4f4f;
      }
      .tabtitle {
        flex: 1;
        display: flex;
        align-items: center;
        margin-left: 15%;
        font-weight: bold;
        font-size: 16px;
        letter-spacing: 0.429323px;
        color: #000000;
      }
      &:hover {
        background: linear-gradient(
          90deg,
          rgba(246, 246, 246, 1) 0%,
          rgba(246, 246, 246, 1) 99%,
          rgb(206, 206, 206) 99%
        );
      }
    }
    .activetab {
      background: rgb(246, 246, 246);
      background: linear-gradient(
        90deg,
        rgba(246, 246, 246, 1) 0%,
        rgba(246, 246, 246, 1) 99%,
        rgba(65, 102, 235, 1) 99%
      );
      svg {
        path {
          fill: #4166eb;
        }
        g {
          path {
            fill: #4166eb !important;
          }
        }
      }
      rect,
      circle {
        stroke: #4166eb;
      }
    }
  }
  .bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    .logo {
      width: 180px;
      cursor: pointer;
      height: fit-content;
    }
    .brandtext {
      flex-direction: column;
      display: flex;
      align-items: center;
      width: 100%;
      .socials {
        margin-bottom: 10px;
      }
      .copyright {
        font-size: 12px;
      }
      .heading {
        font-size: 15px;
      }
      .subheadings {
        font-size: 15px;
        margin-top: 10px;
        display: flex;
        align-items: center;
        a {
          text-decoration: none;
          color: #4166eb;
          margin-right: 5px;
          &:last-child {
            margin: 0;
            margin-left: 5px;
          }
        }
      }
      .whatsapp {
        background-color: #21d864;
        padding: 15px;
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        color: white;
        font-weight: 500;
        text-decoration: none;
        font-size: 13px;
        cursor: pointer;
        transition: all 0.3s ease;
        .icon {
          font-size: 22px;
          margin-right: 8px;
        }
        &:hover {
          background-color: #075e54;
        }
      }
      .terms {
        display: flex;
        font-size: 12px;
        margin-top: 10px;
        margin-bottom: 10px;
        p {
          cursor: pointer;
          &:first-child {
            margin-right: 10px;
          }
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    .socials {
      display: flex;
      height: fit-content;
      overflow: auto;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      .social {
        cursor: pointer;
        margin-right: 25px;
        height: 20px;
      }
      .socialyt {
        width: 25px;
        cursor: pointer;
        margin-right: 25px;
        height: 25px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
.fixed {
  position: fixed;
}
.dashboardDark {
  background-color: $d-moredark;
  box-shadow: 0px 26px 74px $d-main;
  .tabContainer {
    .tab {
      .icon {
        g {
          path {
            fill: $d-text2;
          }
        }
      }
      .partnericon {
        color: $d-text2;
      }
      .tabtitle {
        color: $d-text2;
      }
      &:hover {
        background: linear-gradient(
          90deg,
          $d-main 0%,
          $d-main 99%,
          rgb(206, 206, 206) 99%
        );
      }
    }
    .activetab {
      background: $d-main;
      background: linear-gradient(
        90deg,
        $d-main 0%,
        $d-main 99%,
        rgba(65, 102, 235, 1) 99%
      );
      svg {
        path {
          fill: #4166eb;
        }
        g {
          path {
            fill: #4166eb !important;
          }
        }
      }
      rect,
      circle {
        stroke: #4166eb;
      }
    }
  }
  .bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    .logo {
      width: 180px;
      cursor: pointer;
      height: fit-content;
    }
    .brandtext {
      flex-direction: column;
      display: flex;
      align-items: center;
      width: 100%;
      .socials {
        margin-bottom: 10px;
      }
      .copyright {
        font-size: 12px;
      }
      .heading {
        font-size: 15px;
      }
      .subheadings {
        font-size: 15px;
        margin-top: 10px;
        display: flex;
        align-items: center;
        a {
          text-decoration: none;
          color: #4166eb;
          margin-right: 5px;
          &:last-child {
            margin: 0;
            margin-left: 5px;
          }
        }
      }
      .whatsapp {
        background-color: #21d864;
        padding: 15px;
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        color: white;
        font-weight: 500;
        text-decoration: none;
        font-size: 13px;
        cursor: pointer;
        transition: all 0.3s ease;
        .icon {
          font-size: 22px;
          margin-right: 8px;
        }
        &:hover {
          background-color: #075e54;
        }
      }
      .terms {
        display: flex;
        font-size: 12px;
        margin-top: 10px;
        margin-bottom: 10px;
        p {
          cursor: pointer;
          &:first-child {
            margin-right: 10px;
          }
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    .socials {
      display: flex;
      height: fit-content;
      overflow: auto;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      .social {
        cursor: pointer;
        margin-right: 25px;
        width: 20px;
        height: 20px;
      }
      .socialyt {
        width: 25px;
        cursor: pointer;
        margin-right: 25px;
        height: 25px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
@media only screen and (max-width: 1300px) {
  .dashboardLeftPanel {
    height: 100vh;
    min-width: 80px;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    box-shadow: 0px 26px 74px rgba(0, 0, 0, 0.1);
    .bottom {
      display: none;
    }
    .tabContainer {
      width: 100%;
      margin-top: 50px;
      display: flex;
      align-items: center;
      flex-direction: column;
      .tab {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 15%;
        padding-right: 15%;
        height: 60px;
        cursor: pointer;
        transition: all 0.3s ease;
        margin-bottom: 20px;
        .icon {
          padding: 7px;
          width: 40px;
          height: 40px;
          object-fit: contain;
        }
        .tabtitle {
          flex: 1;
          display: flex;
          align-items: center;
          margin-left: 15%;
          font-weight: bold;
          font-size: 16px;
          letter-spacing: 0.429323px;
          display: none;
        }
      }
    }
  }
}

@media only screen and (min-width: 900px) and (max-height: 900px) {
  .dashboardLeftPanel {
    max-width: 280px;
    min-width: 280px;
    width: 280px;
    padding-top: 25px;
    .dashboardLogo {
      cursor: pointer;
      width: 150px;
    }
    .tabContainer {
      margin-top: 20px;
      margin-bottom: 00px;
      justify-content: center;
      .tab {
        min-height: 45px;
        .icon {
          width: 40px;
          height: 40px;
        }
        .tabtitle {
          flex: 1;
          display: flex;
          align-items: center;
          margin-left: 15%;
          font-weight: 600;
          font-size: 14px;
          letter-spacing: 0.429323px;
          color: #000000;
        }
        &:hover {
          background: linear-gradient(
            90deg,
            rgba(246, 246, 246, 1) 0%,
            rgba(246, 246, 246, 1) 99%,
            rgb(206, 206, 206) 99%
          );
        }
      }
      .activetab {
        background: rgb(246, 246, 246);
        background: linear-gradient(
          90deg,
          rgba(246, 246, 246, 1) 0%,
          rgba(246, 246, 246, 1) 99%,
          rgba(65, 102, 235, 1) 99%
        );
        svg {
          path {
            fill: #4166eb;
          }
          g {
            path {
              fill: #4166eb !important;
            }
          }
        }
        rect,
        circle {
          stroke: #4166eb;
        }
      }
    }
  }
}
@media only screen and (max-width: 1300px) and (max-height: 900px) {
  .dashboardLeftPanel {
    height: 100vh;
    min-width: 80px;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    box-shadow: 0px 26px 74px rgba(0, 0, 0, 0.1);
    .bottom {
      display: none;
    }
    .tabContainer {
      width: 100%;
      padding-top: 50px;
      display: flex;
      align-items: center;
      flex-direction: column;
      .tab {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 15%;
        padding-right: 15%;
        min-height: 60px;
        cursor: pointer;
        transition: all 0.3s ease;
        margin-bottom: 20px;
        .icon {
          padding: 7px;
          width: 40px;
          height: 40px;
          object-fit: contain;
        }
        .tabtitle {
          flex: 1;
          display: flex;
          align-items: center;
          margin-left: 15%;
          font-weight: bold;
          font-size: 16px;
          letter-spacing: 0.429323px;
          display: none;
        }
      }
    }
  }
}
@media only screen and (max-width: 860px) {
  .dashboardLeftPanel {
    height: 100vh;
    min-width: 55px;
    width: 55px;
    padding-top: 30px;
    .dashboardLogo {
      width: 70%;
      height: fit-content;
    }
  }
}

@media only screen and (max-width: 860px) and (max-height: 1000px) {
  .dashboardLeftPanel {
    height: auto;
    min-width: 55px;
    width: 55px;
    padding-top: 30px;
    .dashboardLogo {
      width: 70%;
      height: fit-content;
    }
  }
}

@media only screen and (max-width: 374px) {
  .dashboardLeftPanel {
    height: 100vh;
    min-width: 45px;
    width: 45px;
    padding-top: 20px;
    .dashboardLogo {
      width: 70%;
      height: fit-content;
    }
    .tabContainer {
      .tab {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 15%;
        padding-right: 15%;
        min-height: 40px;
        cursor: pointer;
        transition: all 0.3s ease;
        margin-bottom: 20px;
        .icon {
          padding: 7px;
          width: 40px;
          height: 40px;
          object-fit: contain;
        }
      }
    }
  }
}
@media only screen and (orientation: landscape) and (max-height: 500px) {
  .dashboardLeftPanel {
    height: 100vh;
    min-width: 80px;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    .miniLogo {
      width: 50%;
      height: fit-content;
    }
    .bottom {
      display: none;
    }
    .tabContainer {
      width: 100%;
      margin-top: 10vh;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      .tab {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px;
        height: fit-content;
        cursor: pointer;
        transition: all 0.3s ease;
        margin-bottom: 10px;
        .icon {
          padding: 10px;
          width: 60%;
          height: auto;
          aspect-ratio: 1;
          object-fit: contain;
        }
        .tabtitle {
          flex: 1;
          display: flex;
          align-items: center;
          margin-left: 15%;
          font-weight: bold;
          font-size: 16px;
          letter-spacing: 0.429323px;
          display: none;
        }
      }
      .activetab {
      }
    }
  }
}
@media only screen and (orientation: landscape) and (max-width: 900px) {
  .dashboardLeftPanel {
    height: auto;
    min-width: 80px;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    .miniLogo {
      width: 50%;
      height: fit-content;
    }
    .bottom {
      display: none;
    }
    .tabContainer {
      width: 100%;
      margin-top: 10vh;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      .tab {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px;
        height: fit-content;
        cursor: pointer;
        transition: all 0.3s ease;
        margin-bottom: 10px;
        .icon {
          padding: 10px;
          width: 60%;
          height: auto;
          aspect-ratio: 1;
          object-fit: contain;
        }
        .tabtitle {
          flex: 1;
          display: flex;
          align-items: center;
          margin-left: 15%;
          font-weight: bold;
          font-size: 16px;
          letter-spacing: 0.429323px;

          display: none;
        }
      }
    }
  }
}
