.dashboardGames {
  margin: 2rem 0rem 3rem 0rem;
  .mainheading {
    font-weight: 500;
    font-size: 25px;
    color: rgba(87, 88, 128, 1);
    display: flex;
    align-items: center;
    padding: 1.25rem 3rem;
    svg {
      margin-left: 10px;
    }
  }
  .container{    
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 2rem 3rem 4rem 3rem;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
// for tablets
@media only screen and (min-width: 501px) and (max-width: 990px) {
  .dashboardGames {
    margin-top: 1.5rem;
    .mainheading{
      padding: 1.25rem 1.25rem;
    }
    .container{
      padding: 2rem 1.25rem 4rem 1.25rem
    }
  }
}

// for mobile
@media only screen and (max-width: 500px) {
  .dashboardGames {
    margin-top: 1.5rem;
    .mainheading{
      padding: 1.25rem 1.25rem;
    }
    .container{
      padding: 2rem 1.25rem 4rem 1.25rem
    }
  }
}

