@use "../variables/fontsizes.scss" as *;

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes bell {
  0%,
  100% {
    transform: rotate(25deg);
  }
  50% {
    transform: rotate(-25deg);
  }
}
.dashboardHeader {
  height: 10vh;
  padding: 46px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  .dashboardHeading {
    font-size: 30px;
    font-weight: 400;
    span {
      align-items: center;
      font-weight: 500;
    }
    .addflex {
      svg {
        margin-right: 10px;
        cursor: pointer;
      }
      display: flex;
    }
  }
  .rightWrapper {
    display: flex;
    align-items: center;
    height: 100%;
    .rewardBlock {
      width: 20px;
      height: 20px;
      margin-right: 60px;
      display: flex;
      align-items: center;
      .svg {
        min-width: 30px;
        min-height: 30px;
        margin-right: 5px;
        path {
          fill: rgb(41, 41, 41);
        }
      }
      .number {
        font-size: 16px;
        font-weight: 500;
      }
    }
    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      margin-right: 20px;
      cursor: pointer;
      transition: all 0.3s ease;
    }
    .settings {
      svg {
        width: 22px;
      }
      &:hover {
        svg {
          transition: all 0.3s ease;
          color: rgb(80, 80, 80);
          path {
          }
        }
      }
    }
    .rotate {
      animation: rotate 1s ease infinite;
    }
    .bell {
      animation: bell 0.2s ease-in-out;
    }
    .notification {
      position: relative;

      .dot {
        width: 10px;
        height: 10px;
        border-radius: 50px;
        background-color: rgba(255, 122, 0, 1);
        border: 2px solid #e5e5e5;
        position: absolute;
        top: 15px;
        right: 15px;
      }
      &:hover {
        svg {
          path {
            transition: all 0.3s ease;
            fill: rgb(80, 80, 80);
          }
        }
      }
    }
    .avatar {
      width: 50px;
      height: 50px;
      position: relative;
      border-radius: 50px;
      cursor: pointer;
      user-select: none;
      transition: all 0.3s ease;
      outline-color: rgb(214, 214, 214);
      img {
        width: 100%;
        border-radius: 50px;
        height: 100%;
        transition: all 0.3s ease;
        object-fit: cover;
      }
      &:hover {
        outline: 1px solid rgb(214, 214, 214);

        img {
          opacity: 0.8;
        }
      }
    }
  }
}

@media only screen and (min-width: 900px) and (max-height: 900px) {
  .dashboardHeader {
    padding: 46px 26px 46px 26px;
    align-items: center;
  }
}
@media only screen and (max-width: 860px) {
  .dashboardHeader {
    height: 10vh;
    padding: 30px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    .dashboardHeading {
      font-size: 30px;
      font-weight: 400;
      margin-right: 10px;
      span {
        font-weight: 500;
      }
      .addflex {
        svg {
          width: 15px;
          margin-right: 10px;
        }
        display: flex;
      }
    }
    .rightWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: fit-content;
      .icon {
        width: 22px;
        height: 22px;
      }
      .settings {
        svg {
          width: 22px;
        }
      }
      .notification {
        position: relative;
        svg {
          width: 24px;
        }
        .dot {
          width: 5px;
          height: 5px;
          border-radius: 50px;
          background-color: rgba(255, 122, 0, 1);
          border: 2px solid #e5e5e5;
          position: absolute;
          top: 0px;
          right: 0px;
        }
        &:hover {
          svg {
            path {
              transition: all 0.3s ease;
              fill: rgb(80, 80, 80);
            }
          }
        }
      }
      .avatar {
        width: 50px;
        height: 50px;
      }
    }
  }
}
@media only screen and (max-width: 500px) {
  .dashboardHeader {
    height: 10vh;
    padding: 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    .dashboardHeading {
      font-size: 18px;
      font-weight: 400;
      margin-right: 10px;
      span {
        font-weight: 500;
      }
      .addflex {
        svg {
          width: 15px;
          margin-right: 10px;
        }
        display: flex;
      }
    }
    .rightWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: fit-content;
      .icon {
        width: 18px;
        height: 18px;
      }
      .rewardBlock {
        margin-right: 13vw;
        .svg {
          min-width: 20px;
          min-height: 20px;
        }
        .number {
          font-size: 12px;
        }
      }
      .settings {
        svg {
          width: 16px;
        }
      }
      .notification {
        position: relative;
        svg {
          width: 13px;
        }
        .dot {
          width: 8px;
          height: 8px;
          border-radius: 50px;
          background-color: rgba(255, 122, 0, 1);
          border: 2px solid #e5e5e5;
          position: absolute;
          top: 0px;
          right: 0px;
        }
        &:hover {
          svg {
            path {
              transition: all 0.3s ease;
              fill: rgb(80, 80, 80);
            }
          }
        }
      }
      .avatar {
        width: 30px;
        height: 30px;
      }
    }
  }
}
@media only screen and (orientation: landscape) and (max-height: 500px) {
  .dashboardHeader {
    height: fit-content;
    padding: 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    .dashboardHeading {
      font-size: $mobile-heading;
      font-weight: 400;
      margin-right: 10px;
      span {
        font-weight: 500;
      }
      .addflex {
        svg {
          width: 15px;
          margin-right: 10px;
        }
        display: flex;
      }
    }
    .rightWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: fit-content;
      .icon {
        width: $mobile-smallsubheading;
        height: $mobile-smallsubheading;
      }
      .rewardBlock {
        .svg {
          min-width: $mobile-smallsubheading;
          min-height: $mobile-smallsubheading;
        }
        .number {
          font-size: $mobile-smallsubheading;
        }
      }
      .settings {
        svg {
          width: $mobile-smallsubheading;
        }
      }
      .notification {
        position: relative;
        svg {
          width: $mobile-heading;
        }
        .dot {
          width: 10px;
          height: 10px;
          top: -2px;
          right: -2px;
        }
        &:hover {
          svg {
            path {
              transition: all 0.3s ease;
              fill: rgb(80, 80, 80);
            }
          }
        }
      }
      .avatar {
        width: 5vw;
        height: 5vw;
      }
    }
  }
}
@media only screen and (orientation: landscape) and (max-width: 900px) {
  .dashboardHeader {
    height: fit-content;
    padding: 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    .dashboardHeading {
      font-size: $mobile-heading;
      font-weight: 400;
      margin-right: 10px;
      span {
        font-weight: 500;
      }
      .addflex {
        svg {
          width: 15px;
          margin-right: 10px;
        }
        display: flex;
      }
    }
    .rightWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: fit-content;
      .icon {
        width: $mobile-smallsubheading;
        height: $mobile-smallsubheading;
      }
      .rewardBlock {
        .svg {
          min-width: $mobile-smallsubheading;
          min-height: $mobile-smallsubheading;
        }
        .number {
          font-size: $mobile-smallsubheading;
        }
      }
      .settings {
        svg {
          width: $mobile-smallsubheading;
        }
      }
      .notification {
        position: relative;
        svg {
          width: $mobile-heading;
        }
        .dot {
          width: 10px;
          height: 10px;
          top: -2px;
          right: -2px;
        }
        &:hover {
          svg {
            path {
              transition: all 0.3s ease;
              fill: rgb(80, 80, 80);
            }
          }
        }
      }
      .avatar {
        width: 5vw;
        height: 5vw;
      }
    }
  }
}
