.dashboard {
  background-color: #f4f5f7;
  height: 100vh;
  width: 100vw;
  display: flex;
  overflow: auto;
  .contentWrapper {
    height: 100vh;
    flex: 1;
    display: flex;
    width: 100%;
    overflow: auto;
    flex-direction: column;
    .mainContent {
      width: 100%;
      height: max-content;
      display: flex;
      overflow-y: auto;
      margin-top: 20px;
      scrollbar-width: thin;
      .flexLeft {
        display: flex;
        --height: 100vh;
        align-items: stretch;
        flex-direction: column;
        height: var(--height);
        width: 60%;
        max-width: 950px;
        padding: 0 10px 0 45px;
        .kidsSection {
          display: flex;
          flex-direction: column;
          .heading {
            font-weight: 500;
            font-size: 25px;
            color: rgba(87, 88, 128, 1);
            display: flex;
            align-items: center;
            cursor: pointer;
            svg {
              margin-left: 10px;
            }
          }
          .heads {
            display: flex;
            width: 100%;
            align-items: center;
            height: 64px;
            color: rgba(106, 106, 106, 1);
            font-size: 12px;
            font-weight: 400;
            padding: 0 10px;
            .blacnkhead1 {
              width: 64px;
              height: 100%;
              margin-right: 15px;
            }
            .head1 {
              margin-left: 0;
              width: 26%;
              max-width: 300px;
            }
            .head2 {
              flex: 1;
              text-align: center;
            }
            .head3 {
              width: 28%;
              margin: 0 15px 0 0;
            }
            .blacnkhead2 {
              max-width: 40px;
              margin-left: 15px;
              margin-right: 20px;
            }
          }
          .wrapper {
            padding: 0 20px 10px 0px;
          }
          .loadallkids {
            text-align: center;
            color: #6d6d6d;
            transition: all 0.3s ease;
            font-size: 16px;
            cursor: pointer;
            font-weight: 500;
            margin: 10px 0;
            &:hover {
              font-size: 18px;
              color: hsl(0, 0%, 0%);
            }
          }
          .addmorechild {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgb(235, 235, 235);
            cursor: pointer;
            height: 70px;
            padding: 10px;
            border-radius: 12px;
            margin-bottom: 20px;
            margin-top: 10px;
            transition: all 0.3s ease;
            p {
              text-align: center;
              color: #6d6d6d;
              transition: all 0.3s ease;
              font-size: 16px;
              font-weight: 500;
            }
            &:hover {
              p {
                font-size: 18px;
                color: hsl(0, 0%, 100%);
              }
              box-shadow: #4166eb 0px -70px 0px 0px inset;
            }
          }
          .scrollwrapper {
            height: 300px;
            overflow-y: auto;
            scrollbar-width: thin;
            padding-bottom: 0px;
            /* Chrome, Edge, and Safari */
            &::-webkit-scrollbar {
              width: 19px;
            }

            &::-webkit-scrollbar-track {
              background: #eaeef8;
            }

            &::-webkit-scrollbar-thumb {
              background-color: #ccd6f0;
              border-radius: 78px;
              border: 0px solid #ffffff;
            }
          }
        }
        .choreSection {
          margin-top: 15px;
          display: flex;
          height: 100%;
          flex-direction: column;
          .subheading {
            font-weight: 500;
            color: rgba(87, 88, 128, 1);
            font-size: 20px;
            margin-top: 15px;
            width: 100%;
            border-bottom: 1px solid rgba(87, 88, 128, 0.418);
            padding-bottom: 5px;
            cursor: pointer;
          }
          .heading {
            font-weight: 500;
            font-size: 25px;
            color: rgba(87, 88, 128, 1);
            display: flex;
            align-items: center;
            svg {
              margin-left: 10px;
            }
          }
          .loadall {
            text-align: center;
            color: #6d6d6d;
            transition: all 0.3s ease;
            font-size: 16px;
            cursor: pointer;
            font-weight: 500;
            margin: 10px 0;
            &:hover {
              font-size: 18px;
              color: hsl(0, 0%, 0%);
            }
          }
          .wrapper {
            margin-top: 20px;
            padding: 0 20px 10px 0px;
          }
        }
      }
      .flexRight {
        display: flex;
        flex-direction: column;
        height: fit-content;
        width: 40%;
        padding-right: 50px;
        padding-left: 10px;
        .gameSection {
          .heading {
            cursor: pointer;
            font-weight: 500;
            font-size: 25px;
            color: rgba(87, 88, 128, 1);
            display: flex;
            align-items: center;
            svg {
              margin-left: 10px;
            }
          }
          .wrapper {
            display: flex;
            height: fit-content;
            align-items: center;
            width: 100%;
            overflow-x: auto;
            padding-top: 20px;
            padding-bottom: 20px;
            scrollbar-width: thin;
            scroll-behavior: smooth;
            .gameitem {
              background: linear-gradient(
                  0deg,
                  rgba(241, 248, 255, 0.2),
                  rgba(241, 248, 255, 0.2)
                ),
                #ffffff;
              border-radius: 12px;
              cursor: pointer;
              min-width: 250px;
              height: 360px;
              font-family: "Roboto";
              font-weight: 500;
              border-radius: 12px;
              display: flex;
              flex-direction: column;
              align-items: center;
              margin-top: 0;
              margin-right: 20px;
              text-align: center;
              transition: all 0.3s ease;
              overflow: hidden;
              .calccardtitle {
                font-size: 18px;
                font-weight: 500;
                width: 100%;
                padding: 0 20px;
                text-align: left;
              }
              .calccardsubtitle {
                margin-top: 10px;
                font-size: 12px;
                font-weight: 400;
                width: 100%;
                text-align: left;
                padding: 0 20px;
                overflow: auto;
                scrollbar-width: thin;
              }
              .date {
                font-size: 11.4839px;
                margin-top: 6px;
                text-align: left;
                width: 100%;
                color: #848484;
              }
              border: 1px solid rgb(255, 255, 255);

              &:hover {
                border: 1px solid rgb(187, 187, 187);
              }
              img {
                height: auto;
                width: 100%;
                margin-bottom: 20px;
                object-fit: cover;
              }
            }
          }
        }
        .liveClassSection {
          flex: 1;
          margin-top: 20px;
          .heading {
            font-weight: 500;
            cursor: pointer;
            font-size: 25px;
            color: rgba(87, 88, 128, 1);
            display: flex;
            align-items: center;
            svg {
              margin-left: 10px;
            }
          }
          .wrapper {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-top: 20px;
            overflow: auto;
          }
          .scrollwrapper {
            height: 80%;
            padding: 0 20px 10px 0px;
            /* ===== Scrollbar CSS ===== */
            /* Firefox */
            scrollbar-width: thin;
            /* Chrome, Edge, and Safari */
            &::-webkit-scrollbar {
              width: 19px;
            }

            &::-webkit-scrollbar-track {
              background: #eaeef8;
            }

            &::-webkit-scrollbar-thumb {
              background-color: #ccd6f0;
              border-radius: 78px;
              border: 0px solid #ffffff;
            }
          }
        }
        .wrapper {
          height: 100%;
          overflow: auto;
        }
        .nokidlivesection {
          margin-top: 0;
          .wrapper {
            height: 83%;
          }
        }
      }
    }

    .container {
      padding: 20px;
      overflow-y: auto;
      height: 80%;
      width: 80%;
    }
  }
}

@media only screen and (min-width: 900px) and (max-height: 900px) {
  .dashboard {
    .contentWrapper {
      .mainContent {
        .flexLeft {
          .kidsSection {
            .heading {
              font-size: 22px;
            }
            .heads {
              height: 48px;
              font-size: 11px;
              // .head1 {
              //   margin-left: 12%;
              // }
              // .head2 {
              //   margin-left: 11.5%;
              // }
              // .head3 {
              //   margin-left: 2%;
              // }
            }
          }
          .choreSection {
            .heading {
              font-size: 22px;
            }
          }
        }
        .flexRight {
          .gameSection {
            .heading {
              font-size: 22px;
            }
            .wrapper {
              display: flex;
              height: fit-content;
              align-items: center;
              width: 100%;
              overflow-x: auto;
              padding-top: 20px;
              padding-bottom: 20px;
              scrollbar-width: thin;
              scroll-behavior: smooth;
              .gameitem {
                background: linear-gradient(
                    0deg,
                    rgba(241, 248, 255, 0.2),
                    rgba(241, 248, 255, 0.2)
                  ),
                  #ffffff;
                border-radius: 12px;
                cursor: pointer;
                min-width: 220px;
                height: 340px;
                font-family: "Roboto";
                font-weight: 500;
                border-radius: 12px;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 0;
                margin-right: 20px;
                text-align: center;
                transition: all 0.3s ease;
                overflow: hidden;
                .calccardtitle {
                  font-size: 18px;
                  font-weight: 500;
                  width: 100%;
                  padding: 0 10px;
                  text-align: left;
                }
                .calccardsubtitle {
                  margin-top: 10px;
                  font-size: 12px;
                  font-weight: 400;
                  width: 100%;
                  text-align: left;
                  padding: 0 10px;
                  overflow: auto;
                  scrollbar-width: thin;
                }
                .date {
                  font-size: 11.4839px;
                  margin-top: 6px;
                  text-align: left;
                  width: 100%;
                  color: #848484;
                }
                border: 1px solid rgb(255, 255, 255);

                &:hover {
                  border: 1px solid rgb(187, 187, 187);
                }
                img {
                  height: auto;
                  width: 100%;
                  margin-bottom: 20px;
                  object-fit: cover;
                }
              }
            }
          }
          .liveClassSection {
            .heading {
              font-size: 22px;
            }
          }
        }
      }

      .container {
        padding: 20px;
        overflow-y: auto;
        height: 80%;
        width: 80%;
      }
    }
  }
}

@media only screen and (max-width: 1300px) {
  .dashboard {
    .contentWrapper {
      max-width: calc(100vw - 80px);
      .mainContent {
        .flexRight {
          .gameSection {
            .heading {
              cursor: pointer;
              font-weight: 500;
              font-size: 25px;
              color: rgba(87, 88, 128, 1);
              display: flex;
              align-items: center;
              svg {
                margin-left: 10px;
              }
            }
            .wrapper {
              display: flex;
              height: fit-content;
              align-items: center;
              width: 100%;
              overflow-x: auto;
              padding-top: 20px;
              padding-bottom: 20px;
              scrollbar-width: thin;
              scroll-behavior: smooth;
              .gameitem {
                background: linear-gradient(
                    0deg,
                    rgba(241, 248, 255, 0.2),
                    rgba(241, 248, 255, 0.2)
                  ),
                  #ffffff;
                border-radius: 12px;
                cursor: pointer;
                min-width: 250px;
                height: 360px;
                font-family: "Roboto";
                font-weight: 500;
                border-radius: 12px;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 0;
                margin-right: 20px;
                text-align: center;
                transition: all 0.3s ease;
                overflow: hidden;
                .calccardtitle {
                  font-size: 18px;
                  font-weight: 500;
                  width: 100%;
                  padding: 0 20px;
                  text-align: left;
                }
                .calccardsubtitle {
                  margin-top: 10px;
                  font-size: 12px;
                  font-weight: 400;
                  width: 100%;
                  text-align: left;
                  padding: 0 20px;
                  overflow: auto;
                  scrollbar-width: thin;
                }
                .date {
                  font-size: 11.4839px;
                  margin-top: 6px;
                  text-align: left;
                  width: 100%;
                  color: #848484;
                }
                border: 1px solid rgb(255, 255, 255);

                &:hover {
                  border: 1px solid rgb(187, 187, 187);
                }
                img {
                  height: auto;
                  width: 100%;
                  margin-bottom: 20px;
                  object-fit: cover;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1100px) {
  .dashboard {
    .contentWrapper {
      .mainContent {
        display: flex;
        flex-direction: column;
        .flexLeft {
          align-items: center;
          width: 100%;
          .kidsSection {
            width: 100%;
          }
          .choreSection {
            width: 100%;
          }
        }
        .flexRight {
          width: 100%;
          margin-top: 15px;
          padding: 0 10px 0px 45px;
          .gameSection {
            width: 100%;
            padding: 0;
          }
          .liveClassSection {
            width: 100%;
            margin-top: 15px;
            .wrapper {
              width: 100%;
              height: auto;
              padding-bottom: 100px;
            }
          }
        }
      }
    }
  }
}
// for tablets
@media only screen and (max-width: 860px) {
  .dashboard {
    .contentWrapper {
      width: 100%;
      max-width: calc(100vw - 55px);
      .mainContent {
        display: flex;
        flex-direction: column;
        width: 100%;
        .flexLeft {
          display: flex;
          flex-direction: column;
          align-items: center;
          height: unset;
          margin-bottom: 0;
          width: 100%;
          padding: 0 30px;
          .kidsSection {
            width: 100%;
            margin-top: 15px;
            .heading {
              font-size: clamp(16px, 20px, 26px);
              svg {
                margin-left: 5px;
                width: 15px;
              }
            }
            .blacnkhead1 {
            }
            .heads {
              display: flex;
              width: 100%;
              align-items: center;
              height: 44px;
              color: rgba(106, 106, 106, 1);
              .head1 {
                font-size: 10px;
                flex: 1;
                margin-left: 0;
                font-weight: 400;
              }
              .head2 {
                font-size: 10px;
                font-weight: 400;
                flex: 0.7;
                margin-right: 0;
              }
              .head3 {
                font-size: 10px;
                margin-left: 15px;
                font-weight: 400;
                width: 26%;
              }
            }
            .wrapper {
              padding: 0 0px 10px 0px;
              margin-bottom: 10px;
            }
          }
          .choreSection {
            width: 100%;
            margin-top: 0px;
            .heading {
              font-weight: 500;
              font-size: clamp(16px, 20px, 26px);
              color: rgba(87, 88, 128, 1);
              display: flex;
              align-items: center;
              svg {
                margin-left: 5px;
                width: 15px;
              }
            }
            .wrapper {
              height: fit-content;
              margin-top: 20px;
              padding: 0 0px 10px 0px;
            }
          }
        }
        .flexRight {
          display: flex;
          flex-direction: column;
          height: 100%;
          width: 100%;
          padding: 0 30px;
          .gameSection {
            width: 100%;
            margin-top: 0px;
            padding: 0;
            .heading {
              font-size: clamp(16px, 20px, 26px);

              svg {
                margin-left: 5px;
                width: 15px;
              }
            }
            .wrapper {
              display: flex;
              overflow: auto;
              height: max-content;
              margin-top: 20px;
              padding: 0 0px 30px 0px;
              align-items: center;
            }
          }
          .liveClassSection {
            width: 100%;
            padding: 0 0px 0 0px;
            margin-top: 15px;
            .heading {
              font-size: clamp(16px, 20px, 26px);

              svg {
                margin-left: 5px;
                width: 15px;
              }
            }
            .wrapper {
              display: flex;
              width: 100%;
              overflow: auto;
              height: fit-content;
              margin-top: 20px;
              padding: 0 0px 10px 0px;
              align-items: center;
              &::-webkit-scrollbar {
                width: 5px;
              }
            }
          }
        }
      }
    }
  }
}

// for mobile
@media only screen and (max-width: 500px) {
  .dashboard {
    .contentWrapper {
      .mainContent {
        .flexLeft {
          display: flex;
          flex-direction: column;
          align-items: center;
          height: unset;

          width: 100%;
          padding: 0 15px;
          .kidsSection {
            width: 100%;
            margin-top: 15px;
            .heading {
              font-size: 18px;
              svg {
                margin-left: 5px;
                width: 15px;
              }
            }
            .heads {
              padding: 0 5px;
              height: 40px;
              .blacnkhead1 {
                width: 50px;
                height: 100%;
                margin-right: 5px;
              }
              .head1 {
                margin-left: 0;
                width: 30%;
                font-size: 7px;
                max-width: unset;
              }
              .head2 {
                flex: 1;
                font-size: 7px;
                text-align: center;
              }
              .head3 {
                width: 37%;
                font-size: 7px;
                margin: 0px;
              }
              .blacnkhead2 {
                margin: 0;
                flex: 1;
                max-width: 20px;
              }
            }
            .wrapper {
              padding: 0 0px 10px 0px;
              margin-bottom: 10px;
            }
          }
          .choreSection {
            width: 100%;
            margin-top: 0px;
            .heading {
              font-weight: 500;
              font-size: 18px;
              color: rgba(87, 88, 128, 1);
              display: flex;
              align-items: center;
              svg {
                margin-left: 5px;
                width: 15px;
              }
            }
            .wrapper {
              overflow: auto;
              height: fit-content;
              margin-top: 20px;
              padding: 0 0px 10px 0px;
            }
          }
        }
        .flexRight {
          display: flex;
          flex-direction: column;
          height: 100%;
          width: 100%;
          padding: 0 15px;
          .gameSection {
            width: 100%;
            margin-top: 0px;
            padding: 0;
            .heading {
              font-size: 18px;

              svg {
                margin-left: 5px;
                width: 15px;
              }
            }
            .wrapper {
              display: flex;
              overflow: auto;
              height: max-content;
              margin-top: 20px;
              padding: 0 0px 30px 0px;
              align-items: center;
            }
          }
          .liveClassSection {
            width: 100%;
            padding: 0 0px 0 0px;
            margin-top: 15px;
            .heading {
              font-size: 18px;

              svg {
                margin-left: 5px;
                width: 15px;
              }
            }
            .wrapper {
              display: flex;
              width: 100%;
              overflow: auto;
              height: fit-content;
              margin-top: 20px;
              padding: 0 0px 10px 0px;
              align-items: center;
              &::-webkit-scrollbar {
                width: 5px;
              }
            }
          }
        }
      }
    }
  }
}
