@use "../variables/fontsizes.scss" as *;

@mixin fullPage($content-padding-y: 2rem, $conent-padding-x: 3rem) {
  background-color: #f4f5f7;
  height: 100vh;
  display: flex;
  overflow: hidden;
  .contentWrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    .mainContent {
      width: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      scrollbar-width: thin;
      padding: $content-padding-y $conent-padding-x;
        .availableSection {
          margin-top: 1rem;
          display: flex;
          flex-direction: column;
          max-width: 90vw;
          .heading {
            font-weight: 500;
            font-size: 25px;
            color: rgba(87, 88, 128, 1);
            display: flex;
            align-items: center;
            svg {
              margin-left: 10px;
            }
          }
        }
      }
    }
}

.gamesPage {
  @include fullPage();
}

// for tablets
@media only screen and (min-width: 501px) and (max-width: 990px) {
  .gamesPage {
    @include fullPage(2rem, 1.25rem);
  }
}

// for mobile
@media only screen and (max-width: 500px) {
  .gamesPage {
    @include fullPage(1rem, 1rem);
  }
}
