@use "../variables/fontsizes.scss" as *;
@use "../variables/colors.scss" as *;

@keyframes pop-down {
    0%{
        top:-0.625rem;
        border-radius: 4rem;
        z-index: 1;
    }
    100%{
        top:0.625rem;
    }
}

@keyframes move-up {
    0%{
        top:00px;
        z-index: 99;
    }
    100%{
        top:-1.6rem;
        z-index: 99;
    }
}

@keyframes move-down {
    0%{
        top:-1.6rem;
        z-index: 99;
    }
    100%{
        top:-1rem;
        z-index: 99;
        border-radius: 2rem;
    }
}
@keyframes move-up-awardedRewardBlock {
    0%{
        top:0.625rem;
    }
    100%{
        top:-0.625rem;
        border-radius: 2rem;
    }
}
.animationBlock {
    min-width: 6rem;
    position: relative;
    .rewardBlock {
        position: absolute;
        background-color: $green;
        padding-inline: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        width: fit-content;
        height: fit-content;
        margin-right: 0.5rem;
        display: flex;
        align-items: center;
        border-radius: 1rem 1rem 0 0;
        transition: 1s;
        cursor: pointer;
        width: 100%;
        border-bottom:1px solid rgb(248 192 49);
        z-index: 55;
        animation: move-up 0.5s ease-in-out forwards,
        move-down 0.5s ease-in-out 2s forwards;
        
        .svg {
            min-width: 1rem;
            max-height: 1rem;
            margin-right: 5px;
            
            path {
                fill: rgb(255, 255, 255);
            }
        }
        
        .number {
            cursor: context-menu;
            font-size: 1rem;
            font-weight: 500;
            color: white;
            cursor: pointer;
        }
    }
    
    .awardedRewardBlock {
        position: absolute;
        background-color: $green;
        padding-inline: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        width: fit-content;
        height: fit-content;
        margin-right: 0.5rem;
        display: flex;
        align-items: center;
        border-radius: 0 0 1rem 1rem;
        margin-top: 0rem;
        transition: 1s;
        cursor: pointer;
        color: white;
        font-size: 0.8rem;
        width: 100%;
        animation: pop-down 0.5s ease-in-out forwards,
        move-up-awardedRewardBlock 0.5s ease-in-out 2s forwards;
        z-index: 0;
        .svg {
            margin-left: 5px;
            min-width: 1rem;
            max-height: 1rem;
            margin-right: 5px;

            path {
                fill: rgb(255, 255, 255);
            }
        }

        .number {
            cursor: context-menu;
            font-weight: 500;
            color: white;
            cursor: pointer;
        }
    }
}
