@keyframes bringdown {
  0% {
    right: -100px;
  }
  100% {
    right: 0;
  }
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
.menu {
  animation: bringdown 0.3s ease;
  position: absolute;
  right: 0;
  top: 72px;
  z-index: 502;
  background-color: #ffffff;
  border-radius: 8px;
  width: 200px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  .heading {
    display: flex;
    font-size: 15px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(90, 90, 90);
  }
  .tabs {
    padding: 10px 25px;
    transition: all 0.3s ease;
    border-radius: 8px;
    font-size: 15px;
    color: rgb(73, 73, 73);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    .editIcon {
      width: 18px;
      margin-right: 10px;
      height: 18px;
    }
    .paymentIcon {
      width: 18px;
      margin-right: 10px;
      height: 18px;
      path {
        stroke: #000000;
      }
    }
    .contacticon {
      margin-right: 10px;
      font-size: 18px;
    }
    .settings {
      width: 20px;
      margin-right: 10px;
      height: 20px;
      svg {
        width: 20px;
        height: 20px;
      }
      &:hover {
        svg {
          transition: all 0.3s ease;
          color: rgb(80, 80, 80);
          path {
          }
        }
      }
    }
    .rotate {
      animation: rotate 1s ease infinite;
    }
    &:hover {
      background-color: rgb(245, 245, 245);
    }
  }

  .button {
    color: #4166eb;
    border-radius: 8px;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    &:hover {
      background-color: #4166eb;
      color: white;
    }
  }
}
