@use "../variables/fontsizes.scss" as *;
@use "../variables/colors.scss" as *;

@keyframes bringdown {
  0% {
    right: -100px;
  }
  100% {
    right: 0;
  }
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
.menu {
  animation: bringdown 0.3s ease;
  position: absolute;
  right: 0;
  top: 72px;
  z-index: 502;
  background-color: #ffffff;
  border-radius: 8px;
  width: 220px;
  filter: drop-shadow(0 20px 20px rgba(27, 27, 27, 0.61));
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  cursor: default;
  .top {
    background-color: rgb(248, 248, 248);
    padding: 20px 20px 15px;
    margin-bottom: 10px;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 1px solid rgb(235, 235, 235);
    position: relative;
    .heading {
      display: flex;
      font-size: 0.875rem;
      display: flex;
      color: rgb(14, 14, 14);
      font-weight: 500;
      text-transform: capitalize;
      letter-spacing: 0.5px;
      padding-top: 2%;
    }
    .subheading {
      display: flex;
      font-size: 13px;
      display: flex;
      color: rgb(128, 128, 128);
      text-transform: capitalize;
      margin-top: 6px;
      cursor: pointer;
      width: fit-content;
      transition: all 0.3s ease;
      &:hover {
        color: rgb(68, 68, 68);
      }
    }
    .arrow {
      width: 0;
      height: 0;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      filter: drop-shadow(0 -2px 0px rgb(233, 233, 233));
      border-bottom: 12px solid rgb(248, 248, 248);
      margin-right: 10%;
      position: absolute;
      z-index: 2;
      right: -10px;
      top: -12px;
    }
  }

  .tabs {
    padding: 10px 20px;
    transition: all 0.3s ease;
    border-radius: 8px;
    width: 100%;
    font-size: 0.9375rem;
    color: rgb(73, 73, 73);
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    .editIcon {
      width: 18px;
      margin-right: 10px;
      height: 18px;
    }
    .paymentIcon {
      width: 18px;
      margin-right: 10px;
      height: 18px;
      path {
        stroke: #000000;
      }
    }
    .contacticon {
      margin-right: 10px;
      font-size: 1.125rem;
    }
    .settings {
      width: 20px;
      margin-right: 10px;
      height: 20px;
      svg {
        width: 20px;
        height: 20px;
      }
      &:hover {
        svg {
          transition: all 0.3s ease;
          color: rgb(80, 80, 80);
          path {
          }
        }
      }
    }
    .rotate {
      animation: rotate 1s ease infinite;
    }
    &:hover {
      background-color: rgb(245, 245, 245);
    }
  }
  .switchTab {
    transition: all 0.3s ease;
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
    display: flex;
    padding: 10px 20px;
    flex-direction: column;
    .switch {
      transition: all 0.3s ease;
      border-radius: 8px;
      width: 100%;
      font-size: 0.9375rem;
      color: rgb(73, 73, 73);
      cursor: pointer;
      display: flex;
      margin-bottom: 10px;
      svg {
        width: 18px;
        margin-right: 10px;
        height: 18px;
      }
    }
    .userWrapper {
      display: flex;
      flex-direction: column;
      gap: 5px;
      .innerUser {
        display: flex;
        padding: 8px 8px;
        align-items: center;
        border-radius: 4px;
        transition: all 0.3s ease;
        .icon {
          width: 35px;
          color: rgb(73, 73, 73);
          height: 35px;
          padding: 6px;
          margin-right: 10px;
        }
        img {
          width: 35px !important;
          height: 35px !important;
          margin-right: 10px;
        }
        .userInfo {
          font-size: 0.75rem;
          color: rgb(73, 73, 73);
          p {
            text-transform: capitalize;
          }
        }
        &:hover {
          background-color: rgb(231, 231, 231);
        }
      }
      .selectedUser {
        background-color: #fff;
        border: 1px solid rgb(207, 207, 207);
        &:hover {
          background-color: #fff;
        }
      }
    }
  }
  .switchActive {
    background-color: rgb(245, 245, 245);
  }
  .tabgrp {
    border-top: 1px solid rgb(219, 219, 219);
    width: 100%;
    padding: 10px 0;
    .button {
      padding: 10px 20px;
      transition: all 0.3s ease;
      font-size: 0.9375rem;
      color: rgb(73, 73, 73);
      display: flex;
      cursor: pointer;
      justify-content: flex-start;
      align-items: center;
      .img {
        width: 24px;
        height: 24px;
        object-fit: contain;
        margin-right: 5px;
      }
      .icon {
        margin-right: 10px;
        font-size: 1.125rem;
      }
      &:hover {
        background-color: #f85757;
        color: white;
      }
    }
  }
}

.tourMenu {
  z-index: 1113;
  opacity: 0.99;
}
