.partnerpage {
  background-color: #f4f5f7;
  height: 100vh;
  width: 100vw;
  display: flex;
  overflow: hidden;
  .error {
    margin: 0 40px;
    color: #f4f5f7;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 12px;
    background-color: #ff6263;
  }
  .contentWrapper {
    height: 100vh;
    flex: 1;
    display: flex;
    width: 100%;
    flex-direction: column;
    .mainContent {
      width: 100%;
      display: flex;
      overflow-y: auto;
      height: fit-content;
      margin-top: 20px;
      scrollbar-width: thin;
      .flexLeft {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        padding: 0 10px 0 45px;
        .wrapper {
          display: flex;
          flex-wrap: wrap;
          gap: 20px;
          img {
            width: 350px;
            object-fit: contain;
            background-color: white;
            border-radius: 12px;
            border: 1px solid rgb(207, 207, 207);
            padding: 0 20px;
            &:first-child {
              background-color: white;
            }
            &:nth-child(2) {
              background-color: white;
            }
            &:nth-child(3) {
              background-color: rgb(0, 0, 0);
            }
            &:nth-child(4) {
              background-color: white;
            }
            &:nth-child(5) {
              background-color: white;
            }
            &:nth-child(6) {
              background-color: rgb(0, 0, 0);
            }
          }
        }
      }
    }

    .container {
      padding: 20px;
      overflow-y: auto;
      height: 80%;
      width: 80%;
    }
  }
}

@media only screen and (min-width: 900px) and (max-height: 900px) {
  .partnerpage {
    background-color: #f4f5f7;
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow: hidden;
    .error {
      margin: 0 40px;
      color: #f4f5f7;
      font-size: 16px;
      padding: 10px 20px;
      border-radius: 12px;
      background-color: #ff6263;
    }
    .contentWrapper {
      height: 100vh;
      flex: 1;
      display: flex;
      width: 100%;
      flex-direction: column;
      .mainContent {
        width: 100%;
        display: flex;
        overflow-y: auto;
        height: fit-content;
        margin-top: 20px;
        scrollbar-width: thin;
        .flexLeft {
          display: flex;
          flex-direction: column;
          height: 100%;
          width: 100%;
          padding: 0 10px 0 26px;
          .wrapper {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            img {
              width: calc(100% / 3 - 20px);
              object-fit: contain;
              background-color: white;
              border-radius: 12px;
              border: 1px solid rgb(207, 207, 207);
              padding: 0 20px;
              &:first-child {
                background-color: white;
              }
              &:nth-child(2) {
                background-color: white;
              }
              &:nth-child(3) {
                background-color: rgb(0, 0, 0);
              }
              &:nth-child(4) {
                background-color: white;
              }
              &:nth-child(5) {
                background-color: white;
              }
              &:nth-child(6) {
                background-color: rgb(0, 0, 0);
              }
            }
          }
        }
      }

      .container {
        padding: 20px;
        overflow-y: auto;
        height: 80%;
        width: 80%;
      }
    }
  }
}

@media only screen and (max-width: 860px) {
  .partnerpage {
    background-color: #f4f5f7;
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow: hidden;
    .error {
      margin: 0 40px;
      color: #f4f5f7;
      font-size: 16px;
      padding: 10px 20px;
      border-radius: 12px;
      background-color: #ff6263;
    }
    .contentWrapper {
      height: 100vh;
      flex: 1;
      display: flex;
      width: 100%;
      flex-direction: column;
      .mainContent {
        width: 100%;
        display: flex;
        overflow-y: auto;
        height: fit-content;
        margin-top: 20px;
        scrollbar-width: thin;
        .flexLeft {
          display: flex;
          flex-direction: column;
          height: 100%;
          width: 100%;
          padding: 0 10px 0 10px;
          .wrapper {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            img {
              width: 100%;
              object-fit: contain;
              background-color: white;
              border-radius: 12px;
              border: 1px solid rgb(207, 207, 207);
              padding: 0 15px;
              &:first-child {
                background-color: white;
              }
              &:nth-child(2) {
                background-color: white;
              }
              &:nth-child(3) {
                background-color: rgb(0, 0, 0);
              }
              &:nth-child(4) {
                background-color: white;
              }
              &:nth-child(5) {
                background-color: white;
              }
              &:nth-child(6) {
                background-color: rgb(0, 0, 0);
              }
            }
          }
        }
      }

      .container {
        padding: 20px;
        overflow-y: auto;
        height: 80%;
        width: 80%;
      }
    }
  }
}
