.head {
  background-color: #fdcc03;
  border-radius: 12px;
  padding: 25px 40px;
  display: flex;
  align-items: center;
  .left {
    flex: 1;
    .heading {
      font-size: 30px;
      font-weight: 600;
    }
    .coinflex {
      display: flex;
      margin-top: 10px;
      align-items: center;
      .unicoins,
      .rupees {
        background-color: rgb(255, 255, 255);
        width: 200px;
        border-radius: 6px;
        padding: 15px 20px;
        span {
          font-weight: 600;
          font-size: 24px;
        }
      }
      // .or {
      //   font-weight: 600;
      //   margin: 0 20px;
      //   font-size: 24px;
      // }
    }
    // .converstiondetails {
    //   margin-top: 10px;
    // }
    // .converstiondiv {
    //   display: flex;
    //   margin-top: 15px;
    //   align-items: center;
    //   .placeholderactive {
    //     height: 55px;
    //     display: flex;
    //     align-items: center;
    //     padding-top: 7px;
    //   }
    //   .placeholder {
    //     top: 5px;
    //     color: black;
    //     background: white;
    //   }
    //   .converbutton {
    //     height: 49px;
    //     padding: 20px;
    //     display: flex;
    //     align-items: center;
    //     margin-left: 10px;
    //     justify-content: center;
    //     background-color: #ffffff;
    //     border-radius: 6px;
    //     cursor: pointer;
    //     transition: all 0.3s ease;
    //     font-weight: 600;
    //     font-size: 16px;
    //     width: fit-content;
    //     &:hover {
    //       background-color: #17d1bc;
    //       color: white;
    //     }
    //   }
    // }
  }
  .right {
    flex: 1;
    .jasper {
      width: 100px;
    }
  }
}
