.unicoinsEarned {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 501;
    .clickable {
        cursor: pointer;
        color: #A09E9E;
    }
    
    .background {
        background-color: rgba(0, 0, 0, 0.322);
        width: 100vw;
        height: 100vh;
        position: absolute;
        z-index: -1;
    }
    
    .block {
        background-color: white;
        width: 45rem;
        border-radius: 2rem;
        z-index: 2;
        padding: 1.5rem;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        min-height: 22rem;

        .heading {
            font-size: 3rem;
            font-weight: 400;
            margin-top: 3rem;
        }

        .unicoins {
            color: #f8c031;
            font-size: 2rem;
            font-weight: 400;
            display: flex;
            width: 100%;
            justify-content: center;
            .svg {
                width: 3%;
                margin: 0 0.5rem;

                path {
                    fill: rgb(248 192 49);
                }
            }
        }

        .coinImage {
            position: absolute;
            width: 30%;
            right: -2rem;
            bottom: -1rem;
        }

        .confetti {
            position: absolute;
            width: 45rem;
            top: 0;
            left: 0;
        }

        .button {
            background: #4166eb;
            border-radius: 10rem;
            color: white;
            width: 100%;
            max-width: 8rem;
            height: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            font-weight: 500;
            font-size: 1.25rem;
            transition: all 0.3s ease;
            margin-top: 3rem;
            z-index: 99;
            &:hover {
                background-color: #ffffff;
                color: #4166eb;
                border: 1px solid #4166eb;
            }
        }
    }
}