.tribeleaderboard {
  margin-top: 20px;
  .heading {
    font-size: 1.25rem;
    font-weight: 500;
    font-size: 1.5rem;
  }
  .wrapper {
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    .row {
      display: flex;
      padding: 20px;
      background-color: rgb(236, 236, 236);
      margin-top: 10px;
      border-radius: 12px;
      img {
        width: 80px;
        height: 80px;
        border-radius: 80px;
      }
      .right {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        .name {
          text-transform: capitalize;
          margin-top: 10px;
          font-weight: 500;
        }
        .unicoins {
          margin-top: 5px;
        }
      }
    }
  }
}
