.tribeChore {
  display: flex;
  flex: 1;
  border-radius: 8px;
  height: fit-content;
  background-color: rgb(255, 255, 255);
  margin-bottom: 10px;
  padding: 12px;
  .left {
    img {
      height: 40px;
      border-radius: 12px;
      margin-right: 10px;
    }
  }
  .mid {
    display: flex;
    flex-direction: column;
    flex: 1;
    .name {
      font-size: 16px;
      font-weight: 600;
      text-transform: capitalize;
    }
    .data {
      font-size: 14px;
      margin-top: 2px;
      display: flex;
    }
  }

  .time {
    font-size: 12px;
    margin-top: 10px;
  }
}
