.resultSection {
  padding: 5vh 0;
  display: flex;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
  flex-direction: column;
  position: relative;
  .jasper {
    z-index: 1;
    width: 5vw;
  }
  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    z-index: -1;
    .curvecontainer {
      position: relative;
      width: 100%;
      height: 100%;
      .curve2 {
        position: absolute;
        width: 100vw;
        left: 0;
        top: 60%;
        z-index: 1;
        transform: scaleX(-1);
        animation: moveit 5s ease alternate infinite;
        animation-delay: 2s;
      }
      .curve1 {
        position: absolute;
        width: 100vw;
        left: 0;
        top: 25%;
        z-index: 1;
        animation: moveit 5s ease alternate infinite;
      }
    }
  }

  .signupBox {
    width: 23vw;
    min-width: fit-content;
    min-height: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    .input {
      outline: none;
      border: none;
      border-top-left-radius: 12px;
      border-bottom-left-radius: 12px;
      border: 1px solid #4166eb5e;
      width: 55%;
      height: 100%;
      padding: 0;
      display: flex;
      align-items: center;
      font-weight: 400;
      font-size: 20px;
      padding-left: 15px;
      border-right: 0;
      ::placeholder {
        color: rgba(198, 198, 198, 1);
      }
    }
    .normalbutton {
      width: 45%;
      min-width: fit-content;
      font-size: clamp(16px, 1vw, 1vw);
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 400;
      height: 100%;
      padding: 0 20px;
      background-color: #4166eb;
      color: white;
      border-radius: 12px;
      cursor: pointer;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      border: 1px solid #4166eb5e;
      border-left: 0;
      transition: all 0.3s ease;
      &:hover {
        background-color: hsl(227, 57%, 47%);
      }
    }
    .joinButton {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 12px 32px;
      width: 186px;
      height: 48px;
      background: #ffffff;
      border-radius: 6px;
      font-size: 16px;
      font-weight: 500;
      margin-top: 20px;
    }
  }
  .heading {
    font-size: 56px;
    font-weight: 800;
    text-align: center;
    color: #17d1bc;
  }
  .subheading {
    color: black;
    margin: 10px 0;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    width: 80%;
  }
  .points {
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    color: #131313;
    margin-top: 20px;
  }
  .pointsdes {
    font-size: 36px;
    font-weight: 500;
    text-align: center;
  }
  .button {
    background: #4166eb;
    border-radius: 14px;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    width: 220px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin-top: 40px;
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover {
      background-color: hsl(227, 56%, 38%);
    }
  }
}
