.headSection {
  display: flex;
  padding: 20px 0;
  gap: 40px;
  .left {
    flex: 1;
    cursor: pointer;
    .banner {
      width: 100%;
      height: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      border-radius: 14px;
      .img {
        object-fit: contain;
        padding: 10px;
        border-radius: 6px;
      }
    }
    .typeChip {
      margin: 10px 0;
      padding: 6px 6px;
      font-size: 10px;
      width: fit-content;
      border-radius: 14px;
      font-weight: 700;
    }
    .title {
      font-size: 18px;
      text-transform: capitalize;
      font-weight: 700;
      width: 100%;
      text-align: left;
      padding-bottom: 10px;
    }
    .detail {
      font-size: 14px;
      font-weight: 300;
      color: rgba(130, 130, 130, 1);
      text-align: left;
    }
    .info {
      padding: 10px 0;
      font-size: 12px;
      color: rgba(130, 130, 130, 1);
      font-weight: 600;
    }
  }
  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .headerCard {
      position: relative;
      display: flex;
      gap: 10px;
      cursor: pointer;
      .cardLeft {
        .imageWrapper {
          width: 12vw;
          height: 12vw;
          height: fit-content;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #fff;
          border-radius: 14px;
        }
      }
      .cardRight {
        .cardType {
          font-size: 14px;
          width: fit-content;
          font-weight: 700;
          color: #4166eb;
        }
        .cardTitle {
          font-size: 16px;
          text-transform: capitalize;
          font-weight: 500;
          width: 100%;
          text-align: left;
          text-overflow: ellipsis;
        }
        .cardDetail {
          font-size: 14px;
          font-weight: 300;
          color: rgba(130, 130, 130, 1);
          text-align: left;
        }
      }
      .locked {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 14px;
        transition: all 0.5s ease-in;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 99;
        .lockIcon {
          height: 75%;
          width: 75%;
          color: rgb(24 24 24 / 75%);
          visibility: hidden;
          transition: all 0.5s ease-in;
        }
        &:hover {
          background-color: rgba(0, 0, 0, 0.25);
          cursor: default;
          .lockIcon {
            visibility: visible;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 650px) {
  .headSection {
    flex-direction: column;
    .left {
      margin-right: 2rem;
    }
    .right {
      .headerCard {
        flex-direction: column;
        margin-right: 2rem;
        .cardLeft {
          .imageWrapper {
            margin-right: 2rem;
            width: auto;
          }
        }
      }
    }
  }
}
