.questDetailPage {
  background-color: #f4f5f7;
  display: flex;
  overflow: hidden;
  .contentWrapper {
    height: 100vh;
    flex: 1;
    display: flex;
    width: 100%;
    flex-direction: column;
    .mainContent {
      width: 100%;
      overflow-y: auto;
      .headingSection {
        padding-bottom: 20px;
        .heading {
          color: #4166eb;
          font-size: 1.5rem;
          font-weight: 600;
        }
        .about {
          margin-bottom: 20px;
          padding: 0 2rem;
        }
        .conceptswrapper {
          display: flex;
          flex-wrap: wrap;
          align-content: flex-start;
          margin-top: 10px;
          gap: 20px;
          .concept {
            width: fit-content;
            height: fit-content;
            padding: 8px 15px;
            background: #f4f5f7;
            border: 0.5px solid #9d9d9d;
            border-radius: 4px;
          }
        }
      }
      .mobileerr {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #4166eb;
        justify-content: center;
        padding: 40px 0;
        height: 100%;
        border-radius: 8px;
        .box {
          width: 80%;
          background-color: white;
          border-radius: 30px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          .jasper {
            width: 50%;
            margin-top: 20px;
          }
          p {
            width: 80%;
            margin-top: 10px;
            text-align: center;
            color: #464646;
          }
          .heading {
            font-size: clamp(20px, 2vw, 24px);
            margin-top: 20px;
            color: black;
            font-weight: 600;
          }
          .button {
            background-color: #4166eb;
            width: 150px;
            height: 50px;
            border-radius: 6px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            margin: 20px 0;
          }
        }
      }
      .views {
        .actionArea {
          display: flex;
          justify-content: space-between;
          margin: 20px 0;
          .button {
            padding: 10px 20px;
            border-radius: 8px;
            font-size: 1rem;
            color: white;
            cursor: pointer;
            transition: all 0.3s ease;
            border: none;
            min-width: 150px;
          }
          .backButton {
            @extend .button;
            background-color: #4d4d4d;
          }
          .doneButton {
            @extend .button;
            background-color: #4d5dfb;
          }
        }
      }
    }
  }
}

// smaller width tabs
@media only screen and (min-width: 480px) and (max-width: 820px) {
  .questDetailPage {
    background-color: #f4f5f7;
    display: flex;
    overflow: hidden;
    .contentWrapper {
      height: 100vh;
      flex: 1;
      display: flex;
      width: 100%;
      flex-direction: column;
      .mainContent {
        width: 100%;
        overflow-y: auto;
        .headingSection {
          padding-bottom: 20px;
          .heading {
            color: #4166eb;
            font-size: 1.125rem;
            font-weight: 600;
          }
          .about {
            margin-bottom: 20px;
            font-size: 0.75rem;
          }
          .conceptswrapper {
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            margin-top: 10px;
            gap: 10px;
            .concept {
              width: fit-content;
              height: fit-content;
              padding: 6px 10px;
              background: #f4f5f7;
              border: 0.5px solid #9d9d9d;
              border-radius: 4px;
              font-size: 0.75rem;
            }
          }
        }
      }
    }
  }
}

// smaller tabs landscape mode
@media only screen and (orientation: landscape) and (max-height: 820px) {
}

// for phones
@media only screen and (max-width: 480px) {
  .questDetailPage {
    background-color: #f4f5f7;
    display: flex;
    overflow: hidden;
    .contentWrapper {
      height: 100vh;
      flex: 1;
      display: flex;
      width: 100%;
      flex-direction: column;
      .mainContent {
        width: 100%;
        overflow-y: auto;
        .headingSection {
          padding-bottom: 20px;
          .heading {
            color: #4166eb;
            font-size: 1.125rem;
            font-weight: 600;
          }
          .about {
            margin-bottom: 20px;
            font-size: 0.75rem;
          }
          .conceptswrapper {
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            margin-top: 10px;
            gap: 10px;
            .concept {
              width: fit-content;
              height: fit-content;
              padding: 6px 10px;
              background: #f4f5f7;
              border: 0.5px solid #9d9d9d;
              border-radius: 4px;
              font-size: 0.75rem;
            }
          }
        }
      }
    }
  }
}

// for phones landscape
@media only screen and (orientation: landscape) and (max-height: 480px) {
}
