$qn-font-size: 20px;

.quizSection {
  padding: 30px 20px;
  .quizContent {
    .blank {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding-top: 20px;
      .blankQnArea {
        padding: 10px 0;
        text-align: center;
        .blankQn {
          display: inline;
          margin: 10px 0;
          .qnText {
            font-size: $qn-font-size;
          }
          .qnInput {
            border: none;
            outline: none;
            border-bottom: 1px solid #ccc;
            font-size: $qn-font-size;
            margin: 0 10px;
          }
        }
      }
    }
    .yesNo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding-top: 20px;
      .question {
        font-size: $qn-font-size;
      }
      .options {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        .option {
          border: none;
          padding: 10px 20px;
          background-color: transparent;
          font-size: 24px;
          cursor: pointer;
          color: #333;
          margin: 0 10px;
          &:hover {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
            transition-duration: 0.5s;
          }
        }
        .yes {
          @extend .option;
          &:hover {
            color: #17d1bc;
          }
        }
        .no {
          @extend .option;
          &:hover {
            color: #17d1bc;
          }
        }
        .selectedOption {
          border: none;
          padding: 10px 20px;
          background-color: transparent;
          font-size: 24px;
          cursor: pointer;
          color: #333;
          margin: 0 10px;
        }
        .selectedYes {
          @extend .selectedOption;
          border: 4px solid #17d1bc;
          border-radius: 50%;
        }
        .selectedNo {
          @extend .selectedOption;
          border: 4px solid #17d1bc;
          border-radius: 50%;
        }
        .separator {
          border: 1px solid #948f8f;
          height: 100%;
          transform: rotate(17deg);
          height: 60px;
        }
      }
    }
    .mcq {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      .question {
        font-size: $qn-font-size;
        padding: 20px;
      }
      .options {
        display: flex;
        gap: 5%;
        flex-wrap: wrap;
        width: 80%;
        .option {
          width: 45%;
          text-align: center;
          padding: 10px;
          margin: 10px 0;
          cursor: pointer;
          font-size: 14px;
          background-color: #f4f4f4;
          color: #333;
          border: 1px solid #f4f4f4;
          box-shadow: 1px 1px 2px 2px #f4f4f4;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 14px;
          font-weight: 300;
        }
        .selectedOption {
          @extend .option;
          box-shadow: none;
          font-weight: 500;
          border: 1px solid #333;
          background-color: transparent;
        }
      }
    }
    .trueFalse {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding-top: 20px;
      .question {
        font-size: $qn-font-size;
      }
      .options {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        .option {
          border: none;
          padding: 10px 20px;
          background-color: transparent;
          font-size: 24px;
          cursor: pointer;
          color: #333;
          margin: 0 10px;
          &:hover {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
            transition-duration: 0.5s;
          }
        }
        .true {
          @extend .option;
          &:hover {
            color: #17d1bc;
          }
        }
        .false {
          @extend .option;
          &:hover {
            color: #17d1bc;
          }
        }
        .selectedOption {
          border: none;
          padding: 10px 20px;
          background-color: transparent;
          font-size: 24px;
          cursor: pointer;
          color: #333;
          margin: 0 10px;
        }
        .selectedTrue {
          @extend .selectedOption;
          border: 4px solid #17d1bc;
          border-radius: 50%;
        }
        .selectedFalse {
          @extend .selectedOption;
          border: 4px solid #17d1bc;
          border-radius: 50%;
        }
        .separator {
          border: 1px solid #948f8f;
          height: 100%;
          transform: rotate(17deg);
          height: 60px;
        }
      }
    }
    .videoQn {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      .video {
        width: 600px;
        height: 300px;
        margin-bottom: 20px;
        border-radius: 14px;
      }
      .question {
        font-size: $qn-font-size;
      }
      .answer {
        padding: 10px 0;
        input {
          font-size: $qn-font-size;
          outline: none;
          border: 1px solid #948f8f;
          padding: 10px;
          border-radius: 14px;
        }
      }
    }
    .matching {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      padding: 0 5%;
      gap: 100px;
      .left {
        flex: 1;
        .question {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border: 1px solid #333;
          border-radius: 14px;
          padding: 10px 20px;
          margin: 10px 0;
          font-size: $qn-font-size;
          height: 80px;
          min-width: 400px;
          .answerArea {
            width: 50%;
          }
        }
      }
      .right {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        .option {
          margin: 10px 0;
          display: flex;
          flex-direction: column;
          .optionImage {
            border-radius: 50%;
            background-color: #f4f4f4;
            box-shadow: 1px 1px 2px 2px #f4f4f4;
            cursor: grab;
          }
        }
        .textOption {
          font-size: 20px;
          font-weight: 700;
          background-color: #f4f4f4;
          color: #333;
          padding: 5px 20px;
          border-radius: 14px;
        }
      }
    }
    .oneWord {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      .question {
        font-size: $qn-font-size;
      }
      .answer {
        padding: 10px 0;
        input {
          font-size: $qn-font-size;
          outline: none;
          border: 1px solid #948f8f;
          padding: 10px;
          border-radius: 14px;
        }
      }
    }
    .photoQN {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      .imageWraper {
        margin-bottom: 20px;
        .image {
          border-radius: 14px;
        }
      }
      .question {
        font-size: $qn-font-size;
      }
      .answer {
        padding: 10px 0;
        input {
          font-size: $qn-font-size;
          outline: none;
          border: 1px solid #948f8f;
          padding: 10px;
          border-radius: 14px;
        }
      }
    }
    .enamuration {
      .question {
        font-size: $qn-font-size;
      }
      .answerArea {
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 500px;
        input {
          font-size: $qn-font-size;
          outline: none;
          border: 1px solid #948f8f;
          padding: 10px;
          border-radius: 14px;
        }
      }
    }
    .goodBadDecision {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding-top: 20px;
      .question {
        font-size: $qn-font-size;
      }
      .options {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        .option {
          border: none;
          padding: 10px 20px;
          background-color: transparent;
          font-size: 24px;
          cursor: pointer;
          color: #333;
          margin: 0 10px;
          &:hover {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
            transition-duration: 0.5s;
          }
        }
        .true {
          @extend .option;
          &:hover {
            color: #17d1bc;
          }
        }
        .false {
          @extend .option;
          &:hover {
            color: #17d1bc;
          }
        }
        .selectedOption {
          border: none;
          padding: 10px 20px;
          background-color: transparent;
          font-size: 24px;
          cursor: pointer;
          color: #333;
          margin: 0 10px;
        }
        .selectedTrue {
          @extend .selectedOption;
          border: 4px solid #17d1bc;
          border-radius: 50%;
        }
        .selectedFalse {
          @extend .selectedOption;
          border: 4px solid #17d1bc;
          border-radius: 50%;
        }
        .separator {
          border: 1px solid #948f8f;
          height: 100%;
          transform: rotate(17deg);
          height: 60px;
        }
      }
    }
    .mcqInBlank {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      .question {
        font-size: $qn-font-size;
        padding: 20px;
      }
      .options {
        display: flex;
        gap: 5%;
        flex-wrap: wrap;
        width: 80%;
        .option {
          width: 45%;
          text-align: center;
          padding: 10px;
          margin: 10px 0;
          cursor: pointer;
          font-size: 14px;
          background-color: #f4f4f4;
          color: #333;
          border: 1px solid #f4f4f4;
          box-shadow: 1px 1px 2px 2px #f4f4f4;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 14px;
          font-weight: 300;
        }
        .selectedOption {
          @extend .option;
          box-shadow: none;
          font-weight: 500;
          border: 1px solid #333;
          background-color: transparent;
        }
      }
    }
    .missingLetter {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      .question {
        font-size: $qn-font-size;
        padding: 20px;
      }
      .options {
        .option {
          .text {
            font-size: 20px;
            margin: 0 5px;
          }
          .input {
            width: 30px;
            font-size: 20px;
            margin: 0 5px;
            border: none;
            outline: none;
            border-bottom: 1px solid #ccc;
            text-transform: uppercase;
          }
        }
      }
    }
    .imageCat {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      .question {
        font-size: $qn-font-size;
        padding: 20px;
      }
      .images {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        .imageWrap {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          min-width: 50%;
          justify-content: center;
          align-items: center;
          margin: 20px 0;
          .image {
            border-radius: 14px;
          }
          .options {
            width: 50%;
            display: flex;
            justify-content: space-between;
          }
        }
      }
    }
  }
  .actionArea {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    .correctAnsArea {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .correctAns {
        font-size: 20px;
        font-weight: 600;
        .correctAnsLabel {
          color: #7d7d7d;
          font-size: 16px;
          font-weight: 300;
          margin-right: 10px;
        }
        .correctAnsValue {
          color: #17d1bc;
        }
        .wrongAnsValue {
          color: #ff6263;
        }
      }
      .nextButton {
        cursor: pointer;
        border: none;
        background-color: #4166EB;
        color: #fff;
        padding: 10px 40px;
        font-size: 16px;
        border-radius: 10px;
      }
    }
    .submitButton {
      cursor: pointer;
      border: none;
      border: 1px solid #4166EB;
      background-color: #4166EB;
      color: #fff;
      padding: 10px 40px;
      font-size: 16px;
      border-radius: 10px;
    }
    .disabledButton {
      @extend .submitButton;
      cursor: default;
      border-color: #333;
      background-color: #fff;
      color: #333;
    }
  }
}
