.tabs {
  display: flex;
  justify-content: space-between;
  background-color: #4166EB;
  padding: 0.5rem 2rem;
  border-radius: 0.75rem;
  .commonTab {
    font-size: 1.25rem;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    font-family: "Lexend", sans-serif;
    padding: 0.5rem 0.625rem;
  }
  .tab {
    @extend .commonTab;
  }
  .selectedTab {
    @extend .commonTab;
    font-weight: 700;
    background-color: #FDCC03;
    border-radius: 0.75rem;
  }
}

// smaller width tabs
@media only screen and (min-width: 480px) and (max-width: 820px) {
  .tabs {
    .commonTabMd {
      font-size: 0.875rem;
    }
    .tab {
      @extend .commonTabMd;
    }
    .selectedTab {
      @extend .commonTabMd;
    }
  }
}

// smaller tabs landscape mode
@media only screen and (orientation: landscape) and (max-height: 820px) {
}

// for phones
@media only screen and (max-width: 480px) {
  .tabs {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    padding: 0.5rem 1rem;
    .commonTab {
      font-size: 0.75rem;
      font-weight: 500;
      cursor: pointer;
      font-family: "Lexend", sans-serif;
      text-align: center;
    }
    .tab {
      @extend .commonTab;
    }
    .selectedTab {
      @extend .commonTab;
      color: #333;
      font-weight: 700;
      border-bottom: none;
    }
  }
}

// for phones landscape
@media only screen and (orientation: landscape) and (max-height: 480px) {
  .tabs {
    .commonTabSm {
      font-size: 0.875rem;
    }
    .tab {
      @extend .commonTabSm;
    }
    .selectedTab {
      @extend .commonTabSm;
    }
  }
}
