@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* ===== Scrollbar CSS ===== */
  /* Firefox */
  scrollbar-width: auto;
  scrollbar-color: #ccd6f0 #eaeef8;
  /* Chrome, Edge, and Safari */
  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 20px;
    background: rgba(234, 238, 248, 1);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(204, 214, 240, 1);
    border-radius: 20px;
    border: 3px none #ffffff;
  }
}
body {
  width: 100vw;
  overflow-x: hidden;
}
// * {
//   outline: 1px solid #f00 !important;
// }
