.application {
  padding: 30px 7%;
  .form {
    width: 100%;
    .inputArea {
      padding: 5px 0;
      display: flex;
      gap: 20px;
      justify-content: center;
    }
    .input,
    textarea {
      width: 100%;
      font-size: 16px;
      font-weight: 500;
      font-family: "Roboto", sans-serif;
      border-radius: 8px;
      border: 1px solid #898989;
      display: flex;
      justify-content: center;
      padding: 14px 15px;
      outline: none;
      color: #6d6d6d;
    }
    .fileInput {
      width: 100%;
      height: 150px;
      background-color: #f6f6f6;
      border: 1px dashed #333;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px 0;
      font-size: 24px;
      font-weight: 300;
      color: #333;
      text-align: center;
      input {
        display: none;
      }
    }
    .submitButton {
      font-size: 16px;
      font-weight: 400;
      color: #f6f6f6;
      background-color: #4166EB;
      border: none;
      outline: none;
      border-radius: 8px;
      cursor: pointer;
      padding: 10px 30px;
    }
    .message {
      padding: 10px 0;
      font-size: 12px;
    }
    .errorMessage {
      @extend .message;
      color: #ff6263;
    }
  }
  .success {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 40vh;
    .icon {
      height: 200px;
      width: 200px;
    }
    .successMsg {
      padding: 20px 0;
      font-size: 24px;
      font-weight: 600;
    }
    .infoMsg {
      font-size: 16px;
      font-weight: 300;
    }
  }
}

// for phones
@media only screen and (max-width: 480px) {
  .application {
    padding: 30px 7%;
    .form {
      width: 100%;
      .inputArea {
        padding: 5px 0;
        display: flex;
        gap: 20px;
        justify-content: center;
        flex-direction: column;
      }
      .input,
      textarea {
        width: 100%;
        font-size: 16px;
        font-weight: 500;
        font-family: "Roboto", sans-serif;
        border-radius: 8px;
        border: 1px solid #898989;
        display: flex;
        justify-content: center;
        padding: 14px 15px;
        outline: none;
        color: #6d6d6d;
      }
      .fileInput {
        width: 100%;
        height: 150px;
        background-color: #f6f6f6;
        border: 1px dashed #333;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
        font-size: 24px;
        font-weight: 300;
        color: #333;
        text-align: center;
        input {
          display: none;
        }
      }
      .submitButton {
        font-size: 16px;
        font-weight: 400;
        color: #f6f6f6;
        background-color: #4166EB;
        border: none;
        outline: none;
        border-radius: 8px;
        cursor: pointer;
        padding: 10px 30px;
      }
      .message {
        padding: 10px 0;
        font-size: 12px;
      }
      .errorMessage {
        @extend .message;
        color: #ff6263;
      }
    }
    .success {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      min-height: 40vh;
      .icon {
        height: 200px;
        width: 200px;
      }
      .successMsg {
        padding: 20px 0;
        font-size: 24px;
        font-weight: 600;
      }
      .infoMsg {
        font-size: 16px;
        font-weight: 300;
      }
    }
  }
}
