.jobComponent {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
  .left {
    display: flex;
    flex-direction: column;
    .title {
      font-size: 22px;
    }
    .location {
      margin-top: 10px;
      font-size: 18px;
      color: rgb(53, 53, 53);
    }
  }
  .button {
    border-radius: 8px;
    background-color: #4166eb;
    color: white;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #4166eb;
    &:hover {
      background-color: white;
      color: #4166eb;
    }
  }
}
