.container {
  background-color: #f4f5f7;
  height: 100vh;
  width: 100vw;
  display: flex;
  overflow: hidden;
  .contentArea{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .mainContent {
      display: flex;
      gap: 2.5%;
      width: 95%;
      // margin: 1% 2.5%;
      // padding: 2rem 3rem;
      .leftContent{
        background-color: #fff;
        flex: 1;
        border-radius: 1.25rem;
        padding: 2rem 3rem;
        .doubleItemArea {
          display: flex;
          width: 100%;
          .firstItem {
            flex: 0.7;
          }
          .secondItem {
            flex: 0.3;
          }
        }
        .singleItemArea {
          display: flex;
          width: 100%;
        }
      }
      .rightContent{
        flex: 0.5;
        background-color: #fff;
        border-radius: 1.25rem;
        padding: 2rem 3rem;
      }
    }
  }
}