.mainContent {
  display: flex;
  gap: 2.5%;
  width: 95%;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Lexend;
  .info {
    background-color: #fff;
    flex: 1;
    border-radius: 1.25rem;
    padding: 4rem 3rem;
    .doubleItemArea {
      display: flex;
      align-items: center;
      gap: 2rem;
      width: 100%;
      .firstItem {
        flex: 0.5;
      }
      .secondItem {
        flex: 0.5;
      }
    }
    .singleItemArea {
      display: flex;
      width: 100%;
    }
    .stateNameArea {
      width: 100%;
      height: 100%;
      .stateLabel {
        font-size: 0.85rem;
        font-weight: 600;
        margin-bottom: 0.5rem;
        margin-left: 0.5rem;
        color: #797979;
      }
      .stateName {
        padding: 0.5rem 0.75rem;
        border-radius: 0.5rem;
        border: 1px solid #797979;
        outline: none;
        font-size: 1.25rem;
        color: #333;
        .placeholder {
          font-size: 1rem;
          color: #4f4f4f;
        }
      }
    }
    .saveButton {
      cursor: pointer;
      width: 100%;
      padding: 1rem 0;
      border-radius: 0.625rem;
      background-color: #4166eb;
      color: #fff;
      border: none;
      outline: none;
      font-family: Lexend;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.5rem;
    }
  }
  .bio {
    flex: 0.5;
    background-color: #fff;
    border-radius: 1.25rem;
    padding: 1rem 1.5rem;
    .avatarArea {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      // padding: 1rem 0;
      .avatarImg {
        height: 10rem;
        width: 10rem;
        border-radius: 50%;
      }
    }
    .bioItem {
      width: 100%;
      padding: 1rem 0;
      .bioItemContainer {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 1rem;
        .itemBody {
          flex: 1;
          .itemLabel {
            color: #333;
            font-feature-settings: "clig" off, "liga" off;
            font-family: Lexend;
            font-size: 0.75rem;
            font-style: normal;
            font-weight: 600;
            line-height: 1.5rem;
          }
          .itemValue {
            color: #555;
            font-feature-settings: "clig" off, "liga" off;
            font-family: Lexend;
            font-size: 1rem;
            font-style: italic;
            font-weight: 300;
            line-height: 1.5rem;
          }
        }
        .itemAction {
          display: flex;
          gap: 0.75rem;
          .actionButton {
            cursor: pointer;
            border: none;
            outline: none;
            background-color: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            font-feature-settings: "clig" off, "liga" off;
            font-family: Lexend;
            font-size: 1rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.5rem;
            svg {
              height: 1rem;
              width: 1rem;
              margin-right: 0.15rem;
            }
          }
        }
      }
      .itemAdditionalAction {
        color: #777;
        font-feature-settings: "clig" off, "liga" off;
        font-family: Lexend;
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 300;
        line-height: 1.5rem;
        display: flex;
        align-items: center;
        svg {
          width: 0.75rem;
          height: 0.75rem;
          margin-right: 0.05rem;
        }
      }
    }
    .passwordArea {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem 0;
      .changePasswordButton {
        cursor: pointer;
        width: 100%;
        padding: 1rem 0;
        border-radius: 0.625rem;
        background-color: #de6869;
        color: #fff;
        border: none;
        outline: none;
        text-align: center;
        font-family: Lexend;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5rem;
      }
    }
  }
}
