@use "../variables/fontsizes.scss" as *;
@use "../variables/colors.scss" as *;

.faqcomponent {
  width: 90%;
  max-width: 80%;
  min-width: 18rem;
  transition: all 0.3s ease;
  margin-bottom: 1rem;
  .top {
    height: 4rem;
    background: #ffffff;
    border-radius: 0.75rem;
    transition: all 0.3s ease;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 0.625rem;
    cursor: pointer;
    .icon {
      width: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease;
      margin-right: 0.625rem;
    }
    .question {
      flex: 1;
      font-size: 1.125rem;
      transition: all 0.3s ease;
      font-weight: 400;
    }
  }
  .faqopened {
    background-color: rgba(65, 102, 235, 1);
    transition: all 0.3s ease;
    color: white;
  }
  .answer {
    height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
    background-color: white;
    padding: 0 40px;
    color: rgba(109, 109, 109, 1);
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.75rem;
  }
  .showanswer {
    padding: 1.25rem 2.5rem;
    height: fit-content;
    overflow: visible;
  }
}

@media only screen and (min-width: 501px) and (max-width: 990px) {
  .faqcomponent {
    .top {
      .icon {
        width: 2rem;
        svg {
          width: 0.75rem;
        }
      }
      .question {
        flex: 1;
        font-size: 0.875rem;
        transition: all 0.3s ease;
        font-weight: 400;
      }
    }
    .answer {
      font-size: 0.875rem;
    }
  }
}

@media only screen and (min-width: 991px) and (max-width: 1300px) {
  .faqcomponent {
    z-index: 99;
    .top {
      .icon {
        width: 2rem;
        svg {
          width: 0.75rem;
        }
      }
      .question {
        flex: 1;
        font-size: $tablet-subheading;
        line-height: $tablet-subheading-line;
        transition: all 0.3s ease;
        font-weight: 400;
      }
    }
    .answer {
      font-size: $tablet-subheading;
      line-height: $tablet-subheading-line;
    }
  }
}
