@mixin fullMenu(
  $full-width: 35rem,
  $full-flex-direction: row,
  $full-position-right: -1.25rem,
  $full-position-top: 4.5rem,
  $full-border-radius: 1.25rem,
  $full-padding-y: 1.25rem,
  $full-padding-x: 1.25rem,
  $arrow-position-right: 2rem,
  $info-border-radius-left: 1.25rem,
  $info-border-radius-right: 0
) {
  animation: bringdown 0.3s ease;
  position: absolute;
  right: $full-position-right;
  top: $full-position-top;
  z-index: 9999;
  background-color: #ffffff;
  border-radius: $full-border-radius;
  padding: $full-padding-y $full-padding-x;
  display: flex;
  flex-direction: $full-flex-direction;
  width: $full-width;
  box-shadow: 3.7px 5.5px 4.3px rgba(0, 0, 0, 0.02),
    4.9px 7.3px 8.2px rgba(0, 0, 0, 0.028),
    5.9px 8.9px 11.8px rgba(0, 0, 0, 0.035),
    7.1px 10.7px 15.3px rgba(0, 0, 0, 0.042),
    9px 13.5px 20.5px rgba(0, 0, 0, 0.05), 14px 21px 41px rgba(0, 0, 0, 0.07);
  .menuBg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
  .arrow {
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    filter: drop-shadow(0 -2px 0px rgb(233, 233, 233));
    border-bottom: 12px solid rgb(248, 248, 248);
    position: absolute;
    z-index: 9999;
    right: $arrow-position-right;
    top: -0.75rem;
    box-shadow: 3.7px 5.5px 4.3px rgba(0, 0, 0, 0.02);
  }
  .leftSide {
    flex: 1;
    background-color: #5955e5;
    border-radius: $info-border-radius-left $info-border-radius-right
      $info-border-radius-right $info-border-radius-left; // top-left, top-right, bottom-right, bottom-left
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    .info {
      display: flex;
      .infoLeft {
        flex: auto;
        .name {
          color: #fff;
          font-size: 1.5rem;
          font-weight: 600;
        }
        .userName {
          color: #fff;
          font-size: 0.85rem;
          font-weight: 300;
        }
      }
      .infoRight {
        padding: 0.5rem 0.25rem;
        .level {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #fff;
          border-radius: 1.25rem;
          padding:  0.15rem 0.5rem 0.15rem 0.0rem;
          font-size: 0.75rem;
          cursor: pointer;
          .badge {
            height: 2.0625rem;
            width: 2.0625rem;
          }
        }
      }
    }
    .avatarArea {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem 0;
      .menuAvatar {
        height: 10rem;
        width: 10rem;
        border-radius: 50%;
        background-color: #fff;
      }
    }
    .avatarActionArea {
      display: flex;
      justify-content: center;
      align-items: center;
      .editAvatarButton {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border-radius: 0.625rem;
        padding: 0.625rem 2rem;
        color: #fff;
        font-size: 1rem;
        font-weight: 300;
        cursor: pointer;
        transition: all 0.3s ease;
        border: 2px solid #fff;
        &:hover {
          background-color: #fff;
          color: #5955e5;
        }
        svg {
          font-size: 1.125rem;
          margin-right: 0.5rem;
        }
      }
    }
  }
  .rightSide {
    flex: 0.75;
    padding: 1.25rem;
    .menuItems {
      border-bottom: 1px solid #dddddd;
      .menuItem {
        padding: 1rem 0 1rem 0.5rem;
        color: #555;
        font-size: 1.125rem;
        font-weight: 300;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
          color: #5955e5;
        }
        svg {
          font-size: 1.125rem;
          margin-right: 0.5rem;
        }
      }
    }
    .actionArea {
      padding: 1rem 0.25rem;
      .logoutButton {
        width: 100%;
        padding: 0.625rem 0;
        border-radius: 0.625rem;
        border: none;
        background-color: #dc5656;
        border: 1px solid #dc5656;
        color: #fff;
        font-size: 1.125rem;
        font-weight: 300;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
          background-color: #fff;
          color: #dc5656;
        }
        svg {
          font-size: 1.125rem;
          margin-right: 0.5rem;
        }
      }
    }
  }
}

.menu {
  @include fullMenu();
}

@media only screen and (max-width: 500px) {
  .menu {
    @include fullMenu(
      90vw, // full-width
      column, // full-flex-direction
      -0.5rem, // full-position-right
      3rem, // full-position-top
      0.625rem, // full-border-radius
      0.5rem, // full-padding-y
      0.5rem, // full-padding-x
      0.75rem, // arrow-position-right
      0.625rem, // info-border-radius-left
      0.625rem, // info-border-radius-right
    );
  }
}