@keyframes moveit {
  0% {
    transform: translateY(-20%) scaleX(-1);
  }
  100% {
    transform: translateY(0) scaleX(-1);
  }
}
.contactPage {
  display: flex;
  flex-direction: column;
  .curve2 {
    position: fixed;
    width: 100vw;
    left: 0;
    top: 60%;
    z-index: -1;
    transform: scaleX(-1);
    animation: moveit 5s ease alternate infinite;
    animation-delay: 2s;
  }
  .curve1 {
    position: fixed;
    width: 100vw;
    left: 0;
    top: 25%;
    z-index: -1;
    animation: moveit 5s ease alternate infinite;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    .heading {
      font-size: 48px;
      font-weight: 700;
    }
    .subheading {
      font-weight: 400;
      font-size: 18px;
      line-height: 32px;
      color: #000000c7;
      width: 582px;
      text-align: center;
    }
    .wrapper {
      display: flex;
      min-height: 500px;
      margin-top: 100px;
      width: 100%;
      padding: 0 15vw;
      justify-content: center;
      margin-bottom: 150px;
      .left {
        .segment {
          display: flex;
          align-items: center;
          margin-top: 40px;
          height: fit-content;
          height: 95px;
          .iconHolder {
            width: 95px;
            height: 95px;
            border-radius: 95px;
            background-color: #4166eb;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 25px;
            cursor: pointer;
            transition: all 0.3s ease;
            border: 1px solid #4166eb;
            .icon {
              transition: all 0.3s ease;
              font-size: 30px;
              color: white;
            }
            .logoicon {
              transition: all 0.3s ease;
              width: 30px;
            }
            &:hover {
              background-color: #fff;
              .logoicon {
                width: 34px;
                path {
                  fill: #4166eb;
                }
              }
              .icon {
                font-size: 35px;
                color: #4166eb;
              }
            }
          }
          .text {
            font-size: 16px;
            font-weight: 400;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            height: 100%;
            padding-top: 12px;
            width: 235px;
            .top {
              color: #4166eb;
              margin-bottom: 10px;
              font-size: 20px;
              font-weight: 500;
            }
          }
          &:first-child {
            margin-top: 0;
          }
        }
      }
      .right {
        background: #f9f9f9;
        border-radius: 12px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        flex: 1;
        max-width: 521px;
        margin-left: 40px;
        .title {
          font-size: 24px;
          font-weight: 500;
        }
        input {
          height: 45px;
          outline: none;
          border: none;
          font-size: 16px;
          padding: 0 20px;
          background: #ffffff;
          margin-top: 20px;
        }
        textarea {
          resize: none;
          outline: none;
          background: #ffffff;
          margin-top: 20px;
          border: none;
          width: 100%;
          padding: 20px;
          height: 171px;
        }
        .button {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 12px 32px;
          width: 180px;
          height: 48px;
          background: #4166eb;
          border-radius: 6px;
          color: white;
          font-size: 16px;
          font-weight: 500;
          margin-top: auto;
          cursor: pointer;
          transition: all 0.3s ease;
          border: 1px solid #4166eb;
          &:hover {
            color: #4166eb;
            background: white;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 860px) {
  .contactPage {
    .container {
      .heading {
        font-size: 34px;
        margin-bottom: 5px;
      }
      .subheading {
        font-size: 16px;
      }
      flex: 1;
      .wrapper {
        display: flex;
        min-height: 500px;
        margin-top: 100px;
        width: 100%;
        padding: 0 15vw;
        justify-content: center;
        margin-bottom: 150px;
        .left {
          .segment {
            display: flex;
            align-items: center;
            margin-top: 40px;
            height: fit-content;
            height: 95px;
            .iconHolder {
              width: 10vw;
              height: 10vw;
              border-radius: 10vw;
              background-color: #4166eb;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-right: 25px;
              cursor: pointer;
              transition: all 0.3s ease;
              border: 1px solid #4166eb;
              .icon {
                transition: all 0.3s ease;
                font-size: 4vw;
                color: white;
              }
              .logoicon {
                width: 3vw;
              }
              &:hover {
                background-color: #fff;
                .logoicon {
                  width: 4vw;
                }
                .icon {
                  font-size: 35px;
                  color: #4166eb;
                }
              }
            }
            .text {
              font-size: 14px;
              font-weight: 400;
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              height: 100%;
              padding-top: 12px;
              width: max-content;
              .top {
                color: #4166eb;
                margin-bottom: 10px;
                font-size: 16px;
                font-weight: 500;
              }
            }
          }
        }
        .right {
          background: #f9f9f9;
          border-radius: 12px;
          padding: 40px;
          display: flex;
          flex-direction: column;
          flex: 1;
          max-width: 521px;
          margin-left: 40px;
          height: 501px;
          .title {
            font-size: 24px;
            font-weight: 500;
          }
          input {
            height: 45px;
            outline: none;
            border: none;
            font-size: 16px;
            padding: 0 20px;
            background: #ffffff;
            margin-top: 20px;
          }
          textarea {
            resize: none;
            outline: none;
            background: #ffffff;
            margin-top: 20px;
            border: none;
            width: 100%;
            padding: 20px;
            height: 171px;
          }
          .button {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 12px 32px;
            width: 60%;
            height: 48px;
            background: #4166eb;
            border-radius: 6px;
            color: white;
            font-size: 14px;
            font-weight: 500;
            margin-top: auto;
            cursor: pointer;
            transition: all 0.3s ease;
            border: 1px solid #4166eb;
            &:hover {
              color: #4166eb;
              background: white;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 750px) {
  .contactPage {
    .container {
      .heading {
        font-size: 34px;
        margin-bottom: 5px;
        text-align: center;
      }
      .subheading {
        font-size: 16px;
        text-align: center;
        width: 80%;
      }
      flex: 1;
      .wrapper {
        display: flex;
        min-height: 500px;
        margin-top: 100px;
        width: 100%;
        padding: 0 7vw;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        margin-bottom: 150px;
        .left {
          width: 100%;
          .segment {
            display: flex;
            align-items: center;
            margin-top: 40px;
            height: fit-content;
            height: 95px;
            width: 100%;
            .iconHolder {
              width: 10vw;
              height: 10vw;
              border-radius: 10vw;
              background-color: #4166eb;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-right: 25px;
              cursor: pointer;
              transition: all 0.3s ease;
              border: 1px solid #4166eb;
              .icon {
                transition: all 0.3s ease;
                font-size: 4vw;
                color: white;
              }
              &:hover {
                background-color: #fff;

                .icon {
                  font-size: 35px;
                  color: #4166eb;
                }
              }
            }
            .text {
              font-size: 14px;
              font-weight: 400;
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              height: 100%;
              padding-top: 12px;
              width: max-content;
              .top {
                color: #4166eb;
                margin-bottom: 10px;
                font-size: 16px;
                font-weight: 500;
              }
            }
          }
        }
        .right {
          background: #f9f9f9;
          border-radius: 12px;
          padding: 40px;
          display: flex;
          flex-direction: column;
          flex: 1;
          max-width: unset;
          width: 100%;
          margin-left: 0px;
          height: 501px;
          .title {
            font-size: 24px;
            font-weight: 500;
          }
          input {
            height: 45px;
            outline: none;
            border: none;
            font-size: 16px;
            padding: 0 20px;
            background: #ffffff;
            margin-top: 20px;
          }
          textarea {
            resize: none;
            outline: none;
            background: #ffffff;
            margin-top: 20px;
            border: none;
            width: 100%;
            padding: 20px;
            height: 171px;
          }
          .button {
            width: max-content;

            margin-top: 40px;
          }
        }
      }
    }
  }
}
