@keyframes moveit {
  0% {
    transform: translateY(-20%) scaleX(-1);
  }
  100% {
    transform: translateY(0) scaleX(-1);
  }
}

.blogPage {
  display: flex;
  position: relative;
  flex-direction: column;
  .curve2 {
    position: fixed;
    width: 100vw;
    left: 0;
    top: 60%;
    z-index: -1;
    transform: scaleX(-1);
    animation: moveit 5s ease alternate infinite;
    animation-delay: 2s;
  }
  .curve1 {
    position: fixed;
    width: 100vw;
    left: 0;
    top: 25%;
    z-index: -1;
    animation: moveit 5s ease alternate infinite;
  }
  .contentWrapper {
    padding-left: 14vw;
    padding-right: 14vw;
    margin-top: 2vh;
    padding-bottom: 30vh;
    display: flex;
    .post {
      flex: 1;
      height: 100%;
      padding: 0 5px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .image {
        width: fit-content;
        display: flex;
        align-items: center;
        img {
          width: 100%;
          border-radius: 8px;
          height: 50vh;
          object-fit: cover;
          margin-top: 20px;
        }
      }
      .textcontent {
        flex: 1;
        display: flex;
        flex-direction: column;

        .timeandcat {
          color: #3d3d3d;
          display: flex;
          font-weight: 400;
          font-size: 16px;
          letter-spacing: 1px;
          text-align: center;
          margin-top: 20px;
          .space {
            margin-left: 10px;
            margin-right: 10px;
          }
          .cat {
            text-transform: capitalize;
          }
        }
        .title {
          margin-top: 10px;
          font-weight: 600;
          font-size: 25px;
          letter-spacing: 0.4px;
        }
        .preview {
          margin-top: 15px;
          overflow: auto;
          img {
            width: 40vw !important;
          }
          h1 {
            span {
              margin-top: 10px !important;
              font-weight: 600 !important;
              font-size: 25px !important;
              letter-spacing: 0.4px !important;
              font-family: "Inter", sans-serif !important;
            }
            margin-top: 10px !important;
            font-weight: 600 !important;
            font-size: 25px !important;
            letter-spacing: 0.4px !important;
          }
        }

        ul {
          li {
            list-style-type: circle !important;
            &::before {
              content: "•";
            }
            span {
              font-family: "Inter", sans-serif !important;
              font-size: 16px !important;
              padding-left: 10px;
            }
          }
        }
        p {
          span {
            font-family: "Inter", sans-serif !important;
          }
        }
        .continue {
          margin-top: 15px;
          color: rgb(209, 68, 67);
          cursor: pointer;
          margin-bottom: 30px;
        }
      }
      .share {
        margin-top: 20px;
        display: flex;
        align-items: center;
        font-size: 18px;
        font-weight: 400;
        svg {
          cursor: pointer;
          margin-left: 20px;
          transform: scale(1.5);
        }
      }
    }
    .table {
      width: 30%;
      display: flex;
      overflow: hidden;
      position: sticky;
      top: 0;
      min-width: 350px;
      flex-direction: column;
      margin-top: 50px;
      height: 100%;
      padding-left: 50px;
      .movingtable {
        display: flex;
        position: sticky;
        height: fit-content;
        background: rgb(247, 247, 247);
        flex-direction: column;
        margin-top: 5vh;
        border-radius: 12px;
        padding: 30px 20px;
        margin-bottom: 20vh;
        height: fit-content;
        padding-left: 40px;
        transition: all 0.3s ease;
        p {
          margin-top: 10px;
          font-weight: 400;
          font-size: 15px;
          cursor: pointer;
          color: #3d3d3d;
        }
        .active {
          font-weight: 400;
          color: #4166eb;
        }
        .heading {
          font-weight: 500;
          margin-top: 0px;
          color: black;
          font-size: 18px;
          margin-bottom: 20px;
        }
      }
    }
  }
}
@media only screen and (max-width: 1000px) {
  .blogPage {
    display: flex;
    position: relative;
    flex-direction: column;
    .contentWrapper {
      padding: 0 7vw;
      margin-top: 2vh;
      padding-bottom: 30vh;
      display: flex;
      .post {
        flex: 1;
        height: 100%;
        padding: 0 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .image {
          width: fit-content;
          display: flex;
          align-items: center;
          img {
            width: 100%;
            border-radius: 8px;
            height: 50vh;
            object-fit: cover;
            margin-top: 20px;
          }
        }
        .textcontent {
          flex: 1;
          display: flex;
          flex-direction: column;

          .timeandcat {
            color: #3d3d3d;
            display: flex;
            font-weight: 400;
            font-size: 16px;
            letter-spacing: 1px;
            text-align: center;
            margin-top: 20px;
            .space {
              margin-left: 10px;
              margin-right: 10px;
            }
          }
          .title {
            margin-top: 10px;
            font-weight: 600;
            font-size: 25px;
            letter-spacing: 0.4px;
          }
          .preview {
            margin-top: 15px;
            overflow: auto;
            img {
              width: 40vw !important;
            }
            h1 {
              span {
                margin-top: 10px !important;
                font-weight: 600 !important;
                font-size: 25px !important;
                letter-spacing: 0.4px !important;
                font-family: "Inter", sans-serif !important;
              }
              margin-top: 10px !important;
              font-weight: 600 !important;
              font-size: 25px !important;
              letter-spacing: 0.4px !important;
            }
          }

          ul {
            li {
              list-style-type: circle !important;
              &::before {
                content: "•";
              }
              span {
                font-family: "Inter", sans-serif !important;
                font-size: 16px !important;
                padding-left: 10px;
              }
            }
          }
          p {
            span {
              font-family: "Inter", sans-serif !important;
            }
          }
          .continue {
            margin-top: 15px;
            color: rgb(209, 68, 67);
            cursor: pointer;
            margin-bottom: 30px;
          }
        }
        .share {
          margin-top: 20px;
          display: flex;
          align-items: center;
          font-size: 18px;
          font-weight: 400;
          svg {
            cursor: pointer;
            margin-left: 20px;
            transform: scale(1.5);
          }
        }
      }
      .table {
        width: 30%;
        display: flex;
        overflow: hidden;
        position: sticky;
        top: 0;
        min-width: 350px;
        flex-direction: column;
        margin-top: 50px;
        height: 100%;
        padding-left: 50px;
        .movingtable {
          display: flex;
          position: sticky;
          height: fit-content;
          background: rgb(247, 247, 247);
          flex-direction: column;
          margin-top: 5vh;
          border-radius: 12px;
          padding: 30px 20px;
          margin-bottom: 20vh;
          height: fit-content;
          padding-left: 40px;
          transition: all 0.3s ease;
          p {
            margin-top: 10px;
            font-weight: 400;
            font-size: 15px;
            cursor: pointer;
            color: #3d3d3d;
          }
          .active {
            font-weight: 400;
            color: #4166eb;
          }
          .heading {
            font-weight: 500;
            margin-top: 0px;
            color: black;
            font-size: 18px;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 860px) {
  .blogPage {
    display: flex;
    flex-direction: column;
    .contentWrapper {
      padding-left: 20px;
      padding-right: 20px;
      margin-top: 2vh;
      padding-bottom: 30vh;
      overflow-y: auto;
      .post {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .image {
          width: 100%;
          display: flex;
          align-items: center;
          img {
            width: 100%;
            border-radius: 8px;
            height: 50vh;
            object-fit: cover;
            margin-top: 20px;
          }
        }
        .textcontent {
          flex: 1;
          display: flex;
          flex-direction: column;
          width: 100%;
          .timeandcat {
            color: #3d3d3d;
            display: flex;
            font-weight: 400;
            font-size: 16px;
            letter-spacing: 1px;
            text-align: center;
            margin-top: 20px;
            .space {
              margin-left: 10px;
              margin-right: 10px;
            }
          }
          .title {
            margin-top: 10px;
            font-weight: 600;
            font-size: 25px;
            letter-spacing: 0.4px;
          }
          .preview {
            margin-top: 15px;
            overflow: auto;
          }
          .continue {
            margin-top: 15px;
            color: rgb(209, 68, 67);
            cursor: pointer;
            margin-bottom: 30px;
          }
        }
        .share {
          margin-top: 20px;
          display: flex;
          align-items: center;
          font-size: 18px;
          font-weight: 400;
          svg {
            cursor: pointer;
            margin-left: 20px;
            transform: scale(1.5);
          }
        }
      }
      .table {
        display: none;
      }
    }
  }
}
