@use "../variables/fontsizes.scss" as *;
@use "../variables/colors.scss" as *;
.button {
  color: #fff;
  width: 12vw;
  margin: 2rem auto;
  min-width: fit-content;
  height: 6vh;
  font-size: clamp(12px, 1vw, 18px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  border-radius: 6px;
  padding: 0 20px;
  background-color: hsl(227, 81%, 59%);
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
  &:hover {
    background-color: hsl(227, 100%, 59%);
  }
}
.blogSection {
  scroll-snap-align: end;
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 8rem 6rem 6rem;
  .heading {
    margin-bottom: 50px;
    font-size: 2.875rem;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    font-weight: 700;
    transition: all 0.3s ease;
    // &:hover {
    //   color: rgb(121, 121, 121);
    // }
  }
  .wrapper {
    display: block;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-items: flex-start;
    justify-content: center;
    .moreCard {
      width: 25%;
      border-radius: 8px;
      padding: 20px 25px 60px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      cursor: pointer;
      transition: all 0.3s ease;
      cursor: pointer;
      background: linear-gradient(
          0deg,
          rgba(241, 248, 255, 0.2),
          rgba(241, 248, 255, 0.2)
        ),
        #ffffff;
      box-shadow: 0px 13.3978px 24.8817px rgba(8, 60, 194, 0.15);
      img {
        width: 100%;
        height: calc(100vw / 3 - 260px);
        min-height: 200px;
        max-height: 235px;
        border-radius: 18px;
        object-fit: cover;
      }
      .categories {
        margin-top: 20px;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        overflow: hidden;
        p {
          font-size: 0.875rem;
          font-weight: 700;
          color: #4166eb;
          margin-right: 10px;
          text-transform: capitalize;
        }
      }
      .title {
        font-weight: 600;
        margin-top: 5px;
        font-size: 1.25rem;
        text-align: left;
        width: 100%;
        --max-line: 2;
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: var(--max-line);
      }
      .content {
        font-size: 1rem;
        text-align: left;
        margin-top: 10px;
      }
      .time {
        margin-top: 10px;
        color: hsla(0, 0%, 52%, 1);
        text-align: left;
        width: 100%;
        font-size: 0.875rem;
        font-weight: 400;
      }
    }
  }
  .mobileWrapper {
    display: none;
    position: relative;
    .container {
      position: absolute;
      width: 100%;
      .moreCard {
        width: 100%;
        border-radius: 8px;
        padding: 20px 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        cursor: pointer;
        transition: all 0.3s ease;
        cursor: pointer;
        background: linear-gradient(
            0deg,
            rgba(241, 248, 255, 0.2),
            rgba(241, 248, 255, 0.2)
          ),
          #ffffff;
        box-shadow: 0px 13.3978px 24.8817px rgba(8, 60, 194, 0.15);
        img {
          width: 100%;
          height: calc(100vw / 3 - 260px);
          min-height: 200px;
          max-height: 235px;
          border-radius: 18px;
          object-fit: cover;
        }
        .itemContainer {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .time {
            margin-top: 10px;
            color: hsla(0, 0%, 52%, 1);
            text-align: left;
            width: 100%;
            font-size: 0.875rem;
            font-weight: 400;
          }
          .categories {
            margin-top: 20px;
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            overflow: hidden;
            p {
              font-size: 0.875rem;
              font-weight: 700;
              color: #4166eb;
              margin-right: 10px;
              text-transform: capitalize;
            }
          }
        }
        .title {
          font-weight: 600;
          margin-top: 5px;
          font-size: 1.25rem;
          text-align: left;
          width: 100%;
          --max-line: 2;
          display: -webkit-box;
          overflow: hidden;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: var(--max-line);
        }
        .content {
          font-size: 1rem;
          text-align: left;
          margin-top: 10px;
        }
      }
    }
    .navbar {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 1rem;
      .dot {
        width: 10px;
        height: 10px;
        border-radius: 9999999px;
        background-color: #eee;
      }
      .active {
        background-color: #4166eb;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .blogSection {
    padding: 4rem 2rem;
    .heading {
      font-size: 2rem;
      text-align: center;
    }
    .wrapper {
      display: none;
      flex-wrap: wrap;
      justify-items: flex-start;
      justify-content: center;
      .moreCard {
        width: 86vw;
        margin-bottom: 15px;
        border-radius: 8px;
        padding: 20px 25px 50px;
        display: flex;
        min-width: 300px;

        flex-direction: column;
        align-items: center;
        text-align: center;
        cursor: pointer;
        transition: all 0.3s ease;
        .icon {
          width: 40%;
        }
        .title {
        }
        .description {
          font-size: 0.875rem;
          margin-top: 5px;
        }
        .time {
          font-size: 0.75rem;
        }
      }
    }
    .mobileWrapper {
      display: block;
      .container {
        width: 100%;
        position: relative;
        .moreCard {
          position: absolute;
          width: 100%;
          border-radius: 8px;
          padding: 20px 25px;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          cursor: pointer;
          transition: all 0.3s ease;
          cursor: pointer;
          background: linear-gradient(
              0deg,
              rgba(241, 248, 255, 0.2),
              rgba(241, 248, 255, 0.2)
            ),
            #ffffff;
          box-shadow: 0px 13.3978px 24.8817px rgba(8, 60, 194, 0.15);
          img {
            width: 100%;
            height: calc(100vw / 3 - 260px);
            min-height: 200px;
            max-height: 235px;
            border-radius: 18px;
            object-fit: cover;
          }
          .itemContainer {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 0.5rem;
            .time {
              color: hsla(0, 0%, 52%, 1);
              text-align: left;
              width: 100%;
              font-size: 0.875rem;
              font-weight: 400;
            }
            .categories {
              margin-top: 0;
              display: flex;
              width: 100%;
              flex-wrap: wrap;
              overflow: hidden;
              p {
                font-size: 0.875rem;
                font-weight: 700;
                color: #4166eb;
                margin-right: 0;
                text-transform: capitalize;
              }
            }
          }
          .title {
            font-weight: 600;
            margin-top: 5px;
            font-size: 1.25rem;
            text-align: left;
            width: 100%;
            --max-line: 2;
            display: -webkit-box;
            overflow: hidden;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: var(--max-line);
          }
          .content {
            font-size: 1rem;
            text-align: left;
            margin-top: 10px;
          }
        }
      }
      .navbar {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 1rem;
        .dot {
          width: 10px;
          height: 10px;
          border-radius: 9999999px;
          background-color: #eee;
        }
        .active {
          background-color: #4166eb;
        }
      }
    }
  }
  .button {
    border-radius: 50%;
  }
}

@media only screen and (min-width: 501px) and (max-width: 990px) {
  .blogSection {
    position: relative;
    z-index: 2;
    padding: 6rem 12vw;
    height: fit-content;
    .heading {
      margin-bottom: 50px;
      font-size: 2rem;
      font-weight: 700;
      text-align: center;
    }
    .wrapper {
      display: none;
      flex-wrap: wrap;
      justify-items: flex-start;
      justify-content: space-around;
      .moreCard {
        width: 42vw;
        margin: 0;
        margin-bottom: 20px;
        border-radius: 8px;
        padding: 40px 25px 50px;
        display: flex;
        min-width: 300px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        cursor: pointer;
        .title {
          font-size: 1.125rem;
          min-height: unset;
        }
        .content {
          font-size: 0.875rem;
          margin-top: 10px;
        }
      }
    }
    .mobileWrapper {
      display: block;
      .container {
        position: relative;
        width: 100%;
        .moreCard {
          position: absolute;
          width: 100%;
          border-radius: 8px;
          padding: 20px 25px;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          cursor: pointer;
          transition: all 0.3s ease;
          cursor: pointer;
          background: linear-gradient(
              0deg,
              rgba(241, 248, 255, 0.2),
              rgba(241, 248, 255, 0.2)
            ),
            #ffffff;
          box-shadow: 0px 13.3978px 24.8817px rgba(8, 60, 194, 0.15);
          img {
            width: 100%;
            height: calc(100vw / 3 - 260px);
            min-height: 200px;
            max-height: 235px;
            border-radius: 18px;
            object-fit: cover;
          }
          .itemContainer {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .time {
              margin-top: 10px;
              color: hsla(0, 0%, 52%, 1);
              text-align: left;
              width: 100%;
              font-size: 0.875rem;
              font-weight: 400;
            }
            .categories {
              margin-top: 20px;
              display: flex;
              width: 100%;
              flex-wrap: wrap;
              overflow: hidden;
              p {
                font-size: 0.875rem;
                font-weight: 700;
                color: #4166eb;
                margin-right: 10px;
                text-transform: capitalize;
              }
            }
          }
          .title {
            font-weight: 600;
            margin-top: 5px;
            font-size: 1.25rem;
            text-align: left;
            width: 100%;
            --max-line: 2;
            display: -webkit-box;
            overflow: hidden;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: var(--max-line);
          }
          .content {
            font-size: 1rem;
            text-align: left;
            margin-top: 10px;
          }
        }
      }
      .navbar {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 1rem;
        .dot {
          width: 10px;
          height: 10px;
          border-radius: 9999999px;
          background-color: #eee;
        }
        .active {
          background-color: #4166eb;
        }
      }
    }
  }
  .button {
    border-radius: 50%;
  }
}

@media only screen and (min-width: 991px) and (max-width: 1300px) {
  .blogSection {
    background-color: red;
    position: relative;
    z-index: 2;
    padding: 4rem 7vw;
    height: fit-content;
    .heading {
      margin-bottom: 3vh;
      font-size: $tablet-heading;
      font-weight: 700;
    }
    .wrapper {
      display: none;
      flex-wrap: wrap;
      justify-items: flex-start;
      justify-content: space-around;
      .moreCard {
        width: 42vw;
        margin: 0;
        margin-bottom: 20px;
        border-radius: 8px;
        padding: 40px 25px 50px;
        display: flex;
        min-width: 300px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        cursor: pointer;
        .title {
          font-size: $tablet-subheading;
          line-height: $tablet-subheading-line;
          min-height: unset;
        }
        .content {
          line-height: $tablet-smallsubheading-line;
          font-size: $tablet-smallsubheading;
          margin-top: 10px;
        }
      }
    }
    .mobileWrapper {
      display: block;
      .container {
        width: 100%;
        .moreCard {
          width: 100%;
          border-radius: 8px;
          padding: 20px 25px;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          cursor: pointer;
          transition: all 0.3s ease;
          cursor: pointer;
          background: linear-gradient(
              0deg,
              rgba(241, 248, 255, 0.2),
              rgba(241, 248, 255, 0.2)
            ),
            #ffffff;
          box-shadow: 0px 13.3978px 24.8817px rgba(8, 60, 194, 0.15);
          img {
            width: 100%;
            height: calc(100vw / 3 - 260px);
            min-height: 200px;
            max-height: 235px;
            border-radius: 18px;
            object-fit: cover;
          }
          .itemContainer {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .time {
              margin-top: 10px;
              color: hsla(0, 0%, 52%, 1);
              text-align: left;
              width: 100%;
              font-size: 0.875rem;
              font-weight: 400;
            }
            .categories {
              margin-top: 20px;
              display: flex;
              width: 100%;
              flex-wrap: wrap;
              overflow: hidden;
              p {
                font-size: 0.875rem;
                font-weight: 700;
                color: #4166eb;
                margin-right: 10px;
                text-transform: capitalize;
              }
            }
          }
          .title {
            font-weight: 600;
            margin-top: 5px;
            font-size: 1.25rem;
            text-align: left;
            width: 100%;
            --max-line: 2;
            display: -webkit-box;
            overflow: hidden;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: var(--max-line);
          }
          .content {
            font-size: 1rem;
            text-align: left;
            margin-top: 10px;
          }
        }
      }
      .navbar {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 1rem;
        .dot {
          width: 10px;
          height: 10px;
          border-radius: 9999999px;
          background-color: #eee;
        }
        .active {
          background-color: #4166eb;
        }
      }
    }
  }
  .button {
    border-radius: 50%;
  }
}
