@use "../variables/fontsizes.scss" as *;
@use "../variables/colors.scss" as *;

.faqsection {
  display: flex;
  color: black;
  padding: 0 10vw;
  min-height: 85vh;
  height: 80vh;
  align-items: center;
  .left {
    flex: 1;
    height: 100%;
    position: relative;
    padding: 8% 0;
    .heading {
      position: sticky;
      font-weight: bold;
      top: 100px;
      font-size: 56px;
    }
  }

  .wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .mobilehead {
    display: none;
  }
}
.darkfaqsection {
  .left {
    .heading {
      color: $d-text2;
    }
  }
  .mobilehead {
    color: $d-text2;
  }
}
@media only screen and (min-width: 900px) and (max-height: 900px) {
  .faqsection {
    display: flex;
    padding: 5vh 7vw;
    height: fit-content;
    height: 90vh;
    min-height: max-content;
    align-items: center;
    margin: 100px 0;
    justify-content: space-between;
    .left {
      flex: 1;
      height: 100%;
      position: relative;
      padding: 0;
      .heading {
        font-weight: bold;
        font-size: 46px;
        flex: 1;
      }
    }

    .wrapper {
      width: 65%;
    }
  }
}
@media only screen and (max-width: 860px) {
  .faqsection {
    display: flex;
    padding: 0 10vw;
    height: fit-content;
    min-height: 85vh;
    align-items: center;
    flex-direction: column;

    .heading {
      font-weight: bold;
      font-size: 56px;
      flex: 1;
      display: none;
    }
    .mobilehead {
      font-weight: bold;
      font-size: 30px;
      display: block;
      margin: 40px 0;
    }
    .wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .faqsection {
    display: flex;
    padding: 0 7vw;
    height: fit-content;
    min-height: fit-content;
    align-items: center;
    padding-bottom: 5vh;
    flex-direction: column;
    .left {
      display: none;
    }
    .heading {
      font-weight: bold;
      font-size: $tablet-heading;
      flex: 1;
      display: none;
    }
    .mobilehead {
      font-weight: bold;
      font-size: $tablet-heading;
      display: block;
      margin: 40px 0;
    }
    .wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
@media only screen and (max-height: 500px) and (orientation: landscape) {
  .faqsection {
    display: flex;
    padding: 0 7vw;
    height: fit-content;
    min-height: fit-content;
    align-items: center;
    flex-direction: column;
    margin: 5vh 0;
    .heading {
      font-weight: bold;
      font-size: 2.5vw;
      flex: 1;
      display: none;
    }
    .mobilehead {
      font-weight: bold;
      font-size: 2.5vw;
      display: block;
      margin: 40px 0;
    }
    .wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
@media only screen and (max-width: 900px) and (orientation: landscape) {
  .faqsection {
    display: flex;
    padding: 0 7vw;
    height: fit-content;
    min-height: fit-content;
    align-items: center;
    flex-direction: column;
    margin: 5vh 0;
    .heading {
      font-weight: bold;
      font-size: 2.5vw;
      flex: 1;
      display: none;
    }
    .mobilehead {
      font-weight: bold;
      font-size: 2.5vw;
      display: block;
      margin: 40px 0;
    }
    .wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
