@use "../variables/fontsizes.scss" as *;
@use "../variables/colors.scss" as *;

@keyframes moveit {
  0% {
    transform: translateY(-20%) scaleX(-1);
  }
  100% {
    transform: translateY(0) scaleX(-1);
  }
}

.footerSection {
  width: 100%;
  min-height: fit-content;
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  padding: 4% 7% 10px;
  z-index: 99;
  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(244, 245, 247);
    overflow: hidden;
    z-index: -1;
    .curvecontainer {
      position: relative;
      width: 100%;
      height: 100%;
      .curve2 {
        position: absolute;
        width: 100vw;
        left: 0;
        top: 60%;
        z-index: 1;
        transform: scaleX(-1);
        animation: moveit 5s ease alternate infinite;
        animation-delay: 2s;
      }
      .curve1 {
        position: absolute;
        width: 100vw;
        left: 0;
        top: 25%;
        z-index: 1;
        animation: moveit 5s ease alternate infinite;
      }
    }
  }

  .top {
    display: flex;
    width: 100%;
    align-items: center;
    height: 100%;
    .left {
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .gotobutton {
        width: 12vw;
        margin-top: 1rem;
        min-width: fit-content;
        font-size: clamp(12px, 1vw, 18px);
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        border-radius: 6px;
        padding: 0 20px;
        color: white;
        height: 45px;
        background-color: hsl(227, 81%, 59%);
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
          background-color: hsl(227, 100%, 59%);
        }
      }
      .signupBox {
        width: 20vw;
        min-width: fit-content;
        height: 40px;
        display: flex;
        overflow: hidden;
        margin-top: 20px;

        form {
          display: flex;
          width: 55%;
          flex: 1;
        }
        input {
          outline: none;
          border: none;
          border-top-left-radius: 6px;
          border-bottom-left-radius: 6px;
          border: 1px solid #4166eb;
          width: 100%;
          display: flex;
          align-items: center;
          font-weight: 400;
          font-size: 1.25rem;
          padding-left: 15px;
          ::placeholder {
            color: rgba(198, 198, 198, 1);
          }
        }

        .button {
          width: 5vw;
          min-width: fit-content;
          font-size: clamp(12px, 1vw, 18px);
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 500;
          border-top-right-radius: 6px;
          border-bottom-right-radius: 6px;
          padding: 0 20px;
          color: white;
          background-color: hsl(227, 81%, 59%);
          cursor: pointer;
          transition: all 0.3s ease;
          &:hover {
            background-color: hsl(227, 100%, 59%);
          }
        }
      }
      .errsignbox {
        margin-top: 10px;
      }
      .error {
        width: 26.5vw;
        margin-top: 1vh;
        font-size: clamp(12px, 1.5vw, 16px);
        color: hsl(0, 81%, 71%);
        cursor: pointer;
        font-weight: 500;
        padding-left: 0px;
      }
      .logo {
        width: 180px;
        cursor: pointer;
        height: fit-content;
      }
      .brandtext {
        margin-top: 2vh;
        .heading {
          font-size: 0.9375rem;
        }
        .subheadings {
          font-size: 0.9375rem;
          margin-top: 10px;
          display: flex;
          align-items: center;
          a {
            text-decoration: none;
            color: #4166eb;
            margin-right: 5px;
            &:last-child {
              margin: 0;
              margin-left: 5px;
            }
          }
        }

        .whatsapp {
          background-color: #25d366;
          padding: 10px;
          width: fit-content;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 12px;
          color: white;
          font-weight: 500;
          margin-top: 10px;
          text-decoration: none;
          font-size: 1rem;
          cursor: pointer;
          transition: all 0.3s ease;
          .icon {
            font-size: 1.375rem;
            margin-right: 8px;
          }
          &:hover {
            background-color: #075e54;
          }
        }
        .bottom {
          font-size: 0.875rem;
          margin-top: 10px;
          display: flex;
          p {
            text-transform: capitalize;
            cursor: pointer;
            &:first-child {
              margin-right: 10px;
            }
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
      .socials {
        display: flex;
        height: fit-content;
        overflow: auto;
        align-items: center;
        margin-top: 20px;
        .social {
          cursor: pointer;
          margin-right: 25px;
          width: 20px;
          height: 20px;
        }
        .socialyt {
          width: 25px;
          cursor: pointer;
          margin-right: 35x;
          height: 25px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
    .right {
      flex: 1;
      display: flex;
      justify-content: space-evenly;
      height: 100%;
      position: relative;
      .column {
        display: flex;
        flex-direction: column;
        margin-right: 20px;
        .heading {
          font-size: 1.0625rem;
          margin-bottom: 10px;
          margin-bottom: 25px;
          color: rgba(65, 102, 235, 1);
          font-weight: 400;
        }
        .subheading {
          font-size: 0.9375rem;
          margin-bottom: 20px;
          cursor: pointer;
          text-transform: capitalize;
          font-weight: 400;
        }
      }
    }
  }
  .mobiletop {
    display: none;
  }
  .brand {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 40px;
    .brandtext {
      .heading {
        font-size: 0.9375rem;
      }
      .subheadings {
        font-size: 0.9375rem;
        margin-top: 10px;
        display: flex;
        align-items: center;
        a {
          text-decoration: none;
          color: #4166eb;
          margin-right: 5px;
          &:last-child {
            margin: 0;
            margin-left: 5px;
          }
        }
      }
      .whatsapp {
        background-color: #25d366;
        padding: 15px;
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        color: white;
        font-weight: 500;
        margin-top: 10px;
        text-decoration: none;
        font-size: 1rem;
        cursor: pointer;
        transition: all 0.3s ease;
        .icon {
          font-size: 1.375rem;
          margin-right: 8px;
        }
        &:hover {
          background-color: #075e54;
        }
      }
      .bottom {
        font-size: 0.875rem;
        margin-top: 10px;
        display: flex;
        p {
          cursor: pointer;
          &:first-child {
            margin-right: 10px;
          }
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .socials {
      display: flex;
      height: fit-content;
      overflow: auto;
      align-items: center;
      .social {
        cursor: pointer;
        margin-right: 30px;
        width: 20px;
        height: 20px;
      }
      .socialyt {
        width: 25px;
        cursor: pointer;
        margin-right: 30px;
        height: 25px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  .bottombar {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 40px 0 20px;
    font-size: 0.75rem;
    color: rgb(59, 59, 59);
  }
}

@media only screen and (max-width: 500px) {
  .footerSection {
    .top {
      display: none;
    }
    .mobiletop {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      .column {
        width: 100%;
        padding: 0 10px;
        margin-top: 20px;
        .subheading {
          font-size: 0.75rem;
          text-transform: capitalize;
          margin-bottom: 10px;
          &:nth-child(2) {
            margin-top: 10px;
          }
        }
        .heading {
          width: 100%;
          font-size: 0.875rem;
          display: flex;
          justify-content: space-between;
          padding-bottom: 10px;
        }
      }
      .socials {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-around;
        margin-top: 40px;
        .social {
          cursor: pointer;
          margin-right: 30px;
          width: 20px;
          height: 20px;
        }
        .socialyt {
          width: 25px;
          cursor: pointer;
          margin-right: 30px;
          height: 25px;
        }
      }
      .bottom {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        font-size: 0.75rem;
        justify-content: space-around;
        p {
          font-size: 0.75rem;
          margin-bottom: 10px;
        }
        .subheadings {
          font-size: 10px;
          display: flex;
          align-items: center;
          a {
            text-decoration: none;
            font-size: 10px;
            color: #4166eb;
            margin-right: 5px;
            &:last-child {
              margin: 0;
              margin-left: 5px;
            }
          }
        }
        .wrap {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 10px;
          .terms {
            margin-right: 10px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 501px) and (max-width: 990px) {
  .footerSection {
    height: max-content;
    .top {
      display: none;
    }
    .brand {
      display: none;
    }
    .mobiletop {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      .logo {
        margin-bottom: 3vh;
      }
      .column {
        width: 100%;
        border-bottom: 1px solid black;
        padding: 0 10px;
        margin-top: 20px;
        .subheading {
          margin-bottom: 10px;
          text-transform: capitalize;
          margin-left: 10px;
          font-size: $tablet-smallsubheading;
          list-style: $tablet-smallsubheading-line;
          &:nth-child(2) {
            margin-top: 10px;
          }
        }
        .heading {
          width: 100%;
          font-size: $tablet-subheading;
          list-style: $tablet-subheading-line;
          display: flex;
          justify-content: space-between;
          padding-bottom: 10px;
        }
      }
      .socials {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-around;
        margin-top: 40px;
        .social {
          cursor: pointer;
          margin-right: 30px;
          width: 30px;
          height: 30px;
        }
        .socialyt {
          width: 35px;
          cursor: pointer;
          margin-right: 30px;
          height: 35px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
      .bottom {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        font-size: 1rem;
        justify-content: space-around;
        p {
          font-size: $tablet-subheading;
          list-style: $tablet-subheading-line;
          margin-bottom: 10px;
        }
        .whatsapp {
          background-color: #25d366;
          padding: 2vw;
          width: fit-content;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 8px;
          color: white;
          font-weight: 500;
          margin-bottom: 10px;
          text-decoration: none;
          font-size: $tablet-smallsubheading;
          list-style: $tablet-smallsubheading-line;
          cursor: pointer;
          transition: all 0.3s ease;
          .icon {
            font-size: $tablet-subheading;
            margin-right: 5px;
          }
          &:hover {
            background-color: #075e54;
          }
        }
        .subheadings {
          font-size: clamp(12px, 3vw, 16px);
          display: flex;
          align-items: center;
          a {
            text-decoration: none;
            color: #4166eb;
            margin-right: 5px;
            &:last-child {
              margin: 0;
              margin-left: 5px;
            }
          }
        }
        .wrap {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1rem;
          .terms {
            margin-right: 10px;
          }
        }
      }
    }
    .bottombar {
      margin: 10px 0;
    }
  }
}

@media only screen and (min-width: 991px) and (max-width: 1300px) {
  .footerSection {
    height: max-content;
    .top {
      display: none;
    }
    .brand {
      display: none;
    }
    .mobiletop {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      .logo {
        margin-bottom: 3vh;
      }
      .column {
        width: 100%;
        border-bottom: 1px solid black;
        padding: 0 10px;
        margin-top: 20px;
        .subheading {
          margin-bottom: 10px;
          text-transform: capitalize;
          margin-left: 10px;
          font-size: $tablet-smallsubheading;
          list-style: $tablet-smallsubheading-line;
          &:nth-child(2) {
            margin-top: 10px;
          }
        }
        .heading {
          width: 100%;
          font-size: $tablet-subheading;
          list-style: $tablet-subheading-line;
          display: flex;
          justify-content: space-between;
          padding-bottom: 10px;
        }
      }
      .socials {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-around;
        margin-top: 40px;
        .social {
          cursor: pointer;
          margin-right: 30px;
          width: 30px;
          height: 30px;
        }
        .socialyt {
          width: 35px;
          cursor: pointer;
          margin-right: 30px;
          height: 35px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
      .bottom {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        font-size: 1rem;
        justify-content: space-around;
        p {
          font-size: $tablet-subheading;
          list-style: $tablet-subheading-line;
          margin-bottom: 10px;
        }
        .whatsapp {
          background-color: #25d366;
          padding: 2vw;
          width: fit-content;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 8px;
          color: white;
          font-weight: 500;
          margin-bottom: 10px;
          text-decoration: none;
          font-size: $tablet-smallsubheading;
          list-style: $tablet-smallsubheading-line;
          cursor: pointer;
          transition: all 0.3s ease;
          .icon {
            font-size: $tablet-subheading;
            margin-right: 5px;
          }
          &:hover {
            background-color: #075e54;
          }
        }
        .subheadings {
          font-size: clamp(12px, 3vw, 16px);
          display: flex;
          align-items: center;
          a {
            text-decoration: none;
            color: #4166eb;
            margin-right: 5px;
            &:last-child {
              margin: 0;
              margin-left: 5px;
            }
          }
        }
        .wrap {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1rem;
          .terms {
            margin-right: 10px;
          }
        }
      }
    }
    .bottombar {
      margin: 10px 0;
    }
  }
}
