@keyframes moveit {
  0% {
    transform: translateY(-20%) scaleX(-1);
  }
  100% {
    transform: translateY(0) scaleX(-1);
  }
}

.footerSection {
  width: 100%;
  min-height: fit-content;
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  padding: 4% 7% 10px;
  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(244, 245, 247);
    overflow: hidden;
    z-index: -1;
    .curvecontainer {
      position: relative;
      width: 100%;
      height: 100%;
      .curve2 {
        position: absolute;
        width: 100vw;
        left: 0;
        top: 60%;
        z-index: 1;
        transform: scaleX(-1);
        animation: moveit 5s ease alternate infinite;
        animation-delay: 2s;
      }
      .curve1 {
        position: absolute;
        width: 100vw;
        left: 0;
        top: 25%;
        z-index: 1;
        animation: moveit 5s ease alternate infinite;
      }
    }
  }

  .top {
    display: flex;
    width: 100%;
    align-items: center;
    height: 100%;
    .left {
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .logo {
        width: 180px;
        cursor: pointer;
        height: fit-content;
      }
      .brandtext {
        margin-top: 2vh;
        .heading {
          font-size: 15px;
        }
        .subheadings {
          font-size: 15px;
          margin-top: 10px;
          display: flex;
          align-items: center;
          a {
            text-decoration: none;
            color: #4166eb;
            margin-right: 5px;
            &:last-child {
              margin: 0;
              margin-left: 5px;
            }
          }
        }
        .whatsapp {
          background-color: #25d366;
          padding: 15px;
          width: fit-content;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 12px;
          color: white;
          font-weight: 500;
          margin-top: 10px;
          text-decoration: none;
          font-size: 16px;
          cursor: pointer;
          transition: all 0.3s ease;
          .icon {
            font-size: 22px;
            margin-right: 8px;
          }
          &:hover {
            background-color: #075e54;
          }
        }
        .bottom {
          font-size: 14px;
          margin-top: 10px;
          display: flex;
          p {
            text-transform: capitalize;
            cursor: pointer;
            &:first-child {
              margin-right: 10px;
            }
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
      .socials {
        display: flex;
        height: fit-content;
        overflow: auto;
        align-items: center;
        margin-top: 20px;
        .social {
          cursor: pointer;
          margin-right: 30px;
          width: 20px;
          height: 20px;
        }
        .socialyt {
          width: 25px;
          cursor: pointer;
          margin-right: 30px;
          height: 25px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
    .right {
      flex: 1;
      display: flex;
      justify-content: space-evenly;
      height: 100%;
      position: relative;
      .column {
        display: flex;
        flex-direction: column;
        margin-right: 20px;
        .heading {
          font-size: 17px;
          margin-bottom: 10px;
          margin-bottom: 25px;
          color: rgba(65, 102, 235, 1);
          font-weight: 400;
        }
        .subheading {
          font-size: 15px;
          margin-bottom: 20px;
          cursor: pointer;
          text-transform: capitalize;
          font-weight: 400;
        }
      }
    }
  }
  .mobiletop {
    display: none;
  }
  .brand {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 40px;
    .brandtext {
      .heading {
        font-size: 15px;
      }
      .subheadings {
        font-size: 15px;
        margin-top: 10px;
        display: flex;
        align-items: center;
        a {
          text-decoration: none;
          color: #4166eb;
          margin-right: 5px;
          &:last-child {
            margin: 0;
            margin-left: 5px;
          }
        }
      }
      .whatsapp {
        background-color: #25d366;
        padding: 15px;
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        color: white;
        font-weight: 500;
        margin-top: 10px;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
        transition: all 0.3s ease;
        .icon {
          font-size: 22px;
          margin-right: 8px;
        }
        &:hover {
          background-color: #075e54;
        }
      }
      .bottom {
        font-size: 14px;
        margin-top: 10px;
        display: flex;
        p {
          cursor: pointer;
          &:first-child {
            margin-right: 10px;
          }
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .socials {
      display: flex;
      height: fit-content;
      overflow: auto;
      align-items: center;
      .social {
        cursor: pointer;
        margin-right: 30px;
        width: 20px;
        height: 20px;
      }
      .socialyt {
        width: 25px;
        cursor: pointer;
        margin-right: 30px;
        height: 25px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  .bottombar {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 40px 0 20px;
    font-size: 12px;
    color: rgb(59, 59, 59);
  }
}
@media only screen and (min-width: 860px) and (max-height: 800px) {
  .footerSection {
    width: 100%;
    scroll-snap-align: center;
    display: flex;
    flex-direction: column;
    background: #f4f5f7;
    position: relative;
    overflow: hidden;
    .top {
      display: flex;
      width: 100%;
      align-items: center;

      .left {
        width: 30%;
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
        .logo {
          width: 180px;
        }
        .details {
          font-size: 18px;
          margin-top: auto;
          .heading {
            font-weight: 400;
          }
          .subheadings {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            margin-top: 25px;
            a {
              text-decoration: none;
              color: #4166eb;
              transition: all 0.3s ease;
              &:first-child {
                margin-right: 5px;
              }
              &:hover {
                color: hsl(227, 57%, 49%);
              }
            }
          }
        }
        .bottom {
          margin-top: auto;
          display: flex;
          width: 100%;
          p {
            margin-right: 20px;
            font-size: 15px;
            cursor: pointer;
            font-weight: 400;
          }
        }
      }
      .right {
        flex: 1;
        display: flex;
        justify-content: space-evenly;
        height: 100%;
        position: relative;
        .column {
          display: flex;
          flex-direction: column;
          .heading {
            font-size: 17px;
            margin-bottom: 10px;
            margin-bottom: 25px;
            color: rgba(65, 102, 235, 1);
            font-weight: 400;
          }
          .subheading {
            font-size: 15px;
            margin-bottom: 20px;
            cursor: pointer;
            font-weight: 400;
          }
        }
      }
    }
    .mobiletop {
      display: none;
    }
    .brand {
      display: flex;
      width: 100%;
      .heading {
        font-size: 15px;
      }
      .subheadings {
        font-size: 15px;
        margin-top: 10px;
        display: flex;
        align-items: center;
        a {
          text-decoration: none;
          color: #4166eb;
          margin-right: 5px;
          &:last-child {
            margin: 0;
            margin-left: 5px;
          }
        }
      }
      .socials {
        .social {
          cursor: pointer;
          margin-right: 30px;
          width: 20px;
          height: 20px;
        }
        .socialyt {
          width: 25px;
          cursor: pointer;
          margin-right: 30px;
          height: 25px;
        }
      }
    }
  }
}
@media only screen and (max-width: 860px) {
  .footerSection {
    height: max-content;
    .top {
      display: none;
    }
    .brand {
      display: none;
    }
    .mobiletop {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      .logo {
        margin-bottom: 40px;
      }
      .column {
        width: 100%;
        border-bottom: 1px solid black;
        padding: 0 10px;
        margin-top: 20px;
        .subheading {
          margin-bottom: 10px;
          margin-left: 10px;
          &:nth-child(2) {
            margin-top: 10px;
          }
        }
        .heading {
          width: 100%;
          font-size: 18px;
          display: flex;
          justify-content: space-between;
          padding-bottom: 10px;
        }
      }
      .socials {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-around;
        margin-top: 50px;
        .social {
          cursor: pointer;
          margin-right: 30px;
          width: 30px;
          height: 30px;
        }
        .socialyt {
          width: 35px;
          cursor: pointer;
          margin-right: 30px;
          height: 35px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
      .bottom {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        font-size: 16px;
        justify-content: space-around;
        p {
          font-size: 16px;
          margin-bottom: 10px;
        }
        .whatsapp {
          background-color: #25d366;
          padding: 10px 15px;
          width: fit-content;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 8px;
          color: white;
          font-weight: 500;
          margin-bottom: 10px;
          text-decoration: none;
          font-size: 12px;
          cursor: pointer;
          transition: all 0.3s ease;
          .icon {
            font-size: 18px;
            margin-right: 5px;
          }
          &:hover {
            background-color: #075e54;
          }
        }
        .subheadings {
          font-size: clamp(12px, 3vw, 16px);
          display: flex;
          align-items: center;
          a {
            text-decoration: none;
            color: #4166eb;
            margin-right: 5px;
            &:last-child {
              margin: 0;
              margin-left: 5px;
            }
          }
        }
        .wrap {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 16px;
          .terms {
            margin-right: 10px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 400px) {
  .footerSection {
    .mobiletop {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      .column {
        width: 100%;
        border-bottom: 1px solid black;
        padding: 0 10px;
        margin-top: 20px;
        .subheading {
          font-size: 12px;
          color: rgb(17, 17, 17);
          margin-bottom: 10px;
          &:nth-child(2) {
            margin-top: 10px;
          }
        }
        .heading {
          width: 100%;
          font-size: 14px;
          display: flex;
          justify-content: space-between;
          padding-bottom: 10px;
        }
      }
      .socials {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-around;
        margin-top: 50px;
        .social {
          cursor: pointer;
          margin-right: 30px;
          width: 20px;
          height: 20px;
        }
        .socialyt {
          width: 25px;
          cursor: pointer;
          margin-right: 30px;
          height: 25px;
        }
      }
      .bottom {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        font-size: 12px;
        justify-content: space-around;
        p {
          font-size: 12px;
          margin-bottom: 10px;
        }
        .subheadings {
          font-size: 10px;
          display: flex;
          align-items: center;
          a {
            text-decoration: none;
            font-size: 10px;
            color: #4166eb;
            margin-right: 5px;
            &:last-child {
              margin: 0;
              margin-left: 5px;
            }
          }
        }
        .wrap {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 10px;
          .terms {
            margin-right: 10px;
          }
        }
      }
    }
  }
}
