.intro {
  scroll-snap-align: end;
  position: relative;
  height: calc(100vh - 125px);
  width: 100vw;
  background-color: white;
  display: flex;
  .textContent {
    margin-top: 11%;
    margin-left: 7%;
    .heading {
      font-size: 46px;
      font-weight: 300;
      margin-bottom: 5px;
      .fun {
        font-weight: 700;
        position: relative;
        margin-left: 10px;
        letter-spacing: 0.01px;
        .underline {
          position: absolute;
          bottom: 0;
          left: 0;
          background-color: #fdcc03;
          width: 96%;
          height: 8px;
        }
      }
    }
    .subheading {
      font-size: 20px;
      font-weight: 400;
      color: hsla(0, 0%, 0%, 0.57);
      margin-top: 15px;
      line-height: 26px;
      .ed {
        font-weight: 700;
      }
    }
    .signupBox {
      width: 23vw;
      min-width: 325px;
      height: 50px;
      display: flex;
      overflow: hidden;
      margin-top: 20px;
      input {
        outline: none;
        border: none;
        border-top-left-radius: 14px;
        border-bottom-left-radius: 14px;
        border: 1px solid #4166eb;
        width: 55%;
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 20px;
        padding-left: 15px;
        ::placeholder {
          color: rgba(198, 198, 198, 1);
        }
      }
      .button {
        width: 45%;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        color: white;
        background-color: hsl(227, 81%, 59%);
        border-top-right-radius: 14px;
        border-bottom-right-radius: 14px;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
          background-color: hsl(227, 100%, 59%);
        }
      }
    }
  }
  .homesvg {
    position: absolute;
    right: 10%;
    top: 1px;
    width: fit-content;
    height: 90%;
    width: 35%;
    circle {
      width: 100%;
    }
    rect {
      width: 100%;
    }
  }
  .red,
  .yellow,
  .blue {
    border-radius: 100%;
    bottom: 150px;
    position: absolute;
  }
  .green {
    width: 216px;
    height: 108px;
    bottom: 150px;
    left: 710px;
    position: absolute;
    border-radius: 0 0 216px 216px;
    background: #17d1bc;
    transform: rotate(-43.42deg);
  }
  .red {
    width: 41px;
    height: 41px;
    background: #ff6263;
    left: 610px;
  }
  .blue {
    width: 90px;
    height: 90px;
    left: 881px;
    background: #4166eb;
  }
  .yellow {
    width: 41px;
    height: 41px;
    left: 888px;
    bottom: 238px;
    background: #fdcc03;
  }
  .ballsvg {
    left: 35%;
    position: absolute;
    bottom: 25px;
    width: max-content;
    height: max-content;
    z-index: -1;
  }
}

@media only screen and (min-width: 860px) and (max-height: 900px) {
  .intro {
    .textContent {
      .heading {
        font-size: 36px;
      }
      .subheading {
        font-size: 16px;
      }
      .signupBox {
        width: 25vw;
        height: 40px;
        input {
          font-size: 16px;
        }
        .button {
          font-size: 16px;
        }
      }
    }
    .red,
    .yellow,
    .blue {
      bottom: 50px;
    }
    .green {
      width: 206px;
      bottom: 50px;
      height: 103px;
      left: 35%;
    }
    .red {
      left: 26%;
    }
    .blue {
      left: 47%;
    }
    .yellow {
      width: 41px;
      height: 41px;
      left: 47.4%;
      bottom: 135px;
      background: #fdcc03;
    }
    .ballsvg {
      width: 200px;
      left: 37%;
      height: fit-content;
      svg {
        width: 200px;
      }
    }
  }
}

@media only screen and (max-width: 859px) {
  .intro {
    scroll-snap-align: end;
    position: relative;
    min-height: 500px;
    height: calc(100vh - 125px);
    width: 100vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    overflow: hidden;
    .textContent {
      margin-top: 11%;
      width: 70%;
      margin-left: 7%;
      .heading {
        font-size: 26px;
        font-weight: 400;
        margin-bottom: 5px;
        .fun {
          .underline {
            height: 5px;
          }
        }
      }
      .subheading {
        font-size: 14px;
      }
      .signupBox {
        width: 60%;
        min-width: 250px;
        height: 40px;
        input {
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
          font-size: 12px;
          padding-left: 10px;
        }
        .button {
          font-size: 12px;
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
        }
      }
    }
    .homesvg {
      position: absolute;
      z-index: -1;
      width: fit-content;
      height: 90%;
      width: 75%;
      min-width: 250px;
      min-height: 400px;
      pointer-events: none;
      top: 30%;
      right: -10%;
      circle {
        width: 100%;
      }
      rect {
        width: 100%;
      }
    }
    .red,
    .yellow,
    .blue {
      bottom: 50px;
    }
    .green {
      width: 40px;
      bottom: 50px;
      height: 20px;
      left: 15%;
    }
    .red {
      width: 10px;
      height: 10px;
      left: 6%;
    }
    .blue {
      width: 22px;
      height: 22px;
      left: 23.4%;
    }
    .yellow {
      width: 12px;
      height: 12px;
      left: 22.9%;
      bottom: 70px;
      background: #fdcc03;
    }
    .ballsvg {
      width: 30px;
      bottom: 30px;
      left: 7%;
      svg {
        width: 100px;
      }
    }
  }
}
