@keyframes moveit {
  0% {
    transform: translateY(-20%) scaleX(-1);
  }
  100% {
    transform: translateY(0) scaleX(-1);
  }
}

.intro {
  scroll-snap-align: end;
  position: relative;
  height: calc(100vh - 120px);
  width: 100vw;
  display: flex;
  overflow: hidden;
  .curve {
    position: fixed;
    width: 100vw;
    left: 0;
    top: 60%;
    z-index: -1;
    transform: scaleX(-1);
    animation: moveit 5s ease alternate infinite;
    animation-delay: 2s;
  }
  .textContent {
    margin-top: 16vh;
    margin-left: 7%;
    .heading {
      font-size: 3.5vw;
      font-weight: 700;
      margin-bottom: 5px;
      color: #18191f;
      .fun {
        font-weight: 700;
        position: relative;
        display: inline-flex;
        flex-wrap: wrap;
        margin-left: 10px;
        letter-spacing: 0.01px;
        border-bottom: 6px solid #fdcc03;
      }
    }
    .subheading {
      font-size: 18px;
      font-weight: 400;
      color: #18191f;
      margin-top: 15px;
      line-height: 26px;
      width: 36vw;
      .ed {
        font-weight: 700;
      }
    }
    .error {
      width: 26.5vw;
      margin-top: 12px;
      font-size: 16px;
      color: hsl(0, 81%, 71%);
      cursor: pointer;
      font-weight: 500;
      padding-left: 0px;
    }
    .checkwaiting {
      width: 26.5vw;
      margin-top: 10px;
      font-size: 14px;
      color: hsl(227, 81%, 71%);
      cursor: pointer;
      padding-left: 10px;
      &:hover {
        color: #4166eb;
      }
    }

    .signupBox {
      width: 23vw;
      min-width: fit-content;
      height: 50px;
      display: flex;
      overflow: hidden;
      margin-top: 20px;
      form {
        display: flex;
        width: 55%;
        flex: 1;
      }
      input {
        outline: none;
        border: none;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        border: 1px solid #4166eb;
        width: 100%;
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 20px;
        padding-left: 15px;
        ::placeholder {
          color: rgba(198, 198, 198, 1);
        }
      }

      .button {
        width: 12vw;
        min-width: fit-content;
        font-size: clamp(12px, 1vw, 18px);
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        padding: 0 20px;
        color: white;
        background-color: hsl(227, 81%, 59%);
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
          background-color: hsl(227, 100%, 59%);
        }
      }
    }
    .errsignbox {
      margin-top: 10px;
    }
  }
  .homesvg {
    position: absolute;
    right: 10%;
    top: 1px;
    width: fit-content;
    height: 90%;
    width: 35%;
    div {
      background-color: #5352ed;
      height: 35vw;
      width: 35vw;
      position: absolute;
      top: 50%;
      z-index: 1;
      border-radius: 100%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    img {
      height: fit-content;
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      object-fit: contain;
      transform: translate(-50%, -50%);
      z-index: 2;
    }
  }
  .ballsvg {
    left: 30%;
    position: absolute;
    bottom: 0;
    width: 15vw;
    height: max-content;
  }
}
@media only screen and (min-width: 861px) and (max-width: 1290px) and (max-height: 800px) {
  .intro {
    .homesvg {
      position: absolute;
      width: fit-content;
      height: 50%;
      width: 55%;
      min-width: 250px;
      min-height: 400px;
      pointer-events: none;
      top: 45%;
      right: -5%;
      div {
        background-color: #5352ed;
        height: 55vw;
        width: 55vw;
        position: absolute;
        top: 50%;
        z-index: 1;
        border-radius: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
@media only screen and (max-width: 860px) {
  .intro {
    scroll-snap-align: end;
    position: relative;
    min-height: 500px;
    height: calc(100vh - 80px);
    width: 100vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    overflow: hidden;
    .textContent {
      margin-top: 11%;
      width: 80%;
      margin-left: 7%;
      .heading {
        font-size: 42px;
        font-weight: 700;
        line-height: 50px;
        margin-bottom: 5px;
      }
      .subheading {
        font-size: 14px;
        width: 100%;
        line-height: 20px;
      }
      .button {
        font-size: 16px;
      }
      .checkwaiting {
        width: 100%;
        font-size: 12px;
      }
      .signupBox {
        width: 100%;
        min-width: fit-content;
        height: 50px;
        display: flex;
        overflow: hidden;
        margin-top: 20px;
        form {
          display: flex;
          width: 55%;
          flex: 1;
        }
        input {
          flex: 1;
          font-size: 16px;
        }
      }
    }

    .ballsvg {
      width: 25vw;
      bottom: 30px;
      left: 7%;
      svg {
        width: 100px;
      }
    }
  }
}
@media only screen and (max-width: 400px) {
  .intro {
    scroll-snap-align: end;
    position: relative;
    min-height: 500px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    overflow: hidden;
    .error {
    }
    .textContent {
      margin-top: 11%;
      width: 90%;
      margin-left: 7%;
      .error {
        width: fit-content;
        margin-top: 12px;
        font-size: 12px;
        color: hsl(0, 81%, 71%);
        cursor: pointer;
        font-weight: 500;
        padding-left: 0px;
      }
      .heading {
        font-size: 42px;
        font-weight: 700;
        line-height: 50px;
        margin-bottom: 3px;
        width: 100%;
      }
      .subheading {
        font-size: 12px;
        width: 90%;
        line-height: 20px;
      }
      .signupBox {
        width: 80vw;
        min-width: 250px;
        max-width: 400px;
        height: 40px;
        z-index: 1;
        input {
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
          font-size: 12px;
          padding-left: 10px;
        }
        .button,
        .joinButton {
          font-size: 10px;
        }
      }
    }

    .ballsvg {
      width: 25vw;
      bottom: 30px;
      left: 7%;
      svg {
        width: 100px;
      }
    }
  }
}
