.jasper {
  width: 100vw;
  height: 60vh;
  position: relative;
  .leftpart {
    width: 50%;
    margin-left: 12%;
    margin-top: 4%;
    position: relative;
    min-width: 800px;
    .text {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      padding: 6% 8%;
      background-color: white;
      border-radius: 42px;
      box-shadow: 0px 4px 20px rgba(0, 71, 255, 0.14);
      display: flex;
      flex-direction: column;
      justify-content: center;
      .bottomarrow {
        display: block;
        width: 50px;
        position: absolute;
        bottom: 5%;
        right: -6.3%;
        z-index: 1;
        transform: rotate(270deg);
      }
      .heading {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 20px;
      }
      .subheading {
        font-size: 18px;
        font-weight: 400;
        margin-top: 10px;
      }
    }
    .bubble {
    }
  }
  .jasperimg {
    width: 300px;
    position: absolute;
    bottom: -120px;
    right: 16%;
  }
}

@media only screen and (max-width: 1500px) {
  .jasper {
    height: 70vh;
    .leftpart {
      margin-top: 0;
      margin-left: 5%;
      .text {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        padding: 8%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .heading {
          font-size: 24px;
          font-weight: 700;
          margin-bottom: 20px;
        }
        .subheading {
          font-size: 18px;
          font-weight: 400;
          margin-top: 10px;
        }
      }
      .bubble {
      }
    }
    .jasperimg {
      width: 250px;
      position: absolute;
      bottom: -120px;
      right: 5%;
    }
  }
}

@media only screen and (max-height: 900px) and (min-width: 900px) {
  .jasper {
    height: 65vh;
    .leftpart {
      width: 50%;
      margin-left: 7%;
      padding-left: 0;
      margin-top: 2% !important;
      position: relative;
      .text {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        display: flex;
        flex-direction: column;
        padding: 60px 50px;
        justify-content: center;
        .bottomarrow {
          display: block;
          width: 50px;
          position: absolute;
          bottom: 5%;
          z-index: 1;
          right: -7%;
          transform: rotate(270deg);
        }
        .heading {
          font-size: 20px;
          font-weight: 700;
          margin-bottom: 20px;
        }
        .subheading {
          font-size: 16px;
          font-weight: 400;
          margin-top: 0px;
        }
      }

      .bubble {
      }
    }
    .jasperimg {
      width: 220px;
      position: absolute;
      bottom: -120px;
      right: 10%;
    }
  }
}
@media only screen and (max-width: 1200px) {
  .jasper {
    height: 60vh;
    .leftpart {
      margin-left: 5%;
      min-width: 550px;
      .text {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        padding: 10% 8%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .bottomarrow {
          display: block;
          width: 50px;
          position: absolute;
          bottom: 5%;
          right: -10%;
          z-index: 1;
          transform: rotate(270deg);
        }
        .heading {
          font-size: 18px;
          font-weight: 700;
          margin-bottom: 10px;
        }
        .subheading {
          font-size: 14px;
          font-weight: 400;
          margin-top: 5px;
        }
      }
      .bubble {
      }
    }
    .jasperimg {
      width: 240px;
      position: absolute;
      bottom: -120px;
      right: 10%;
    }
  }
}
@media only screen and (max-width: 1000px) {
  .jasper {
    height: 55vh;
    .leftpart {
      margin-left: 5%;
      min-width: 450px;
      .text {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        padding: 10% 8%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .bottomarrow {
          display: block;
          width: 50px;
          position: absolute;
          bottom: 5%;
          right: -12%;
          z-index: 1;
          transform: rotate(270deg);
        }
        .heading {
          font-size: 18px;
          font-weight: 700;
          margin-bottom: 10px;
        }
        .subheading {
          font-size: 14px;
          font-weight: 400;
          margin-top: 5px;
        }
      }
      .bubble {
      }
    }
    .jasperimg {
      width: 220px;
      position: absolute;
      bottom: -120px;
      right: 10%;
    }
  }
}
@media only screen and (max-width: 860px) {
  .jasper {
    height: 55vh;
    min-height: 500px;
    .leftpart {
      margin-top: 10%;
      margin-left: 10%;
      min-width: 300px;

      .text {
        position: relative;
        top: 0;
        left: 0;
        z-index: 2;
        padding: 10% 10% 10% 8%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-shadow: 0px 4px 20px rgba(0, 71, 255, 0.14);
        border-radius: 20px;
        .bottomarrow {
          display: unset;
          position: absolute;
          bottom: -20%;
          left: 40%;
          z-index: 1;
          width: 40px;
          transform: scaleX(1);
        }

        .heading {
          font-size: 16px;
          font-weight: 700;
          margin-bottom: 5px;
        }
        .subheading {
          font-size: 12px;
          font-weight: 400;
          margin-top: 2px;
        }
      }
      .bubble {
        display: nope;
      }
    }
    .jasperimg {
      width: 120px;
      position: absolute;
      bottom: -70px;
      right: 15%;
    }
  }
}
@media only screen and (max-width: 350px) {
  .jasper {
    height: 45vh;
    display: flex;
    justify-content: center;
    .leftpart {
      margin-top: 5%;
      margin-left: 0%;
      min-width: unset;
      width: 90%;
      .text {
        position: relative;
        top: 0;
        left: 0;
        z-index: 2;
        padding: 10% 10% 10% 8%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-shadow: 0px 4px 20px rgba(0, 71, 255, 0.14);
        border-radius: 20px;

        .heading {
          font-size: 16px;
          font-weight: 700;
          margin-bottom: 5px;
        }
        .subheading {
          font-size: 12px;
          font-weight: 400;
          margin-top: 2px;
        }
      }
      .bubble {
        display: nope;
      }
    }
    .jasperimg {
      width: 120px;
      position: absolute;
      bottom: -70px;
    }
  }
}
