@use "../variables/fontsizes.scss" as *;
@use "../variables/colors.scss" as *;

.partnerSection {
  width: 100%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  .common {
    height: fit-content;
    margin-bottom: 0px;
    position: relative;
    padding: 2.5vh 2.5vw;
    border-radius: 12px;
    min-width: 100%;
    margin-top: 20px;
    .background{
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      width:100%;
      background-image:linear-gradient(to right,#f1f8ff,#fff4f4);
      padding: 2.5vh 2.5vw;
      border-radius: 3rem;
      border:1.5rem solid white;
      box-shadow: 0 0 20px grey;
    }
    .heading {
      margin-top: 4rem;
      font-size: 36px;
      font-weight: 700;
      cursor: pointer;
      margin-left: auto;
    margin-right: auto;
    }
    .subheading {
      margin-top: 1vh;
      font-size: 16px;
      font-weight: 400;
      width:80%;
  }
    .leftarrow {
      position: absolute;
      left: 40px;
      width: 50px;
      top: 57%;
      transform: scaleX(-1);
      z-index: 2;
      cursor: pointer;
    }
    .hidecursor {
      cursor: default !important;
    }
    .rightarrow {
      position: absolute;
      right: 40px;
      top: 57%;
      width: 50px;
      z-index: 2;
      cursor: pointer;
    }
    .imageswrapper{
      display: flex;
    }
    .imagewrapper2{
      background-image: url('/fullframe.png');
      background-attachment: fixed;
      background-position: 90% bottom;
      background-size: 12.5rem;
      background-repeat: no-repeat;
      width: 25rem;
      min-width: 10rem;
      height: 28rem;
      object-fit: cover;
      cursor: pointer;
      user-select: none;
    }
    .imagewrapper1{
      background-image: url('/fullframe.png');
      background-attachment: fixed;
      background-position: 65% top;
      background-size: 12.5rem;
      background-repeat: no-repeat;
      width: 25rem;
      min-width: 10rem;
      height: 28rem;
      object-fit: cover;
      cursor: pointer;
      user-select: none;
    }
      ::-webkit-scrollbar {
        width: 0; /* Remove scrollbar space */
        background: transparent; /* Optional: just make scrollbar invisible */
      }
    }
      .dashboard {
    @extend .common;
  }
  .partner {
    @extend .common;
    width: 100vw;
    margin-top: 0;
    border-radius: 0;
  }
  .darkpartner {
    .heading {
      color: $d-moredark;
    }
    .subheading {
      color: $d-main;
    }
    .hidecursor {
      cursor: default;
    }
    .leftarrow {
      path {
        fill: $d-main;
      }
    }
    .rightarrow {
      path {
        fill: $d-main;
      }
    }
      ::-webkit-scrollbar {
        width: 0; /* Remove scrollbar space */
        background: transparent; /* Optional: just make scrollbar invisible */
      }
  }
}
//phones
@media only screen and (max-width: 711px) {
  .partnerSection {
    .commonPh {
      height: fit-content;
      margin-bottom: 0px;
      padding: 3vh 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
      min-height: 340px;
      width: 75vw;
      .leftarrow {
        display: none;
      }
      .rightarrow {
        display: none;
      }
      .heading {
        font-size: 24px;
        font-weight: 700;
        padding: 0 30px;
        width: 100%;
        margin-left: 1rem;
      }
      .subheading {
        margin-top: 1vh;
        margin-left: 1rem;
        font-size: 14px;
        font-weight: 400;
        padding: 0 30px;
      }
      .imagewrapper2{
        display: none;
      }
      .imagewrapper1{
        display: flex;
      }
      .wrapper {
        width: 100%;
        height: fit-content;
        padding: 0 30px;
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 2rem;
        .img {
          min-width: auto;
          width: 100px;
          z-index: 100;
          max-width: 120px;
          height: 80px;
          object-fit: cover;
          background-color: rgb(255, 255, 255);
          border-radius: 6px;
          margin: 0 8px;
        }
      }
    }
    .dashboard {
      @extend .commonPh;
    }
    .partner {
      @extend .commonPh;
      width: 100vw;
      margin-top: 0;
    }
  }
}
//tablets
@media (min-width: 712px) and (max-width: 1024px) {
  .partnerSection {
    .commonTb {
      height: fit-content;
      margin-bottom: 0px;
      padding: 3vh 0;
      display: flex;
      flex-direction: column;
      min-height: 340px;
      .leftarrow {
        position: absolute;
        left: 40px;
        width: 40px;
        top: 80%;
        transform: scaleX(-1);
        z-index: 2;
        cursor: pointer;
      }
      .rightarrow {
        position: absolute;
        right: unset;
        right: 40px;
        top: 80%;
        width: 40px;
        z-index: 2;
        cursor: pointer;
      }
      .heading {
        font-size: 24px;
        font-weight: 700;
        padding: 0 30px;
        width: 100%;
        margin-left: 0;
      }
      .subheading {
        margin-top: 1vh;
        font-size: 14px;
        font-weight: 400;
        padding: 0 30px;
      }
      .wrapper {
        width: 100%;
        flex: unset;
        height: fit-content;
        padding: 0 30px;
        margin-top: 20px;
        .img {
          min-width: 240px;
          z-index: 100;
          max-width: 240px;
          height: 160px;
          object-fit: contain;
          background-color: rgb(255, 255, 255);
          border-radius: 6px;
          margin: 0 8px;
        }
      }
      .imagewrapper2{
        height: 15rem;
        background-size: 10rem;
      }
      .imagewrapper1{
        height: 15rem;
        background-size: 10rem;
      }
    }
    .dashboard {
      @extend .commonTb;
    }
    .partner {
      @extend .commonTb;
      width: 100vw;
    }
  }
}
@media only screen and (max-height: 500px) and (orientation: landscape) {
  .partnerSection {
    .commonPhL {
      height: fit-content;
      margin-bottom: 0px;
      padding: 3vh 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 0px;
      height: 30vh;
      min-height: 250px;
      .leftarrow {
        position: absolute;
        left: 40px;
        width: 40px;
        top: 80%;
        transform: scaleX(-1);
        z-index: 2;
        cursor: pointer;
      }
      .rightarrow {
        position: absolute;
        right: unset;
        left: 100px;
        top: 80%;
        width: 40px;
        z-index: 2;
        cursor: pointer;
      }
      .heading {
        font-size: 24px;
        font-weight: 700;
        padding: 0 30px;
        width: 100%;
      }
      .subheading {
        margin-top: 1vh;
        font-size: 14px;
        font-weight: 400;
        padding: 0 30px;
      }
      .wrapper {
        width: 100%;
        flex: unset;
        height: fit-content;
        padding: 0 30px;
        margin-top: 20px;
        .img {
          min-width: 120px;
          z-index: 100;
          max-width: 120px;
          height: 80px;
          object-fit: contain;
          background-color: rgb(255, 255, 255);
          border-radius: 6px;
          margin: 0 8px;
        }
      }
    }
    .dashboard {
      @extend .commonPhL;
    }
    .partner {
      @extend .commonPhL;
      width: 100vw;
    }
  }
}

@media only screen and (max-width: 860px) and (orientation: landscape) {
  .partnerSection {
    .commonTbL {
      height: fit-content;
      margin-bottom: 0px;
      padding: 3vh 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 0px;
      height: 30vh;
      min-height: 250px;
      .leftarrow {
        position: absolute;
        left: 40px;
        width: 40px;
        top: 80%;
        transform: scaleX(-1);
        z-index: 2;
        cursor: pointer;
      }
      .rightarrow {
        position: absolute;
        right: unset;
        left: 100px;
        top: 80%;
        width: 40px;
        z-index: 2;
        cursor: pointer;
      }
      .heading {
        font-size: 24px;
        font-weight: 700;
        padding: 0 30px;
        width: 100%;
      }
      .subheading {
        margin-top: 1vh;
        font-size: 14px;
        font-weight: 400;
        padding: 0 30px;
      }
      .wrapper {
        width: 100%;
        flex: unset;
        height: fit-content;
        padding: 0 30px;
        margin-top: 20px;
        .img {
          min-width: 120px;
          z-index: 100;
          max-width: 120px;
          height: 80px;
          object-fit: contain;
          background-color: rgb(255, 255, 255);
          border-radius: 6px;
          margin: 0 8px;
        }
      }
    }
    .dashboard {
      @extend .commonTbL;
    }
    .partner {
      @extend .commonTbL;
      width: 100vw;
    }
  }
}
@media only screen and (min-width: 1160px) and (max-width: 1280px) {
  .partnerSection {
    .common {
      padding: 1.25vh 1.5vw;
      .imageswrapper{
        display: flex;
        height: 30vw;
        gap:0rem;
      }
      .imagewrapper1 {
        height: 22rem;
      }
      .imagewrapper2{
        height: 22rem;
      }
    } 
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1160px) {
  .partnerSection {
    .common {
      padding: 0.5vh 1vw;
      .imageswrapper{
        display: flex;
        height: 30vw;
        gap:0rem;
      }
      .imagewrapper1 {
        height: 20rem;
        background-size: 11.5rem;
      }
      .imagewrapper2{
        height: 20rem;
        background-size: 11.5rem;
      }
    }
  }
}
