@use "../variables/fontsizes.scss" as *;
@use "../variables/colors.scss" as *;

@keyframes marquee {
  0% {
    transform: translate3d(0%, 0, 0);
  }

  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

.partnerSection {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  .common {
    height: fit-content;
    background-color: #ff6263;
    margin-bottom: 0px;
    color: rgb(255, 255, 255);
    padding: 5vh 6vw;
    display: flex;
    position: relative;
    flex-direction: column;
    border-radius: 12px;
    min-width: 100%;
    margin-top: 20px;
    .heading {
      font-size: 36px;
      font-weight: 700;
      cursor: pointer;
      margin-left: auto;
      margin-right: auto;
    }
    .subheading {
      margin-top: 1vh;
      font-size: 16px;
      font-weight: 400;
      margin-left: auto;
      margin-right: auto;
    }
    .leftarrow {
      position: absolute;
      left: 40px;
      width: 50px;
      top: 57%;
      transform: scaleX(-1);
      z-index: 2;
      cursor: pointer;
    }
    .hidecursor {
      cursor: default !important;
    }
    .rightarrow {
      position: absolute;
      right: 40px;
      top: 57%;
      width: 50px;
      z-index: 2;
      cursor: pointer;
    }
    .wrapper {
      width: 100%;
      display: flex;
      overflow-x: auto;
      flex: 1;
      margin-top: 30px;
      scrollbar-width: none;
      scroll-behavior: smooth;
      &::-webkit-scrollbar {
        display: none;
      }
      ::-webkit-scrollbar {
        width: 0; /* Remove scrollbar space */
        background: transparent; /* Optional: just make scrollbar invisible */
      }
      .img {
        width: 240px;
        min-width: 240px;
        height: 160px;
        object-fit: cover;
        border-radius: 10px;
        cursor: pointer;
        margin: 0 20px;
        user-select: none;
      }
    }
    .marqueeWrapper {
      display: none;
    }
  }
  .dashboard {
    @extend .common;
  }
  .partner {
    @extend .common;
    width: 100vw;
    margin-top: 0;
    border-radius: 0;
  }
  .darkpartner {
    .heading {
      color: $d-moredark;
    }
    .subheading {
      color: $d-main;
    }
    .hidecursor {
      cursor: default;
    }
    .leftarrow {
      path {
        fill: $d-main;
      }
    }
    .rightarrow {
      path {
        fill: $d-main;
      }
    }
    .wrapper {
      width: 100%;
      display: flex;
      overflow-x: auto;
      flex: 1;
      margin-top: 50px;
      scrollbar-width: none;
      scroll-behavior: smooth;
      &::-webkit-scrollbar {
        display: none;
      }
      ::-webkit-scrollbar {
        width: 0; /* Remove scrollbar space */
        background: transparent; /* Optional: just make scrollbar invisible */
      }
      .img {
        width: 240px;
        min-width: 240px;
        height: 160px;
        object-fit: cover;
        border-radius: 10px;
        cursor: pointer;
        margin: 0 20px;
        user-select: none;
      }
    }
  }
}
//phones
@media only screen and (max-width: 711px) {
  .partnerSection {
    .commonPh {
      height: fit-content;
      margin-bottom: 0px;
      padding: 3vh 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
      width: 75vw;
      .leftarrow {
        display: none;
      }
      .rightarrow {
        display: none;
      }
      .heading {
        font-size: 24px;
        font-weight: 700;
        padding: 0 30px;
        width: 100%;
        text-align: center;
      }
      .subheading {
        margin-top: 1vh;
        font-size: 14px;
        font-weight: 400;
        padding: 0 30px;
        text-align: center;
      }
      .wrapper {
        display: none;
        width: 100%;
        height: fit-content;
        padding: 0 30px;
        margin-top: 20px;
        // display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        align-content: space-around;
        justify-content: space-around;
        .img {
          display: inline;
          min-width: auto;
          width: 100px;
          // z-index: 100;
          max-width: 120px;
          height: 80px;
          object-fit: cover;
          background-color: rgb(255, 255, 255);
          border-radius: 6px;
          margin: 0 8px;
        }
      }
      .marqueeWrapper {
        display: inline-block;
        white-space: nowrap;
        .marquee {
          margin: 2rem 0;
          display: inline-block;
          white-space: nowrap;
          position: relative;
          transform: translate3d(0%, 0, 0);
          animation-name: marquee;
          animation-timing-function: linear;
          animation-iteration-count: infinite;
          animation-duration: 30s;
          .img {
            display: inline;
            min-width: auto;
            width: 100px;
            max-width: 120px;
            height: 80px;
            object-fit: cover;
            background-color: rgb(255, 255, 255);
            border-radius: 6px;
            margin: 0 8px;
          }
        }
      }
    }
    .dashboard {
      @extend .commonPh;
    }
    .partner {
      @extend .commonPh;
      width: 100vw;
      margin-top: 0;
    }
  }
}
//tablets
@media (min-width: 712px) and (max-width: 1024px) {
  .partnerSection {
    .commonTb {
      height: fit-content;
      margin-bottom: 0px;
      padding: 3vh 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 0px;
      min-height: 340px;
      width: 80vw;
      .leftarrow {
        position: absolute;
        left: 40px;
        width: 40px;
        top: 80%;
        transform: scaleX(-1);
        z-index: 2;
        cursor: pointer;
      }
      .rightarrow {
        position: absolute;
        right: unset;
        right: 40px;
        top: 80%;
        width: 40px;
        z-index: 2;
        cursor: pointer;
      }
      .heading {
        font-size: 24px;
        font-weight: 700;
        padding: 0 30px;
        width: 100%;
      }
      .subheading {
        margin-top: 1vh;
        font-size: 14px;
        font-weight: 400;
        padding: 0 30px;
      }
      .wrapper {
        width: 100%;
        flex: unset;
        height: fit-content;
        padding: 0 30px;
        margin-top: 20px;
        .img {
          min-width: 120px;
          // z-index: 100;
          max-width: 120px;
          height: 80px;
          object-fit: contain;
          background-color: rgb(255, 255, 255);
          border-radius: 6px;
          margin: 0 8px;
        }
      }
      .marqueeWrapper {
        display: none;
      }
    }
    .dashboard {
      @extend .commonTb;
    }
    .partner {
      @extend .commonTb;
      width: 100vw;
    }
  }
}
@media only screen and (max-height: 500px) and (orientation: landscape) {
  .partnerSection {
    .commonPhL {
      height: fit-content;
      margin-bottom: 0px;
      padding: 3vh 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 0px;
      height: 30vh;
      min-height: 250px;
      .leftarrow {
        position: absolute;
        left: 40px;
        width: 40px;
        top: 80%;
        transform: scaleX(-1);
        z-index: 2;
        cursor: pointer;
      }
      .rightarrow {
        position: absolute;
        right: unset;
        left: 100px;
        top: 80%;
        width: 40px;
        z-index: 2;
        cursor: pointer;
      }
      .heading {
        font-size: 24px;
        font-weight: 700;
        padding: 0 30px;
        width: 100%;
      }
      .subheading {
        margin-top: 1vh;
        font-size: 14px;
        font-weight: 400;
        padding: 0 30px;
      }
      .wrapper {
        width: 100%;
        flex: unset;
        height: fit-content;
        padding: 0 30px;
        margin-top: 20px;
        .img {
          min-width: 120px;
          // z-index: 100;
          max-width: 120px;
          height: 80px;
          object-fit: contain;
          background-color: rgb(255, 255, 255);
          border-radius: 6px;
          margin: 0 8px;
        }
      }
      .marqueeWrapper {
        display: none;
      }
    }
    .dashboard {
      @extend .commonPhL;
    }
    .partner {
      @extend .commonPhL;
      width: 100vw;
    }
  }
}

@media only screen and (max-width: 860px) and (orientation: landscape) {
  .partnerSection {
    .commonTbL {
      height: fit-content;
      margin-bottom: 0px;
      padding: 3vh 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 0px;
      height: 30vh;
      min-height: 250px;
      .leftarrow {
        position: absolute;
        left: 40px;
        width: 40px;
        top: 80%;
        transform: scaleX(-1);
        z-index: 2;
        cursor: pointer;
      }
      .rightarrow {
        position: absolute;
        right: unset;
        left: 100px;
        top: 80%;
        width: 40px;
        z-index: 2;
        cursor: pointer;
      }
      .heading {
        font-size: 24px;
        font-weight: 700;
        padding: 0 30px;
        width: 100%;
      }
      .subheading {
        margin-top: 1vh;
        font-size: 14px;
        font-weight: 400;
        padding: 0 30px;
      }
      .wrapper {
        width: 100%;
        flex: unset;
        height: fit-content;
        padding: 0 30px;
        margin-top: 20px;
        .img {
          min-width: 120px;
          // z-index: 100;
          max-width: 120px;
          height: 80px;
          object-fit: contain;
          background-color: rgb(255, 255, 255);
          border-radius: 6px;
          margin: 0 8px;
        }
      }
      .marqueeWrapper {
        display: none;
      }
    }
    .dashboard {
      @extend .commonTbL;
    }
    .partner {
      @extend .commonTbL;
      width: 100vw;
    }
  }
}
