.container {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3.5rem 0;
  .heading {
    font-size: 2rem;
    font-weight: 700;
  }
  .slider {
    padding: 1rem 0;
    animation: slidein 10s linear forwards infinite alternate;
    white-space: nowrap;
    .logos {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 2rem;
      margin: 0px 0;
      .logo {
        width: calc(100% / 8);
        aspect-ratio: 1;
        object-fit: contain;
        animation: fade-in 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .container {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3.5rem 0;
    .heading {
      font-size: 2rem;
      font-weight: 700;
    }
    .slider {
      padding: 1rem 0;
      animation: slideintwo 15s linear forwards infinite alternate;
      white-space: nowrap;
      .logos {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 2rem;
        margin: 0px 0;
        .logo {
          width: calc(100% / 2);
          height: calc(100% / 12);
          object-fit: contain;
          animation: fade-in 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955)
            forwards;
        }
      }
    }
  }
}

@keyframes slidein {
  from {
    transform: translate3d(5%, 0, 0);
  }
  to {
    transform: translate3d(-35%, 0, 0);
  }
}

@keyframes slideintwo {
  from {
    transform: translate3d(5%, 0, 0);
  }
  to {
    transform: translate3d(-400%, 0, 0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
