.productSection {
  scroll-snap-align: end;
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0 10% 0px;
  .heading {
    margin-bottom: 50px;
    font-size: 46px;
    font-weight: 700;
  }
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    .pillar {
      width: 25vw;
      border-radius: 8px;
      padding: 60px 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      cursor: pointer;
      transition: all 0.3s ease;
      .icon {
        width: 40%;
        path: {
          fill: white;
        }
      }
      .title {
        font-weight: 600;
        margin-top: 50px;
        text-align: left;
        font-size: 26px;
        width: 100%;
      }
      .description {
        font-size: 16px;
        line-height: 24px;
        margin-top: 10px;
        text-align: left;
      }
      &:first-child {
        background-color: #17d1bc;
        color: white;
        &:hover {
          box-shadow: rgba(23, 209, 188, 0.3) 0px 19px 38px,
            rgba(23, 209, 188, 0.22) 0px 15px 12px;
        }
      }
      &:nth-child(2) {
        background-color: rgb(255, 98, 99);
        color: white;
        &:hover {
          box-shadow: rgba(255, 98, 99, 0.3) 0px 19px 38px,
            rgba(255, 98, 99, 0.22) 0px 15px 12px;
        }
      }
      &:last-child {
        background-color: rgb(253, 204, 3);
        color: rgb(255, 255, 255);
        &:hover {
          box-shadow: rgba(253, 204, 3, 0.3) 0px 19px 38px,
            rgba(253, 204, 3, 0.22) 0px 15px 12px;
        }
      }
    }
  }
  .wrapper2 {
    margin-top: 40px;
    .pillar {
      .icon {
        font-size: 20vw;
        height: fit-content;
      }

      &:first-child {
        color: rgb(255, 255, 255);
        background-color: rgb(65, 102, 235);

        &:hover {
          box-shadow: rgba(65, 102, 235, 0.3) 0px 19px 38px,
            rgba(65, 102, 235, 0.22) 0px 15px 12px;
        }
      }
      &:nth-child(2) {
        background-color: rgb(255, 127, 76);
        color: white;
        &:hover {
          box-shadow: rgba(255, 127, 76, 0.781) 0px 19px 38px,
            rgba(255, 127, 76, 0.432) 0px 15px 12px;
        }
      }

      &:last-child {
        color: rgb(255, 255, 255);
        background-color: rgb(65, 187, 235);
        &:hover {
          box-shadow: rgba(65, 102, 235, 0.3) 0px 19px 38px,
            rgba(65, 102, 235, 0.22) 0px 15px 12px;
        }
      }
    }
  }
}

@media only screen and (min-width: 900px) and (max-height: 900px) {
  .productSection {
    .wrapper {
      .pillar {
        .title {
          font-weight: 600;
          margin-top: 50px;
          text-align: left;
          font-size: 22px;
          width: 100%;
        }
        .description {
          font-size: 14px;
          line-height: 24px;
          margin-top: 10px;
          text-align: left;
        }
      }
    }
  }
}

@media only screen and (max-width: 860px) {
  .productSection {
    position: relative;
    z-index: 2;
    padding: 7vw;
    padding-bottom: 0;
    height: fit-content;
    .heading {
      margin-bottom: 50px;
      font-size: 32px;
      font-weight: 700;
    }
    .wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-items: flex-start;
      justify-content: space-around;
      .pillar {
        width: 100%;
        margin: 0;
        border-radius: 8px;
        display: flex;
        min-width: 300px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        cursor: pointer;
        transition: all 0.3s ease;
        .icon {
          width: 30%;
        }
        .title {
          font-weight: 600;
          margin-top: 50px;
          font-size: 26px;
        }
        .description {
          font-size: 18px;
          margin-top: 20px;
        }
        &:first-child {
          background-color: #17d1bc;
          color: white;
          &:hover {
            box-shadow: rgba(23, 209, 188, 0.3) 0px 19px 38px,
              rgba(23, 209, 188, 0.22) 0px 15px 12px;
          }
        }
        &:nth-child(2) {
          background-color: rgb(255, 98, 99);
          color: white;
          &:hover {
            box-shadow: rgba(255, 98, 99, 0.3) 0px 19px 38px,
              rgba(255, 98, 99, 0.22) 0px 15px 12px;
          }
        }
        &:nth-child(3) {
          background-color: rgb(253, 204, 3);
          color: black;
          &:hover {
            box-shadow: rgba(253, 204, 3, 0.3) 0px 19px 38px,
              rgba(253, 204, 3, 0.22) 0px 15px 12px;
          }
        }
        &:last-child {
          color: rgb(255, 255, 255);
          background-color: rgb(65, 102, 235);
          &:hover {
            box-shadow: rgba(65, 102, 235, 0.3) 0px 19px 38px,
              rgba(65, 102, 235, 0.22) 0px 15px 12px;
          }
        }
      }
    }
    .wrapper2 {
      margin-top: 10px;
    }
  }
}

@media only screen and (max-width: 700px) {
  .productSection {
    .wrapper {
      .pillar {
        padding: 30px 20px;
        .icon {
          width: 30%;
        }
        .title {
          font-size: 18px;
          margin-top: 20px;
        }
        .description {
          font-size: 12px;
          margin-top: 5px;
          line-height: 20px;
        }
      }
    }
  }
}

@media only screen and (max-width: 860px) and (orientation: landscape) {
  .productSection {
    .heading {
      margin-bottom: 10vh;
      font-size: 4vw;
    }
    .wrapper {
      gap: 5px;
      .pillar {
        min-width: 100px;
        width: 28vw;
        padding: 30px 15px;
        .icon {
          width: 40%;
          path: {
            fill: white;
          }
        }
        .title {
          font-weight: 600;
          margin-top: 50px;
          text-align: left;
          font-size: clamp(14px, 2vw, 18px);
          width: 100%;
        }
        .description {
          font-size: clamp(12px, 1.2vw, 14px);
          line-height: 16px;
          margin-top: 10px;
          text-align: left;
        }
        &:first-child {
          background-color: #17d1bc;
          color: white;
          &:hover {
            box-shadow: rgba(23, 209, 188, 0.3) 0px 19px 38px,
              rgba(23, 209, 188, 0.22) 0px 15px 12px;
          }
        }
        &:nth-child(2) {
          background-color: rgb(255, 98, 99);
          color: white;
          &:hover {
            box-shadow: rgba(255, 98, 99, 0.3) 0px 19px 38px,
              rgba(255, 98, 99, 0.22) 0px 15px 12px;
          }
        }
        &:last-child {
          background-color: rgb(253, 204, 3);
          color: rgb(255, 255, 255);
          &:hover {
            box-shadow: rgba(253, 204, 3, 0.3) 0px 19px 38px,
              rgba(253, 204, 3, 0.22) 0px 15px 12px;
          }
        }
      }
    }
    .wrapper2 {
      margin-top: 5vh;
      .pillar {
        .icon {
          font-size: 20vw;
          height: fit-content;
        }

        &:first-child {
          color: rgb(255, 255, 255);
          background-color: rgb(65, 102, 235);

          &:hover {
            box-shadow: rgba(65, 102, 235, 0.3) 0px 19px 38px,
              rgba(65, 102, 235, 0.22) 0px 15px 12px;
          }
        }
        &:nth-child(2) {
          background-color: rgb(255, 127, 76);
          color: white;
          &:hover {
            box-shadow: rgba(255, 127, 76, 0.781) 0px 19px 38px,
              rgba(255, 127, 76, 0.432) 0px 15px 12px;
          }
        }

        &:last-child {
          color: rgb(255, 255, 255);
          background-color: rgb(65, 187, 235);
          &:hover {
            box-shadow: rgba(65, 102, 235, 0.3) 0px 19px 38px,
              rgba(65, 102, 235, 0.22) 0px 15px 12px;
          }
        }
      }
    }
  }
}
