.productsSection {
  padding: 5%;
  .title {
    font-size: 2rem;
    font-weight: 700;
    color: #000;
    text-align: center;
    padding-bottom: 2rem;
  }
  .mainContent {
    display: flex;
    justify-content: space-between;
    .left {
      flex: 1;
    }
    .middle {
      flex: 1;
      height: 100%;
      width: 100%;
      .screenshots {
        position: relative;
        .ss2 {
          position: absolute;
          height: 100%;
          min-height: 50vh;
          top: 60px;
          left: 15%;
        }
        .ss1 {
          position: absolute;
          height: 100%;
          min-height: 50vh;
          top: 0;
          left: 0;
        }
      }
    }
    .right {
      flex: 1;
      padding: 2% 5%;
    }
  }
  .product {
    background-color: #fafafa;
    border-radius: 30px;
    margin: 1rem 0;
    position: relative;
    .icon {
      position: absolute;
      top: 10px;
      left: -30px;
      .iconImage {
        height: 66px;
        width: 66px;
      }
    }
    .content {
      padding: 1rem 1rem 1rem 55px;
      .productTitle {
        font-size: 1rem;
        font-weight: 700;
        color: #000;
        padding-bottom: 0.5rem;
      }
      .productDetails {
        font-size: 1rem;
        font-weight: 300;
        color: #808080;
      }
    }
  }
}
