.productSection {
  scroll-snap-align: end;
  position: relative;
  width: 100vw;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0 10% 200px;
  .heading {
    margin-bottom: 50px;
    font-size: 46px;
    font-weight: 700;
  }
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-items: flex-start;
    justify-content: space-between;
    .pillar {
      width: 19vw;
      border-radius: 8px;
      padding: 100px 25px 150px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      cursor: pointer;
      transition: all 0.3s ease;
      .icon {
        width: 50%;
      }
      .title {
        font-weight: 600;
        margin-top: 50px;
        font-size: 26px;
      }
      .description {
        font-size: 18px;
        margin-top: 20px;
      }
      &:first-child {
        background-color: #17d1bc;
        color: white;
        &:hover {
          box-shadow: rgba(23, 209, 188, 0.3) 0px 19px 38px,
            rgba(23, 209, 188, 0.22) 0px 15px 12px;
        }
      }
      &:nth-child(2) {
        background-color: rgb(255, 98, 99);
        color: white;
        &:hover {
          box-shadow: rgba(255, 98, 99, 0.3) 0px 19px 38px,
            rgba(255, 98, 99, 0.22) 0px 15px 12px;
        }
      }
      &:nth-child(3) {
        background-color: rgb(253, 204, 3);
        color: black;
        &:hover {
          box-shadow: rgba(253, 204, 3, 0.3) 0px 19px 38px,
            rgba(253, 204, 3, 0.22) 0px 15px 12px;
        }
      }
      &:last-child {
        color: rgb(255, 255, 255);
        background-color: rgb(65, 102, 235);
        &:hover {
          box-shadow: rgba(65, 102, 235, 0.3) 0px 19px 38px,
            rgba(65, 102, 235, 0.22) 0px 15px 12px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1500px) {
  .productSection {
    .wrapper {
      justify-content: space-around;
      .pillar {
        padding-top: 80px;
        padding-bottom: 100px;
        margin-bottom: 20px;
        .title {
          font-size: 20px;
          height: 50px;
        }
        .description {
          font-size: 16px;
        }
      }
    }
  }
}

@media only screen and (min-width: 860px) and (max-height: 800px) {
  .productSection {
    .right {
      .heading {
        font-size: 36px;
      }
      .button {
        font-size: 16px;
      }
      .finance {
        font-size: 22px;
      }
    }
  }
}

@media only screen and (max-width: 860px) {
  .productSection {
    position: relative;
    z-index: 2;
    padding: 7vw;
    height: fit-content;
    .heading {
      margin-bottom: 50px;
      font-size: 32px;
      font-weight: 700;
    }
    .wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-items: flex-start;
      justify-content: space-around;
      .pillar {
        width: 42vw;
        margin: 0;
        margin-bottom: 20px;
        border-radius: 8px;
        padding: 100px 25px 150px;
        display: flex;
        min-width: 300px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        cursor: pointer;
        transition: all 0.3s ease;
        .icon {
          width: 50%;
        }
        .title {
          font-weight: 600;
          margin-top: 50px;
          font-size: 26px;
        }
        .description {
          font-size: 18px;
          margin-top: 20px;
        }
        &:first-child {
          background-color: #17d1bc;
          color: white;
          &:hover {
            box-shadow: rgba(23, 209, 188, 0.3) 0px 19px 38px,
              rgba(23, 209, 188, 0.22) 0px 15px 12px;
          }
        }
        &:nth-child(2) {
          background-color: rgb(255, 98, 99);
          color: white;
          &:hover {
            box-shadow: rgba(255, 98, 99, 0.3) 0px 19px 38px,
              rgba(255, 98, 99, 0.22) 0px 15px 12px;
          }
        }
        &:nth-child(3) {
          background-color: rgb(253, 204, 3);
          color: black;
          &:hover {
            box-shadow: rgba(253, 204, 3, 0.3) 0px 19px 38px,
              rgba(253, 204, 3, 0.22) 0px 15px 12px;
          }
        }
        &:last-child {
          color: rgb(255, 255, 255);
          background-color: rgb(65, 102, 235);
          &:hover {
            box-shadow: rgba(65, 102, 235, 0.3) 0px 19px 38px,
              rgba(65, 102, 235, 0.22) 0px 15px 12px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .productSection {
    .wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-items: flex-start;
      justify-content: center;
      .pillar {
        width: 86vw;
        margin-bottom: 15px;
        border-radius: 8px;
        padding: 20px 25px 50px;
        display: flex;
        min-width: 300px;

        flex-direction: column;
        align-items: center;
        text-align: center;
        cursor: pointer;
        transition: all 0.3s ease;
        .icon {
          width: 40%;
        }
        .title {
          margin-top: 20px;
        }
        .description {
          font-size: 14px;
          margin-top: 10px;
        }
      }
    }
  }
}
