@use "../variables/fontsizes.scss" as *;
@use "../variables/colors.scss" as *;

.testimonial {
  width: 100%;
  padding: 4rem 10vw;
  z-index: 1;
  .heading {
    font-size: 2.875rem;
    font-weight: 700;
    width: 100%;
  }
  .mainContain {
    position: relative;
    .wrapper {
      position: absolute;
      display: flex;
      align-items: center;
      width: 100%;
      .left {
        width: 70%;
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: flex-end;
        position: relative;
        padding: 1rem 2rem 0 1rem;
        margin-top: 4%;
        .container {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0;
          .contentContainer {
            padding: 1rem;
            border-radius: 16px;
            box-shadow: 0px 0px 6px #4166eb58;
            background-color: #fff;
            z-index: 2;
            min-height: 45vh;
            display: flex;
            align-items: center;
            max-width: fit-content;
            &::after {
              content: "";
              z-index: -1;
              background-color: #fff;
              // box-shadow: 0 0 5px 2px rgba(178, 178, 178, 0.4);
              content: "\00a0";
              display: block;
              height: 2rem;
              width: 2rem;
              right: 10px;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              transform: rotate(45deg);
              -moz-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              -o-transform: rotate(45deg);
              -webkit-transform: rotate(45deg);
              box-shadow: #4166eb58 4px -3px 4px;
              border-width: 10px;
              border-style: solid;
              border-color: transparent #fff #fff transparent;
            }
            .quote {
              font-size: 1.375rem;
              line-height: 32px;
              font-weight: 400;
            }
            .videoWrapper {
              width: 50vw;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              .videoContainer {
                width: 50vw;
                height: 40vh;
                position: relative;
                border-radius: 4px;
                margin: 0 auto;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                box-shadow: 0px 8px 10px rgba(black, 0.2);
                video {
                  width: 100%;
                  height: 100%;
                  border-radius: 4px;
                }
                .playButtonWrapper {
                  position: absolute;
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 100%;
                  height: auto;
                  pointer-events: none;
                  .playGif {
                    cursor: pointer;
                    pointer-events: auto;

                    svg {
                      width: 100px;
                      height: 100px;
                      fill: #fff;
                      stroke: #fff;
                      cursor: pointer;
                      background-color: rgba(black, 0.2);
                      border-radius: 50%;
                      opacity: 0.9;
                    }
                  }
                }
              }
            }
          }
        }
        .quotesvg {
          width: 70px;
          position: absolute;
          z-index: -1;
          opacity: 0.3;
          left: -2.5%;
          top: -10px;
        }
      }
      .right {
        width: 30%;
        min-height: 35vh;
        max-height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        .profileContainer {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .image {
            position: relative;
            width: 7.5rem;
            height: 7.5rem;
            border-radius: 100%;
            overflow: hidden;
            border: 3px #2ec5ce solid;
          }
          .name {
            font-size: 1.375rem;
            line-height: 28px;
            color: #5d5d5d;
            font-weight: 500;
            width: 100%;
            text-align: center;
          }
          .des {
            font-size: 1.125rem;
            line-height: 26px;
            color: #18191f;
            font-weight: 400;
            width: 100%;
            margin-top: 5px;
          }
        }
      }
    }
  }
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    transition: all 0.3s ease;
    width: 100%;
    .ball {
      width: 10px;
      height: 10px;
      background-color: rgba(217, 219, 225, 1);
      border-radius: 10px;
      transition: all 0.3s ease;
      margin: 0 10px;
      cursor: pointer;
    }
    .active {
      height: 10px;
      border-radius: 10px;
      background-color: #4166eb;
    }
  }
}

@media only screen and (max-width: 500px) {
  .testimonial {
    height: max-content;
    width: 100%;
    padding: 0 4rem;
    .heading {
      text-align: center;
    }
    .mainContain {
      min-height: 80vh;
      max-height: 100vh;
      .wrapper {
        flex-direction: column;
        .left {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          position: relative;
          padding: 1rem 0 0 0;
          margin-top: 4%;
          .container {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0;
            .contentContainer {
              padding: 1rem;
              width: 100%;
              border-radius: 16px;
              box-shadow: 0px 0px 6px #4166eb58;
              background-color: #fff;
              z-index: 2;
              min-height: 45vh;
              display: flex;
              align-items: center;

              &::after {
                content: "";
                z-index: -1;
                background-color: #fff;
                // box-shadow: 0 0 5px 2px rgba(178, 178, 178, 0.4);
                content: "\00a0";
                display: block;
                height: 2rem;
                width: 2rem;
                right: 50%;
                top: auto;
                bottom: -2.6rem !important;
                left: 50% !important;
                position: absolute;
                transform: rotate(45deg) translateY(0) translateX(-50%);
                -moz-transform: rotate(45deg) translateY(0) translateX(-50%);
                -ms-transform: rotate(45deg) translateY(0) translateX(-50%);
                -o-transform: rotate(45deg) translateY(0) translateX(-50%);
                -webkit-transform: rotate(45deg) translateY(0) translateX(-50%);
                box-shadow: #4166eb58 4px 3px 4px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent #fff #fff transparent;
              }

              .quote {
                font-size: 1.2rem;
                line-height: 1.4;
                font-weight: 400;
              }

              .videoWrapper {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                .videoContainer {
                  width: 80vw;
                  height: 30vh;
                  position: relative;
                  border-radius: 4px;
                  margin: 0 auto;
                  position: relative;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  box-shadow: 0px 8px 10px rgba(black, 0.2);
                  video {
                    width: 100%;
                    height: 100%;
                    border-radius: 4px;
                  }
                  .playButtonWrapper {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: auto;
                    pointer-events: none;
                    .playGif {
                      cursor: pointer;
                      pointer-events: auto;

                      svg {
                        width: 100px;
                        height: 100px;
                        fill: #fff;
                        stroke: #fff;
                        cursor: pointer;
                        background-color: rgba(black, 0.2);
                        border-radius: 50%;
                        opacity: 0.9;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .right {
          width: 100%;
          height: fit-content;
          max-height: fit-content;
          display: flex;
          justify-content: center;
          align-items: center;
          .profileContainer {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .image {
              position: relative;
              width: 7.5rem;
              height: 7.5rem;
              border-radius: 100%;
              overflow: hidden;
              border: 3px #2ec5ce solid;
            }
            .name {
              font-size: 1.375rem;
              line-height: 28px;
              color: #5d5d5d;
              font-weight: 500;
              width: 100%;
              text-align: center;
            }
            .des {
              font-size: 1.125rem;
              line-height: 26px;
              color: #18191f;
              font-weight: 400;
              width: 100%;
              margin-top: 5px;
            }
          }
        }
      }
    }
    .navbar {
      display: flex;
      margin-top: 2rem;
      transition: all 0.3s ease;
      width: 100%;
      .ball {
        width: 5px;
        height: 5px;
        background-color: rgba(217, 219, 225, 1);
        border-radius: 10px;
        transition: all 0.3s ease;
        margin: 0 5px;
      }
      .active {
        height: 5px;
        border-radius: 5px;
        background-color: #4166eb;
      }
    }
  }
}

@media only screen and (min-width: 501px) and (max-width: 990px) {
  .testimonial {
    height: max-content;
    width: 100%;
    padding: 0 6rem;
    .heading {
      font-size: 2rem;
      margin-bottom: 40px;
      text-align: center;
    }
    .mainContain {
      .wrapper {
        flex-direction: column;
        .left {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          position: relative;
          padding: 1rem 0 0 0;
          margin-top: 4%;
          .container {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0;
            .contentContainer {
              padding: 1rem;
              width: 100%;
              border-radius: 16px;
              box-shadow: 0px 0px 6px #4166eb58;
              background-color: #fff;
              z-index: 2;
              min-height: 45vh;
              display: flex;
              align-items: center;

              &::after {
                content: "";
                z-index: -1;
                background-color: #fff;
                // box-shadow: 0 0 5px 2px rgba(178, 178, 178, 0.4);
                content: "\00a0";
                display: block;
                height: 2rem;
                width: 2rem;
                right: 50%;
                top: auto;
                bottom: -2.6rem !important;
                left: 50% !important;
                position: absolute;
                transform: rotate(45deg) translateY(0) translateX(-50%);
                -moz-transform: rotate(45deg) translateY(0) translateX(-50%);
                -ms-transform: rotate(45deg) translateY(0) translateX(-50%);
                -o-transform: rotate(45deg) translateY(0) translateX(-50%);
                -webkit-transform: rotate(45deg) translateY(0) translateX(-50%);
                box-shadow: #4166eb58 4px 3px 4px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent #fff #fff transparent;
              }

              .quote {
                font-size: 1.2rem;
                line-height: 1.4;
                font-weight: 400;
              }

              .videoWrapper {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                .videoContainer {
                  width: 80vw;
                  height: 30vh;
                  position: relative;
                  border-radius: 4px;
                  margin: 0 auto;
                  position: relative;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  box-shadow: 0px 8px 10px rgba(black, 0.2);
                  video {
                    width: 100%;
                    height: 100%;
                    border-radius: 4px;
                  }
                  .playButtonWrapper {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: auto;
                    pointer-events: none;
                    .playGif {
                      cursor: pointer;
                      pointer-events: auto;

                      svg {
                        width: 100px;
                        height: 100px;
                        fill: #fff;
                        stroke: #fff;
                        cursor: pointer;
                        background-color: rgba(black, 0.2);
                        border-radius: 50%;
                        opacity: 0.9;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .right {
          width: 100%;
          height: fit-content;
          max-height: fit-content;
          display: flex;
          justify-content: center;
          align-items: center;
          .profileContainer {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .image {
              position: relative;
              width: 7.5rem;
              height: 7.5rem;
              border-radius: 100%;
              overflow: hidden;
              border: 3px #2ec5ce solid;
            }
            .name {
              font-size: 1.375rem;
              line-height: 28px;
              color: #5d5d5d;
              font-weight: 500;
              width: 100%;
              text-align: center;
            }
            .des {
              font-size: 1.125rem;
              line-height: 26px;
              color: #18191f;
              font-weight: 400;
              width: 100%;
              margin-top: 5px;
            }
          }
        }
      }
    }
    .navbar {
      display: flex;
      margin-top: 2rem;
      transition: all 0.3s ease;
      width: 100%;
      .ball {
        width: 5px;
        height: 5px;
        background-color: rgba(217, 219, 225, 1);
        border-radius: 10px;
        transition: all 0.3s ease;
        margin: 0 5px;
      }
      .active {
        height: 5px;
        border-radius: 5px;
        background-color: #4166eb;
      }
    }
  }
}

@media only screen and (min-width: 991px) and (max-width: 1300px) {
  .testimonial {
    height: max-content;
    width: 100vw;
    padding: 0 7vw;
    z-index: 89;
    .heading {
      font-size: $tablet-heading;
      margin-bottom: 5vh;
    }
    .mainContain {
      .wrapper {
        display: flex;
        // justify-content: space-between;
        align-items: center;
        .left {
          width: 70%;
          display: flex;
          flex-direction: column;
          height: 100%;
          align-items: flex-end;
          position: relative;
          padding: 1rem 2rem 0 1rem;
          margin-top: 4%;
          .container {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0;
            .contentContainer {
              padding: 1rem;
              border-radius: 16px;
              box-shadow: 0px 0px 6px #4166eb58;
              background-color: #fff;
              z-index: 2;
              min-height: 45vh;
              display: flex;
              align-items: center;

              &::after {
                content: "";
                z-index: -1;
                background-color: #fff;
                // box-shadow: 0 0 5px 2px rgba(178, 178, 178, 0.4);
                content: "\00a0";
                display: block;
                height: 2rem;
                width: 2rem;
                right: 10px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                box-shadow: #4166eb58 4px -3px 4px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent #fff #fff transparent;
              }

              .videoWrapper {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                .videoContainer {
                  width: 50vw;
                  height: 40vh;
                  position: relative;
                  border-radius: 4px;
                  margin: 0 auto;
                  position: relative;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  box-shadow: 0px 8px 10px rgba(black, 0.2);
                  video {
                    width: 100%;
                    height: 100%;
                    border-radius: 4px;
                  }
                  .playButtonWrapper {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: auto;
                    pointer-events: none;
                    .playGif {
                      cursor: pointer;
                      pointer-events: auto;

                      svg {
                        width: 100px;
                        height: 100px;
                        fill: #fff;
                        stroke: #fff;
                        cursor: pointer;
                        background-color: rgba(black, 0.2);
                        border-radius: 50%;
                        opacity: 0.9;
                      }
                    }
                  }
                }
              }
            }
          }
          .quotesvg {
            width: 70px;
            position: absolute;
            z-index: -1;
            opacity: 0.3;
            left: -2.5%;
            top: -10px;
          }
          .quote {
            font-size: 1.375rem;
            line-height: 32px;
            font-weight: 400;
          }
        }
        .right {
          width: 30%;
          min-height: 35vh;
          max-height: 100%;
          display: flex;
          justify-content: center;
          align-items: flex-end;
          .profileContainer {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .image {
              position: relative;
              width: 7.5rem;
              height: 7.5rem;
              border-radius: 100%;
              overflow: hidden;
              border: 3px #2ec5ce solid;
            }
            .name {
              font-size: 1.375rem;
              line-height: 28px;
              color: #5d5d5d;
              font-weight: 500;
              width: 100%;
              text-align: center;
            }
            .des {
              font-size: 1.125rem;
              line-height: 26px;
              color: #18191f;
              font-weight: 400;
              width: 100%;
              margin-top: 5px;
            }
          }
        }
      }
    }
    .navbar {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 4rem;
      transition: all 0.3s ease;
      width: 100%;
      .ball {
        width: 10px;
        height: 10px;
        background-color: rgba(217, 219, 225, 1);
        border-radius: 10px;
        transition: all 0.3s ease;
        margin: 0 10px;
        cursor: pointer;
      }
      .active {
        height: 10px;
        border-radius: 10px;
        background-color: #4166eb;
      }
    }
  }
}
