.whatSection {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  scroll-snap-align: end;
  padding: 3% 15% 20px 15%;
  overflow: hidden;
  position: relative;
  .outside_blue {
    width: 57px;
    height: 57px;
    position: absolute;
    background-color: #4166eb;
    border-radius: 100%;
    top: 10%;
    left: 8%;
  }
  .outside_green {
    position: absolute;
    background-color: #17d1bc;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    bottom: 45%;
    left: -20px;
  }
  .outside_green2 {
    position: absolute;
    background-color: #00c2ff;
    width: 19px;
    height: 19px;
    border-radius: 100%;
    top: 4%;
    right: 20%;
  }
  .outside_yellow {
    position: absolute;
    background-color: #fdcc03;
    width: 69px;
    height: 69px;
    border-radius: 100%;
    top: 4%;
    right: -30px;
  }
  .outside_red {
    position: absolute;
    background-color: #ff6263;
    width: 43px;
    height: 43px;
    border-radius: 100%;
    bottom: 35%;
    right: 25%;
  }
  .heading {
    margin-bottom: 50px;
    font-size: 46px;
    font-weight: 400;
    .highlight {
      position: relative;
      font-weight: 700;
      .underline {
        position: absolute;
        bottom: 0;
        left: 0;
        background: #fdcc03;
        width: 93%;
        height: 8px;
      }
    }
  }
  .middle {
    height: 80%;
    display: flex;
    width: 100%;
    .left {
      width: 60%;
      display: flex;
      align-items: center;
      justify-content: center;
      .circle {
        background: #f5f5f5;
        width: 30vw;
        height: 30vw;
        max-width: 500px;
        max-height: 500px;
        border-radius: 100%;
        position: relative;
        img {
          width: 30vw;
          height: 30vw;
          max-width: 500px;
          max-height: 500px;
          border-radius: 100%;
          object-fit: cover;
          overflow: hidden;
        }
        .blue {
          position: absolute;
          border-radius: 100%;
          background: #4166eb;
          width: 110px;
          height: 110px;
          top: 0;
          z-index: -2;
          right: 0;
        }

        .red {
          position: absolute;
          background-color: #ff6263;
          width: 110px;
          height: 110px;
          border-radius: 100%;
          bottom: 0;
          left: 0;
        }
        .yellow {
          position: absolute;
          border-radius: 100%;
          background-color: #fdcc03;
          width: 47px;
          height: 47px;
          bottom: 0;
          z-index: -1;
          right: -10%;
        }
      }
    }
    .right {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding-top: 10%;

      .head {
        font-size: 28px;
        font-weight: 400;
        margin-bottom: 20px;
        .highlight {
          font-weight: 500;
          font-style: italic;
        }
      }
      .details {
        font-family: "Roboto", sans-serif;
        width: 85%;
        color: rgba(0, 0, 0, 0.81);
        font-size: 16px;
        margin-bottom: 30px;
        span {
          font-weight: 500;
        }
      }
    }
  }
  .bottom {
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    .dot {
      width: 8px;
      height: 8px;
      background-color: #fdcc03;
      border-radius: 100%;
      margin-right: 10px;
    }
    .current {
      width: 25px;
      height: 8px;
      border-radius: 10px;
      background: #4166eb;
    }
  }
}

@media only screen and (min-width: 860px) and (max-height: 900px) {
  .whatSection {
    .outside_red {
      position: absolute;
      background-color: #ff6263;
      width: 23px;
      height: 23px;
      border-radius: 100%;
      bottom: 25%;
      right: 25%;
    }
  }
}
@media only screen and (max-width: 859px) {
  .whatSection {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 0% 7% 20px;
    .outside_blue {
      width: 27px;
      height: 27px;
      position: absolute;
      background-color: #4166eb;
      border-radius: 100%;
      top: 15%;
      left: 1%;
    }
    .outside_green {
      position: absolute;
      background-color: #17d1bc;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      bottom: 15%;
      left: -20px;
    }
    .outside_green2 {
      position: absolute;
      background-color: #00c2ff;
      width: 7px;
      height: 7px;
      border-radius: 100%;
      top: 1%;
      right: 25%;
    }
    .outside_yellow {
      position: absolute;
      background-color: #fdcc03;
      width: 29px;
      height: 29px;
      border-radius: 100%;
      top: 4%;
      right: -10px;
    }
    .outside_red {
      position: absolute;
      background-color: #ff6263;
      width: 13px;
      height: 13px;
      border-radius: 100%;
      bottom: 15%;
      right: 15%;
    }
    .heading {
      margin-top: 40px;
      margin-bottom: 30px;
      font-size: 36px;
      .highlight {
        .underline {
          height: 6px;
        }
      }
    }
    .middle {
      height: 75%;
      display: flex;
      width: 100%;
      flex-direction: column;
      .left {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 0;
        left: 0;
        height: 100%;
        .circle {
          background: #f5f5f5;
          width: 45vw;
          height: 45vw;
          max-width: 500px;
          max-height: 500px;
          border-radius: 100%;
          position: relative;
          img {
            width: 45vw;
            height: 45vw;
            max-width: 500px;
            max-height: 500px;
            border-radius: 100%;
            object-fit: cover;
            overflow: hidden;
          }
          .blue {
            position: absolute;
            border-radius: 100%;
            background: #4166eb;
            width: 40px;
            height: 40px;
            top: 0;
            z-index: -2;
            right: 0;
          }
          .red {
            position: absolute;
            background-color: #ff6263;
            width: 45px;
            height: 45px;
            border-radius: 100%;
            bottom: 0;
            left: 0;
          }
          .yellow {
            position: absolute;
            border-radius: 100%;
            background-color: #fdcc03;
            width: 27px;
            height: 27px;
            bottom: 0;
            z-index: -1;
            right: 5%;
          }
        }
      }
      .right {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 5%;
        .head {
          font-size: 24px;
          width: 80%;
          text-align: left;
        }
        .details {
          font-size: 12px;
          text-align: left;
          width: 80%;
        }
      }
    }
    .bottom {
      width: 100%;
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      .dot {
        width: 8px;
        height: 8px;
        background-color: #fdcc03;
        border-radius: 100%;
        margin-right: 10px;
      }
      .current {
        width: 25px;
        height: 8px;
        border-radius: 10px;
        background: #4166eb;
      }
    }
  }
}
