.whoSection {
  min-height: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  scroll-snap-align: end;
  padding: 3% 10% 100px 10%;
  background: #4166eb;
  overflow: hidden;
  width: 100%;
  .heading {
    margin: 50px 0 20px;
    font-size: 46px;
    font-weight: 700;
    padding-right: 50px;
    color: white;
  }
  .container {
    display: flex;
    width: 100%;
    align-items: center;
    color: white;
    .left {
      height: fit-content;
      padding-right: 40px;
      flex: 1;
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      height: 100%;
      justify-content: center;
      p {
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 40px;
        line-height: 32px;
        span {
          font-weight: 500;
        }
      }
    }
    .right {
      display: flex;
      flex-direction: column;
      height: 100%;
      align-items: flex-end;
      width: 30vw;
      padding-top: 0%;
      justify-content: center;
      .imageblock {
        width: 100%;
        position: relative;
        max-width: 563px;
        width: 30vw;
        z-index: 2;
        height: 30vw;
        img {
          width: 100%;
          height: 100%;
          border-radius: 100%;
          object-fit: cover;
        }
        .green {
          position: absolute;
          right: 22%;
          top: -20px;
          width: 69px;
          height: 69px;
          border-radius: 50%;
          background-color: hsla(173, 80%, 45%, 1);
        }
        .yellow {
          position: absolute;
          bottom: 0;
          right: 0;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background-color: #fdcc03;
        }
        .white {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 110px;
          height: 110px;
          border-radius: 50%;
          background-color: #ffffff;
          z-index: -1;
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .whoSection {
    min-height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    scroll-snap-align: end;
    padding: 3vh 7vw;
    background: #4166eb;
    overflow: hidden;
    width: 100%;
    .heading {
      margin: 30px 0 50px;
      font-size: 30px;
      font-weight: 700;
      padding-right: 50px;
      color: white;
    }
    .container {
      display: flex;
      width: 100%;
      align-items: center;
      height: fit-content;
      color: white;
      .left {
        height: fit-content;
        flex: 1;
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        height: 100%;
        justify-content: center;
        padding-right: 40px;
        p {
          font-size: 16px;
          font-weight: 400;
          margin-bottom: 40px;
          line-height: 26px;
          span {
            font-weight: 500;
          }
        }
      }
      .right {
        display: flex;
        flex-direction: column;
        height: inherit;
        align-items: flex-end;
        width: 30vw;
        padding-top: 0%;
        justify-content: center;
        .imageblock {
          position: relative;
          max-width: unset;
          width: 30vw;

          z-index: 2;
          height: 30vw;
          img {
            width: 100%;
            height: 100%;
            border-radius: 100%;
            object-fit: cover;
          }
          .green {
            position: absolute;
            right: 22%;
            top: -20px;
            width: 69px;
            height: 69px;
            border-radius: 50%;
            background-color: hsla(173, 80%, 45%, 1);
          }
          .yellow {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #fdcc03;
          }
          .white {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 110px;
            height: 110px;
            border-radius: 50%;
            background-color: #ffffff;
            z-index: -1;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 900px) and (max-height: 900px) {
  .whoSection {
    padding: 5% 7%;
    .heading {
      margin: 0;
      font-size: 40px;
      padding-right: 0px;
      color: white;
    }
    .container {
      margin-top: 40px;
      .left {
        margin: 0;
        p {
          font-size: 16px;
          line-height: 26px;
        }
      }
      .right {
        p {
          font-size: 16px;
          margin-bottom: 35px;
        }
      }
    }
  }
}
@media only screen and (max-width: 860px) {
  .whoSection {
    height: max-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 0% 7% 20px;
    .heading {
      margin-top: 40px;
      margin-bottom: 30px;
      font-size: 36px;
      padding: 0;
      .highlight {
        .underline {
          height: 6px;
        }
      }
    }
    .container {
      height: max-content;
      display: flex;
      width: 100%;
      align-items: center;
      color: white;
      flex-direction: column-reverse;
      .right {
        align-items: center;
        .imageblock {
          width: 100%;
          position: relative;
          max-width: 563px;
          width: 65vw;
          z-index: 2;
          height: 65vw;
          margin-bottom: 40px;
          img {
            width: 100%;
            height: 100%;
            border-radius: 100%;
            object-fit: cover;
          }
          .green {
            width: 39px;
            height: 39px;
          }
          .yellow {
            width: 7px;
            height: 7px;
            bottom: 5%;
          }
          .white {
            width: 70px;
            height: 70px;
          }
        }
      }
      .left {
        height: fit-content;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 0px;
        margin-left: 0px;
        padding-top: 0%;
        padding: 0 7%;
        height: 100%;
        align-items: center;
        justify-content: center;
        p {
          font-size: 16px;
          font-weight: 300;
          margin-bottom: 20px;
          line-height: 25px;
          span {
            font-weight: 500;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 860px) and (orientation: landscape) {
  .whoSection {
    height: max-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 0% 7% 20px;
    .heading {
      margin-top: 40px;
      margin-bottom: 20px;
      font-size: 4vw;
      padding: 0;
      .highlight {
        .underline {
          height: 6px;
        }
      }
    }
    .container {
      height: max-content;
      display: flex;
      width: 100%;
      align-items: flex-start;
      color: white;
      flex-direction: row;
      .right {
        align-items: center;
        width: 40%;
        height: 120vh;
        justify-content: center;
        .imageblock {
          width: 100%;
          position: relative;
          width: 50vh;
          z-index: 2;
          height: 50vh;
          margin-bottom: 40px;
          img {
            width: 100%;
            height: 100%;
            border-radius: 100%;
            object-fit: cover;
          }
          .green {
            width: 39px;
            height: 39px;
          }
          .yellow {
            width: 7px;
            height: 7px;
            bottom: 5%;
          }
          .white {
            width: 70px;
            height: 70px;
          }
        }
      }
      .left {
        height: fit-content;
        display: flex;
        flex-direction: column;
        margin-top: 0px;
        margin-left: 0px;
        padding-right: 5%;
        padding: 0;
        height: 100%;
        align-items: center;
        justify-content: center;
        flex: 1;
        min-width: unset;
        p {
          font-size: 14px;
          font-weight: 300;
          margin-bottom: 20px;
          line-height: 22px;
          span {
            font-weight: 500;
          }
        }
      }
    }
  }
}
