.carouselContainer {
  width: 100%;
  position: relative;
  padding: 1rem;
  border-radius: 20px;
  background-color: #17d1bc;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 13.3978px 24.8817px rgba(8, 60, 194, 0.15);
  .wrapper {
    width: 60vw;
    padding: 0 1rem;
    display: flex;
    scroll-behavior: smooth;
    overflow-x: auto;
    margin: 0 3rem;
    flex: 1;
    scrollbar-width: none;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
      display: none;
    }
    ::-webkit-scrollbar {
      width: 0; /* Remove scrollbar space */
      background: transparent; /* Optional: just make scrollbar invisible */
    }
  }
  .leftarrow,
  .rightarrow {
    position: absolute;
    border-radius: 20px;
    display: flex;
    top: 0;
    align-items: center;
    justify-content: center;
    width: 50px;
    border: none;
    z-index: 4;
    height: 100%;
    background-color: #17d1bc;
    cursor: pointer;
  }

  .leftarrow {
    transform: scaleX(-1);
  }
  .rightarrow {
    right: 0.5rem;
  }
}
// @media only screen and (max-width: 1300px) {
//   .carouselContainer {
//     max-width: 90vw;
//   }
// }
// @media only screen and (max-width: 1800px) {
//   .carouselContainer {
//     max-width: 80vw;
//   }
// }
// @media only screen and (min-width: 1800px) and (max-width: 2100px) {
//   .carouselContainer {
//     max-width: 85vw;
//   }
// }
// @media only screen and (min-width: 2100px) {
//   .carouselContainer {
//     max-width: 85vw;
//   }
// }
