.avatarsModal {
  width: fit-content;
  height: fit-content;
  .heading {
    font-weight: 500;
    font-size: 25px;
    color: rgba(87, 88, 128, 1);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    svg {
      margin-left: 10px;
    }
  }
}
