.avatarsModal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    align-items: center;
    z-index: 99;
    background-color: #fff;
    border-radius: 14px;
    position: relative;
    left: 10%;
    transition: all 0.3s ease;
    height: fit-content;
    width: fit-content;
    min-height: 200px;
    min-width: 100px;
    width: 50vw;
    height: 60vh;
    padding: 20px;
    overflow: hidden;
    .avatarsList {
      width: 100%;
      height: 100%;
      overflow-y: auto;
      .heading {
        text-align: center;
        padding: 10px 0;
        color: #706d6d;
        font-family: "Roboto";
        font-size: 28px;
        font-weight: 400;
      }
      .avatars {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        justify-content: space-between;
      }
    }
  }
}
