.kidStore {
  background-color: #f4f5f7;
  display: flex;
  overflow: hidden;
  .contentWrapper {
    height: 100vh;
    display: flex;
    width: 100%;
    flex-direction: column;
    .mainContent {
      width: 100%;
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      scrollbar-width: thin;
      padding: 0 40px;
      .redeem {
        margin-bottom: 40px;
      }
      .avatars {
        display: flex;
        // width: 100%;
      }
      .vouchers {
        display: flex;
        // height: 100%;
        // width: 100%;
      }
    }
  }
}
