.requestModal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  .requestModalWrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 7vh;
    .requestModalcontainer {
      display: flex;
      align-items: center;
      flex-direction: column;
      z-index: 6;
      background-color: white;
      height: fit-content;
      width: 70vw;
      max-width: 600px;
      padding: 40px;
      border-radius: 37px;
      position: relative;
      transition: all 0.3s ease;
      .dropdownx {
        width: 100%;
      }
      .heading {
        display: flex;
        width: 100%;
        margin-bottom: 30px;
        svg {
          margin-right: 10px;
          padding-top: 5px;
          width: 25px;
        }
        .text {
          font-weight: 500;
          font-size: 2rem;
          line-height: 38px;
          .payment {
            font-family: "Lexend", sans-serif;
            font-weight: 400;
            font-size: 1.5rem;
            line-height: 28px;
            color: #747474;
          }
          p {
            span {
              color: #4166eb;
            }
          }
        }
      }
      .svgholder {
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;
        .ticksvg {
          z-index: 2;
          width: 100%;
          margin-bottom: 80px;
        }
        .backsvg {
          z-index: 1;
          width: 100%;
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }
      .details {
        font-family: "Lexend", sans-serif;
        font-size: 1.25rem;
        display: flex;
        justify-content: space-between;
        width: 100%;
        line-height: 28px;
        margin-top: 20px;
        .label {
          color: #747474;
        }
        .value {
          font-weight: 700;
        }
        &:nth-child(4) {
          margin-bottom: 20px;
        }
      }
      .error {
        color: rgb(228, 48, 48);
        font-size: 1rem;
        margin-top: 5px;
      }
      .button {
        background: #4166eb;
        border-radius: 24px;
        width: 100%;
        height: 63px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.25rem;
        color: white;
        font-weight: 500;
        cursor: pointer;
        margin-top: 20px;
      }
    }
    .background {
      position: absolute;
      z-index: 4;
      background-color: rgba(0, 0, 0, 0.19);
      width: 100vw;
      cursor: pointer;
      height: 100vh;
      top: 0;
      left: 0;
    }
  }
}

@media only screen and (max-width: 860px) {
  .requestModal {
    .requestModalWrapper {
      padding-top: 0vh;
      .requestModalcontainer {
        width: 80vw;
        padding: 30px 23px 39px;
        border-radius: 20px;
        .heading {
          display: flex;
          width: 100%;
          margin-bottom: 20px;
          svg {
            margin-right: 10px;
            padding-top: 5px;
          }
          .text {
            font-weight: 500;
            font-size: 1.375rem;
            line-height: 26px;
            .payment {
              font-size: 1rem;
              line-height: 20px;
            }
          }
        }
        .svgholder {
          display: flex;
          justify-content: center;
          position: relative;
          width: 100%;
          .ticksvg {
            z-index: 2;
            width: 100%;
            margin-bottom: 80px;
          }
          .backsvg {
            z-index: 1;
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
          }
        }
        .details {
          font-size: 1rem;
          line-height: 20px;
        }
        .button {
          border-radius: 12px;
          height: 48px;
          font-size: 1rem;
          margin-top: 35px;
        }
      }
      .background {
        position: absolute;
        z-index: 4;
        background-color: rgba(0, 0, 0, 0.19);
        width: 100vw;
        cursor: pointer;
        height: 100vh;
        top: 0;
        left: 0;
      }
    }
  }
}
