// general colors */

$blue:#4166EB;
$green:#17D1BC;
$yellow:#FDCC03;
$red:#FF6263;



// dark mode colors */

$d-main:#111111;
$d-moredark:#0c0c0c  ;
$d-light:#272727  ;
$d-heading:#fff;
$d-text1:#fff;
$d-text2:rgb(211, 211, 211);
$d-midlight:rgba(219, 219, 219, 0.534);

// light mode colors */

$l-main:#ffffff;
$l-heading:rgb(0, 0, 0);