.voucherSection {
  margin-top: 1.25rem;
  width: 100%;
  .headwrapper {
    display: flex;
    width: 100%;
    padding-bottom: 0.625rem;
    .heading {
      font-weight: 500;
      font-size: 1.5rem;
      color: rgba(87, 88, 128, 1);
      display: flex;
      align-items: center;
      svg {
        margin-left: 0.625rem;
      }
    }
    .inputArea {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      padding: 0 1.25rem;
      .inputwrapper {
        flex: 1;
        background-color: rgb(219, 219, 219);
        border-radius: 0.5rem;
        height: 3rem;
        overflow: hidden;
        max-width: 24rem;
        display: flex;
        align-items: center;
        padding-right: 1rem;
        input {
          background-color: transparent;
          border: none;
          color: rgb(14, 14, 14);
          height: 100%;
          min-height: 3rem;
          padding: 0 1rem;
          flex: 1;
          &:focus {
            border: none;
            outline: none;
          }
        }
      }
    }
    .rewardButton {
      cursor: pointer;
      border: none;
      background-color: #4166eb;
      color: #fff;
      border-radius: 1rem;
      padding: 0 0.625rem;
      font-size: 1.125rem;
    }
  }
  .wrapper {
      display: grid;
      grid-auto-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 1rem 1rem;
      grid-template-areas:
        ". . ."
        ". . ."
        ". . .";
      justify-content: space-evenly;
      align-content: space-evenly;
      justify-items: stretch;
      align-items: start;
      margin-bottom: 2rem;
    .noreward {
      margin: auto;
      margin-top: 15%;
      color: rgb(109, 109, 109);
      font-size: 0.875rem;
    }
  }
}

// smaller width tabs
@media only screen and (min-width: 700px) and (max-width: 1200px) {
  .voucherSection {
    margin-top: 1.25rem;
    .headwrapper {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0.625rem;
      .heading {
        font-weight: 500;
        font-size: 1.5rem;
        color: rgba(87, 88, 128, 1);
        display: flex;
        align-items: center;
        svg {
          margin-left: 0.625rem;
        }
      }
      .inputArea {
        flex: 1;
        min-width: fit-content;
        .inputwrapper {
          flex: 0.5;
          background-color: rgb(219, 219, 219);
          border-radius: 0.5rem;
          height: 3rem;
          overflow: hidden;
          max-width: 24rem;
          min-width: fit-content;
          display: flex;
          align-items: center;
          padding-right: 1rem;
          input {
            background-color: transparent;
            border: none;
            color: rgb(14, 14, 14);
            height: 100%;
            min-height: 3rem;
            padding: 0 1rem;
            flex: 1;
            .icon {
              min-width: max-content;
            }
            &:focus {
              border: none;
              outline: none;
            }
          }
        }
      }
      .rewardButton {
        cursor: pointer;
        border: none;
        background-color: #4166eb;
        color: #fff;
        border-radius: 1rem;
        padding: 0 0.75rem;
        font-size: 0.875rem;
      }
    }
    .wrapper {
      width: 100%;
      display: grid;
      grid-auto-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 1rem 1rem;
      grid-template-areas:
        ". ."
        ". ."
        ". .";
      justify-content: space-evenly;
      align-content: space-evenly;
      justify-items: stretch;
      align-items: start;

      .noreward {
        margin: auto;
        margin-top: 15%;
        color: rgb(109, 109, 109);
        font-size: 0.875rem;
      }
    }
  }
}

// for phones
@media only screen and (max-width: 700px) {
  .voucherSection {
    margin-top: 1.25rem;
    .headwrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 0.625rem;
      .heading {
        flex: 1;
        width: 100%;
        font-weight: 500;
        font-size: 1.5rem;
        color: rgba(87, 88, 128, 1);
        display: flex;
        align-items: center;
        svg {
          margin-left: 0.625rem;
        }
      }
      .inputArea {
        flex: 1;
        width: 100%;
        padding: 0.625rem 0;
        .inputwrapper {
          background-color: rgb(219, 219, 219);
          border-radius: 0.5rem;
          height: 3rem;
          overflow: hidden;
          max-width: 24rem;
          display: flex;
          align-items: center;
          padding-right: 1rem;
          input {
            background-color: transparent;
            border: none;
            color: rgb(14, 14, 14);
            height: 100%;
            min-height: 3rem;
            padding: 0 1rem;
            flex: 1;
            &:focus {
              border: none;
              outline: none;
            }
          }
        }
      }
      .rewardButton {
        cursor: pointer;
        border: none;
        background-color: #4166eb;
        color: #fff;
        border-radius: 1rem;
        padding: 0.625rem 0.625rem;
        font-size: 1.125rem;
        width: fit-content;
      }
    }
    .wrapper {
      display: grid;
      grid-auto-columns: 1fr;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 1rem 1rem;
      grid-template-areas:
        "."
        "."
        ".";
      justify-content: space-evenly;
      align-content: space-evenly;
      justify-items: stretch;
      align-items: start;


      .noreward {
        margin: auto;
        margin-top: 15%;
        color: rgb(109, 109, 109);
        font-size: 0.875rem;
      }
    }
  }
}
