.waitlistpopup {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  .background {
    background-color: rgba(0, 0, 0, 0.322);
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
  }
  .block {
    background-color: white;
    width: 550px;
    border-radius: 14px;
    z-index: 2;
    padding: 40px;
    .heading {
      font-size: 24px;
      margin-bottom: 20px;
      font-weight: 600;
    }
    input {
      flex: 1;
      border: 1px solid #898989;
      border-radius: 14px;
      margin-bottom: 20px;
      height: 59px;
      width: 100%;
      font-size: 16px;
      padding: 15px;
    }
    .error {
      font-weight: 500;
      font-size: 15px;
      color: #ff6263;
      text-align: center;
      margin-bottom: 20px;
    }
    .phoneWrapper {
      display: flex;
      border-radius: 14px;
      border: 1px solid #898989;
      overflow: hidden;
      width: 100%;
      height: 59px;
      p {
        font-size: 20px;
        border-right: 1px solid #898989;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Lexend", sans-serif;
      }
      input {
        flex: 1;
        border: none;
        font-size: 16px;
        border-radius: 0;
        margin-bottom: 0;
        padding: 15px;
      }
    }
    .nameWrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 22px;
      input {
        font-size: 16px;
        flex: 1;
        &:first-child {
          margin-right: 20px;
        }
      }
    }
    .button {
      background: #4166eb;
      border-radius: 12px;
      color: white;
      width: 100%;
      max-width: 480px;
      height: 63px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      font-weight: 500;
      font-size: 20px;
      transition: all 0.3s ease;
      margin-top: 10px;
      &:hover {
        background-color: #ffffff;
        color: #4166eb;
        border: 1px solid #4166eb;
      }
    }
  }
  .approveModalcontainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 6;
    background-color: white;
    border-radius: 37px;
    position: relative;
    transition: all 0.3s ease;
    .dropdownx {
      width: 100%;
    }
    .heading {
      display: flex;
      width: 100%;
      margin-bottom: 30px;
      svg {
        margin-right: 10px;
        padding-top: 5px;
      }
      .text {
        font-weight: 500;
        font-size: 32px;
        line-height: 38px;
        .payment {
          font-family: "Lexend", sans-serif;
          font-weight: 400;
          font-size: 24px;
          line-height: 28px;
          color: #747474;
        }
        p {
          span {
            color: #4166eb;
          }
        }
      }
    }
    .svgholder {
      display: flex;
      justify-content: center;
      position: relative;
      width: 100%;
      .ticksvg {
        z-index: 2;
        width: 100%;
        margin-bottom: 80px;
      }
      .backsvg {
        z-index: 1;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
      }
      .cancelicon {
        z-index: 2;
        font-size: 100px;
        color: rgb(255, 130, 130);
        margin-bottom: 60px;
      }
    }
    .details {
      font-family: "Lexend", sans-serif;
      font-size: 24px;
      display: flex;
      justify-content: space-between;
      width: 100%;
      line-height: 28px;
      margin-top: 20px;
      .label {
        color: #747474;
      }
      .value {
        font-weight: 700;
      }
    }
    .button {
      background: #4166eb;
      border-radius: 12px;
      width: 100%;
      height: 63px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      color: white;
      font-weight: 500;
      cursor: pointer;
      margin-top: 55px;
    }
  }
  .childselector {
    display: flex;
    flex-direction: column;
    z-index: 6;
    background-color: white;
    border-radius: 37px;
    position: relative;
    transition: all 0.3s ease;
    .childdropdown {
      width: 100%;
    }
    .error {
      font-weight: 500;
      font-size: 15px;
      color: #ff6263;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 0;
    }
    .unicoin {
      margin-top: 20px;
      font-weight: 500;
      span {
        text-transform: capitalize;
      }
      width: 100%;
      text-align: center;
    }
    .heading {
      display: flex;
      width: 100%;
      margin-bottom: 30px;
      svg {
        margin-right: 10px;
        padding-top: 5px;
      }
      .text {
        font-weight: 500;
        font-size: 32px;
        line-height: 38px;
        .payment {
          font-family: "Lexend", sans-serif;
          font-weight: 400;
          font-size: 24px;
          line-height: 28px;
          color: #747474;
        }
        p {
          span {
            color: #4166eb;
          }
        }
      }
    }
    .svgholder {
      display: flex;
      justify-content: center;
      position: relative;
      width: 100%;
      .ticksvg {
        z-index: 2;
        width: 100%;
        margin-bottom: 80px;
      }
      .backsvg {
        z-index: 1;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
      }
      .cancelicon {
        z-index: 2;
        font-size: 100px;
        color: rgb(255, 130, 130);
        margin-bottom: 60px;
      }
    }
    .details {
      font-family: "Lexend", sans-serif;
      font-size: 24px;
      display: flex;
      justify-content: space-between;
      width: 100%;
      line-height: 28px;
      margin-top: 20px;
      .label {
        color: #747474;
      }
      .value {
        font-weight: 700;
      }
    }
    .btn {
      background: #4166eb;
      border-radius: 12px;
      width: 100%;
      height: 63px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      color: white;
      font-weight: 500;
      cursor: pointer;
      margin-top: 20px;
    }
  }
}
