.VoucherSection {
  margin-top: 20px;
  .heading {
    font-weight: 500;
    font-size: 25px;
    color: rgba(87, 88, 128, 1);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    svg {
      margin-left: 10px;
    }
  }
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
  }
}
@media only screen and (max-width: 860px) {
  .VoucherSection {
    .heading {
      font-size: 18px;
      svg {
        width: 14px;
        margin-left: 5px;
        padding-top: 1px;
      }
    }
  }
}
