.achievement{
    position: fixed;
    z-index: 204;
    top: 0;
    right: 0;
    display: flex;
    transition: 1s;
    animation: comeDownAndGoBackUp 5s infinite;
    .block{
        background-color: #f4f4f4;
        width: 25rem;
        border-radius: 14px;
        z-index: 99;
        padding: 1rem;
        border: 1rem solid white;
        border-radius: 3rem;
        transition: 1s;
        display: flex;
        gap:0.5rem;
        box-shadow: 1rem black;
        .image{
            .KQImg{
                width: 4rem;
                border-radius: 1rem;
            }
        }
        .flexRight{
            .heading{
                font-size: 1rem;
                font-weight: 700;
            }
            .subheading{
                font-size:0.9rem;
                font-weight: 500;
            }
            .text{
                font-size:0.7rem;
                font-weight: 400;
            }
        }
    }
}
@keyframes comeDownAndGoBackUp{
    0%{
        transform: translateY(-100%);
    }
    20%{
        transform: translateY(0%);
    }
    80%{
        transform: translateY(0%);
    }
    100%{
        transform: translateY(-100%);
    }
}