.popup {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  .background {
    background-color: rgba(0, 0, 0, 0.286);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 999;
  }
  .content {
    width: clamp(200px, 90vw, 500px);
    height: clamp(300px, 70vh, 200px);
    z-index: 999;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    .bodyArea {
      flex: 1;
      padding: 40px;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .bodyTitle {
        font-size: 1.5rem;
        font-weight: 700;
        color: #333;
        padding: 15px 0;
        .name {
          color: #4166eb;
        }
      }
      .bodyItem {
        font-size: 1.125rem;
        padding: 6px;
        .label {
          font-weight: 400;
        }
        .value {
          font-weight: 300;
          font-style: italic;
          color: #747474;
        }
      }
    }
    .actionArea {
      padding: 20px;
      display: flex;
      gap: 5px;
      align-items: center;
      margin-left: 40px;
      .nextButton,
      .shareButton {
        cursor: pointer;
        font-size: 1.125rem;
        font-weight: 500;
        border: none;
        background-color: #17d1bc;
        color: #fff;
        padding: 10px 30px;
        border-radius: 14px;
      }
      .shareButton {
        display: flex;
        gap: 10px;
        padding: 10px 10px 10px 20px;
      }
      .textToCopy {
        position: relative;
        display: inline-block;
        cursor: pointer;
        width: 32px;
        background-color: #17d1bc;
        color: #fff;
        padding: 5px;
        border-radius: 14px;
        .none {
          visibility: hidden;
          position: absolute;
        }
        .textToCopyToolTip {
          font-size: 0.9rem;
          position: absolute;
          width: 120px;
          text-align: center;
          background-color: #555;
          padding: 5px 0;
          border-radius: 6px;
          z-index: 6;
          top: -35px;
          left: -45px;
          visibility: hidden;
        }
        .textToCopyToolTip::after {
          content: "";
          position: absolute;
          top: 100%;
          left: 50%;
          margin-left: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: #555 transparent transparent transparent;
        }
      }
      .textToCopy:hover .textToCopyToolTip {
        visibility: visible;
      }
    }
  }
}
