.carousel {
  width: 100%;
  padding: 1rem;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 13.3978px 24.8817px rgba(8, 60, 194, 0.15);
  .mainContent {
    width: 60vw;
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
    gap: 2%;
    padding: 1rem;
    &::-webkit-scrollbar {
      display: none;
    }
    ::-webkit-scrollbar {
      width: 0; /* Remove scrollbar space */
      background: transparent; /* Optional: just make scrollbar invisible */
    }
  }
  .leftarrow,
  .rightarrow {
    border-radius: 20px;
    display: flex;
    top: 0;
    align-items: center;
    justify-content: center;
    width: 50px;
    border: none;
    z-index: 4;
    height: 100%;
    cursor: pointer;
  }
  .leftarrow {
    transform: scaleX(-1);
  }
  .rightarrow {
    right: 0.5rem;
  }
}
