.invoiceBox {
  min-width: 60vw;
  height: 100%;
  padding: 30px;
  background-color: #fff;
  border: 1px solid #eee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  font-size: 13px;
  line-height: 25px;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  color: #555;
  border-radius: 8px;

  .infoSection {
    display: flex;
    justify-content: space-between;

    .supplierDetails {
      display: flex;
      flex-direction: column;

      .detailsBottom {
        padding-top: 1rem;
        padding-bottom: 0.5rem;
      }
    }

    .recipientDetails {
      @extend .supplierDetails;
      text-align: right;
    }
  }

  .paymentSection {
    padding: 1rem 0;

    .heading {
      display: flex;
      justify-content: space-between;
      padding: 0.25rem 0;
    }

    .item {
      display: flex;
      justify-content: space-between;
    }
  }

  .noteSection {
    padding: 0.5rem 0;
  }
}

@media only screen and (max-width: 500px) {
  .invoiceBox {
    padding: 5px;

    .infoSection {
      margin-top: 20vh;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      .recipientDetails {
        text-align: left;
      }
    }

    .paymentSection {
      display: flex;
      gap: 12px;

      .heading {
        flex-direction: column;
        padding: 0;
      }

      .item {
        flex-direction: column;
      }
    }
  }
}