.btn {
  border: 1px solid gray;
  padding: 5px 20px;
  border-radius: 2px;
  width: fit-content;
  margin-top: 20px;
  cursor: pointer;
}

.invoiceBox {
  max-width: 800px;
  min-width: 800px;
  margin: auto;
  padding: 30px;
  background-color: #fff;
  border: 1px solid #eee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  font-size: 13px;
  line-height: 25px;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  color: #555;
  border-radius: 8px;
}

.invoiceBox table {
  width: 100%;
  line-height: inherit;
  text-align: left;
}

.invoiceBox table td {
  padding: 5px;
  vertical-align: top;
  padding-bottom: 5px;
}

.invoiceBox table tr td:nth-child(2) {
  text-align: right;
}

.invoiceBox table tr.top table td {
  padding-bottom: 20px;
}

.invoiceBox h1 {
  font-size: 30px;
  color: #b7b7b7;
  font-weight: normal;
  margin-bottom: 0px;
  margin-top: 10px;
}

.invoiceBox p.images {
  text-align: left;
  margin-top: 0px;
}

.invoiceBox p.infoleft {
  font-size: 1.125rem;
  text-align: left;
  margin-bottom: 0px;
}

.invoiceBox p.inforight {
  font-size: 1.125rem;
  text-align: right;
  margin-bottom: 0px;
}

.invoiceBox p.innum {
  font-size: 10px;
  text-align: right;
  color: #b7b7b7;
  line-height: 18px;
}

.invoiceBox p.innumright {
  font-size: 10px;
  text-align: right;
  color: #b7b7b7;
  margin-top: 0px;
  line-height: 18px;
}

.invoiceBox p.innumleft {
  font-size: 10px;
  text-align: left;
  color: #b7b7b7;
  margin-top: 0px;
  line-height: 18px;
}

.invoiceBox p.thanks {
  font-size: 0.875rem;
  text-align: center;
  color: #b7b7b7;
  margin: 5px 5px 5px 5px;
  line-height: normal;
}

.invoiceBox table tr.information table td {
  padding-bottom: 20px;
}

.invoiceBox table tr.heading td {
  background: #f8f8f8;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
  text-align: left;
}

.invoiceBox table tr.heading p {
  font-size: 10px;
  line-height: 11px;
}

.invoiceBox table tr.details td {
  padding-bottom: 10px;
}

.invoiceBox table tr.item td {
  border-bottom: 1px solid #eee;
  text-align: left;
}

.invoiceBox table tr.item.last td {
  border-bottom: none;
}

.invoiceBox table tr.total td:nth-child(2) {
  border-top: 2px solid #eee;
  font-weight: bold;
}

.bb {
  border-bottom: 1px solid #ddd;
}

@media only screen and (max-width: 600px) {
  .invoiceBox table tr.top table td {
    width: 100%;
    display: block;
    text-align: center;
  }

  .invoiceBox table tr.information table td {
    width: 100%;
    display: block;
    text-align: center;
  }

  .invoiceBox p.images {
    text-align: center;
    margin-top: 0px;
  }

  .invoiceBox p.infoleft {
    font-size: 0.9375rem;
    text-align: center;
  }

  .invoiceBox p.inforight {
    font-size: 0.9375rem;
    text-align: center;
  }

  .invoiceBox p.innum {
    font-size: 10px;
    text-align: center;
    color: #b7b7b7;
  }

  .invoiceBox p.innumright {
    font-size: 10px;
    text-align: center;
    color: #b7b7b7;
    margin-top: 0px;
  }

  .invoiceBox p.innumleft {
    font-size: 10px;
    text-align: center;
    color: #b7b7b7;
    margin-top: 0px;
  }
}

.invoiceBox table td.sig-container {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}

.sig-image {
  width: 186px;
  height: 83px;
  position: absolute;
  top: 0px;
  right: 40px;
}

.sig {
  font-size: 0.75rem;
  color: #b7b7b7;
  border-top: thin solid grey;
  padding: 5px 80px 30px 80px;
  margin: 100px 20px 100px 20px;
}