.dropdown {
  height: max-content;
  padding: 10px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  border: 1px solid #898989;
  border-radius: 14px;
  background-color: white;
  position: relative;
  width: max-content;
  .selected {
    display: flex;
    height: 49px;
    width: 100%;
    padding: 0 20px;
    color: #6d6d6d;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: capitalize;
    margin-right: 20px;
    p {
      margin-right: 20px;
    }
    .svg {
      width: 15px;
    }
  }
  .options {
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    width: 100%;
    border-radius: 8px;
    left: 0;
    border: 1px solid #898989;
    margin-top: 20px;
    z-index: 10;
    .option {
      width: 100%;
      border-bottom: 1px solid #e9e9e9;
      display: flex;
      color: #898989;
      text-transform: capitalize;
      padding: 20px 30px;
      align-items: center;
      cursor: pointer;
      text-align: center;
      justify-content: center;
      &:first-child {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }
      &:last-child {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
      }
      &:hover {
        background-color: #f3f3f3;
      }
    }
  }
}

@media only screen and (max-width: 860px) {
  .dropdown {
    height: max-content;
    padding: 5px;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    border: 1px solid #898989;
    border-radius: 8px;
    background-color: white;
    position: relative;
    margin-top: 20px;
    .selected {
      display: flex;
      height: 35px;
      width: 100%;
      padding: 0 15px;
      color: #6d6d6d;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      text-transform: capitalize;
      margin-right: 0px;
      p {
        margin-right: 10px;
        font-size: 20px !important;
      }
      .svg {
        width: 12px;
      }
    }
    .options {
      display: flex;
      flex-direction: column;
      background-color: white;
      position: absolute;
      border-radius: 8px;
      border: 1px solid #898989;
      margin-top: 20px;
      z-index: 10;
      .option {
        height: max-content;
        width: 100%;
        display: flex;
        font-size: 12px;
        text-align: center;
        justify-content: center;
        text-transform: capitalize;
        padding: 0;
        min-width: fit-content;
        min-height: 40px;
        align-items: center;
        cursor: pointer;
        &:hover {
          background-color: #e6e6e6;
        }
      }
    }
  }
}
