.header {
  background-color: white;
  height: clamp(125px, 20vh, 89px);
  width: 100%;
  position: relative;
  scroll-snap-align: start;
  box-shadow: 0px 26px 74px rgba(65, 153, 235, 0.06);
  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-left: 7vw;
    padding-right: 7vw;
    .hamburger {
      cursor: pointer;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 17%;
      width: 27px;
      height: 27px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .logoContainer {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 5px;
      svg {
        width: 158px;
      }
    }
    .nav {
      display: none;
      margin-left: 2.6vw;
      flex: 1;
      align-items: center;
      justify-content: flex-end;
      margin-right: 40px;
      p {
        margin-right: 1.5vw;
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
      }
      .activeTab {
        color: #4166eb;
      }
    }

    .signin {
      background-color: #4166eb;
      color: white;
      width: clamp(100px, 10vw, max-content);
      height: clamp(40px, 7vh, 41px);
      padding: 0 20px;
      border-radius: 14px;
      cursor: pointer;
      font-weight: 500;
      font-size: clamp(14px, 1vw, 16px);
      line-height: 28px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3s ease;
      &:hover {
        background-color: #ffffff;
        color: #4166eb;
        border: 1px solid #4166eb;
      }
    }
  }
}
@media only screen and (min-width: 1000px) {
  .header {
    .container {
      padding-left: 7%;
      padding-right: 7%;
      .hamburger {
        display: none;
      }
      .nav {
        display: flex;
      }
      .logoContainer {
        flex: none;
        padding-left: 0px;
      }
    }
  }
}

@media only screen and (min-width: 769px) and (max-width: 1000px) {
  .header {
    .container {
      padding-left: 7%;
      padding-right: 7%;
      .hamburger {
        left: 7%;
      }
      .logoContainer {
        cursor: pointer;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 30vw;
          max-width: 300px;
        }
      }
    }
  }
}

@media only screen and (max-width: 860px) {
  .header {
    scroll-snap-align: start;
    height: 100px;
    .container {
      padding-left: 7%;
      padding-right: 7%;
      .hamburger {
        left: 7%;
      }
      .logoContainer {
        flex: 1;
        padding-left: 28px;

        img {
          width: 40vw;
          max-width: 200px;
        }
      }
      .signin {
        background-color: #4166eb;
        color: white;
        width: 70px;
        height: 35px;
        border-radius: 20px;
        cursor: pointer;
        font-weight: 500;
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease;
        &:hover {
          background-color: #ffffff;
          color: #4166eb;
          border: 1px solid #4166eb;
        }
      }
    }
  }
}
