@use "../variables/colors.scss" as *;

.header {
  background-color: white;
  height: clamp(125px, 20vh, 89px);
  width: 100%;
  position: relative;
  scroll-snap-align: start;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  .ticker {
    background-color: #4166eb;
    padding: 10px;
    display: flex;
    max-height: 40px;
    justify-content: center;
    color: white;
    font-size: 1rem;
    align-items: center;
    font-weight: 500;
    .btn {
      font-size: 0.875rem;
      border-radius: 5px;
      margin-left: 10px;
      background-color: rgb(255, 255, 255);
      color: #4166eb;
      padding: 5px 10px;
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover {
        background-color: hsla(0, 0%, 100%, 0.829);
      }
    }
    .cross {
      position: absolute;
      right: 40px;
      cursor: pointer;
      font-size: 1rem;
    }
  }
  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-left: 7vw;
    padding-right: 7vw;
    .innerContainer {
      display: flex;
      align-items: center;
      column-gap: 1rem;
      .hamburger {
        cursor: pointer;
        display: none;
        .hamIcon {
          height: 100%;
          width: 100%;
        }
      }
      .logoContainer {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 5px;
        svg {
          width: 9rem;
        }
        .miniIcon {
          display: none;
          width: 2.2rem;
          height: 2.2rem;
        }
      }
    }
    .nav {
      display: flex;
      margin-left: 2.6vw;
      flex: 1;
      align-items: center;
      justify-content: flex-end;
      margin-right: 40px;
      p {
        margin-right: 1.5vw;
        font-size: 1rem;
        font-weight: 400;
        cursor: pointer;
        text-transform: capitalize;
      }
      .activeTab {
        color: #4166eb;
      }
    }

    .signin {
      background-color: #4166eb;
      color: white;
      width: clamp(100px, 10vw, 130px);
      height: clamp(40px, 7vh, 41px);
      min-width: 90px;
      padding: 0 20px;
      border-radius: 14px;
      cursor: pointer;
      font-weight: 500;
      font-size: clamp(14px, 1vw, 15px);
      line-height: 28px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #ffffff00;
      transition: all 0.3s ease;
      &:hover {
        background-color: #ffffff;
        color: #4166eb;
        border: 1px solid #4166eb;
      }
    }
    .dashboardbtn {
      min-width: fit-content;
    }
  }
}

.sticky {
  position: fixed;
  top: 0;
  height: 80px;
  box-shadow: 0px 26px 74px rgba(65, 153, 235, 0.06);
  z-index: 105;

  .container {
  }
}
.stickywithannouncement {
  height: 120px;
}

@media only screen and (max-width: 500px) {
  .header {
    scroll-snap-align: start;
    height: 80px;
    .ticker {
      font-size: 10px;
      .cross {
        right: 10px;
      }
    }
    .container {
      padding-left: 4vw;
      padding-right: 4vw;
      .innerContainer {
        .logoContainer {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          svg {
            display: none;
          }
          .miniIcon {
            display: block;
            width: 1.8rem;
            height: 1.8rem;
          }
        }
        .hamburger {
          display: block;
          height: 100%;
          width: 100%;
        }
      }
      .nav {
        display: none;
      }
      .signin {
        border-radius: 50px;
      }
    }
  }
  .stickywithannouncement {
    height: 100px;
  }
}

@media only screen and (min-width: 501px) and (max-width: 990px) {
  .header {
    height: 100px;
    .ticker {
      font-size: 0.875rem;
      padding: 8px;
    }
    .container {
      padding-left: 5%;
      padding-right: 5%;
      .hamburger {
        display: inline;
        height: 2rem;
        width: 2rem;
        svg {
          width: 3vw;
          height: 3vw;
        }
      }
      .logoContainer {
        cursor: pointer;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 12vw;
        img {
          width: 20vw;
          max-width: 250px;
        }
      }
      .nav {
        display: none;
      }
    }
  }
  .sticky {
    position: fixed;
    height: 80px;
    top: 0;
    box-shadow: 0px 26px 74px rgba(65, 153, 235, 0.06);
    z-index: 105;
  }
  .stickywithannouncement {
    height: 110px;
  }
}

@media only screen and (min-width: 991px) and (max-width: 1300px) {
  .header {
    background-color: white;
    height: clamp(125px, 20vh, 89px);
    width: 100%;
    position: relative;
    scroll-snap-align: start;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    .ticker {
      background-color: #4166eb;
      padding: 10px;
      display: flex;
      max-height: 40px;
      justify-content: center;
      color: white;
      font-size: 1rem;
      align-items: center;
      font-weight: 500;
      .btn {
        font-size: 0.875rem;
        border-radius: 5px;
        margin-left: 10px;
        background-color: rgb(255, 255, 255);
        color: #4166eb;
        padding: 5px 10px;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
          background-color: hsla(0, 0%, 100%, 0.829);
        }
      }
      .cross {
        position: absolute;
        right: 40px;
        cursor: pointer;
        font-size: 1rem;
      }
    }
    .container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      padding-left: 7vw;
      padding-right: 7vw;
      .hamburger {
        cursor: pointer;
        display: none;
        .hamIcon {
          height: 100%;
          width: 100%;
        }
      }
      .logoContainer {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 5px;
        svg {
          width: 158px;
        }
      }
      .nav {
        display: flex;
        margin-left: 2.6vw;
        flex: 1;
        align-items: center;
        justify-content: flex-end;
        margin-right: 40px;
        p {
          margin-right: 1.5vw;
          font-size: 1rem;
          font-weight: 400;
          cursor: pointer;
          text-transform: capitalize;
        }
        .activeTab {
          color: #4166eb;
        }
      }

      .signin {
        background-color: #4166eb;
        color: white;
        width: clamp(100px, 10vw, 130px);
        height: clamp(40px, 7vh, 41px);
        min-width: 90px;
        padding: 0 20px;
        border-radius: 14px;
        cursor: pointer;
        font-weight: 500;
        font-size: clamp(14px, 1vw, 15px);
        line-height: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #ffffff00;
        transition: all 0.3s ease;
        &:hover {
          background-color: #ffffff;
          color: #4166eb;
          border: 1px solid #4166eb;
        }
      }
      .dashboardbtn {
        min-width: fit-content;
      }
    }
  }
}
