@keyframes dropdown {
  0% {
    top: 100px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: 50px;
  }
}

.headerTabSection {
  position: relative;
  cursor: pointer;
  padding: 0 20px;
  -webkit-tap-highlight-color: transparent;
  .expander {
    display: flex;
    align-items: center;
    .expandicon {
      margin-left: 10px;
    }
  }
  .tabHolder {
    animation: dropdown 0.3s ease;
    position: absolute;
    top: 50px;
    border-radius: 12px;
    left: -20%;
    background-color: white;
    transition: all 0.3s ease;
    z-index: 100;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    flex-direction: column;
    min-width: fit-content;
    padding: 15px;
    .tabs {
      margin-bottom: 10px;
      width: 100%;
      min-width: fit-content;
      padding: 10px;
      text-align: center;
      &:hover {
        background-color: rgb(238, 238, 238);
        border-radius: 5px;
      }
    }
  }
  .mobile {
    position: unset;
    margin: 20px 0;
    box-shadow: none;
    background-color: transparent;
    padding: 0;
  }
}

.mobileTabSection {
  padding: 0;
  margin-bottom: 20px;
}
