
.progressBarVerticleWrapper {
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  margin-bottom: 50px;
  .backgroundbar {
    width: 5px;
    height: 100%;
    border-radius: 2px;
    background-color: #dbdbdb;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    left: 50%;
    transition: all 0.3s ease;
    z-index: 1;
  }
  .backgroundprogressbar {
    width: 5px;
    height: var(--progress);
    border-radius: 2px;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    left: 50%;
    transition: all 0.3s ease;
    z-index: 1;
  }
  .qno {
    z-index: 2;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    transition: all 0.3s ease;
    align-items: center;
    justify-content: center;
    color: hsl(0, 0%, 40%);
    background-color: #dbdbdb;
    cursor: pointer;
    p {
      font-weight: 500;
      font-size: 12px;
    }
  }
  .completed {
    transition: all 0.3s ease;
    color: white;
  }
}
.grad {
  background: rgb(255, 98, 99);
  background: linear-gradient(
    68deg,
    rgba(255, 98, 99, 1) 0%,
    rgba(65, 102, 235, 1) 51%,
    rgba(23, 209, 188, 1) 85%
  );
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@media only screen and (max-width: 860px) {
  .progressBarWrapper {
    height: fit-content;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    transition: all 0.3s ease;
    margin-bottom: 50px;
    .backgroundbar {
      width: 100%;
      height: 2px;
      border-radius: 2px;
      background-color: #dbdbdb;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      transition: all 0.3s ease;
      z-index: 1;
    }
    .backgroundprogressbar {
      width: var(--progress);
      height: 2px;
      border-radius: 2px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: all 0.3s ease;
      left: 0;
      z-index: 1;
    }
    .qno {
      z-index: 2;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      display: flex;
      transition: all 0.3s ease;
      align-items: center;
      justify-content: center;
      color: hsl(0, 0%, 40%);
      background-color: #dbdbdb;
      cursor: pointer;
      p {
        font-weight: 500;
        font-size: 8px;
      }
    }
    .completed {
      transition: all 0.3s ease;
      color: white;
    }
  }
}
