.redeemNow {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .background {
        background-color: rgba(0, 0, 0, 0.322);
        width: 100vw;
        height: 100vh;
        position: absolute;
        z-index: -1;
    }
    .blockLarger {
        width: 55rem;
        border-radius: 2rem;
        background-image: linear-gradient(to right, #f9e055, #a2eceb);
        border: #fff solid 1rem;
        z-index: 2;
        padding: 2rem;
        position: relative;
        display: flex;
        flex-direction: column;
        border-radius: 3rem;
        gap: 1rem;

        .cross {
            position: absolute;
            top: 0.5rem;
            right: 0.5rem;
            z-index: 100;
            background-color: white;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            .icon {
                font-size: 40px;
                color: rgb(255, 109, 109);
                transition: all 0.3s ease;

                &:hover {
                    color: #fff;
                    background: hsl(0, 75%, 65%);
                    //color:hsl(0, 75%, 65%);
                    border-radius: 99%;
                    cursor: pointer;
                }
            }
        }
        .flexBox {
            display: flex;
            justify-content: center;
            align-items: center;
            .flexChild1 {
                width: 65%;
                h4 {
                    margin-top: 2rem;
                }
                .redeemParagraph {
                    margin-top: 1rem;
                    width: 80%;
                }
                .unicoin {
                    width: 2rem;
                    margin-right: 0.5rem;
                }
                .playButton {
                    background: #4166eb;
                    border-radius: 2rem;
                    color: white;
                    border: 0;
                    display: flex;
                    padding: 1rem 2rem;
                    justify-content: center;
                    align-items: center;
                    margin: 5rem auto 0 2rem;
                    cursor: pointer;
                    font-weight: 500;
                    font-size: 1.25rem;
                    transition: all 0.3s ease;
                    z-index: 15;

                    &:hover {
                        background-color: #ffffff;
                        color: #4166eb;
                        border: 1px solid #4166eb;
                    }
                }
            }
            .imagesFlexBox {
                display: flex;
                gap: 1rem;
                overflow-x: hidden;
                height: 20rem;
                scrollbar-width: none;
                -ms-overflow-style: none;
                .rewards {
                    margin-top: 1rem;
                }
                .rewards1 {
                    margin-top: -1rem;
                }
                .rewardImages {
                    border-radius: 0.8rem;
                    width: 8rem;
                    height: 6rem;
                    margin: 0.5rem 0;
                }
                .rewardImages1 {
                    border-radius: 0.8rem;
                    width: 8rem;
                    height: 6rem;
                    margin: 0.5rem 0;
                }
            }
        }
    }
}

@media screen and (max-width:500px) {
    .redeemNow {
        .blockLarger {
            width: 40rem;
            .flexBox {
                flex-direction: column;
                align-items: start;
                .flexChild1 {
                    width: 98%;
                    .heading {
                        width: 100%;
                        font-size: 1.4rem;
                    }
                    .redeemParagraph {
                        width: 100%;
                    }
                    .playButton {
                        width: 60vw;
                        margin: 2rem auto 1rem auto;
                    }
                }
                .imagesFlexBox {
                    width: 80vw;
                    height: 10rem;
                    .rewards {
                        display: flex;
                        gap: 1rem;
                        overflow: auto;
                    }
                    .rewards1 {
                        display: none;
                    }
                }
            }
        }
    }
}

@media screen and (min-width:501px) and (max-width:1000px) {
    .redeemNow {
        .blockLarger {
            .flexBox {
                .imagesFlexBox {
                    width: 12rem;
                    .rewards1 {
                        display: none;
                    }
                }
            }
        }
    }
}