.waitlistpopup {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  .background {
    background-color: rgba(0, 0, 0, 0.322);
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
  }
  .block {
    background-color: white;
    width: 550px;
    border-radius: 14px;
    z-index: 2;
    padding: 40px;
    position: relative;
    .cross {
      position: absolute;
      top: 0;
      right: -100px;
      z-index: 100;
      background-color: white;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .icon {
        font-size: 40px;
        color: rgb(255, 109, 109);
        transition: all 0.3s ease;
        &:hover {
          color: hsl(0, 75%, 65%);
          cursor: pointer;
        }
      }
    }
    .heading {
      font-size: 24px;
      margin-bottom: 20px;
      font-weight: 600;
      color: #000;
    }
    input {
      flex: 1;
      border: 1px solid #898989;
      border-radius: 14px;
      margin-bottom: 20px;
      height: 59px;
      width: 100%;
      font-size: 16px;
      padding: 15px;
    }
    .error {
      font-weight: 500;
      font-size: 15px;
      color: #ff6263;
      text-align: center;
      margin-bottom: 20px;
    }
    .phoneWrapper {
      display: flex;
      border-radius: 14px;
      border: 1px solid #898989;
      overflow: hidden;
      width: 100%;
      height: 59px;
      p {
        font-size: 20px;
        border-right: 1px solid #898989;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #000;
        font-family: "Roboto", sans-serif;
      }
      input {
        flex: 1;
        border: none;
        font-size: 16px;
        border-radius: 0;
        margin-bottom: 0;
        padding: 15px;
      }
    }
    .nameWrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 22px;
      input {
        font-size: 16px;
        flex: 1;
        &:first-child {
          margin-right: 20px;
        }
      }
    }
    .button {
      background: #4166eb;
      border-radius: 14px;
      color: white;
      width: 100%;
      max-width: 480px;
      height: 63px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      font-weight: 500;
      font-size: 20px;
      transition: all 0.3s ease;
      margin-top: 10px;
      &:hover {
        background-color: #ffffff;
        color: #4166eb;
        border: 1px solid #4166eb;
      }
    }
    .loadin_btn {
      &:hover {
        background: #4166eb;
        color: white;
        border: none;
      }
    }
  }
  .otpblock {
    background-color: white;
    width: 550px;
    border-radius: 14px;
    z-index: 2;
    padding: 40px;
    position: relative;
    .cross {
      position: absolute;
      top: 0;
      right: -100px;
      z-index: 100;
      background-color: white;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .icon {
        font-size: 40px;
        color: rgb(255, 109, 109);
        transition: all 0.3s ease;
        &:hover {
          color: hsl(0, 75%, 65%);
          cursor: pointer;
        }
      }
    }
    .otpHeadWrapper {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      color: #000;
      justify-content: center;
      .text {
        font-size: 20px;
        font-weight: 400;
        text-align: center;
      }
      .phone {
        font-size: 20px;
        font-weight: 500;
        text-align: center;
      }
    }
    .error {
      font-weight: 500;
      font-size: 15px;
      color: #ff6263;
      text-align: center;
      margin-bottom: 20px;
    }
    .otpWrapper {
      justify-content: center;
      align-items: center;
      display: flex;
      margin-top: 20px;
      input {
        width: 60px;
        height: 60px;
        font-size: 20px;
        margin: 0 6px;
        text-align: center;
        border-radius: 8px;
        border: 1px solid rgb(46, 46, 46);
      }
    }
    .resendButton {
      color: rgba(65, 102, 235, 1);
      font-size: 18px;
      font-weight: 500;
      margin-top: 40px;
      text-align: center;
      cursor: pointer;
    }
    .button {
      background: #4166eb;
      border-radius: 14px;
      color: white;
      width: 100%;
      height: 63px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      font-weight: 500;
      font-size: 20px;
      transition: all 0.3s ease;
      margin-top: 20px;
      &:hover {
        background-color: #ffffff;
        color: #4166eb;
        border: 1px solid #4166eb;
      }
    }
  }
}

@media only screen and (max-width: 860px) {
  .waitlistpopup {
    .block {
      background-color: white;
      width: 320px;
      border-radius: 14px;
      padding: 25px;
      z-index: 102;
      position: relative;
      .cross {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 100;
        background-color: white;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .icon {
          font-size: 30px;
          color: rgb(255, 109, 109);
          transition: all 0.3s ease;
          &:hover {
            color: hsl(0, 75%, 65%);
            cursor: pointer;
          }
        }
      }
      .heading {
        font-size: 18px;
        margin-bottom: 20px;
        font-weight: 600;
        color: #000;
      }
      input {
        flex: 1;
        border: 1px solid #898989;
        border-radius: 8px;
        margin-bottom: 10px;
        height: 45px;
        width: 100%;
        font-size: 14px;
        padding: 10px;
      }
      .error {
        font-weight: 500;
        font-size: 12px;
        color: #ff6263;
        text-align: center;
        margin-bottom: 10px;
      }
      .phoneWrapper {
        display: flex;
        border-radius: 8px;
        border: 1px solid #898989;
        overflow: hidden;
        width: 100%;
        height: 45px;
        p {
          font-size: 14px;
          border-right: 1px solid #898989;
          width: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #000;
          font-family: "Roboto", sans-serif;
        }
        input {
          flex: 1;
          border: none;
          font-size: 14px;
          border-radius: 0;
          margin-bottom: 0;
          padding: 15px;
        }
      }
      .nameWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
        input {
          font-size: 14px;
          flex: 1;
          &:first-child {
            margin-right: 10px;
          }
        }
      }
      .button {
        background: #4166eb;
        border-radius: 8px;
        color: white;
        width: 100%;
        max-width: 480px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-weight: 500;
        font-size: 16px;
        transition: all 0.3s ease;
        margin-top: 10px;
        &:hover {
          background-color: #ffffff;
          color: #4166eb;
          border: 1px solid #4166eb;
        }
      }
      .loadin_btn {
        &:hover {
          background: #4166eb;
          color: white;
          border: none;
        }
      }
    }
    .otpblock {
      background-color: white;
      width: 320px;
      border-radius: 14px;
      z-index: 2;
      padding: 25px;
      position: relative;
      .cross {
        position: absolute;
        top: 0;
        right: -100px;
        z-index: 100;
        background-color: white;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .icon {
          font-size: 40px;
          color: rgb(255, 109, 109);
          transition: all 0.3s ease;
          &:hover {
            color: hsl(0, 75%, 65%);
            cursor: pointer;
          }
        }
      }
      .otpHeadWrapper {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        color: #000;
        justify-content: center;
        .text {
          font-size: 14px;
          font-weight: 400;
          text-align: center;
        }
        .phone {
          font-size: 18px;
          font-weight: 500;
          text-align: center;
        }
      }
      .error {
        font-weight: 500;
        font-size: 12px;
        color: #ff6263;
        text-align: center;
        margin-bottom: 10px;
      }
      .otpWrapper {
        justify-content: center;
        align-items: center;
        display: flex;
        margin-top: 10px;
        input {
          width: 35px !important;
          height: 45px !important;
          font-size: 20px;
          margin: 0 3px;
          text-align: center;
          border-radius: 10px !important;
          border: 1px solid rgb(46, 46, 46);
        }
      }
      .resendButton {
        color: rgba(65, 102, 235, 1);
        font-size: 16px;
        font-weight: 500;
        margin-top: 10px;
        text-align: center;
        cursor: pointer;
      }
      .button {
        background: #4166eb;
        border-radius: 8px;
        color: white;
        width: 100%;
        height: 49px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-weight: 500;
        font-size: 16px;
        transition: all 0.3s ease;
        margin-top: 20px;
        &:hover {
          background-color: #ffffff;
          color: #4166eb;
          border: 1px solid #4166eb;
        }
      }
    }
  }
}
