@use "../variables/colors.scss" as *;

.waitlistpopup {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 105;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  .background {
    background-color: rgba(0, 0, 0, 0.322);
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
  }
  .block {
    background-color: white;
    width: 550px;
    border-radius: 14px;
    z-index: 100;
    padding: 40px;
    position: relative;
    .cross {
      position: absolute;
      top: 0;
      right: -100px;
      z-index: 100;
      background-color: white;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .icon {
        font-size: 40px;
        color: rgb(255, 109, 109);
        transition: all 0.3s ease;
        &:hover {
          color: hsl(0, 75%, 65%);
          cursor: pointer;
        }
      }
    }
    .heading {
      font-size: 1.5rem;
      margin-bottom: 20px;
      font-weight: 600;
      color: #000;
    }
    .passwordBox {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 59px;
      position: relative;
      margin-bottom: 20px;
      z-index: 1;
      .detailPass {
        display: flex;
        position: absolute;
        flex-direction: column;
        background-color: white;
        border-radius: 12px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        top: -185px;
        padding-top: 15px;
        right: 50%;
        z-index: 2;
        transform: translateX(50%);
        animation: fade 0.3s ease;
        .arrow {
          position: absolute;
          bottom: 0;
          right: 22.5%;
          transform: rotate(45deg);
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          background-color: white;
          z-index: -1;
          width: 100px;
          height: 100px;
        }
        .tab {
          display: flex;
          width: 100%;
          align-items: center;
          background-color: white;
          padding: 0 20px;
          padding-bottom: 10px;
          border-radius: 12px;
          z-index: 2;
          &:last-child {
            padding-bottom: 20px;
          }
          svg {
            width: 15px;
            height: 15px;
          }
          p {
            margin-left: 6px;
            font-size: 0.9375rem;
          }
        }
        .white {
          background-color: white;
          width: 100%;
          border-radius: 12px;
          height: 15px;
        }
      }
      input {
        margin: 0;
      }
      .weakpass {
        border-color: rgb(255, 118, 118);
      }
      .show {
        position: absolute;
        top: 0;
        right: 0;
        padding: 19px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-family: "Lexend", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 1.125rem;
        text-align: right;
        color: #4166eb;
        transition: all 0.3s ease;
        &:hover {
          color: #2751e9;
        }
      }
    }

    input {
      flex: 1;
      border: 1px solid #898989;
      border-radius: 14px;
      margin-bottom: 20px;
      height: 59px;
      width: 100%;
      font-size: 1rem;
      padding: 15px;
    }
    .error {
      font-weight: 500;
      font-size: 0.9375rem;
      color: #ff6263;
      text-align: center;
      margin-bottom: 20px;
    }
    .phoneWrapper {
      display: flex;
      border-radius: 14px;
      border: 1px solid #898989;
      overflow: hidden;
      width: 100%;
      height: 59px;
      p {
        font-size: 1.25rem;
        border-right: 1px solid #898989;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #000;
        font-family: "Lexend", sans-serif;
      }
      input {
        flex: 1;
        border: none;
        font-size: 1rem;
        border-radius: 0;
        margin-bottom: 0;
        padding: 15px;
      }
    }
    .nameWrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 22px;
      input {
        font-size: 1rem;
        flex: 1;
        &:first-child {
          margin-right: 20px;
        }
      }
    }
    .button {
      background: #4166eb;
      border-radius: 14px;
      color: white;
      width: 100%;
      max-width: 480px;
      height: 63px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      font-weight: 500;
      font-size: 1.25rem;
      transition: all 0.3s ease;
      margin-top: 10px;
      &:hover {
        background-color: #ffffff;
        color: #4166eb;
        border: 1px solid #4166eb;
      }
    }
    .loadin_btn {
      &:hover {
        background: #4166eb;
        color: white;
        border: none;
      }
    }
  }
  .otpblock {
    background-color: white;
    width: 550px;
    border-radius: 14px;
    z-index: 2;
    padding: 40px;
    position: relative;
    .cross {
      position: absolute;
      top: 0;
      right: -100px;
      z-index: 100;
      background-color: white;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .icon {
        font-size: 40px;
        color: rgb(255, 109, 109);
        transition: all 0.3s ease;
        &:hover {
          color: hsl(0, 75%, 65%);
          cursor: pointer;
        }
      }
    }
    .otpHeadWrapper {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      color: #000;
      justify-content: center;
      .text {
        font-size: 1.25rem;
        font-weight: 400;
        text-align: center;
      }
      .phone {
        font-size: 1.25rem;
        font-weight: 500;
        text-align: center;
      }
    }
    .error {
      font-weight: 500;
      font-size: 0.9375rem;
      color: #ff6263;
      text-align: center;
      margin-bottom: 20px;
    }
    .otpWrapper {
      justify-content: center;
      align-items: center;
      display: flex;
      margin-top: 20px;
      input {
        width: 60px;
        height: 60px;
        font-size: 1.25rem;
        margin: 0 6px;
        text-align: center;
        border-radius: 8px;
        border: 1px solid rgb(46, 46, 46);
      }
    }
    .resendButton {
      color: rgba(65, 102, 235, 1);
      font-size: 1.125rem;
      font-weight: 500;
      margin-top: 40px;
      text-align: center;
      cursor: pointer;
    }
    .button {
      background: #4166eb;
      border-radius: 14px;
      color: white;
      width: 100%;
      height: 63px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      font-weight: 500;
      font-size: 1.25rem;
      transition: all 0.3s ease;
      margin-top: 20px;
      &:hover {
        background-color: #ffffff;
        color: #4166eb;
        border: 1px solid #4166eb;
      }
    }
  }
}
.darkwaitlistpopup {
  .block {
    background-color: $d-moredark;
    border: 1px solid $d-light;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.541);
    .cross {
      background-color: $d-moredark;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.541);
      border: 1px solid $d-light;
    }
    .heading {
      color: $d-text2;
    }
    .passwordBox {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 59px;
      position: relative;
      margin-bottom: 20px;
      z-index: 1;
      .detailPass {
        display: flex;
        position: absolute;
        flex-direction: column;
        background-color: $d-main;
        color: $d-text2;
        border-radius: 12px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        top: -185px;
        padding-top: 15px;
        right: 50%;
        z-index: 2;
        transform: translateX(50%);
        animation: fade 0.3s ease;
        .arrow {
          box-shadow: rgba(99, 99, 99, 0.479) 0px 5px 12px;
          background-color: $d-main;
        }
        .tab {
          display: flex;
          width: 100%;
          align-items: center;
          background-color: $d-main;
          padding: 0 20px;
          padding-bottom: 10px;
          border-radius: 12px;
          z-index: 2;
          &:last-child {
            padding-bottom: 20px;
          }
          svg {
            width: 15px;
            height: 15px;
          }
          p {
            margin-left: 6px;
            font-size: 0.9375rem;
          }
        }
        .white {
          background-color: white;
          width: 100%;
          border-radius: 12px;
          height: 15px;
        }
      }
      input {
        margin: 0;
      }
      .weakpass {
        border-color: rgb(255, 118, 118);
      }
      .show {
        position: absolute;
        top: 0;
        right: 0;
        padding: 19px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-family: "Lexend", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 1.125rem;
        text-align: right;
        color: #4166eb;
        transition: all 0.3s ease;
        &:hover {
          color: #2751e9;
        }
      }
    }

    input {
      background-color: $d-main;
      border: 1px solid $d-light;
      color: $d-text2;
    }
    .error {
      font-weight: 500;
      font-size: 0.9375rem;
      color: #ff6263;
      text-align: center;
      margin-bottom: 20px;
    }
    .phoneWrapper {
      border: 1px solid $d-light;
      p {
        border-right: 1px solid $d-light;
        background-color: $d-main;
        color: $d-text2;
      }
      input {
      }
    }
    .nameWrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 22px;
      input {
        font-size: 1rem;
        flex: 1;
        &:first-child {
          margin-right: 20px;
        }
      }
    }
    .button {
      color: $d-moredark;
      &:hover {
        background-color: $d-moredark;
      }
    }
    .loadin_btn {
      &:hover {
        background: #4166eb;
        color: $d-moredark;
      }
    }
  }
  .otpblock {
    background-color: $d-moredark;
    border: 1px solid $d-light;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.541);
    .cross {
      background-color: $d-moredark;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.541);
      border: 1px solid $d-light;
    }
    .cross {
      background-color: $d-moredark;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.541);
      border: 1px solid $d-light;
    }
    .otpHeadWrapper {
      color: $d-text2;
    }
    .otpWrapper {
      input {
        color: $d-text2;
        background-color: $d-main;
        border: 1px solid $d-light;
      }
    }
    .resendButton {
      color: rgba(65, 102, 235, 1);
      font-size: 1.125rem;
      font-weight: 500;
      margin-top: 40px;
      text-align: center;
      cursor: pointer;
    }
    .button {
      color: $d-moredark;
      &:hover {
        background-color: $d-moredark;
      }
    }
  }
}
@media only screen and (min-width: 900px) and (max-height: 900px) {
  .waitlistpopup {
    .background {
      background-color: rgba(0, 0, 0, 0.322);
      width: 100vw;
      height: 100vh;
      position: absolute;
      z-index: -1;
    }
    .block {
      background-color: white;
      width: 550px;
      border-radius: 14px;
      z-index: 5;
      padding: 40px;
      position: relative;
      height: fit-content;
      margin-top: 60px;
      .cross {
        position: absolute;
        top: 0;
        right: -100px;
        z-index: 100;
        background-color: white;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .icon {
          font-size: 40px;
          color: rgb(255, 109, 109);
          transition: all 0.3s ease;
          &:hover {
            color: hsl(0, 75%, 65%);
            cursor: pointer;
          }
        }
      }
      .heading {
        font-size: 1.375rem;
        margin-bottom: 20px;
        font-weight: 600;
        color: #000;
      }
      input {
        flex: 1;
        border: 1px solid #898989;
        border-radius: 8px;
        margin-bottom: 20px;
        height: 45px;
        width: 100%;
        font-size: 1rem;
        padding: 15px;
      }
      .error {
        font-weight: 500;
        font-size: 0.9375rem;
        color: #ff6263;
        text-align: center;
        margin-bottom: 20px;
      }
      .phoneWrapper {
        display: flex;
        border-radius: 8px;
        border: 1px solid #898989;
        overflow: hidden;
        width: 100%;
        height: 45px;
        p {
          font-size: 1.25rem;
          border-right: 1px solid #898989;
          width: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #000;
          font-family: "Lexend", sans-serif;
        }
        input {
          flex: 1;
          border: none;
          font-size: 1rem;
          border-radius: 0;
          margin-bottom: 0;
          padding: 15px;
        }
      }
      .nameWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 22px;
        input {
          font-size: 1rem;
          flex: 1;
          &:first-child {
            margin-right: 20px;
          }
        }
      }
      .button {
        background: #4166eb;
        border-radius: 8px;
        color: white;
        width: 100%;
        max-width: 480px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-weight: 500;
        font-size: 1.25rem;
        transition: all 0.3s ease;
        margin-top: 5px;
        &:hover {
          background-color: #ffffff;
          color: #4166eb;
          border: 1px solid #4166eb;
        }
      }
      .loadin_btn {
        &:hover {
          background: #4166eb;
          color: white;
          border: none;
        }
      }
    }
    .otpblock {
      background-color: white;
      width: 550px;
      border-radius: 14px;
      z-index: 2;
      padding: 40px;
      position: relative;
      .cross {
        position: absolute;
        top: 0;
        right: -100px;
        z-index: 100;
        background-color: white;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .icon {
          font-size: 40px;
          color: rgb(255, 109, 109);
          transition: all 0.3s ease;
          &:hover {
            color: hsl(0, 75%, 65%);
            cursor: pointer;
          }
        }
      }
      .otpHeadWrapper {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        color: #000;
        justify-content: center;
        .text {
          font-size: 1.25rem;
          font-weight: 400;
          text-align: center;
        }
        .phone {
          font-size: 1.25rem;
          font-weight: 500;
          text-align: center;
        }
      }
      .error {
        font-weight: 500;
        font-size: 0.9375rem;
        color: #ff6263;
        text-align: center;
        margin-bottom: 20px;
      }
      .otpWrapper {
        justify-content: center;
        align-items: center;
        display: flex;
        margin-top: 20px;
        input {
          width: 60px;
          height: 60px;
          font-size: 1.25rem;
          margin: 0 6px;
          text-align: center;
          border-radius: 8px;
          border: 1px solid rgb(46, 46, 46);
        }
      }
      .resendButton {
        color: rgba(65, 102, 235, 1);
        font-size: 1.125rem;
        font-weight: 500;
        margin-top: 40px;
        text-align: center;
        cursor: pointer;
      }
      .button {
        background: #4166eb;
        border-radius: 14px;
        color: white;
        width: 100%;
        height: 63px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-weight: 500;
        font-size: 1.25rem;
        transition: all 0.3s ease;
        margin-top: 20px;
        &:hover {
          background-color: #ffffff;
          color: #4166eb;
          border: 1px solid #4166eb;
        }
      }
    }
  }
}
@media only screen and (max-width: 860px) {
  .waitlistpopup {
    .block {
      background-color: white;
      width: 320px;
      border-radius: 14px;
      padding: 25px;
      z-index: 102;
      position: relative;
      .passwordBox {
        margin-bottom: 15px;
        height: 45px;
        .detailPass {
          width: 170px;
          top: -165px;
          .arrow {
            z-index: -1;
          }
          .tab {
            display: flex;
            align-items: center;
            background-color: white;
            padding: 0 15px;
            padding-bottom: 10px;
            z-index: 2;
            &:last-child {
              padding-bottom: 15px;
            }
            svg {
              width: 12px;
              height: 12px;
            }
            p {
              margin-left: 6px;
              font-size: 0.75rem;
            }
          }
          .white {
            background-color: white;
            width: 100%;
            height: 15px;
          }
        }
        input {
          margin: 0;
          font-size: 0.875rem;
          height: 45px;
        }

        .show {
          font-size: 0.875rem;
        }
      }
      .cross {
        position: absolute;
        top: -40px;
        right: 10px;
        z-index: 100;
        background-color: white;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .icon {
          font-size: 30px;
          color: rgb(255, 109, 109);
          transition: all 0.3s ease;
          &:hover {
            color: hsl(0, 75%, 65%);
            cursor: pointer;
          }
        }
      }
      .heading {
        font-size: 1.125rem;
        margin-bottom: 20px;
        font-weight: 600;
        color: #000;
      }
      input {
        flex: 1;
        border: 1px solid #898989;
        border-radius: 8px;
        margin-bottom: 10px;
        height: 45px;
        width: 100%;
        font-size: 0.875rem;
        padding: 10px;
      }
      .error {
        font-weight: 500;
        font-size: 0.75rem;
        color: #ff6263;
        text-align: center;
        margin-bottom: 10px;
      }
      .phoneWrapper {
        display: flex;
        border-radius: 8px;
        border: 1px solid #898989;
        overflow: hidden;
        width: 100%;
        height: 45px;
        p {
          font-size: 0.875rem;
          border-right: 1px solid #898989;
          width: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #000;
          font-family: "Lexend", sans-serif;
        }
        input {
          flex: 1;
          border: none;
          font-size: 0.875rem;
          border-radius: 0;
          margin-bottom: 0;
          padding: 15px;
        }
      }
      .nameWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
        input {
          font-size: 0.875rem;
          flex: 1;
          &:first-child {
            margin-right: 10px;
          }
        }
      }
      .button {
        background: #4166eb;
        border-radius: 8px;
        color: white;
        width: 100%;
        max-width: 480px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-weight: 500;
        font-size: 1rem;
        transition: all 0.3s ease;
        margin-top: 10px;
        &:hover {
          background-color: #ffffff;
          color: #4166eb;
          border: 1px solid #4166eb;
        }
      }
      .loadin_btn {
        &:hover {
          background: #4166eb;
          color: white;
          border: none;
        }
      }
    }
    .otpblock {
      background-color: white;
      width: 320px;
      border-radius: 14px;
      z-index: 2;
      padding: 25px;
      position: relative;
      .cross {
        position: absolute;
        top: 0;
        right: -100px;
        z-index: 100;
        background-color: white;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .icon {
          font-size: 40px;
          color: rgb(255, 109, 109);
          transition: all 0.3s ease;
          &:hover {
            color: hsl(0, 75%, 65%);
            cursor: pointer;
          }
        }
      }
      .otpHeadWrapper {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        color: #000;
        justify-content: center;
        .text {
          font-size: 0.875rem;
          font-weight: 400;
          text-align: center;
        }
        .phone {
          font-size: 1.125rem;
          font-weight: 500;
          text-align: center;
        }
      }
      .error {
        font-weight: 500;
        font-size: 0.75rem;
        color: #ff6263;
        text-align: center;
        margin-bottom: 10px;
      }
      .otpWrapper {
        justify-content: center;
        align-items: center;
        display: flex;
        margin-top: 10px;
        input {
          width: 35px !important;
          height: 45px !important;
          font-size: 1.25rem;
          margin: 0 3px;
          text-align: center;
          border-radius: 10px !important;
          border: 1px solid rgb(46, 46, 46);
        }
      }
      .resendButton {
        color: rgba(65, 102, 235, 1);
        font-size: 1rem;
        font-weight: 500;
        margin-top: 10px;
        text-align: center;
        cursor: pointer;
      }
      .button {
        background: #4166eb;
        border-radius: 8px;
        color: white;
        width: 100%;
        height: 49px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-weight: 500;
        font-size: 1rem;
        transition: all 0.3s ease;
        margin-top: 20px;
        &:hover {
          background-color: #ffffff;
          color: #4166eb;
          border: 1px solid #4166eb;
        }
      }
    }
  }
}
@media screen and (orientation: landscape) and (max-width: 900px) {
  .waitlistpopup {
    .block {
      background-color: white;
      min-width: 50vw;
      border-radius: 14px;
      z-index: 5;
      padding: 30px;
      position: relative;
      height: 95vh;
      margin-top: 0px;
      overflow-y: auto;
      .cross {
        position: fixed;
        top: 20px;
        right: 100px;
        z-index: 100;
        background-color: white;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 999;
        .icon {
          font-size: 4vw;
          color: rgb(255, 109, 109);
          transition: all 0.3s ease;
          &:hover {
            color: hsl(0, 75%, 65%);
            cursor: pointer;
          }
        }
      }
      .heading {
        font-size: clamp(14px, 2vw, 16px);
        margin-bottom: 20px;
        font-weight: 600;
        color: #000;
      }
      input {
        flex: 1;
        border: 1px solid #898989;
        border-radius: 8px;
        margin-bottom: 10px;
        height: 40px;
        width: 100%;
        font-size: clamp(12px, 1vw, 14px);
        padding: 15px;
      }
      .error {
        font-weight: 500;
        font-size: 0.9375rem;
        color: #ff6263;
        text-align: center;
        margin-bottom: 20px;
      }
      .phoneWrapper {
        display: flex;
        border-radius: 8px;
        border: 1px solid #898989;
        overflow: hidden;
        width: 100%;
        height: 45px;
        p {
          font-size: clamp(12px, 1vw, 14px);
          border-right: 1px solid #898989;
          width: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #000;
          font-family: "Lexend", sans-serif;
        }
        input {
          flex: 1;
          border: none;
          font-size: clamp(12px, 1vw, 14px);
          border-radius: 0;
          margin-bottom: 0;
          padding: 15px;
        }
      }
      .nameWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
        input {
          font-size: clamp(12px, 1vw, 14px);
          flex: 1;
          &:first-child {
            margin-right: 20px;
          }
        }
      }
      .button {
        background: #4166eb;
        border-radius: 8px;
        color: white;
        width: 100%;
        max-width: 480px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-weight: 500;
        font-size: clamp(14px, 1.2vw, 16px);
        transition: all 0.3s ease;
        margin-top: 5px;
        &:hover {
          background-color: #ffffff;
          color: #4166eb;
          border: 1px solid #4166eb;
        }
      }
      .loadin_btn {
        &:hover {
          background: #4166eb;
          color: white;
          border: none;
        }
      }
    }
    .otpblock {
      background-color: white;
      width: 550px;
      border-radius: 14px;
      z-index: 2;
      padding: 40px;
      position: relative;
      .cross {
        position: absolute;
        top: 0;
        right: -100px;
        z-index: 100;
        background-color: white;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .icon {
          font-size: 40px;
          color: rgb(255, 109, 109);
          transition: all 0.3s ease;
          &:hover {
            color: hsl(0, 75%, 65%);
            cursor: pointer;
          }
        }
      }
      .otpHeadWrapper {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        color: #000;
        justify-content: center;
        .text {
          font-size: 1.25rem;
          font-weight: 400;
          text-align: center;
        }
        .phone {
          font-size: 1.25rem;
          font-weight: 500;
          text-align: center;
        }
      }
      .error {
        font-weight: 500;
        font-size: 0.9375rem;
        color: #ff6263;
        text-align: center;
        margin-bottom: 20px;
      }
      .otpWrapper {
        justify-content: center;
        align-items: center;
        display: flex;
        margin-top: 20px;
        input {
          width: 60px;
          height: 60px;
          font-size: 1.25rem;
          margin: 0 6px;
          text-align: center;
          border-radius: 8px;
          border: 1px solid rgb(46, 46, 46);
        }
      }
      .resendButton {
        color: rgba(65, 102, 235, 1);
        font-size: 1.125rem;
        font-weight: 500;
        margin-top: 40px;
        text-align: center;
        cursor: pointer;
      }
      .button {
        background: #4166eb;
        border-radius: 14px;
        color: white;
        width: 100%;
        height: 63px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-weight: 500;
        font-size: 1.25rem;
        transition: all 0.3s ease;
        margin-top: 20px;
        &:hover {
          background-color: #ffffff;
          color: #4166eb;
          border: 1px solid #4166eb;
        }
      }
    }
  }
}
@media screen and (orientation: landscape) and (max-height: 500px) {
  .waitlistpopup {
    .block {
      background-color: white;
      min-width: 50vw;
      border-radius: 14px;
      z-index: 5;
      padding: 30px;
      position: relative;
      height: 90vh;
      margin-top: 0px;
      overflow-y: auto;
      .cross {
        position: fixed;
        top: 20px;
        right: 100px;
        z-index: 100;
        background-color: white;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 999;
        .icon {
          font-size: 4vw;
          color: rgb(255, 109, 109);
          transition: all 0.3s ease;
          &:hover {
            color: hsl(0, 75%, 65%);
            cursor: pointer;
          }
        }
      }
      .heading {
        font-size: clamp(14px, 2vw, 16px);
        margin-bottom: 20px;
        font-weight: 600;
        color: #000;
      }
      input {
        flex: 1;
        border: 1px solid #898989;
        border-radius: 8px;
        margin-bottom: 10px;
        height: 40px;
        width: 100%;
        font-size: clamp(12px, 1vw, 14px);
        padding: 15px;
      }
      .error {
        font-weight: 500;
        font-size: 0.9375rem;
        color: #ff6263;
        text-align: center;
        margin-bottom: 20px;
      }
      .phoneWrapper {
        display: flex;
        border-radius: 8px;
        border: 1px solid #898989;
        overflow: hidden;
        width: 100%;
        height: 45px;
        p {
          font-size: clamp(12px, 1vw, 14px);
          border-right: 1px solid #898989;
          width: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #000;
          font-family: "Lexend", sans-serif;
        }
        input {
          flex: 1;
          border: none;
          font-size: clamp(12px, 1vw, 14px);
          border-radius: 0;
          margin-bottom: 0;
          padding: 15px;
        }
      }
      .nameWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
        input {
          font-size: clamp(12px, 1vw, 14px);
          flex: 1;
          &:first-child {
            margin-right: 20px;
          }
        }
      }
      .button {
        background: #4166eb;
        border-radius: 8px;
        color: white;
        width: 100%;
        max-width: 480px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-weight: 500;
        font-size: clamp(14px, 1.2vw, 16px);
        transition: all 0.3s ease;
        margin-top: 5px;
        &:hover {
          background-color: #ffffff;
          color: #4166eb;
          border: 1px solid #4166eb;
        }
      }
      .loadin_btn {
        &:hover {
          background: #4166eb;
          color: white;
          border: none;
        }
      }
    }
    .otpblock {
      background-color: white;
      width: 550px;
      border-radius: 14px;
      z-index: 2;
      padding: 40px;
      position: relative;
      .cross {
        position: absolute;
        top: 0;
        right: -100px;
        z-index: 100;
        background-color: white;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .icon {
          font-size: 40px;
          color: rgb(255, 109, 109);
          transition: all 0.3s ease;
          &:hover {
            color: hsl(0, 75%, 65%);
            cursor: pointer;
          }
        }
      }
      .otpHeadWrapper {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        color: #000;
        justify-content: center;
        .text {
          font-size: 1.25rem;
          font-weight: 400;
          text-align: center;
        }
        .phone {
          font-size: 1.25rem;
          font-weight: 500;
          text-align: center;
        }
      }
      .error {
        font-weight: 500;
        font-size: 0.9375rem;
        color: #ff6263;
        text-align: center;
        margin-bottom: 20px;
      }
      .otpWrapper {
        justify-content: center;
        align-items: center;
        display: flex;
        margin-top: 20px;
        input {
          width: 60px;
          height: 60px;
          font-size: 1.25rem;
          margin: 0 6px;
          text-align: center;
          border-radius: 8px;
          border: 1px solid rgb(46, 46, 46);
        }
      }
      .resendButton {
        color: rgba(65, 102, 235, 1);
        font-size: 1.125rem;
        font-weight: 500;
        margin-top: 40px;
        text-align: center;
        cursor: pointer;
      }
      .button {
        background: #4166eb;
        border-radius: 14px;
        color: white;
        width: 100%;
        height: 63px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-weight: 500;
        font-size: 1.25rem;
        transition: all 0.3s ease;
        margin-top: 20px;
        &:hover {
          background-color: #ffffff;
          color: #4166eb;
          border: 1px solid #4166eb;
        }
      }
    }
  }
}
