.waitinglist {
  width: 100%;
  height: 96px;
  background: linear-gradient(270.33deg, #0047ff 4.32%, #00b2ff 100.13%);
  overflow: hidden;
  border-radius: 15px;
  position: relative;
  display: flex;
  margin-bottom: 30px;
  .popup {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    .background {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.308);
      height: 100%;
    }
    .main {
      z-index: 101;
      padding: 40px;
      border-radius: 12px;
      background-color: white;
      .error {
        color: rgb(255, 91, 91);
        margin-bottom: 20px;
        text-align: center;
        font-size: 16px;
      }
      .heading {
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 20px;
      }
      input {
        height: 45px;
        padding: 0 20px;
        font-size: 18px;
        border-radius: 8px;
        border: none;
        background-color: rgb(245, 245, 245);
      }
      .buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
        .join,
        .skip {
          width: 100px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 6px;
          font-size: 16px;
          color: white;
          height: 40px;
          transition: all 0.3s ease;
          cursor: pointer;
        }
        .join {
          background-color: rgba(65, 102, 235, 1);
          &:hover {
            background-color: hsl(227, 57%, 50%);
          }
        }
        .skip {
          background-color: #a6a6a6;
          &:hover {
            background-color: #8d8c8c;
          }
        }
      }
    }
  }
  .left {
    flex: 1;
    position: relative;
    img {
      position: absolute;
      right: 0;
    }
  }
  .midflex {
    flex: 1;
    min-width: fit-content;
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 4%;
    font-size: clamp(16px, 1.2vw, 22px);
  }
  .right {
    flex: 1;
    overflow: hidden;
    position: relative;
    min-width: 200px;
    .background {
      z-index: 1;
      position: absolute;
      left: 0;
    }
    .text {
      color: white;
      font-weight: 400;
      font-size: clamp(14px, 1.2vw, 22px);
      padding-left: 20%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      position: absolute;
      z-index: 4;
      p {
        display: flex;
        justify-content: left;
        align-items: center;
        width: 100%;
      }
      span {
        font-weight: 700;
        display: flex;
        min-width: fit-content;
        margin-right: 8px;
      }
    }
  }
}

@media only screen and (max-width: 860px) {
  .waitinglist {
    width: 100%;
    height: max-content;
    background: linear-gradient(270.33deg, #0047ff 4.32%, #00b2ff 100.13%);
    overflow: hidden;
    border-radius: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    .popup {
      .main {
        padding: 20px;
        width: 80%;
        .error {
          margin-bottom: 15px;
          font-size: 14px;
        }
        .heading {
          font-size: 16px;
          margin-bottom: 15px;
        }
        input {
          font-size: 14px;
        }
        .buttons {
          margin-top: 20px;
          .join,
          .skip {
            font-size: 14px;

            height: 40px;
          }
        }
      }
    }
    .left {
      flex: unset;
      height: 60px;
      overflow: hidden;
      position: relative;
      img {
        position: absolute;
        object-fit: cover;
        right: 0;
      }
    }
    .midflex {
      flex: unset;
      min-width: unset;
      width: 100%;
      font-size: 12px;
      height: 60px;
      color: rgba(255, 255, 255, 1);
      font-weight: 400;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      padding: 0 4%;
    }
    .right {
      flex: unset;
      height: 60px;
      overflow: hidden;
      position: relative;
      .background {
        z-index: 1;
        position: absolute;
        left: 0;
      }
      .text {
        color: white;
        font-weight: 400;
        font-size: 12px;
        width: 100%;
        padding-right: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        position: absolute;
        z-index: 4;
        p {
          display: flex;
          justify-content: center;
          width: 100%;
          text-align: center;
        }
        span {
          font-weight: 700;
          display: flex;
          min-width: fit-content;
          margin-right: 8px;
        }
      }
    }
  }
}
