@use "../variables/fontsizes.scss" as *;
@use "../variables/colors.scss" as *;

@keyframes moveit {
  0% {
    transform: translateY(-20%) scaleX(-1);
  }

  100% {
    transform: translateY(0) scaleX(-1);
  }
}

.pricingPage {
  .heading {
    width: 100%;
    margin: 1rem 0;
    font-size: 2.2rem;
    font-weight: 600;
    text-align: center;

    .heading_underline {
      margin-left: 0.3rem;
      color: #eac356;
    }
  }

  .mainContent {
    width: 100%;
    margin: 0.4rem 0 2rem;

    // align-items: stretch;
    .topSection {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      align-content: space-around;
      align-items: center;

      .contentLeft {
        width: 60%;
        position: relative;
        height: 100%;
        padding: 1.25rem 6rem 1.5rem 2rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;

        .videoContainer {
          position: relative;
          overflow: hidden;
          border-radius: 24px;
          width: 80%;

          .video {
            width: 100%;
            object-fit: cover;
            border-radius: 24px;
            height: 45vh;
            border: 2px solid #4166eb;
          }

          .playButtonContainer {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 99%;
            background-color: #00000020;
            display: flex;
            align-items: center;
            justify-content: center;

            .playButton {
              border: none;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: transparent;
              cursor: pointer;

              svg {
                width: 3rem;
                height: 3rem;
                color: #fff;

                path {
                  fill: #fff;
                }
              }
            }
          }
        }

        .jasper {
          position: absolute;
          bottom: -10%;
          left: 0%;
          height: 400px;
          width: fit-content;
          object-fit: contain;
          transform: translateX(0);
        }
      }

      .contentRight {
        width: 40%;
        padding: 1rem 6rem 1rem 0rem;

        .contentPlan {
          margin-bottom: 2rem;
        }

        .pricing {
          display: flex;
          padding: 1rem 0;

          .pricingLeft {
            height: 100%;
            width: 50%;
            text-align: center;

            h3 {
              font-size: 1.1em;
              font-weight: 600;
              color: #ed6c68;
              margin-bottom: 1rem;
            }

            p {
              font-size: 1em;
              font-weight: 400;
              color: #4a65e3;
            }
          }

          .pricingRight {
            text-align: center;
            width: 50%;
            height: 100%;

            .button {
              background-color: #4166eb;
              color: #fff;
              padding: 0.6rem 1.5rem;
              border-radius: 12px;
              border: none;
              box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
              margin-bottom: 0.6rem;
              cursor: pointer;
            }

            .try {
              font-size: 0.9em;
              font-weight: 400;
              color: #6d6c6d;
            }
          }
        }
      }
    }

    .section {
      background-color: #4166eb;
      padding: 2rem 0;
      border-radius: 12px;

      .sectionContent {
        color: #fff;

        .subheading {
          font-size: 1.2em;
          font-weight: 500;
          text-align: center;
          margin-bottom: 1rem;
        }

        .listContainer {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          ul {
            font-size: 1.1em;
            font-weight: 400;
            margin-bottom: 1rem;

            li {
              line-height: 1.1;

              &::marker {
                font-size: 1.8em;
              }
            }
          }
        }
      }

      .sectionBottomContent {
        padding: 0.8rem 0;
        background-color: #eac356;
        color: #000;
        width: 100%;

        p {
          text-align: center;
          font-weight: 600;
        }
      }
    }
  }
}

.sectionSpacing {
  margin: 4rem 0;

  .button {
    margin: 0 auto;
    background: #4166eb;
    border-radius: 0.875rem;
    color: white;
    width: 100%;
    max-width: 20rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.25rem;
    transition: all 0.3s ease;
    margin-top: 0.3rem;
    padding: 1rem;
    text-align: center;
    border: none;

    &:hover {
      background-color: #ffffff;
      color: #4166eb;
      border: 1px solid #4166eb;
    }
  }
}

@media only screen and (max-width: 500px) {
  .pricingPage {
    .heading {
      width: fit-content;
      margin: 0.6rem 0;
      font-size: 1.8rem;
      font-weight: 600;
      text-align: center;

      .heading_underline {
        margin-left: 0.3rem;
        color: #f5ce46;
      }
    }

    .mainContent {
      width: 100%;
      flex-direction: column-reverse;
      margin: 1rem 0;
      padding: 0;

      .contentLeft {
        width: 100%;
        position: relative;
        height: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .videoContainer {
          position: relative;
          overflow: hidden;
          border-radius: 24px;
          width: 90vw;
          padding: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .video {
            position: relative;
            margin: 0;
            width: 100%;
            min-height: 190px;
            max-height: 190px;
            border-radius: 24px;
            border: 2px solid #4166eb;
            object-fit: cover;
          }

          .playButtonContainer {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 99%;
            background-color: #00000020;
            display: flex;
            align-items: center;
            justify-content: center;

            .playButton {
              border: none;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: transparent;
              cursor: pointer;

              svg {
                width: 3rem;
                height: 3rem;
                color: #fff;

                path {
                  fill: #fff;
                }
              }
            }
          }
        }

        .jasper {
          position: absolute;
          bottom: -2rem;
          left: -30%;
          height: 300px;
          width: fit-content;
          object-fit: contain;
          rotate: 30deg;
        }
      }

      .contentRight {
        width: 100%;
        padding: 1rem 0;
        margin: 0;

        .contentPlan {
          margin-bottom: 2rem;
        }

        .section {
          background-color: #4166eb;
          padding: 2rem 0;
          border-radius: 0;

          .sectionContent {
            color: #fff;

            .subheading {
              font-size: 1.2em;
              font-weight: 500;
              text-align: center;
              margin-bottom: 1rem;
            }

            .listContainer {
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 0 3rem;

              ul {
                font-size: 1.1em;
                font-weight: 400;
                margin-bottom: 1rem;

                li {
                  line-height: 1.1;

                  &::marker {
                    font-size: 1.8em;
                  }
                }
              }
            }
          }

          .sectionBottomContent {
            padding: 0.8rem 0;
            background-color: #eac356;
            color: #000;
            width: 100%;

            p {
              text-align: center;
              font-weight: 600;
            }
          }
        }

        .pricing {
          flex-direction: column;
          padding: 1rem 0;

          .pricingLeft {
            width: 100%;
            text-align: center;
            margin-bottom: 1rem;

            h3 {
              font-size: 1.1em;
              font-weight: 600;
              color: #ed6c68;
              margin-bottom: 0.5rem;
            }

            p {
              font-size: 1em;
              font-weight: 400;
              color: #4a65e3;
            }
          }

          .pricingRight {
            text-align: center;
            width: 100%;

            .button {
              width: 90%;
              background-color: #4166eb;
              color: #fff;
              padding: 0.6rem 1.5rem;
              border-radius: 50px;
              border: none;
              box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
              margin-bottom: 1.4rem;
              cursor: pointer;
            }

            .try {
              font-size: 1em;
              font-weight: 400;
              color: #6d6c6d;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  .sectionSpacing {
    margin: 2rem 0;

    .button {
      margin: 0 auto;
      background: #4166eb;
      border-radius: 0.875rem;
      color: white;
      width: 100%;
      max-width: 16rem;
      height: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      font-weight: 500;
      font-size: 1.25rem;
      transition: all 0.3s ease;
      margin-top: 0;
      padding: 1rem;
      text-align: center;
      border: none;

      &:hover {
        background-color: #ffffff;
        color: #4166eb;
        border: 1px solid #4166eb;
      }
    }
  }
}

@media only screen and (min-width: 501px) and (max-width: 990px) {
  .pricingPage {
    .heading {
      width: fit-content;
      margin: 0.6rem 0;
      font-size: 1.8rem;
      font-weight: 600;
      text-align: center;

      .heading_underline {
        margin-left: 0.3rem;
        color: #f5ce46;
      }
    }

    .mainContent {
      width: 100%;
      flex-direction: column-reverse;
      margin: 1rem 0;
      padding: 0;

      .contentLeft {
        width: 100%;
        position: relative;
        height: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .videoContainer {
          position: relative;
          overflow: hidden;
          border-radius: 24px;
          width: 80vw;
          padding: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .video {
            position: relative;
            margin: 0;
            width: 100%;
            min-height: 30vh;
            max-height: 30vh;
            border-radius: 24px;
            border: 2px solid #4166eb;
            object-fit: cover;
          }

          .playButtonContainer {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 99%;
            background-color: #00000020;
            display: flex;
            align-items: center;
            justify-content: center;

            .playButton {
              border: none;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: transparent;
              cursor: pointer;

              svg {
                width: 3rem;
                height: 3rem;
                color: #fff;

                path {
                  fill: #fff;
                }
              }
            }
          }
        }

        .jasper {
          position: absolute;
          bottom: -4rem;
          left: -18%;
          height: 400px;
          width: fit-content;
          object-fit: contain;
          rotate: 30deg;
        }
      }

      .contentRight {
        width: 100%;
        padding: 1rem 0;
        margin: 0;

        .contentPlan {
          margin-bottom: 2rem;
        }

        .section {
          background-color: #4166eb;
          padding: 2rem 0;
          border-radius: 0;

          .sectionContent {
            color: #fff;

            .subheading {
              font-size: 1.2em;
              font-weight: 500;
              text-align: center;
              margin-bottom: 1rem;
            }

            .listContainer {
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 0 3rem;

              ul {
                font-size: 1.1em;
                font-weight: 400;
                margin-bottom: 1rem;

                li {
                  line-height: 1.1;

                  &::marker {
                    font-size: 1.8em;
                  }
                }
              }
            }
          }

          .sectionBottomContent {
            padding: 0.8rem 0;
            background-color: #eac356;
            color: #000;
            width: 100%;

            p {
              text-align: center;
              font-weight: 600;
            }
          }
        }

        .pricing {
          flex-direction: column;
          padding: 1rem 0;

          .pricingLeft {
            width: 100%;
            text-align: center;
            margin-bottom: 1rem;

            h3 {
              font-size: 1.1em;
              font-weight: 600;
              color: #ed6c68;
              margin-bottom: 0.5rem;
            }

            p {
              font-size: 1em;
              font-weight: 400;
              color: #4a65e3;
            }
          }

          .pricingRight {
            text-align: center;
            width: 100%;

            .button {
              width: 90%;
              background-color: #4166eb;
              color: #fff;
              padding: 0.6rem 1.5rem;
              border-radius: 50px;
              border: none;
              box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
              margin-bottom: 1.4rem;
              cursor: pointer;
            }

            .try {
              font-size: 1em;
              font-weight: 400;
              color: #6d6c6d;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  .sectionSpacing {
    margin: 2rem 0;

    .button {
      margin: 0 auto;
      background: #4166eb;
      border-radius: 0.875rem;
      color: white;
      width: 100%;
      max-width: 16rem;
      height: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      font-weight: 500;
      font-size: 1.25rem;
      transition: all 0.3s ease;
      margin-top: 0;
      padding: 1rem;
      text-align: center;
      border: none;

      &:hover {
        background-color: #ffffff;
        color: #4166eb;
        border: 1px solid #4166eb;
      }
    }
  }
}

@media only screen and (min-width: 991px) and (max-width: 1300px) {
  .pricingPage {
    .heading {
      width: 100%;
      margin: 1rem 0;
      font-size: 2.2rem;
      font-weight: 600;
      text-align: center;

      .heading_underline {
        margin-left: 0.3rem;
        color: #eac356;
      }
    }

    .mainContent {
      width: 100%;
      display: flex;
      justify-content: space-around;
      margin: 0.4rem 0 2rem;
      flex-direction: row;
      align-content: space-around;
      align-items: center;

      // align-items: stretch;
      .contentLeft {
        width: 55%;
        position: relative;
        height: 100%;
        padding: 1.25rem 2rem 1.5rem 0rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;

        .videoContainer {
          position: relative;
          overflow: hidden;
          border-radius: 24px;
          width: 90%;

          .video {
            width: 100%;
            object-fit: cover;
            border-radius: 24px;
            height: 45vh;
            border: 2px solid #4166eb;
          }

          .playButtonContainer {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 99%;
            background-color: #00000020;
            display: flex;
            align-items: center;
            justify-content: center;

            .playButton {
              border: none;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: transparent;
              cursor: pointer;

              svg {
                width: 3rem;
                height: 3rem;
                color: #fff;

                path {
                  fill: #fff;
                }
              }
            }
          }
        }

        .jasper {
          position: absolute;
          bottom: -10%;
          left: -14%;
          height: 400px;
          width: fit-content;
          object-fit: contain;
          transform: translateX(0);
        }
      }

      .contentRight {
        width: 45%;
        padding: 1rem 2rem 1rem 0rem;

        .contentPlan {
          margin-bottom: 2rem;
        }

        .section {
          background-color: #4166eb;
          padding: 2rem 0;
          border-radius: 12px;

          .sectionContent {
            color: #fff;

            .subheading {
              font-size: 1.2em;
              font-weight: 500;
              text-align: center;
              margin-bottom: 1rem;
            }

            .listContainer {
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;

              ul {
                font-size: 1.1em;
                font-weight: 400;
                margin-bottom: 1rem;

                li {
                  line-height: 1.1;

                  &::marker {
                    font-size: 1.8em;
                  }
                }
              }
            }
          }

          .sectionBottomContent {
            padding: 0.8rem 0;
            background-color: #eac356;
            color: #000;
            width: 100%;

            p {
              text-align: center;
              font-weight: 600;
            }
          }
        }

        .pricing {
          display: flex;
          padding: 1rem 0;

          .pricingLeft {
            height: 100%;
            width: 50%;
            text-align: center;

            h3 {
              font-size: 1.1em;
              font-weight: 600;
              color: #ed6c68;
              margin-bottom: 1rem;
            }

            p {
              font-size: 1em;
              font-weight: 400;
              color: #4a65e3;
            }
          }

          .pricingRight {
            text-align: center;
            width: 50%;
            height: 100%;

            .button {
              background-color: #4166eb;
              color: #fff;
              padding: 0.6rem 1.5rem;
              border-radius: 12px;
              border: none;
              box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
              margin-bottom: 0.6rem;
              cursor: pointer;
            }

            .try {
              font-size: 0.9em;
              font-weight: 400;
              color: #6d6c6d;
            }
          }
        }
      }
    }
  }

  .sectionSpacing {
    margin: 4rem 0;

    .button {
      margin: 0 auto;
      background: #4166eb;
      border-radius: 0.875rem;
      color: white;
      width: 100%;
      max-width: 20rem;
      height: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      font-weight: 500;
      font-size: 1.25rem;
      transition: all 0.3s ease;
      margin-top: 0.3rem;
      padding: 1rem;
      text-align: center;
      border: none;

      &:hover {
        background-color: #ffffff;
        color: #4166eb;
        border: 1px solid #4166eb;
      }
    }
  }
}