@use "../variables/fontsizes.scss" as *;
@use "../variables/colors.scss" as *;

@keyframes moveit {
  0% {
    transform: translateY(-20%) scaleX(-1);
  }
  100% {
    transform: translateY(0) scaleX(-1);
  }
}

.pricingPage {
  .curve2 {
    position: absolute;
    width: 100vw;
    left: 0;
    top: 60%;
    z-index: -1;
    transform: scaleX(-1);
    animation: moveit 5s ease alternate infinite;
    animation-delay: 2s;
  }
  .curve1 {
    position: absolute;
    width: 100vw;
    left: 0;
    top: 25%;
    z-index: -1;
    animation: moveit 5s ease alternate infinite;
  }
  .mainContent {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: flex-start;
    .contentLeft {
      height: 100%;
      padding: 20px 20px 0;
      flex: 1;
      .jasper {
        height: 100%;
      }
    }
    .contentRight {
      padding-right: 20vw;
      padding-top: 20px;
      .heading {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 20px;
      }
      .sectionTitle {
        font-size: 1rem;
        font-weight: 300;
      }
      .section {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        font-size: 1rem;
        font-weight: 300;
        .sectionLeft {
          flex: 1;
        }
        .sectionRight {
          flex: 1;
        }
        .sectionItem {
          padding-bottom: 6px;
        }
      }
      .actionArea {
        display: flex;
        padding: 10px 0;
        gap: 20px;
        .actionButton {
          border: none;
          outline: none;
          cursor: pointer;
          background-color: #ff6263;
          color: #fff;
          border-radius: 50px;
          font-size: 1rem;
          padding: 10px 20px;
        }
        .pricing {
          .current {
            color: #ff6263;
            font-size: 1.25rem;
            font-weight: 400;
          }
          .old {
            color: #8b8b8b;
            font-size: 1.25rem;
            text-decoration: line-through;
            text-decoration-color: #ff6263;
            text-decoration-thickness: 2px;
          }
        }
      }
      .helperArea {
        padding: 0 10px;
        .helperText {
          font-size: 0.75rem;
        }
      }
    }
  }
}
