@keyframes loading {
  0% {
    cy: 10;
  }
  25% {
    cy: 3;
  }
  50% {
    cy: 10;
  }
}

.canvas {
  position: absolute;
  top: -280px;
  left: -15px;
  width: 250px;
  height: 340px;
  pointer-events: none;
  z-index: 2;
}
.BadgeCanvas {
  position: absolute;
  top: -35rem;
  left: -20rem;
  width: 40rem;
  height: 35rem;
  pointer-events: none;
  z-index: 2;
}
