$option-color: rgb(31, 25, 25);
$active-option-bg: #ff6263;
$active-option-font: #fff;

.groupArea {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  padding: 10px 0;
  width: 100%;
  .buttonItem {
    button {
      height: 100%;
      border-width: 0;
      border-style: solid;
      border-color: $option-color;
      padding: 8px 18px;
      border-radius: 14px;
      background-color: transparent;
      color: $option-color;
      font-size: 0.75rem;
      font-weight: 500;
      box-shadow: 0px 1px 6px 1px rgba(43, 39, 39, 0.25);
      cursor: pointer;
      &:hover {
        box-shadow: 0px 1px 3px 1px rgba(43, 39, 39, 0.25);
        transition: 0.3s;
      }
    }
    .active {
      background-color: $active-option-bg;
      border-color: $active-option-bg;
      color: $active-option-font;
    }
  }
}

// smaller width tabs
@media only screen and (min-width: 480px) and (max-width: 820px) {
  .groupArea {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding: 10px 0;
    width: 100%;
    .buttonItem {
      button {
        height: 100%;
        border-width: 0;
        border-style: solid;
        border-color: $option-color;
        padding: 8px 18px;
        border-radius: 14px;
        background-color: transparent;
        color: $option-color;
        font-size: 0.75rem;
        font-weight: 500;
        box-shadow: 0px 1px 6px 1px rgba(43, 39, 39, 0.25);
        cursor: pointer;
        &:hover {
          box-shadow: 0px 1px 3px 1px rgba(43, 39, 39, 0.25);
          transition: 0.3s;
        }
      }
      .active {
        background-color: $active-option-bg;
        border-color: $active-option-bg;
        color: $active-option-font;
      }
    }
  }
}

// for phones
@media only screen and (max-width: 480px) {
  .groupArea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
    padding: 10px 0;
    width: 100%;
    .buttonItem {
      button {
        border-width: 0;
        border-style: solid;
        border-color: $option-color;
        padding: 8px;
        border-radius: 8px;
        background-color: transparent;
        color: $option-color;
        font-size: 0.75rem;
        font-weight: 500;
        box-shadow: 0px 1px 6px 1px rgba(43, 39, 39, 0.25);
        cursor: pointer;
        &:hover {
          box-shadow: 0px 1px 3px 1px rgba(43, 39, 39, 0.25);
          transition: 0.3s;
        }
      }
      .active {
        background-color: $active-option-bg;
        border-color: $active-option-bg;
        color: $active-option-font;
      }
    }
  }
}
