$switch-bg: rgb(92, 93, 104);

.chartOptionsArea {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 10px 0;
  .button {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $switch-bg;
    color: $switch-bg;
    padding: 10px;
    &:first-child {
      border-top-left-radius: 12px;
      border-bottom-left-radius: 12px;
    }
    &:last-child {
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;
    }
  }
  .active {
    @extend .button;
    background-color: $switch-bg;
    border: 2px solid $switch-bg;
    color: #fff;
  }
}
