$info-green: rgb(13, 167, 13);
$info-red: rgb(211, 33, 33);

.companyInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 20%;
  min-height: 150px;
  .volumeArea {
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 6px 0;
    margin: 10px 0;
    width: 100%;
    .volumeTitle {
      font-size: 1.25rem;
      font-weight: 600;
    }
    .volumeValue {
      font-size: 1.125rem;
      font-weight: 400;
    }
  }
  .infoArea {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 400px;
    .infoItem {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
    }
  }
}

.redText {
  color: $info-red;
}

.greenText {
  color: $info-green;
}

// for phones
@media only screen and (max-width: 480px) {
  .companyInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    min-height: 0;
    padding: 0;
    width: 100%;
    .volumeArea {
      width: fit-content;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 6px 0;
      margin: 10px 0;
      width: 100%;
      .volumeTitle {
        font-size: 1.25rem;
        font-weight: 600;
      }
      .volumeValue {
        font-size: 1.125rem;
        font-weight: 400;
      }
    }
    .infoArea {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      max-width: 100%;
      width: 100%;
      .infoItem {
        font-size: 0.875rem;
        font-weight: 400;
        min-width: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 10px;
        padding: 6px 0;
      }
    }
  }
}

// for phones landscape
@media only screen and (orientation: landscape) and (max-height: 480px) {
  .companyInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    min-height: 100px;
    margin-bottom: 10px;
    .volumeArea {
      width: fit-content;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 6px 0;
      margin: 0;
      width: 100%;
      .volumeTitle {
        font-size: 1.25rem;
        font-weight: 600;
      }
      .volumeValue {
        font-size: 1.125rem;
        font-weight: 400;
      }
    }
    .infoArea {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: 400px;
      margin-top: 0;
      .infoItem {
        min-width: 50%;
        display: flex;
        flex-direction: row;
        gap: 10px;
      }
    }
  }
}
