.simulatorDash {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  .dashLeft {
    flex: 1;
    .charts {
      height: 600px;
      width: 800px;
    }
  }
  .dashRight {
    width: fit-content;
  }
}
