$heading-color: #8b7620;
$row-color: #f5f1e2;
$chart-title-color: #333;

.financialRatios {
  width: 100%;
  height: 100%;
  .bodyArea {
    width: 100%;
    height: fit-content;
    .chartArea {
      height: fit-content;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .chartTitle {
        width: fit-content;
        color: rgb(25, 19, 116);
        font-size: 1.5rem;
        font-weight: 700;
      }
      .chart {
        width: 100%;
        height: 55vh;
      }
    }
  }
}

// smaller tabs landscape mode
@media only screen and (orientation: landscape) and (max-height: 820px) {
  .financialRatios {
    width: 100%;
    height: 100%;
    .bodyArea {
      width: 100%;
      height: fit-content;
      .chartArea {
        height: fit-content;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .chartTitle {
          width: fit-content;
          color: rgb(25, 19, 116);
          font-size: 1.5rem;
          font-weight: 700;
        }
        .chart {
          width: 100%;
          height: 50vh;
        }
      }
    }
  }
}

// for phones
@media only screen and (max-width: 480px) {
  .financialRatios {
    width: 100%;
    height: 100%;
    .bodyArea {
      width: 100%;
      height: fit-content;
      .chartArea {
        height: fit-content;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .chartTitle {
          width: fit-content;
          color: rgb(25, 19, 116);
          font-size: 1.5rem;
          font-weight: 700;
        }
        .chart {
          width: 100%;
          height: 48vh;
        }
      }
    }
  }
}
