$common-border-radius: 14px;
$primary-color: #17d1bc;
$dark-font-color: #464e5f;
$light-font-color: #b5b5c3;
$chart-color: #5200ff;

.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  .left {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .topLeft {
      flex: 1;
      display: flex;
      flex-direction: column;
      background-color: $chart-color;
      border-radius: $common-border-radius;
      .portfolioHoldings {
        border-radius: inherit;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .holdingsTitle {
          font-size: 16px;
          font-weight: 700;
          color: #fff;
          padding: 10px 0;
        }
        .holdingsChart {
          border-radius: inherit;
          width: 100%;
          height: 100%;
        }
      }
      .portfolioInfo {
        background-color: #fff;
        border-radius: $common-border-radius;
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        padding: 20px 0;
        > * {
          flex: 1;
          min-width: 45%;
        }
        .infoItem {
          padding-left: 30px;
          .label {
            font-size: 10px;
            color: $light-font-color;
          }
          .value {
            font-size: 18px;
            font-weight: 600;
            color: $dark-font-color;
          }
        }
      }
    }
    .bottomLeft {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 20px;
      border-radius: $common-border-radius;
      .chartArea {
        width: 100%;
        height: fit-content;
        border-radius: inherit;
        background-color: #fff;
        .chartInfo {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding: 10px;
          .icon {
            font-size: 16px;
            font-weight: 700;
            background-color: $light-font-color;
            color: $dark-font-color;
            padding: 8px;
            border-radius: 4px;
          }
          .nameArea {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            .value {
              font-size: 16px;
              font-weight: 700;
              color: $dark-font-color;
            }
            .name {
              font-size: 12px;
              font-weight: 400;
              color: $light-font-color;
            }
          }
        }
        .chart {
          height: 100px;
          width: 100%;
        }
      }
    }
  }
  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .topRight {
      flex: 1;
      background-color: #fff;
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      border-radius: $common-border-radius;
      .portfolioHeadingSection {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .portfolioHeading {
          .heading {
            font-size: 18px;
            font-weight: 600;
            color: $dark-font-color;
            padding-bottom: 10px;
          }
          .subHeading {
            font-size: 10px;
            color: $light-font-color;
          }
        }
        .portfolioOptions {
          width: fit-content;
          height: fit-content;
          display: flex;
          flex-direction: row;
          gap: 10px;
          .option {
            color: $light-font-color;
            font-size: 12px;
            cursor: pointer;
            padding: 6px 12px;
            border-radius: 4px;
          }
          .activeOption {
            @extend .option;
            background-color: $dark-font-color;
            color: #fff;
          }
        }
      }
      .myStocks {
        display: flex;
        flex-direction: row;
        gap: 10px;
        flex-wrap: wrap;
        .singleStock {
          height: fit-content;
          width: fit-content;
          font-size: 10px;
          font-weight: 600;
          color: #333;
          background-color: #ececec;
          padding: 6px 12px;
          border-radius: 4px;
          cursor: pointer;
        }
        .activeSingleStock {
          @extend .singleStock;
          background-color: $primary-color;
          color: #fff;
        }
      }
      .topReturns {
        flex: 1;
      }
    }
    .bottomRight {
      flex: 1;
      background-color: #fff;
      border-radius: $common-border-radius;
      padding: 20px;
      .title {
        font-size: 18px;
        font-weight: 600;
        color: $dark-font-color;
        padding-bottom: 10px;
      }
      .cards {
        padding: 10px 0;
      }
    }
  }
}
