$main-color: #ff6263;
$hover-color: #f10d0d;
$text-color: #fff;

.navigation {
  min-width: 100px;
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  .navItem {
    // border: 2px solid $main-color;
    padding: 10px;
    border-radius: 50%;
    color: $main-color;
    cursor: pointer;
    box-shadow: inset 0px 0px 4px 3px rgb(195 190 190);
    .icon {
      width: 24px;
      height: 24px;
      display: flex;
      justify-content: center;
      color: inherit;
    }
    &:hover {
      color: $hover-color;
    }
  }
  .activeNav {
    @extend .navItem;
    box-shadow: 0px 0px 4px 3px rgb(195 190 190);
    background-color: $main-color;
    color: $text-color;
    &:hover {
      color: $text-color;
    }
  }
}
