$buy-color: #27ae60;
$sell-color: #eb5757;

.tradePopup {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  .popupBackground {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: -1;
  }
  .popupBody {
    background-color: white;
    width: fit-content;
    height: fit-content;
    min-height: 300px;
    z-index: 10;
    overflow-y: hidden;
    position: relative;
    border-radius: 40px;
    .titleArea {
      height: fit-content;
      background-color: #4066eb;
      color: #fff;
      padding: 20px;
      text-align: center;
      .title {
        font-size: 22px;
        font-weight: 700;
        &:first-child {
          margin-top: 0;
        }
      }
    }
    .messageArea {
      height: fit-content;
      min-height: 200px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 20px;
      .message {
        font-size: 18px;
        font-weight: 600;
        font-family: "Lexend", sans-serif;
      }
    }
    .tradeActionArea {
      width: 100%;
      height: fit-content;
      padding: 20px 10px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 20px;
      .button {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        font-size: 16px;
        width: 165px;
        height: 48px;
        border-radius: 6px;
        color: white;
        transition: all 0.3s ease;
        cursor: pointer;
      }
      .cancelButton {
        @extend .button;
        background: #616161;
        cursor: pointer;
        &:hover {
          background: hsl(0, 0%, 30%);
        }
      }
      .proceedButton {
        @extend .button;
        background-color: #4166eb;
        &:hover {
          background-color: hsl(227, 59%, 51%);
        }
      }
      .buyButton {
        @extend .button;
        background-color: $buy-color;
      }
      .sellButton {
        @extend .button;
        background-color: $sell-color;
      }
    }
  }
}

// for phones
@media only screen and (max-width: 480px) {
  .tradePopup {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .popupBackground {
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.25);
      z-index: -1;
    }
    .popupBody {
      background-color: white;
      width: fit-content;
      height: fit-content;
      z-index: 10;
      overflow-y: hidden;
      position: relative;
      border-radius: 40px;
      .titleArea {
        height: fit-content;
        background-color: #4066eb;
        color: #fff;
        padding: 20px;
        text-align: center;
        .title {
          font-size: 18px;
          font-weight: 700;
          &:first-child {
            margin-top: 0;
          }
        }
      }
      .messageArea {
        height: fit-content;
        min-height: 200px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .message {
          font-size: 18px;
          font-weight: 600;
          font-family: "Lexend", sans-serif;
        }
      }
      .tradeActionArea {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        .button {
          display: flex;
          align-items: center;
          justify-content: center;
          border: none;
          font-size: 12px;
          width: 100px;
          height: 40px;
          border-radius: 6px;
          color: white;
          transition: all 0.3s ease;
          cursor: pointer;
        }
        .cancelButton {
          @extend .button;
          background: #616161;
          cursor: pointer;
          &:hover {
            background: hsl(0, 0%, 30%);
          }
        }
        .proceedButton {
          @extend .button;
          background: #4166eb;
          &:hover {
            background: hsl(227, 59%, 51%);
          }
        }
      }
    }
  }
}

// phone landscape
@media only screen and (orientation: landscape) and (max-height: 480px) {
  .tradePopup {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .popupBackground {
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.25);
      z-index: -1;
    }
    .popupBody {
      background-color: white;
      width: fit-content;
      height: fit-content;
      z-index: 10;
      overflow-y: hidden;
      position: relative;
      border-radius: 40px;
      .titleArea {
        height: fit-content;
        background-color: #4066eb;
        color: #fff;
        padding: 20px;
        text-align: center;
        .title {
          font-size: 18px;
          font-weight: 700;
          &:first-child {
            margin-top: 0;
          }
        }
      }
      .messageArea {
        height: fit-content;
        min-height: 200px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .message {
          font-size: 18px;
          font-weight: 600;
          font-family: "Lexend", sans-serif;
        }
      }
      .tradeActionArea {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
      }
    }
  }
}
