.description {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 30px;
  .descriptionItem {
    display: flex;
    flex-direction: column;
    gap: 6px;
    .label {
      font-size: 10px;
      color: #b5b5c3;
    }
    .value {
      font-size: 18px;
      font-weight: 700;
      color: #464e5f;
    }
  }
}
