$primary-color: #17d1bc;
$dark-font-color: #464e5f;
$light-font-color: #b5b5c3;
$chart-color: #5200ff;
$buy-color: #27ae60;
$sell-color: #eb5757;
$nutral-color: #ffa800;

.card {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  .iconArea {
    display: flex;
    justify-content: center;
    align-items: center;
    .icon {
      font-size: 22px;
      font-weight: 700;
      background-color: $light-font-color;
      color: $dark-font-color;
      padding: 10px;
      border-radius: 4px;
    }
  }
  .nameArea {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    .name {
      font-size: 16px;
      font-weight: 700;
      color: $dark-font-color;
    }
    .symbol {
      font-size: 12px;
      font-weight: 400;
      color: $light-font-color;
    }
  }
  .valueArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    .label {
      font-size: 12px;
      font-weight: 400;
      color: $light-font-color;
    }
    .value {
      font-size: 16px;
      font-weight: 700;
      .gain {
        color: $buy-color;
      }
      .loss {
        color: $sell-color;
      }
      .nutral {
        color: $nutral-color;
      }
    }
  }
  .buttonArea {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    font-size: 12px;
    font-weight: 600;
    .button {
      color: $primary-color;
      background-color: #f3f6f9;
      padding: 6px;
      border-radius: 4px;
      cursor: pointer;
      border: none;
      outline: none;
    }
  }
}
