.schoolPage {
    margin: 1rem;
    z-index: 5;
    position: relative;
    .signUpContainer {
        background: #4166eb;
        padding-top: 1rem;
        border-radius: 2rem;
        display: flex;
        max-height: 85vh;
        .contentWrapper {
            display: flex;
            .logoContainer {
                background: #fff;
                width: fit-content;
                border-radius: 0 1rem 1rem 0;
                height: 3rem;
            }
            
            .jasper {
                position: relative;
                z-index: 2;
                width: 20rem;
            }
            
            .flexContainer2 {
                color: #fff;
                width: 25rem;
                margin: 0 5rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 2rem;
                
                h1 {
                    font-size: 2.5rem;
                }
                
                h2 {
                    font-size: 1.5rem;
                }
                
                p {
                    font-size: 1.2rem;
                }
            }
        }

        .flexContainer3 {
            position: relative;
            margin-right: 1rem;
        }
    }
    .wave{
        position: absolute;
        bottom:0;
        width: 100vw;
    }
}
.schoolPageGames {
    position: relative;
    z-index: 5;
}

@media only screen and (min-width: 991px) and (max-width: 1300px) {
    .schoolPage {
        .signUpContainer {
            max-height: 95vh;
            .contentWrapper{
                .logoContainer {
                    height: 3rem;
                }
                .jasper {
                    width: 15rem;
                }
                .flexContainer2 {
                    width: 25rem;
                    margin: 0;
                    padding: 0 1rem;

                    h1 {
                        font-size: 2rem;
                    }

                    h2 {
                        font-size: 1.2rem;
                    }

                    p {
                        font-size: 1rem;
                    }
                }
            }
            .wave{
                width: 99vw !important;
            }
        }
    }
    .schoolPageGames{
        margin-top: 3rem;
    }
}

@media only screen and (min-width: 501px) and (max-width: 990px){
    .schoolPage {
        .signUpContainer {
            flex-direction: column;
            max-height: 100%;
            position: relative;
            .contentWrapper {
                margin: 0 auto;
                .logoContainer {
                    position: absolute;
                    left:0;
                    height: 3rem;
                }
                .jasper {
                    margin-top: 2rem;
                    width: 10rem;
                }
                .flexContainer2 {
                    margin-top: 2rem;
                    width: 100%;
                    margin: 0;
                    padding: 0 1rem;
                    
                    h1 {
                        font-size: 1.5rem;
                    }
                    
                    h2 {
                        font-size: 1rem;
                    }
                    
                    p {
                        font-size: 0.8rem;
                    }
                }
            }
            .flexContainer3{
                margin: 0 auto;
                padding:1rem;
            }
        }
        .wave{
            width: 98vw !important;
        }
    }
}

@media only screen and (max-width: 500px) {
    .schoolPage {
        .signUpContainer {
            flex-direction: column;
            max-height: 100%;
            .contentWrapper {
                .logoContainer {
                    height: 3rem;
                }
                .jasper {
                    width: 10rem;
                }
                .flexContainer2 {
                    width: 100%;
                    margin: 0;
                    padding: 0 1rem;

                    h1 {
                        font-size: 1.5rem;
                    }

                    h2 {
                        font-size: 1rem;
                    }

                    p {
                        font-size: 0.8rem;
                    }
                }
            }
            .flexContainer3{
                padding:1rem;
                margin-right: 0;
            }
        }
    }
    .wave{
        width: 95vw !important;
    }
}