.kidChoresPage {
  background-color: #f4f5f7;
  height: 100vh;
  width: 100vw;
  display: flex;
  overflow: hidden;
  .contentWrapper {
    height: 100vh;
    flex: 1;
    display: flex;
    width: 100%;
    max-width: calc(100vw);
    flex-direction: column;
    .mainContent {
      width: 100%;
      display: flex;
      overflow-y: auto;
      margin-top: 20px;
      scrollbar-width: thin;
      .flexLeft {
        flex: 1;
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 0 10px 0 45px;
        .pendingChoresSection {
          height: fit-content;
          display: flex;
          flex-direction: column;
          // height: 50vh;
          .heading {
            font-weight: 500;
            font-size: 25px;
            color: rgba(87, 88, 128, 1);
            display: flex;
            align-items: center;
            cursor: default;
            svg {
              margin-left: 10px;
            }
          }
          .heads {
            display: flex;
            width: 100%;
            align-items: center;
            height: 64px;
            color: rgba(106, 106, 106, 1);
            .head1 {
              font-size: 12px;
              font-weight: 400;
              margin-left: 12%;
            }
            .head2 {
              font-size: 12px;
              font-weight: 400;
              margin-left: 16.5%;
            }
            .head3 {
              font-size: 12px;
              margin-left: 8%;
              font-weight: 400;
            }
          }
          .wrapper {
            padding-right: 30px;
            flex: 1;
            .chores {
              margin-top: 20px;
            }
          }
        }
      }
      .flexRight {
        flex: 1;
        display: flex;
        flex-direction: column;
        height: 100%;
        padding-right: 50px;
        padding-left: 10px;
        .choreSection {
          margin-top: 0px;
          display: flex;
          flex-direction: column;
          .heading {
            font-weight: 500;
            font-size: 25px;
            color: rgba(87, 88, 128, 1);
            display: flex;
            align-items: center;
            cursor: default;
            svg {
              margin-left: 10px;
            }
          }
          .wrapper {
            padding: 0 20px 10px 0px;
            .chores {
              margin-top: 20px;
            }
          }
        }
        .badgeSection {
          .heading {
            font-weight: 500;
            font-size: 25px;
            color: rgba(87, 88, 128, 1);
            cursor: default;
            display: flex;
            align-items: center;
            svg {
              margin-left: 10px;
            }
          }
          .wrapper {
            display: flex;
            height: fit-content;
            align-items: center;
            width: 100%;
            overflow-x: auto;
            margin-top: 20px;
            scrollbar-width: thin;
            .badge {
              background-color: rgb(235, 235, 235);
              border-radius: 12px;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              padding: 20px;
              width: 100%;
              height: 300px;
              img {
                width: 40%;
                object-fit: contain;
                margin-right: 0;
                padding: 0;
              }
              .level {
                font-weight: 500;
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1300px) {
  .kidChoresPage {
    .contentWrapper {
      max-width: calc(100vw - 55px);
      .mainContent {
        .flexRight {
          .gameSection {
            padding: 20px 40px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 860px) and (max-height: 800px) {
  .kidChoresPage {
    .contentWrapper {
      .mainContent {
        width: 100%;
        display: flex;
        overflow-y: auto;
        margin-top: 20px;
        scrollbar-width: thin;
        .flexLeft {
          padding: 0 10px 0 25px;
          .pendingChoresSection {
            .heading {
              font-size: 22px;
            }
            .wrapper {
              padding: 0 10px 10px 0px;
              margin-bottom: 20px;
            }
          }
        }
        .flexRight {
          padding-right: 0px;
          .choreSection {
            display: flex;
            flex-direction: column;
            .heading {
              font-size: 22px;
              align-items: center;
              margin-right: 25px;
            }
            .wrapper {
              margin-top: 0px;
              padding: 0 20px 10px 0px;
            }
          }
          .badgeSection {
            flex: 4;
            margin-top: 20px;
            .heading {
              font-weight: 500;
              font-size: 25px;
              color: rgba(87, 88, 128, 1);
              display: flex;
              align-items: center;
              svg {
                margin-left: 10px;
              }
            }
            .button {
              font-size: 16px;
              font-weight: 500;
              height: 53px;
            }
            .subheading {
              margin-right: 40px;
            }
            .wrapper {
              display: flex;
              flex-direction: column;
              overflow: auto;
              width: 100%;
              height: 83%;
              margin-top: 0px;
              padding: 0 40px 10px 0px;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1100px) {
  .kidChoresPage {
    .contentWrapper {
      .mainContent {
        display: flex;
        flex-direction: column;
        .flexLeft {
          align-items: center;
          width: 100%;
          padding-right: 40px;
          .pendingChoresSection {
            width: 100%;
          }
        }
        .flexRight {
          width: 100%;
          padding: 0 40px 0 20px;
          margin-top: 50px;
          .choreSection {
            width: 100%;
          }
          .badgeSection {
            width: 100%;
            margin-top: 40px;
            .button {
              margin-right: 20px;
            }
            .wrapper {
              width: 100%;
              // height: 45vh;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 790px) {
  .kidChoresPage {
    padding-right: 0px;
    width: 100vw;
    .contentWrapper {
      .mainContent {
        margin-top: 0px;
        .flexLeft {
          height: unset !important;
          width: 100%;
          padding: 0 10px 0 20px;
          .pendingChoresSection {
            .heading {
              font-size: 16px;
            }
            .wrapper {
              padding: 0 5px 0 0;
            }
          }
        }
        .flexRight {
          height: 100%;
          width: 100%;
          margin-top: 0px;
          padding: 0 10px 0 20px;
          .choreSection {
            .heading {
              font-size: 16px;
              margin-right: 15px;
            }
          }
          .badgeSection {
            width: 100%;
            margin-top: 40px;
            .heading {
              font-size: 16px;
            }
            .button {
              height: 45px;
            }
            .subheading {
              font-size: 10px;
              margin-right: 20px;
            }
            .wrapper {
              padding: 0 20px 0 0px;
            }
          }
        }
      }
    }
  }
}
