@use  "../variables/colors.scss" as *;

.categoryBar {
  display: flex;
  width: 100%;
  justify-content: center;
  transition: all 0.3s ease;
  .left {
    flex: 1;
    .wrapper {
      display: flex;
      width: 100%;
      justify-content: space-between;
      animation: expandexit 0.3s ease;
      .category {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 60px;
        background-color: white;
        color: hsla(0, 0%, 0%, 0.5);
        font-family: 'Lexend', sans-serif;
        font-size: 21px;
        font-weight: 700;
        position: relative;
        margin: 10px;
        padding: 0 20px;

        width: calc(100% / 6);
        min-width: fit-content;
        cursor: pointer;
        .underline {
          display: none;
        }
        &:hover {
          color: hsla(0, 0%, 0%, 0.685);
        }
      }
      .selected {
        color: black;
        .underline {
          position: absolute;
          bottom: 0;
          left: 0;
          margin-top: 5px;
          width: 100%;
          display: flex;
          height: 4px;
          background-color: hsla(28, 87%, 62%, 1);
        }
        &:hover {
          color: hsl(0, 0%, 0%);
        }
      }
    }
  }
  .more {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: "100%";
    background-color: white;
    color: hsla(0, 0%, 0%, 0.5);
    font-family: 'Lexend', sans-serif;
    font-size: 21px;
    font-weight: 700;
    width: calc(100% / 6);
    transition: all 0.3s ease;
    svg {
      path {
        transition: all 0.3s ease;
      }
    }
    &:hover {
      svg {
        path {
          stroke: hsla(0, 0%, 0%, 0.685);
        }
      }
      color: hsla(0, 0%, 0%, 0.685);
    }
  }
}

.fullCategories {
  .left {
    flex: 1;
    .wrapper {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      align-items: center;
      transition: all 0.3s ease;
      animation: expand 0.3s ease;
    }
  }
}
.darkstyles{
  .left {
    .wrapper {
    .category {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 60px;
        background-color: $d-main !important;
        color: $d-text2;
        font-family: 'Lexend', sans-serif;
        font-size: 21px;
        font-weight: 700;
        position: relative;
        margin: 10px;
        padding: 0 20px;

        width: calc(100% / 6);
        min-width: fit-content;
        cursor: pointer;
        .underline {
          display: none;
        }
        &:hover {
          color: $d-text1;

        }
      }
      .selected {
        color: $d-text2;
        .underline {
          position: absolute;
          bottom: 0;
          left: 0;
          margin-top: 5px;
          width: 100%;
          display: flex;
          height: 4px;
        }
        &:hover {
          color: $d-text1;
        }
      }
    }
  }
  .more {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: "100%";
    background-color: white;
    color: hsla(0, 0%, 0%, 0.5);
    font-family: 'Lexend', sans-serif;
    font-size: 21px;
    font-weight: 700;
    width: calc(100% / 6);
    transition: all 0.3s ease;
    svg {
      path {
        transition: all 0.3s ease;
      }
    }
    &:hover {
      svg {
        path {
          stroke: hsla(0, 0%, 0%, 0.685);
        }
      }
      color: hsla(0, 0%, 0%, 0.685);
    }
  }
}

@keyframes expand {
  0% {
    transform: scaleY(50%);
  }
  100% {
    transform: scaleY(100%);
  }
}
@keyframes expandexit {
  0% {
    transform: scaleY(20%);
  }
  100% {
    transform: scaleY(100%);
  }
}

@media only screen and (max-width: 860px) {
  .categoryBar {
    display: flex;
    width: 100%;
    justify-content: center;
    transition: all 0.3s ease;
    .left {
      flex: 1;
      width: 80%;
      .wrapper {
        overflow-x: auto;
        padding-bottom: 10px;
        .category {
          height: 30px;
          font-size: clamp(12px, 1.5vw, 14px);
          margin: 0;
          margin-right: 5px;
          padding: 0;
          min-width: fit-content;
          .underline {
            display: none;
          }
          &:hover {
            color: hsla(0, 0%, 0%, 0.685);
          }
        }
        .selected {
          color: black;
          .underline {
            margin: 0 10px;
            position: absolute;
            bottom: 0;
            left: 0;
            margin-top: 5px;
            width: 80%;
            height: 2px;
          }
        }
      }
    }
    .more {
      cursor: pointer;
      display: flex;
      height: 30px;
      align-items: center;
      justify-content: space-around;
      background-color: white;
      color: hsla(0, 0%, 0%, 0.5);
      font-family: 'Lexend', sans-serif;
      font-size: 10px;
      font-weight: 700;
      width: 60px;
      transition: all 0.3s ease;
      svg {
        width: 8px;
        path {
          height: 5px;
          transition: all 0.3s ease;
        }
      }
      &:hover {
        svg {
          path {
            stroke: hsla(0, 0%, 0%, 0.685);
          }
        }
        color: hsla(0, 0%, 0%, 0.685);
      }
    }
  }

  .fullCategories {
    .left {
      flex: 1;
      .wrapper {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        transition: all 0.3s ease;
        animation: expand 0.3s ease;
      }
    }
  }
}
@media screen and (orientation: landscape) and (max-height: 500px) {
  .categoryBar {
    display: flex;
    width: 100%;
    justify-content: center;
    transition: all 0.3s ease;
    .left {
      flex: 1;
      width: 80%;
      .wrapper {
        overflow-x: auto;
        padding-bottom: 10px;
        .category {
          height: 30px;
          font-size: clamp(12px, 1.5vw, 14px);
          margin: 0;
          margin-right: 5px;
          padding: 0;
          min-width: fit-content;
          .underline {
            display: none;
          }
          &:hover {
            color: hsla(0, 0%, 0%, 0.685);
          }
        }
        .selected {
          color: black;
          .underline {
            margin: 0 10px;
            position: absolute;
            bottom: 0;
            left: 0;
            margin-top: 5px;
            width: 80%;
            height: 2px;
          }
        }
      }
    }
    .more {
      cursor: pointer;
      display: flex;
      height: 30px;
      align-items: center;
      justify-content: space-around;
      background-color: white;
      color: hsla(0, 0%, 0%, 0.5);
      font-family: 'Lexend', sans-serif;
      font-size: clamp(12px, 1.5vw, 14px);
      font-weight: 700;
      width: 60px;
      transition: all 0.3s ease;
      svg {
        width: 8px;
        path {
          height: 5px;
          transition: all 0.3s ease;
        }
      }
      &:hover {
        svg {
          path {
            stroke: hsla(0, 0%, 0%, 0.685);
          }
        }
        color: hsla(0, 0%, 0%, 0.685);
      }
    }
  }

  .fullCategories {
    .left {
      flex: 1;
      .wrapper {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        transition: all 0.3s ease;
        animation: expand 0.3s ease;
      }
    }
  }
}
@media screen and (orientation: landscape) and (max-width: 900px) {
  .categoryBar {
    display: flex;
    width: 100%;
    justify-content: center;
    transition: all 0.3s ease;
    .left {
      flex: 1;
      width: 80%;
      .wrapper {
        overflow-x: auto;
        padding-bottom: 10px;
        .category {
          height: 30px;
          font-size: clamp(12px, 1.5vw, 14px);
          margin: 0;
          margin-right: 5px;
          padding: 0;
          min-width: fit-content;
          .underline {
            display: none;
          }
          &:hover {
            color: hsla(0, 0%, 0%, 0.685);
          }
        }
        .selected {
          color: black;
          .underline {
            margin: 0 10px;
            position: absolute;
            bottom: 0;
            left: 0;
            margin-top: 5px;
            width: 80%;
            height: 2px;
          }
        }
      }
    }
    .more {
      cursor: pointer;
      display: flex;
      height: 30px;
      align-items: center;
      justify-content: space-around;
      background-color: white;
      color: hsla(0, 0%, 0%, 0.5);
      font-family: 'Lexend', sans-serif;
      font-size: clamp(12px, 1.5vw, 14px);
      font-weight: 700;
      width: 60px;
      transition: all 0.3s ease;
      svg {
        width: 8px;
        path {
          height: 5px;
          transition: all 0.3s ease;
        }
      }
      &:hover {
        svg {
          path {
            stroke: hsla(0, 0%, 0%, 0.685);
          }
        }
        color: hsla(0, 0%, 0%, 0.685);
      }
    }
  }

  .fullCategories {
    .left {
      flex: 1;
      .wrapper {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        transition: all 0.3s ease;
        animation: expand 0.3s ease;
      }
    }
  }
}
