@use "../variables/fontsizes.scss" as *;

.gamesPage {
  background-color: #f4f5f7;
  height: 100vh;
  display: flex;
  overflow: hidden;
  .contentWrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    .subheader {
      font-size: large;
      font-weight: bold;
      align-self: start;
      margin-bottom: 20px;
    }
    .mainContent {
      width: 100%;
      display: flex;
      overflow-y: auto;
      margin-top: 10px;
      scrollbar-width: thin;
      .gameheading {
        color: #4166eb;
        font-size: 1.5rem;
        font-weight: 600;
      }
      .description {
        font-size: 1rem;
        margin-top: 10px;
        line-height: 24px;
        margin-bottom: 40px;
      }
      .banner {
        min-height: 450px;
        border-radius: 12px;
        overflow: hidden;
        display: flex;
        background-color: #fff;
        margin-bottom: 20px;
        img {
          height: 100%;
          width: 70%;
          object-fit: cover;
        }
        .right {
          flex: 1;
          display: flex;
          min-width: 400px;
          padding: 40px;
          flex-direction: column;
          .name {
            font-size: 2rem;
            font-weight: 600;
          }
          .description {
            font-size: 1rem;
            color: rgb(37, 37, 37);
            margin-top: 10px;
            line-height: 24px;
          }
          .play {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 6px;
            background-color: #4166eb;
            color: white;
            padding: 15px 40px;
            font-size: 1.125rem;
            margin-top: auto;
            cursor: pointer;
          }
        }
      }
      .flexLeft {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        padding: 0 20px 0 25px;
        .recentSection {
          height: fit-content;
          width: 100%;
          display: flex;
          flex-direction: column;
          .heading {
            font-weight: 500;
            font-size: 25px;
            color: rgba(87, 88, 128, 1);
            display: flex;
            align-items: center;
            svg {
              margin-left: 10px;
            }
          }
          .wrapper {
            display: flex;
            height: fit-content;
            align-items: center;
            width: 100%;
            overflow-x: auto;
            gap: 20px;
            padding-top: 20px;
            padding-bottom: 20px;
            scrollbar-width: thin;
            scroll-behavior: smooth;
          }
        }
        .availableSection {
          margin-top: 15px;
          display: flex;
          flex-direction: column;
          .heading {
            font-weight: 500;
            font-size: 25px;
            color: rgba(87, 88, 128, 1);
            display: flex;
            align-items: center;
            svg {
              margin-left: 10px;
            }
          }
          .wrapper {
            display: flex;
            flex-wrap: wrap;
            height: fit-content;
            width: 100%;
            overflow-x: auto;
            padding-top: 20px;
            padding-bottom: 20px;
            gap: 20px;
            scrollbar-width: thin;
            scroll-behavior: smooth;
          }
        }
      }
      .flexRight {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 40%;
        padding-right: 50px;
        padding-left: 10px;
        .familyfunSection {
          flex: 3;
          .heading {
            font-weight: 500;
            font-size: 25px;
            color: rgba(87, 88, 128, 1);
            display: flex;
            align-items: center;
            svg {
              margin-left: 10px;
            }
          }
          .wrapper {
            display: flex;
            height: fit-content;
            align-items: center;
            width: 100%;
            overflow-x: auto;
            padding-top: 20px;
            padding-bottom: 20px;
            scrollbar-width: thin;
            scroll-behavior: smooth;
          }
        }
        .simulatorsSection {
          flex: 1;
          height: 65%;
          margin-top: 20px;
          .heading {
            font-weight: 500;
            font-size: 25px;
            color: rgba(87, 88, 128, 1);
            display: flex;
            align-items: center;
            svg {
              margin-left: 10px;
            }
          }
          .wrapper {
            display: flex;
            flex-wrap: wrap;
            height: fit-content;
            width: 100%;
            overflow-x: auto;
            padding-top: 20px;
            padding-bottom: 20px;
            scrollbar-width: thin;
            scroll-behavior: smooth;
          }
        }
        .nokidlivesection {
          margin-top: 0;
          .wrapper {
            height: 83%;
          }
        }
      }
    }

    .container {
      padding: 20px;
      overflow-y: auto;
      height: 80%;
      width: 80%;
    }
  }
}

@media only screen and (min-width: 900px) and (max-height: 900px) {
  .gamesPage {
    .contentWrapper {
      .mainContent {
        .flexLeft {
          .banner {
            width: 100%;
            min-height: 380px;
            height: 35vh;
            border-radius: 12px;
            overflow: visible;
            display: flex;
            background-color: #fff;
            img {
              height: 100%;
              width: 60%;
              object-fit: cover;
            }
            .right {
              flex: 1;
              display: flex;
              min-width: 350px;
              padding: 20px;
              flex-direction: column;
              .name {
                font-size: 26px;
                font-weight: 600;
              }
              .description {
                font-size: 0.875rem;
                color: rgb(37, 37, 37);
                margin-top: 10px;
              }
              .play {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 6px;
                background-color: #4166eb;
                color: white;
                padding: 15px 40px;
                font-size: 0.875rem;
                margin-top: auto;
                cursor: pointer;
              }
            }
          }
          .recentSection {
            .heading {
              font-size: 1.375rem;
            }
            .heads {
              height: 48px;
              font-size: 11px;
              // .head1 {
              //   margin-left: 12%;
              // }
              // .head2 {
              //   margin-left: 11.5%;
              // }
              // .head3 {
              //   margin-left: 2%;
              // }
            }
          }
          .availableSection {
            .heading {
              font-size: 1.375rem;
            }
          }
        }
        .flexRight {
          .familyfunSection {
            .heading {
              font-size: 1.375rem;
            }
          }
          .simulatorsSection {
            .heading {
              font-size: 1.375rem;
            }
          }
        }
      }

      .container {
        padding: 20px;
        overflow-y: auto;
        height: 80%;
        width: 80%;
      }
    }
  }
}

@media only screen and (max-width: 1300px) {
  .gamesPage {
    .contentWrapper {
      max-width: calc(100vw - 80px);
      .mainContent {
        .flexRight {
          .familyfunSection {
            padding: 20px 40px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1100px) {
  .gamesPage {
    .contentWrapper {
      .mainContent {
        display: flex;
        flex-direction: column;
        .flexLeft {
          align-items: center;
          width: 100%;
          .recentSection {
            width: 100%;
          }
          .availableSection {
            width: 100%;
          }
        }
        .flexRight {
          width: 100%;
          margin-top: 15px;
          padding: 0 10px 0px 45px;
          .familyfunSection {
            width: 100%;
            padding: 0;
          }
          .simulatorsSection {
            width: 100%;
            margin-top: 15px;
            .wrapper {
              width: 100%;
              height: auto;
              padding-bottom: 100px;
            }
          }
        }
      }
    }
  }
}
// for tablets
@media only screen and (orientation: portrait) and (max-width: 860px) {
  .gamesPage {
    .contentWrapper {
      width: 100%;
      max-width: calc(100vw - 55px);
      .mainContent {
        display: flex;
        flex-direction: column;
        width: 100%;
        .flexLeft {
          display: flex;
          flex-direction: column;
          align-items: center;
          height: 100%;
          width: 100%;
          padding: 0 30px;
          .banner {
            min-height: unset;
            height: max-content;
            border-radius: 12px;
            flex-direction: column;
            overflow: visible;
            display: flex;
            background-color: #fff;
            margin-bottom: 20px;
            img {
              height: 200px;
              min-height: 200px;
              width: 100%;
              object-fit: cover;
            }
            .right {
              flex: 1;
              display: flex;
              min-width: unset;
              min-height: fit-content;
              padding: 20px;
              flex-direction: column;
              .name {
                font-size: 1.375rem;
                font-weight: 600;
              }
              .description {
                font-size: 0.75rem;
                color: rgb(37, 37, 37);
                margin-top: 5px;
              }
              .play {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 6px;
                background-color: #4166eb;
                color: white;
                padding: 12px 20px;
                font-size: 0.75rem;
                margin-top: auto;
                cursor: pointer;
                margin-top: 10px;
              }
            }
          }
          .recentSection {
            width: 100%;
            margin-top: 15px;
            .heading {
              font-size: clamp(16px, 20px, 26px);
              svg {
                margin-left: 5px;
                width: 15px;
              }
            }
            .blacnkhead1 {
            }
            .heads {
              display: flex;
              width: 100%;
              align-items: center;
              height: 44px;
              color: rgba(106, 106, 106, 1);
              .head1 {
                font-size: 10px;
                flex: 1;
                margin-left: 0;
                font-weight: 400;
              }
              .head2 {
                font-size: 10px;
                font-weight: 400;
                flex: 0.7;
                margin-right: 0;
              }
              .head3 {
                font-size: 10px;
                margin-left: 15px;
                font-weight: 400;
                width: 26%;
              }
            }
            .wrapper {
              padding: 0 0px 10px 0px;
              margin-bottom: 10px;
            }
          }
          .availableSection {
            width: 100%;
            margin-top: 0px;
            .heading {
              font-weight: 500;
              font-size: clamp(16px, 20px, 26px);
              color: rgba(87, 88, 128, 1);
              display: flex;
              align-items: center;
              svg {
                margin-left: 5px;
                width: 15px;
              }
            }
            .wrapper {
              height: fit-content;
              margin-top: 20px;
              padding: 0 0px 10px 0px;
            }
          }
        }
        .flexRight {
          display: flex;
          flex-direction: column;
          height: 100%;
          width: 100%;
          padding: 0 30px;
          .familyfunSection {
            width: 100%;
            margin-top: 0px;
            padding: 0;
            .heading {
              font-size: clamp(16px, 20px, 26px);

              svg {
                margin-left: 5px;
                width: 15px;
              }
            }
            .wrapper {
              display: flex;
              overflow: auto;
              height: max-content;
              margin-top: 20px;
              padding: 0 0px 30px 0px;
              align-items: center;
            }
          }
          .simulatorsSection {
            width: 100%;
            padding: 0 0px 0 0px;
            margin-top: 15px;
            .heading {
              font-size: clamp(16px, 20px, 26px);

              svg {
                margin-left: 5px;
                width: 15px;
              }
            }
            .wrapper {
              display: flex;
              width: 100%;
              overflow: auto;
              height: fit-content;
              margin-top: 20px;
              padding: 0 0px 10px 0px;
              align-items: center;
              &::-webkit-scrollbar {
                width: 5px;
              }
            }
          }
        }
      }
    }
  }
}

// for mobile
@media only screen and (orientation: portrait) and (max-width: 500px) {
  .gamesPage {
    .contentWrapper {
      .mainContent {
        .gameheading {
          font-size: 1.375rem;
          font-weight: 600;
          text-align: left;
          width: 100%;
        }
        .description {
          font-size: 0.75rem;
          line-height: 20px;
          margin: 0;
          margin-top: 10px;
        }
        .flexLeft {
          display: flex;
          flex-direction: column;
          align-items: center;
          height: 100%;
          width: 100%;
          padding: 0 15px;
          .recentSection {
            width: 100%;
            margin-top: 20px;
            .heading {
              font-size: 1.125rem;
              svg {
                margin-left: 5px;
                width: 15px;
              }
            }

            .wrapper {
              padding: 0 0px 10px 0px;
              margin-top: 20px;
              flex-direction: column;
            }
          }
          .availableSection {
            width: 100%;
            margin-top: 20px;
            .heading {
              font-weight: 500;
              font-size: 1.125rem;
              color: rgba(87, 88, 128, 1);
              display: flex;
              align-items: center;
              svg {
                margin-left: 5px;
                width: 15px;
              }
            }
            .wrapper {
              overflow: auto;
              height: fit-content;
              margin-top: 20px;
              padding: 0 0px 10px 0px;
            }
          }
        }
        .flexRight {
          display: flex;
          flex-direction: column;
          height: 100%;
          width: 100%;
          padding: 0 15px;
          .familyfunSection {
            width: 100%;
            margin-top: 0px;
            padding: 0;
            .heading {
              font-size: 1.125rem;

              svg {
                margin-left: 5px;
                width: 15px;
              }
            }
            .wrapper {
              display: flex;
              overflow: auto;
              height: max-content;
              margin-top: 20px;
              padding: 0 0px 30px 0px;
              align-items: center;
            }
          }
          .simulatorsSection {
            width: 100%;
            padding: 0 0px 0 0px;
            margin-top: 15px;
            .heading {
              font-size: 1.125rem;

              svg {
                margin-left: 5px;
                width: 15px;
              }
            }
            .wrapper {
              display: flex;
              width: 100%;
              overflow: auto;
              height: fit-content;
              margin-top: 20px;
              padding: 0 0px 10px 0px;
              align-items: center;
              &::-webkit-scrollbar {
                width: 5px;
              }
            }
          }
        }
      }
    }
  }
}

// mobile and tab landscape view
@media only screen and (orientation: landscape) and (max-height: 500px) {
  .gamesPage {
    .contentWrapper {
      width: 100%;
      max-width: calc(100vw - 55px);
      .mainContent {
        display: flex;
        flex-direction: column;
        width: 100%;
        .gameheading {
          color: #4166eb;
          font-size: $mobile-heading;
          font-weight: 600;
          text-align: left;
          width: 100%;
        }
        .description {
          font-size: $mobile-subheading;
          line-height: $mobile-subheading-line;
          margin-bottom: 0px;
        }
        .flexLeft {
          display: flex;
          flex-direction: column;
          align-items: center;
          height: 100%;
          width: 100%;
          padding: 0 20px;
          .banner {
            min-height: unset;
            height: max-content;
            border-radius: 12px;
            flex-direction: column;
            overflow: visible;
            display: flex;
            background-color: #fff;
            margin-bottom: 20px;
            img {
              height: 200px;
              min-height: 200px;
              width: 100%;
              object-fit: cover;
            }
            .right {
              flex: 1;
              display: flex;
              min-width: unset;
              min-height: fit-content;
              padding: 20px;
              flex-direction: column;
              .name {
                font-size: 1.375rem;
                font-weight: 600;
              }
              .description {
                font-size: 0.75rem;
                color: rgb(37, 37, 37);
                margin-top: 5px;
              }
              .play {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 6px;
                background-color: #4166eb;
                color: white;
                padding: 12px 20px;
                font-size: 0.75rem;
                margin-top: auto;
                cursor: pointer;
                margin-top: 10px;
              }
            }
          }
          .recentSection {
            width: 100%;
            margin-top: 20px;
            .heading {
              font-size: $mobile-heading;
              svg {
                margin-left: 5px;
                width: 15px;
              }
            }
            .wrapper {
              padding: 0 0px 10px 0px;
              margin-top: 20px;
            }
          }
          .availableSection {
            width: 100%;
            margin-top: 20px;
            .heading {
              font-weight: 500;
              font-size: clamp(16px, 20px, 26px);
              color: rgba(87, 88, 128, 1);
              display: flex;
              align-items: center;
              svg {
                margin-left: 5px;
                width: 15px;
              }
            }
            .wrapper {
              height: fit-content;
              margin-top: 20px;
              padding: 0 0px 10px 0px;
            }
          }
        }
        .flexRight {
          display: flex;
          flex-direction: column;
          height: 100%;
          width: 100%;
          padding: 0 30px;
          .familyfunSection {
            width: 100%;
            margin-top: 0px;
            padding: 0;
            .heading {
              font-size: clamp(16px, 20px, 26px);

              svg {
                margin-left: 5px;
                width: 15px;
              }
            }
            .wrapper {
              display: flex;
              overflow: auto;
              height: max-content;
              margin-top: 20px;
              padding: 0 0px 30px 0px;
              align-items: center;
            }
          }
          .simulatorsSection {
            width: 100%;
            padding: 0 0px 0 0px;
            margin-top: 15px;
            .heading {
              font-size: clamp(16px, 20px, 26px);

              svg {
                margin-left: 5px;
                width: 15px;
              }
            }
            .wrapper {
              display: flex;
              width: 100%;
              overflow: auto;
              height: fit-content;
              margin-top: 20px;
              padding: 0 0px 10px 0px;
              align-items: center;
              &::-webkit-scrollbar {
                width: 5px;
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (orientation: landscape) and (max-width: 900px) {
  .gamesPage {
    .contentWrapper {
      width: 100%;
      max-width: calc(100vw - 55px);
      .mainContent {
        display: flex;
        flex-direction: column;
        width: 100%;
        .gameheading {
          color: #4166eb;
          font-size: $mobile-heading;
          font-weight: 600;
          text-align: left;
          width: 100%;
        }
        .description {
          font-size: $mobile-subheading;
          line-height: $mobile-subheading-line;
          margin-bottom: 0px;
        }
        .flexLeft {
          display: flex;
          flex-direction: column;
          align-items: center;
          height: 100%;
          width: 100%;
          padding: 0 20px;
          .banner {
            min-height: unset;
            height: max-content;
            border-radius: 12px;
            flex-direction: column;
            overflow: visible;
            display: flex;
            background-color: #fff;
            margin-bottom: 20px;
            img {
              height: 200px;
              min-height: 200px;
              width: 100%;
              object-fit: cover;
            }
            .right {
              flex: 1;
              display: flex;
              min-width: unset;
              min-height: fit-content;
              padding: 20px;
              flex-direction: column;
              .name {
                font-size: 1.375rem;
                font-weight: 600;
              }
              .description {
                font-size: 0.75rem;
                color: rgb(37, 37, 37);
                margin-top: 5px;
              }
              .play {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 6px;
                background-color: #4166eb;
                color: white;
                padding: 12px 20px;
                font-size: 0.75rem;
                margin-top: auto;
                cursor: pointer;
                margin-top: 10px;
              }
            }
          }
          .recentSection {
            width: 100%;
            margin-top: 20px;
            .heading {
              font-size: $mobile-heading;
              svg {
                margin-left: 5px;
                width: 15px;
              }
            }
            .wrapper {
              padding: 0 0px 10px 0px;
              margin-top: 20px;
            }
          }
          .availableSection {
            width: 100%;
            margin-top: 20px;
            .heading {
              font-weight: 500;
              font-size: clamp(16px, 20px, 26px);
              color: rgba(87, 88, 128, 1);
              display: flex;
              align-items: center;
              svg {
                margin-left: 5px;
                width: 15px;
              }
            }
            .wrapper {
              height: fit-content;
              margin-top: 20px;
              padding: 0 0px 10px 0px;
            }
          }
        }
        .flexRight {
          display: flex;
          flex-direction: column;
          height: 100%;
          width: 100%;
          padding: 0 30px;
          .familyfunSection {
            width: 100%;
            margin-top: 0px;
            padding: 0;
            .heading {
              font-size: clamp(16px, 20px, 26px);

              svg {
                margin-left: 5px;
                width: 15px;
              }
            }
            .wrapper {
              display: flex;
              overflow: auto;
              height: max-content;
              margin-top: 20px;
              padding: 0 0px 30px 0px;
              align-items: center;
            }
          }
          .simulatorsSection {
            width: 100%;
            padding: 0 0px 0 0px;
            margin-top: 15px;
            .heading {
              font-size: clamp(16px, 20px, 26px);

              svg {
                margin-left: 5px;
                width: 15px;
              }
            }
            .wrapper {
              display: flex;
              width: 100%;
              overflow: auto;
              height: fit-content;
              margin-top: 20px;
              padding: 0 0px 10px 0px;
              align-items: center;
              &::-webkit-scrollbar {
                width: 5px;
              }
            }
          }
        }
      }
    }
  }
}
