@use "../variables/fontsizes.scss" as *;

.leaderboard {
  border-radius: 10px;
  margin-top: 40px;
  .holder {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
    .heading {
      font-size: 1.375rem;
      font-weight: 600;
      margin-right: 20px;
      height: 40px;
      display: flex;
      align-items: flex-end;
      color: rgb(99, 99, 99);
      padding-bottom: 3px;
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover {
        color: rgb(68, 68, 68);
      }
    }
    .selected {
      padding-bottom: 0px;
      font-size: 35px;
      font-weight: 700;
      color: rgba(87, 88, 128, 1);
      &:hover {
        color: rgba(87, 88, 128, 1);
      }
    }
  }

  .section {
    background-color: #ffffff;
    border-radius: 10px;
    .subheading {
      font-size: 1.25rem;
      font-weight: 500;
      margin-bottom: 20px;
      padding: 15px 40px;
      text-align: center;
      border-bottom: 1px solid white;
    }
  }
  .table {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px 0 20px 0;
    .row {
      display: flex;
      align-items: center;
      height: 40px;
      font-size: 1rem;
      padding: 0 40px;
      .rank {
        width: 100px;
        text-align: left;
      }
      .name {
        width: 60%;
        text-transform: capitalize;
      }
      .score {
        width: 30%;
        text-align: right;
      }
      &:first-child,
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
        .rank {
          font-weight: 700;
        }
        .name {
          font-weight: 700;
        }
        .score {
          font-weight: 700;
        }
      }
      &:first-child {
        margin-bottom: 10px;
      }
      &:nth-child(5) {
        background-color: #4166eb !important;
        color: white;
      }
      &:nth-child(4) {
        background-color: #fdcc03 !important;
      }
      &:nth-child(3) {
        background-color: #ff6263 !important;
        color: white;
      }
      &:nth-child(2) {
        background-color: #17d1bc !important;
      }
    }
  }
}

@media only screen and (orientation: portrait) and (max-width: 900px) {
  .leaderboard {
    border-radius: 10px;
    padding: 20px 20px;
    margin: 0;
    .holder {
      align-items: center;
      gap: 10px;
      .heading {
        font-size: $mobile-smallsubheading;
        margin: 0;
        height: fit-content;
      }
      .selected {
        font-size: $mobile-subheading;
        margin: 0;
        height: fit-content;
      }
    }
    .heading {
      font-size: $mobile-heading;
      font-weight: 700;
      margin-bottom: 20px;
    }
    .section {
      border-radius: 10px;
      .subheading {
        font-size: $mobile-subheading;
        font-weight: 500;
        margin-bottom: 20px;
        padding: 15px 40px;
        text-align: center;
        border-bottom: 1px solid white;
      }
    }
    .table {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0px 0 20px 0;
      .row {
        display: flex;
        align-items: center;
        height: 40px;
        font-size: $mobile-detail;
        border-radius: 10px;
        padding: 0 20px;
        .rank {
          width: 100px;
          text-align: left;
        }
        .name {
          width: 60%;
        }
        .score {
          width: 30%;
          text-align: right;
        }
        &:first-child,
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
          .rank {
            font-weight: 700;
          }
          .name {
            font-weight: 700;
          }
          .score {
            font-weight: 700;
          }
        }
        &:first-child {
          margin-bottom: 10px;
        }
      }
    }
  }
}
@media only screen and (orientation: landscape) and (max-width: 900px) {
  .leaderboard {
    background-color: white;
    margin-top: 5px;
    border-radius: 10px;
    padding: 20px;
    .holder {
      align-items: center;
      gap: 10px;
      .heading {
        font-size: $mobile-subheading;
        margin: 0;
        padding: 0;
        height: fit-content;
      }
      .selected {
        font-size: $mobile-heading;
        margin: 0;
        height: fit-content;
      }
    }
    .section {
      border-radius: 10px;
      .subheading {
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 0;
        padding: 15px;
        text-align: center;
        border-bottom: 1px solid white;
      }
    }
    .table {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0px 0 20px 0;
      .row {
        display: flex;
        align-items: center;
        height: 40px;
        font-size: 0.75rem;
        border-radius: 10px;
        padding: 0 20px;
        .rank {
          width: 100px;
          text-align: left;
        }
        .name {
          width: 60%;
        }
        .score {
          width: 30%;
          text-align: right;
        }
        &:first-child,
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
          .rank {
            font-weight: 700;
          }
          .name {
            font-weight: 700;
          }
          .score {
            font-weight: 700;
          }
        }
        &:first-child {
          margin-bottom: 10px;
        }
      }
    }
  }
}

@media only screen and (orientation: landscape) and (max-height: 500px) {
  .leaderboard {
    background-color: white;
    margin-top: 5px;
    border-radius: 10px;
    padding: 20px;
    .holder {
      align-items: center;
      gap: 10px;
      .heading {
        font-size: $mobile-subheading;
        margin: 0;
        padding: 0;
        height: fit-content;
      }
      .selected {
        font-size: $mobile-heading;
        margin: 0;
        height: fit-content;
      }
    }
    .section {
      border-radius: 10px;
      .subheading {
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 0;
        padding: 15px;
        text-align: center;
        border-bottom: 1px solid white;
      }
    }
    .table {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0px 0 20px 0;
      .row {
        display: flex;
        align-items: center;
        height: 40px;
        font-size: 0.75rem;
        border-radius: 10px;
        padding: 0 20px;
        .rank {
          width: 100px;
          text-align: left;
        }
        .name {
          width: 60%;
        }
        .score {
          width: 30%;
          text-align: right;
        }
        &:first-child,
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
          .rank {
            font-weight: 700;
          }
          .name {
            font-weight: 700;
          }
          .score {
            font-weight: 700;
          }
        }
        &:first-child {
          margin-bottom: 10px;
        }
      }
    }
  }
}
