.reward {
  background-color: #fff;
  width: fit-content;
  border-radius: 8px;
  min-width: 48%;
  box-shadow: 0px 13.3978px 24.8817px rgba(8, 60, 194, 0.15);
  display: flex;
  .image {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 12vw;
    height: 100%;
    object-fit: cover;
    box-shadow: 1px 0px 11px 1px rgb(184 184 184);
  }
  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    .nameArea {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px 20px 10px;
      .name {
        font-size: 1rem;
        font-weight: 500;
        max-width: 10vw;
      }
      .valueArea {
        display: flex;
        gap: 10px;
        .svg {
          width: 14px;
          color: #6d6d6d;
        }
        .value {
          font-size: 1rem;
          font-weight: 600;
          color: #434040;
        }
      }
    }
    .quantityandprice {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      padding: 10px 20px;
    }
    .actionArea {
      width: 100%;
      .button {
        border: none;
        background-color: #4166eb;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 45px;
        cursor: pointer;
        width: 100%;
        border-bottom-right-radius: 8px;
      }
      .disabledButton {
        @extend .button;
        border: 1px solid #b3b2b2;
        background-color: transparent;
        color: #b3b2b2;
        cursor: unset;
      }
    }
  }
}

// smaller width tabs
@media only screen and (min-width: 480px) and (max-width: 820px) {
  .reward {
    width: 95%;
    .image {
      width: 30vw;
    }
    .right {
      .nameArea {
        .name {
          max-width: 30vw;
        }
      }
    }
  }
}

// smaller tabs landscape mode
@media only screen and (orientation: landscape) and (max-height: 820px) {
}

// for phones
@media only screen and (max-width: 480px) {
  .reward {
    width: 95%;
    .image {
      width: 30vw;
      object-fit: fill;
    }
    .right {
      .nameArea {
        flex-direction: column;
        padding: 10px;
        align-items: flex-start;
        .name {
          max-width: 100%;
          padding-bottom: 10px;
        }
      }
      .quantityandprice {
        flex-direction: column;
      }
    }
  }
}

// for phones landscape
@media only screen and (orientation: landscape) and (max-height: 480px) {
  .reward {
    width: 95%;
    .image {
      width: 20vw;
    }
    .right {
      .nameArea {
        .name {
          max-width: 30vw;
        }
      }
    }
  }
}
