@use "../variables/fontsizes.scss" as *;

.todolist {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 501;
  .background {
    background-color: rgba(0, 0, 0, 0.322);
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
  }
  .jasper {
    position: absolute;
    z-index: -1;
    width: 8vw;
    top: 12%;
  }
  .main {
    background-color: #ffffff;
    width: 550px;
    border-radius: 14px;
    z-index: 2;
    padding: 40px 40px 60px;
    position: relative;
    margin-top: 5%;
    .head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .heading {
        font-weight: 700;
        font-size: 1.5vw;
      }
      .subheading {
        padding: 10px 20px;
        font-weight: 700;
        border-radius: 6px;
        background-color: rgba(235, 235, 235, 0.534);
      }
    }
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 6%;
    gap: 20px;
    z-index: 2;
    .todo {
      display: flex;
      font-size: 18px;
      .check {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border-radius: 100px;
        background-color: rgba(255, 255, 255, 0.3);
        border: 2px solid #17d1bc;
        box-shadow: 0px 0px 0px 0px #17d1bc inset;
        transition: all 0.15s cubic-bezier(0, 1.05, 0.72, 1.07);

        &::after {
          content: "";
          width: 100%;
          height: 100%;
          opacity: 0;
          z-index: 4;
          position: absolute;
          transform: scale(0);
          background-size: 50%;
          background-image: url("https://s6.picofile.com/d/8392306668/bacc888c-bed7-41a9-bf24-f6ff0718f471/checkmark.svg");
          background-repeat: no-repeat;
          background-position: center;
          transition-delay: 0.2s !important;
          transition: all 0.25s cubic-bezier(0, 1.05, 0.72, 1.07);
        }
      }
      .checkbox {
        opacity: 0;
        visibility: hidden;
        position: absolute;
      }
      p {
        cursor: pointer;
        &:hover {
          text-decoration: underline;
          color: rgb(0, 102, 255);
        }
      }
    }
    .completed {
      .check {
        border-color: #17d1bc;
        box-shadow: 0px 0px 0px 15px #17d1bc inset;
        .checkicon {
          color: white;
          font-size: 30px;
          margin-left: 5px;
          margin-bottom: 5px;
          filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.5));
        }
        &::after {
          opacity: 1;
          transform: scale(1);
        }
      }
      p {
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
@media only screen and (min-width: 900px) and (max-height: 900px) {
  .todolist {
    .jasper {
      position: absolute;
      z-index: -1;
      width: 8vw;
      top: unset;
      bottom: 63%;
    }
    .main {
      background-color: #ffffff;
      width: 450px;
      border-radius: 14px;
      z-index: 2;
      padding: 40px 40px 60px;
      position: relative;
      margin-top: 12%;
      .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .heading {
          font-weight: 700;
          font-size: 1.5vw;
        }
        .subheading {
          padding: 10px 20px;
          font-weight: 700;
          border-radius: 6px;
          background-color: rgba(235, 235, 235, 0.534);
        }
      }
    }
    .wrapper {
      display: flex;
      flex-direction: column;
      margin-top: 6%;
      gap: 20px;
      z-index: 2;
      .todo {
        display: flex;
        font-size: 18px;
        .check {
          width: 20px;
          height: 20px;
          margin-right: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          border-radius: 100px;
          background-color: rgba(255, 255, 255, 0.3);
          border: 2px solid #17d1bc;
          box-shadow: 0px 0px 0px 0px #17d1bc inset;
          transition: all 0.15s cubic-bezier(0, 1.05, 0.72, 1.07);

          &::after {
            content: "";
            width: 100%;
            height: 100%;
            opacity: 0;
            z-index: 4;
            position: absolute;
            transform: scale(0);
            background-size: 50%;
            background-image: url("https://s6.picofile.com/d/8392306668/bacc888c-bed7-41a9-bf24-f6ff0718f471/checkmark.svg");
            background-repeat: no-repeat;
            background-position: center;
            transition-delay: 0.2s !important;
            transition: all 0.25s cubic-bezier(0, 1.05, 0.72, 1.07);
          }
        }
        .checkbox {
          opacity: 0;
          visibility: hidden;
          position: absolute;
        }
      }
      .completed {
        .check {
          border-color: #17d1bc;
          box-shadow: 0px 0px 0px 15px #17d1bc inset;
          .checkicon {
            color: white;
            font-size: 30px;
            margin-left: 5px;
            margin-bottom: 5px;
            filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.5));
          }
          &::after {
            opacity: 1;
            transform: scale(1);
          }
        }
      }
    }
  }
}

@media only screen and (orientation: portrait) and (max-width: 860px) {
  .todolist {
    align-items: flex-end;
    .jasper {
      position: absolute;
      z-index: -1;
      width: 150px;
      top: 12%;
    }
    .main {
      width: 100%;
      border-radius: 8px;
      z-index: 2;
      padding: 20px;
      position: relative;
      padding-bottom: 60px;
      height: 60vh;
      .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
        .heading {
          font-weight: 700;
          font-size: 24px;
        }
        .subheading {
          padding: 10px 20px;
          font-weight: 700;
          border-radius: 6px;
          background-color: rgba(235, 235, 235, 0.534);
        }
      }
    }
    .wrapper {
      display: flex;
      flex-direction: column;
      margin-top: 6%;
      gap: 20px;
      .todo {
        display: flex;
        font-size: 18px;
        .check {
          width: 20px;
          height: 20px;
          margin-right: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          border-radius: 100px;
          background-color: rgba(255, 255, 255, 0.3);
          border: 2px solid #17d1bc;
          box-shadow: 0px 0px 0px 0px #17d1bc inset;
          transition: all 0.15s cubic-bezier(0, 1.05, 0.72, 1.07);

          &::after {
            content: "";
            width: 100%;
            height: 100%;
            opacity: 0;
            z-index: 4;
            position: absolute;
            transform: scale(0);
            background-size: 50%;
            background-image: url("https://s6.picofile.com/d/8392306668/bacc888c-bed7-41a9-bf24-f6ff0718f471/checkmark.svg");
            background-repeat: no-repeat;
            background-position: center;
            transition-delay: 0.2s !important;
            transition: all 0.25s cubic-bezier(0, 1.05, 0.72, 1.07);
          }
        }
        .checkbox {
          opacity: 0;
          visibility: hidden;
          position: absolute;
        }
      }
      .completed {
        .check {
          border-color: #17d1bc;
          box-shadow: 0px 0px 0px 15px #17d1bc inset;
          .checkicon {
            color: white;
            font-size: 30px;
            margin-left: 5px;
            margin-bottom: 5px;
            filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.5));
          }
          &::after {
            opacity: 1;
            transform: scale(1);
          }
        }
      }
    }
  }
}

@media only screen and (orientation: landscape) and (max-height: 500px) {
  .todolist {
    align-items: flex-end;
    .jasper {
      position: absolute;
      z-index: -1;
      width: 10vw;
      top: 1%;
    }
    .main {
      width: 100%;
      max-width: 500px;
      border-radius: 8px;
      z-index: 2;
      padding: 20px;
      position: relative;
      padding-bottom: 60px;
      height: 70vh;
      overflow: hidden;
      .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        .heading {
          font-weight: 700;
          font-size: 24px;
        }
        .subheading {
          padding: 10px 20px;
          font-weight: 700;
          border-radius: 6px;
          background-color: rgba(235, 235, 235, 0.534);
        }
      }
    }
    .wrapper {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      gap: 20px;
      overflow-y: auto;
      padding-bottom: 50px;
      height: 100%;
      .todo {
        display: flex;
        font-size: $mobile-subheading;
        .check {
          width: 20px;
          height: 20px;
          margin-right: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          border-radius: 100px;
          background-color: rgba(255, 255, 255, 0.3);
          border: 2px solid #17d1bc;
          box-shadow: 0px 0px 0px 0px #17d1bc inset;
          transition: all 0.15s cubic-bezier(0, 1.05, 0.72, 1.07);

          &::after {
            content: "";
            width: 100%;
            height: 100%;
            opacity: 0;
            z-index: 4;
            position: absolute;
            transform: scale(0);
            background-size: 50%;
            background-image: url("https://s6.picofile.com/d/8392306668/bacc888c-bed7-41a9-bf24-f6ff0718f471/checkmark.svg");
            background-repeat: no-repeat;
            background-position: center;
            transition-delay: 0.2s !important;
            transition: all 0.25s cubic-bezier(0, 1.05, 0.72, 1.07);
          }
        }
        .checkbox {
          opacity: 0;
          visibility: hidden;
          position: absolute;
        }
      }
      .completed {
        .check {
          border-color: #17d1bc;
          box-shadow: 0px 0px 0px 15px #17d1bc inset;
          .checkicon {
            color: white;
            font-size: 30px;
            margin-left: 5px;
            margin-bottom: 5px;
            filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.5));
          }
          &::after {
            opacity: 1;
            transform: scale(1);
          }
        }
      }
    }
  }
}
@media only screen and (orientation: landscape) and (max-width: 900px) {
  .todolist {
    align-items: flex-end;
    .jasper {
      position: absolute;
      z-index: -1;
      width: 10vw;
      top: 1%;
    }
    .main {
      width: 100%;
      max-width: 500px;
      border-radius: 8px;
      z-index: 2;
      padding: 20px;
      position: relative;
      padding-bottom: 60px;
      height: 70vh;
      overflow: hidden;
      .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        .heading {
          font-weight: 700;
          font-size: 24px;
        }
        .subheading {
          padding: 10px 20px;
          font-weight: 700;
          border-radius: 6px;
          background-color: rgba(235, 235, 235, 0.534);
        }
      }
    }
    .wrapper {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      gap: 20px;
      overflow-y: auto;
      padding-bottom: 50px;
      height: 100%;
      .todo {
        display: flex;
        font-size: $mobile-subheading;
        .check {
          width: 20px;
          height: 20px;
          margin-right: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          border-radius: 100px;
          background-color: rgba(255, 255, 255, 0.3);
          border: 2px solid #17d1bc;
          box-shadow: 0px 0px 0px 0px #17d1bc inset;
          transition: all 0.15s cubic-bezier(0, 1.05, 0.72, 1.07);

          &::after {
            content: "";
            width: 100%;
            height: 100%;
            opacity: 0;
            z-index: 4;
            position: absolute;
            transform: scale(0);
            background-size: 50%;
            background-image: url("https://s6.picofile.com/d/8392306668/bacc888c-bed7-41a9-bf24-f6ff0718f471/checkmark.svg");
            background-repeat: no-repeat;
            background-position: center;
            transition-delay: 0.2s !important;
            transition: all 0.25s cubic-bezier(0, 1.05, 0.72, 1.07);
          }
        }
        .checkbox {
          opacity: 0;
          visibility: hidden;
          position: absolute;
        }
      }
      .completed {
        .check {
          border-color: #17d1bc;
          box-shadow: 0px 0px 0px 15px #17d1bc inset;
          .checkicon {
            color: white;
            font-size: 30px;
            margin-left: 5px;
            margin-bottom: 5px;
            filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.5));
          }
          &::after {
            opacity: 1;
            transform: scale(1);
          }
        }
      }
    }
  }
}
