@use "../variables/fontsizes.scss" as *;

.waitlistblog {
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  padding: 20px 40px;
  border-radius: 10px;
  margin-top: 20px;
  .heading {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .wrapper {
    .blog {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      background-color: rgba(0, 0, 0, 0.05);
      border-radius: 8px;
      padding: 10px 20px;
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
      .img {
        position: relative;
        min-width: 70px;
        height: 70px;
        border-radius: 10px;
        overflow: hidden;
        margin-right: 10px;
      }
      .right {
        .categories {
          color: white;
          color: rgb(59, 59, 59);
          font-size: 0.75rem;
          text-transform: capitalize;
        }
        .title {
          font-size: 1rem;
          font-weight: 500;
        }
        .content {
          font-size: 0.75rem;
          color: rgb(59, 59, 59);
        }
        .time {
          font-size: 10px;
          color: rgb(59, 59, 59);
          margin-top: 4px;
        }
      }
    }
  }
}

@media only screen and (orientation: portrait) and (max-width: 570px) {
  .waitlistblog {
    overflow: hidden;
    width: 100%;
    padding: 20px 10px;
    border-radius: 10px;
    margin-top: 20px;
    .heading {
      font-size: $mobile-heading;
      font-weight: 700;
      margin-bottom: 20px;
    }
    .wrapper {
      flex-wrap: wrap;
      display: flex;
      justify-content: space-between;
      gap: 10px;
      .blog {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0px;
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 8px;
        padding: 10px 10px;
        cursor: pointer;
        transition: all 0.3s ease;
        width: 100%;
        min-width: unset;
        &:hover {
          background-color: rgba(0, 0, 0, 0.1);
        }
        .img {
          position: relative;
          min-width: 70px;
          width: 100%;
          height: 70px;
          border-radius: 10px;
          overflow: hidden;
          margin-right: 0px;
          margin-bottom: 10px;
        }
        .right {
          .categories {
            color: white;
            color: rgb(59, 59, 59);
            font-size: 10px;
          }
          .title {
            font-size: 0.875rem;
            font-weight: 500;
          }
          .content {
            font-size: 10px;
            color: rgb(59, 59, 59);
          }
          .time {
            font-size: 8px;
            color: rgb(59, 59, 59);
            margin-top: 4px;
          }
        }
      }
    }
  }
}

@media only screen and (orientation: portrait) and (min-width: 571px) and (max-width: 1024px) {
  .waitlistblog {
    overflow: hidden;
    width: 100%;
    padding: 20px 20px;
    border-radius: 10px;
    margin-top: 20px;
    .heading {
      font-size: 35px;
      font-weight: 700;
      margin-bottom: 20px;
    }
    .wrapper {
      flex-wrap: wrap;
      display: flex;
      justify-content: space-between;
      gap: 10px;
      .blog {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0px;
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 8px;
        padding: 10px 10px;
        cursor: pointer;
        transition: all 0.3s ease;
        flex: 1;
        min-width: 40%;
        &:hover {
          background-color: rgba(0, 0, 0, 0.1);
        }
        .img {
          position: relative;
          min-width: 70px;
          width: 100%;
          height: 70px;
          border-radius: 10px;
          overflow: hidden;
          margin-right: 0px;
          margin-bottom: 10px;
        }
        .right {
          .categories {
            color: white;
            color: rgb(59, 59, 59);
            font-size: 10px;
          }
          .title {
            font-size: 0.875rem;
            font-weight: 500;
          }
          .content {
            font-size: 10px;
            color: rgb(59, 59, 59);
          }
          .time {
            font-size: 8px;
            color: rgb(59, 59, 59);
            margin-top: 4px;
          }
        }
      }
    }
  }
}

@media only screen and (orientation: landscape) and (max-height: 500px) {
  .waitlistblog {
    overflow: hidden;
    width: 100%;
    padding: 20px 20px;
    border-radius: 10px;
    margin-top: 10px;
    .heading {
      font-size: $mobile-heading;
      font-weight: 700;
      margin-bottom: 10px;
    }
    .wrapper {
      flex-wrap: wrap;
      display: flex;
      justify-content: space-between;
      gap: 10px;
      .blog {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0px;
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 8px;
        padding: 10px 10px;
        cursor: pointer;
        transition: all 0.3s ease;
        flex: 1;
        min-width: 40%;
        &:hover {
          background-color: rgba(0, 0, 0, 0.1);
        }
        .img {
          position: relative;
          min-width: 70px;
          width: 100%;
          height: 100px;
          border-radius: 10px;
          overflow: hidden;
          margin-right: 0px;
          margin-bottom: 10px;
        }
        .right {
          .categories {
            color: white;
            color: rgb(59, 59, 59);
            font-size: 10px;
          }
          .title {
            font-size: $mobile-subheading;
            font-weight: 500;
          }
          .content {
            font-size: $mobile-xsmall;
            color: rgb(59, 59, 59);
          }
          .time {
            font-size: 8px;
            color: rgb(59, 59, 59);
            margin-top: 4px;
          }
        }
      }
    }
  }
}
