.coursecontent {
  background-color: white;
  border-top: 6px solid #4166eb;
  border-radius: 20px;
  max-width: 332px;
  padding: 20px;
  margin-bottom: 20px;
  img {
    width: 102px;
    border-radius: 12px;
    height: 96px;
  }
  .type {
    color: #8d8d8d;
    font-family: "Lexend", sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-top: 20px;
  }
  .title {
    color: #4166eb;
    font-weight: 600;
    font-size: 18px;
  }
  .content {
    display: flex;
    margin: 10px 0;
    p {
      background: #e4e4e4;
      border-radius: 6px;
      padding: 5px 10px;
      font-size: 12px;
      margin-right: 10px;
      font-family: "Lexend", sans-serif;
      color: #5a5a5a;
    }
  }
  .description {
    color: #5f5f5f;
    font-family: "Lexend", sans-serif;
    font-weight: 400;
    font-size: 16px;
  }
}
