.kidCard {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 19px;
  margin-bottom: 20px;
  padding: 20px;
  .header {
    display: flex;
    margin-bottom: 15px;
    img {
      width: 50px;
      height: 50px;
      border-radius: 12px;
      margin-right: 10px;
      object-fit: cover;
    }
    .text {
      display: flex;
      flex-direction: column;
      .name {
        font-size: 18px;
        font-weight: 500;
      }
      .points {
        color: #828282;
        font-size: 14px;
        font-weight: 400;
      }
    }
  }

  .coursesCompleted,
  .badges,
  .xp {
    margin-top: 5px;
    font-size: 16px;
    font-weight: 400;
    .imp {
      font-weight: 700;
      margin-right: 10px;
    }
  }
  .button {
    margin-top: 20px;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 19px;
    background: #4166eb;
    border-radius: 8px;
    color: white;
    height: 40px;
    font-size: 14px;
    font-weight: 500;
  }
}

@media only screen and (max-width: 860px) {
  .kidCard {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border-radius: 19px;
    margin-bottom: 20px;
    padding: 20px;
    width: 100%;
    .header {
      display: flex;
      margin-bottom: 15px;
      img {
        width: 50px;
        height: 50px;
        border-radius: 12px;
        margin-right: 10px;
        object-fit: cover;
      }
      .text {
        display: flex;
        flex-direction: column;
        .name {
          font-size: 14px;
          font-weight: 500;
        }
        .points {
          color: #828282;
          font-size: 12px;
          font-weight: 400;
        }
      }
    }

    .coursesCompleted,
    .badges,
    .xp {
      margin-top: 5px;
      font-size: 14px;
      font-weight: 400;
      .imp {
        font-weight: 700;
        margin-right: 5px;
      }
    }
    .button {
      margin-top: 20px;
      width: 70%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 7px 19px;
      background: #4166eb;
      border-radius: 8px;
      color: white;
      height: 40px;
      font-size: 12px;
      font-weight: 500;
    }
  }
}
