.leaderboard {
  width: 100vw;
  background-color: white;
  .main {
    width: 100%;
    padding: 0 14vw;
    .image {
      width: 100%;
      background-color: #e2e2e2;
      height: 562px;
      outline: none;
      object-fit: cover;
      border: 0;
      border-radius: 20px;
    }
    .heading {
      display: flex;
      font-size: 24px;
      margin-top: 40px;
      font-weight: 500;
      .name {
        font-weight: 700;
        margin-right: 6px;
      }
    }
    .table {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 40px 0 80px 0;
      .row {
        display: flex;
        align-items: center;
        height: 40px;
        font-size: 16px;
        padding: 0 40px;
        .rank {
          width: 100px;
          text-align: left;
        }
        .name {
          width: 60%;
        }
        .score {
          width: 30%;
          text-align: right;
        }
        &:first-child,
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5) {
          .rank {
            font-weight: 700;
          }
          .name {
            font-weight: 700;
          }
          .score {
            font-weight: 700;
          }
        }
        &:first-child {
          margin-bottom: 10px;
        }
        &:nth-child(5) {
          background-color: #4166eb !important;
          color: white;
        }
        &:nth-child(4) {
          background-color: #fdcc03 !important;
        }
        &:nth-child(3) {
          background-color: #ff6263 !important;
          color: white;
        }
        &:nth-child(2) {
          background-color: #17d1bc !important;
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .leaderboard {
    width: 100vw;
    .main {
      width: 100%;
      padding: 0 7vw;
      .image {
        width: 100%;
        background-color: #e2e2e2;
        height: 562px;
        outline: none;
        object-fit: cover;
        border: 0;
        border-radius: 20px;
      }
      .heading {
        display: flex;
        font-size: 24px;
        margin-top: 40px;
        font-weight: 500;
        .name {
          font-weight: 700;
          margin-right: 6px;
        }
      }
      .table {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 40px 0 80px 0;
        .row {
          display: flex;
          align-items: center;
          height: 40px;
          font-size: 16px;
          padding: 0 40px;
          .rank {
            width: 100px;
            text-align: left;
          }
          .name {
            width: 60%;
          }
          .score {
            width: 30%;
            text-align: right;
          }
          &:first-child,
          &:nth-child(2),
          &:nth-child(3),
          &:nth-child(4) {
            .rank {
              font-weight: 700;
            }
            .name {
              font-weight: 700;
            }
            .score {
              font-weight: 700;
            }
          }
          &:first-child {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 860px) {
  .leaderboard {
    width: 100vw;
    .main {
      width: 100%;
      padding: 0 7vw;
      .image {
        width: 100%;
        background-color: #e2e2e2;
        height: 562px;
        outline: none;
        object-fit: cover;
        border: 0;
        border-radius: 20px;
      }
      .heading {
        display: flex;
        font-size: 20px;
        margin-top: 40px;
        font-weight: 500;
        .name {
          font-weight: 700;
          margin-right: 6px;
        }
      }
      .table {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 40px 0 80px 0;
        .row {
          display: flex;
          align-items: center;
          height: 40px;
          font-size: 14px;
          padding: 0 20px;
          .rank {
            width: 80px;
            text-align: left;
          }
          .name {
            width: 60%;
          }
          .score {
            width: 30%;
            text-align: right;
          }
          &:first-child,
          &:nth-child(2),
          &:nth-child(3),
          &:nth-child(4) {
            .rank {
              font-weight: 700;
            }
            .name {
              font-weight: 700;
            }
            .score {
              font-weight: 700;
            }
          }
          &:first-child {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
} ;
