.table {
  display: flex;
  flex-direction: column;
  width: 100%;
  .tableHead {
    display: flex;
    align-items: center;
    height: 40px;
    font-size: 1.125rem;
    padding: 0 40px;
    .ranklabel {
      width: 100px;
      text-align: left;
      font-weight: 700;
    }
    .namelabel {
      width: 60%;
      text-transform: capitalize;
      font-weight: 700;
    }
    .scorelabel {
      width: 30%;
      text-align: right;
      font-weight: 700;
    }
    .rank {
      width: 100px;
      text-align: left;
      z-index: 99;
      display: flex;
      align-items: center;
      gap:0.5rem;
    }
    .name {
      width: 60%;
      text-transform: capitalize;
    }
    .score {
      width: 30%;
      text-align: right;
    }
  }
  .row {
    @extend .tableHead;
    background-color: #d9f2ff;
    &:first-child,
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
      .rank {
        font-weight: 700;
      }
      .name {
        font-weight: 700;
      }
      .score {
        font-weight: 700;
      }
    }
    &:nth-child(odd) {
      background-color: #d9f2ff !important;
      margin:0.4rem;
    }
    &:nth-child(even) {
      background-color: white !important;
      margin:0.4rem;
    }
  }
}
