.leaderboard {
  .holder {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
    .heading {
      font-size: 22px;
      font-weight: 600;
      margin-right: 20px;
      height: 40px;
      display: flex;
      align-items: flex-end;
      color: rgb(99, 99, 99);
      padding-bottom: 3px;
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover {
        color: rgb(68, 68, 68);
      }
    }
    .selected {
      padding-bottom: 0px;
      font-size: 35px;
      font-weight: 700;
      color: rgba(87, 88, 128, 1);
      &:hover {
        color: rgba(87, 88, 128, 1);
      }
    }
  }
  .table {
    display: flex;
    flex-direction: column;
    width: 100%;
    .row {
      display: flex;
      align-items: center;
      height: 40px;
      font-size: 16px;
      padding: 0 40px;
      background-color: #d9f2ff;
      .rank {
        width: 100px;
        text-align: left;
      }
      .name {
        width: 60%;
        text-transform: capitalize;
      }
      .score {
        width: 30%;
        text-align: right;
      }
      &:first-child,
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
        .rank {
          font-weight: 700;
        }
        .name {
          font-weight: 700;
        }
        .score {
          font-weight: 700;
        }
      }
      &:first-child {
        margin-bottom: 10px;
      }
      &:nth-child(5) {
        background-color: #4166eb !important;
        color: white;
      }
      &:nth-child(4) {
        background-color: #fdcc03 !important;
      }
      &:nth-child(3) {
        background-color: #ff6263 !important;
        color: white;
      }
      &:nth-child(2) {
        background-color: #17d1bc !important;
      }
    }
  }
}
