.addmembermodal {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  .box {
    width: 40vw;
    max-height: 70vh;
    min-width: 300px;
    max-width: 600px;
    z-index: 5;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 40px;
    .search {
      display: flex;
      background-color: rgb(238, 238, 238);
      border-radius: 8px;
      width: 80%;
      align-items: center;
      padding-right: 10px;
      input {
        border: none;
        height: 49px;
        padding: 10px 20px;
        flex: 1;
        font-size: 16px;
        background-color: transparent;
        &:focus {
          outline: none;
        }
      }
    }
    .searchwrapper {
      width: 100%;
      flex: 1;
      margin-top: 20px;
      overflow: auto;
      .searchresult {
        width: 100%;
        height: 100px;
        border-radius: 8px;
        background-color: rgb(241, 241, 241);
        overflow: hidden;
        display: flex;
        align-items: center;
        padding: 20px;
        margin-top: 20px;
        img {
          height: 60px;
          width: 60px;
          border-radius: 60px;
          margin-right: 20px;
        }
        .right {
          .top {
            display: flex;
            font-size: 16px;
            .name {
              text-transform: capitalize;
            }
          }
          .username {
            font-size: 14px;
            color: rgb(37, 37, 37);
          }
        }
        .btn {
          margin-left: auto;
          background-color: #4166eb;
          height: 45px;
          border-radius: 6px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          width: 100px;
          cursor: pointer;
        }
        .disabledbtn {
          margin-left: auto;
          background-color: #979797;
          height: 45px;
          border-radius: 6px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          width: 100px;
          cursor: default;
        }
      }
    }
    h2 {
      font-weight: 500;
      font-size: 20px;
      margin-bottom: 20px;
      text-align: center;
    }

    .wrapper {
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-weight: 500;
      letter-spacing: 0.7px;
      .confirm {
        background-color: rgb(255, 99, 99);
        padding: 10px;
        width: 48%;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        color: white;
        align-items: center;
        margin-top: 20px;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
          background-color: rgb(255, 76, 76);
        }
      }
      .close {
        background-color: rgb(238, 238, 238);
        padding: 15px;
        width: 100%;
        border-radius: 8px;
        display: flex;
        color: rgb(104, 104, 104);
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
          background-color: rgb(219, 219, 219);
        }
      }
    }
  }
  .background {
    background-color: rgba(0, 0, 0, 0.486);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 4;
  }
}
