.badgeSection {
  .heading {
    font-weight: 500;
    font-size: 25px;
    color: rgba(87, 88, 128, 1);
    cursor: pointer;
    display: flex;
    align-items: center;
    svg {
      margin-left: 10px;
    }
  }
  .wrapper {
    display: flex;
    height: fit-content;
    align-items: center;
    width: 100%;
    overflow-x: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    scrollbar-width: thin;
  }
}
@media only screen and (max-width: 860px) {
  .badgeSection {
    .heading {
      font-size: 1.25rem;
      svg {
        width: 16px;
        margin-left: 5px;
        padding-top: 1px;
      }
    }
    .wrapper {
      &::-webkit-scrollbar {
        height: 12px;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .badgeSection {
    .heading {
      font-size: 1.125rem;
      svg {
        width: 14px;
        margin-left: 5px;
        padding-top: 1px;
      }
    }
    .wrapper {
      &::-webkit-scrollbar {
        height: 10px;
      }
    }
  }
}
