$border-radius: 14px;
$card-height: auto;

.kidChore {
  height: $card-height;
  background-color: #fff;
  border-radius: $border-radius;
  .mainCard {
    display: flex;
    gap: 10px;
    margin-bottom: 1rem;
    .firstSection {
      .banner {
        width: 110px;
        height: auto;
        object-fit: cover;
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
      }
    }
    .secondSection {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 5px 0 10px;
      .title {
        flex: 1;
        font-size: 16px;
        font-weight: 300;
        color: #484848;
      }
      .reward {
        font-size: 12px;
        display: flex;
        gap: 5px;
        padding: 5px 0;
        color: #484848;
        .rewardLabel {
          font-weight: 300;
          color: #484848;
        }
        .rewardValue {
          font-weight: 600;
        }
      }
      .dueDate {
        display: flex;
        align-items: center;
        .dueIcon {
          width: 14px;
          height: 14px;
          margin-right: 5px;
        }
        .dueText {
          word-wrap: break-word;
          font-size: 12px;
        }
      }
    }
    .thirdSection {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-right: 10px;
      .actinButton {
        cursor: pointer;
        width: 140px;
        height: 40px;
        border-radius: $border-radius;
        font-size: 14px;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        transition: all 0.3s ease;
        background-color: #333;
        color: #fff;
        border: 1px solid #fff;
        &:hover {
          color: #333;
          background-color: #fff;
          border: 1px solid #333;
        }
      }
      .startButton {
        @extend .actinButton;
        background-color: #4166eb;
        border: 1px solid #4166eb;
        &:hover {
          color: #4166eb;
          background-color: #fff;
          border: 1px solid #4166eb;
        }
      }
      .markDoneButton {
        @extend .actinButton;
        background-color: #4166eb;
        border: 1px solid #4166eb;
        &:hover {
          color: #4166eb;
          background-color: #fff;
          border: 1px solid #4166eb;
        }
      }
      .completedButton {
        @extend .actinButton;
        background-color: #17d1bc;
        border: 1px solid #17d1bc;
        &:hover {
          color: #17d1bc;
          background-color: #fff;
          border: 1px solid #17d1bc;
        }
      }
      .expiredButton {
        @extend .actinButton;
        background-color: #dbdbdb;
        color: rgb(116, 116, 116);
        border: 1px solid #dbdbdb;
        &:hover {
          color: #dbdbdb;
          background-color: rgb(116, 116, 116);
          border: 1px solid #dbdbdb;
        }
      }
      .approvalButton {
        @extend .actinButton;
        background-color: #4166eb;
        border: 1px solid #4166eb;
        &:hover {
          color: #4166eb;
          background-color: #fff;
          border: 1px solid #4166eb;
        }
      }
      .menu {
        padding: 0 10px;
      }
    }
  }
}
