@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.moneyAce {
  display: flex;
  width: 100vw;
  height: 100vh;
  font-family: "Fira Sans", sans-serif;
  .contentWrapper {
    flex: 1;
    display: flex;
    width: 100%;
    overflow: auto;
    height: 100%;
    flex-direction: column;
    .mobileerr {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #4166eb;
      justify-content: center;
      padding: 40px 0;
      .box {
        width: 80%;
        background-color: white;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .jasper {
          width: 80%;
          margin-top: 20px;
          background-color: #4166eb;
          border-radius: 12px;
        }
        .broken {
          padding: 20px;
          width: 80%;
        }
        p {
          width: 80%;
          margin-top: 10px;
          text-align: center;
          color: #464646;
        }
        .heading {
          font-size: 20px;
          margin-top: 20px;
          color: black;
          font-weight: 600;
        }
        .button {
          background-color: #4166eb;
          width: 150px;
          height: 50px;
          border-radius: 6px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          margin: 20px 0;
        }
      }
    }

    .mainContent {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      .gameMain {
        width: 90%;
        height: auto;
        aspect-ratio: 16/9;
        background: url("https://i.ibb.co/WKjx5qK/bg-02.png");
        background-size: cover;
      }
      .extralargegaimMain {
        aspect-ratio: 16/9;
        height: calc(10vh * 9);
        width: calc(10vh * 16) !important;
      }
      .gameDiv {
        background-color: rgb(255, 255, 255);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .loaderwrapper {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          width: 100%;
          height: 100%;
          .loader {
            width: 50px;
            height: 50px;
          }
          p {
            font-size: 14px;
            font-weight: 500;
          }
        }
        .none {
          background-image: none;
          width: 0px;
          height: 0px;
        }
        .gameMain {
        }
      }
    }
  }
  .contentWrapperFull {
    .mainContentfull {
      width: calc(11.11vh * 16) !important;
      height: calc(11.11vh * 9) !important;
      aspect-ratio: 16/9 !important;
      overflow: hidden;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .moneyAce {
    .contentWrapper {
      .mainContent {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        .gameMain {
          width: 90%;
          height: auto;
          aspect-ratio: 16/9;
          background-size: cover;
        }
        .gameDiv {
          background-color: rgb(255, 255, 255);
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          .loaderwrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            height: 100%;
            .loader {
              width: 50px;
              height: 50px;
            }
            p {
              font-size: 14px;
              font-weight: 500;
            }
          }
          .none {
            background-image: none;
            width: 0px;
            height: 0px;
          }
          .gameMain {
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 860px) {
  .moneyAce {
    .contentWrapper {
      .mainContent {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        .gameMain {
          width: 100%;
          height: 100%;
          aspect-ratio: 16/9 !important;
          background-size: cover;
        }
        .gameDiv {
          background-color: rgb(255, 255, 255);
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          .loaderwrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            height: 100%;
            .loader {
              width: 50px;
              height: 50px;
            }
            p {
              font-size: 14px;
              font-weight: 500;
            }
          }
          .none {
            background-image: none;
            width: 0px;
            height: 0px;
          }
          .gameMain {
          }
        }
      }
    }
  }
}

@media only screen and (orientation: landscape) {
  .moneyAce {
    .contentWrapper {
      .mobileerr {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 40px 0;
        min-height: 80vh;
        .box {
          width: 80%;
          background-color: white;
          border-radius: 12px;
          height: 50vh;
          display: flex;
          flex-direction: column;
          filter: drop-shadow(0px 10px 15px rgba(82, 82, 82, 0.548));
          align-items: center;
          justify-content: center;
          padding: 20px 0;
          .jasper {
            width: 50%;
            margin-top: 20px;
            display: none;
          }
          p {
            width: 80%;
            margin-top: 10px;
            text-align: center;
            color: #464646;
          }
          .heading {
            font-size: 20px;
            margin-top: 20px;
            color: black;
            font-weight: 600;
          }
          .button {
            background-color: #4166eb;
            width: 150px;
            height: 50px;
            padding: 10px;
            border-radius: 6px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            margin: 20px 0;
          }
        }
      }
    }
  }
}
