@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.stockSimulator {
  display: flex;
  width: 100vw;
  height: 100vh;
  font-family: "Fira Sans", sans-serif;
  .contentWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    .mainContent {
      width: 60%;
      height: 60%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 15vh;
      .topSection {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 20px;
        .stocksimulatorlogo {
          width: auto;
        }
      }
      .bottomSection {
        width: 100%;
        height: 100%;
      }
    }
  }
}
