.eventDetails {
  width: 60vw;
  height: 70vh;
  padding: 20px 10px;
  .topSection {
    display: flex;
    padding-bottom: 20px;
    .contentArea {
      flex: 1;
      .eventName {
        font-size: 2.5rem;
        color: #333;
        font-weight: 700;
        margin-bottom: 20px;
      }
      .eventType {
        font-size: 1.5rem;
        color: #999;
        font-weight: 500;
      }
      .eventDate {
        font-size: 1.5rem;
        color: #999;
        font-weight: 500;
      }
    }
    .bannerArea {
      width: 30vw;
      height: 35vh;
      .banner {
        height: 100%;
        width: 100%;
        border-radius: 14px;
      }
    }
  }
  .detailsSection {
    font-size: 1.25rem;
    color: #333;
    font-weight: 400;
  }
}
