@mixin fullPage(
  $headingFontSize: 3.5rem,
  $tableLabelFontSize: 1rem,
  $tableValueFontSize: 1.25rem,
  $scoreFontSize: 2rem,
  $actionPadding: 1rem 2rem,
  $actionFontSize: 1rem,
) {
  margin-top: 5vh;
  display: flex;
  align-items: center;
  height: 50vh;
  min-height: 680px;
  margin-top: 20vh;
  border-radius: 8px;
  justify-content: center;
  flex-direction: column;
  position: relative;
  .jasper {
    position: absolute;
    z-index: -1;
    top: -20vh;
    width: 150px;
  }
  .content {
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem 2rem;
    .heading {
      font-size: $headingFontSize;
      font-weight: 800;
      text-align: center;
      color: #17d1bc;
    }
    .subheading {
      color: black;
      margin: 10px 0;
      font-size: 1.375rem;
      font-weight: 400;
      text-align: center;
      width: 80%;
    }
    .table {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .tableContent {
        width: 90%;
      }
      .row {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 0.35rem 0;
        .label {
          color: #b3b3b3;
          font-size: $tableLabelFontSize;
        }
        .value {
          font-size: $tableValueFontSize;
          font-weight: 600;
        }
      }
    }
    .points {
      font-size: $scoreFontSize;
      font-weight: 600;
      text-align: center;
      color: #131313;
    }
    .actionArea {
      display: flex;
      gap: 1rem;
      .button {
        background: #5955e5;
        border-radius: 14px;
        padding: $actionPadding;
        color: white;
        font-size: $actionFontSize;
        text-align: center;;
        transition: all 0.3s ease;
        cursor: pointer;
        &:hover {
          background-color: hsl(227, 56%, 38%);
        }
      }
    }
  }
}

.resultSection {
  @include fullPage();
}

@media only screen and (min-width: 501px) and (max-width: 990px) {
  .resultSection {
    @include fullPage(
      2rem,
      0.75rem,
      1rem,
      1.5rem,
      0.75rem 1rem,
      0.75rem,
    );
  }
}

@media only screen and (max-width: 500px) {
  .resultSection {
    @include fullPage(
      2rem,
      0.75rem,
      1rem,
      1.5rem,
      0.75rem 1rem,
      0.75rem,
    );
  }
}