.quiz {
  border-radius: 8px;
  width: 100%;
  position: relative;
  height: 100%;
  padding-top: 0px;
  transition: all 0.3s ease;
  .progressBarWrapper {
    margin-bottom: 20px;
  }
  .rightbutton {
    position: absolute;
    right: -150px;
    top: 45%;
    transform: translateY(-50%);
    cursor: pointer;
    svg {
      path {
        transition: all 0.3s ease;
      }
    }
    &:hover {
      svg {
        path {
          fill: hsl(227, 55%, 40%);
        }
      }
    }
  }
  .leftbutton {
    position: absolute;
    left: -150px;
    top: 45%;
    transform: translateY(-50%);
    cursor: pointer;
    svg {
      path {
        transition: all 0.3s ease;
      }
    }
    &:hover {
      svg {
        path {
          fill: hsl(227, 55%, 40%);
        }
      }
    }
  }
  .result {
    font-size: 16px;
    font-weight: 400;
    width: 97%;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    padding: 0 20px;
    margin-left: 20px;
    margin-top: 40px;
    border-radius: 8px;
    margin-bottom: 20px;
    .nextButton {
      background-color: rgb(39, 39, 39);
      width: 20%;
      height: 50px;
      font-weight: 500;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      color: rgb(255, 255, 255);
      transition: all 0.3s ease;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      z-index: 2;
      p {
        z-index: 3;
      }
      .nextpercent {
        width: var(--progressnextbutton);
        max-width: 100%;
        z-index: -1;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        background-color: black;
        border-radius: 8px;
      }
      &:hover {
        background-color: rgb(0, 0, 0);
      }
    }
    .finishButton {
      background-color: rgb(207, 207, 207);
      mix-blend-mode: overlay;
      p {
        color: rgb(68, 68, 68);
      }
      &:hover {
        background-color: rgb(16, 192, 171);
      }
    }
  }
  .questionno {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 500;
    width: 100%;
    text-align: center;
  }
  .question {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 40px;
    min-height: 25%;
    height: fit-content;
    padding: 0px 20px 40px;
    color: rgb(15, 15, 15);
    width: 100%;
    border-bottom: 2px solid #d7e7fb;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  .options {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    transition: all 0.3s ease;
    padding-bottom: 5vh;
    .option {
      display: flex;
      align-items: center;
      background: #ffffff;
      box-shadow: 0px 4px 0px #c1dcff;
      min-height: 75px;
      height: fit-content;
      border-radius: 8px;
      width: 45%;
      max-width: 500px;
      margin-bottom: 15px;
      cursor: pointer;
      transition: all 0.2s ease;
      padding: 25px;
      .circle {
        background-color: #d9eaff;
        min-width: 25px;
        min-height: 25px;
        width: 25px;
        height: 25px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #4166eb;
        font-size: 12px;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        text-align: center;
      }
      &:hover {
        box-shadow: 5px 15px 31px -14px rgba(0, 0, 0, 0.62);
        -webkit-box-shadow: 5px 15px 31px -14px rgba(0, 0, 0, 0.62);
        -moz-box-shadow: 5px 15px 31px -14px rgba(0, 0, 0, 0.62);
      }
      .text {
        text-align: center;
        font-size: 16px;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        padding: 10px;
        letter-spacing: 0.5px;
      }
    }
    .correct {
      background-color: rgb(178, 255, 178);
    }
    .wrong {
      background-color: rgb(255, 231, 231);
    }
    .selected {
      background-color: #4166eb;
      .circle {
        background-color: #ffffff;
        color: #000000;
      }
      .text {
        color: white;
      }
    }
  }
}
.grad {
  background: rgb(255, 98, 99);
  background: linear-gradient(
    68deg,
    rgba(255, 98, 99, 1) 0%,
    rgba(65, 102, 235, 1) 51%,
    rgba(23, 209, 188, 1) 85%
  );
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@media only screen and (max-width: 860px) {
  .quiz {
    .result {
      font-size: 13px;
      width: 90%;
      height: 40px;
      top: 0vh;
      left: 0;
      margin: 40px 0 0 0;
      padding: 0px 20px;
      justify-content: center;
      .nextButton {
        width: 100%;
        height: 40px;
        border-radius: 8px;
        transition: all 0.3s ease;
        cursor: pointer;
      }
    }
    .question {
      font-size: 16px;
      line-height: 25px;
      padding: 10px;
      width: 100%;
      margin: 0;
    }
    .options {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 20px;
      .option {
        margin: 5px;
        height: 50px;
        width: 95%;
        .text {
          text-align: center;
          font-size: 14px;
          padding: 10px;
        }
      }
    }
  }
}
