@mixin fullPage(
  $infoPaddingY: 2rem,
  $infoPaddingX: 1rem,
  $infoItemFontSize: 1rem,
  $infoItemPaddingY: 0.5rem,
  $infoItemPaddingX: 2.5rem,
  $questionFontSize: 1.25rem,
  $optionWidth: 50%,
  $optionFontSize: 1rem,
) {
  border-radius: 8px;
  width: 100%;
  position: relative;
  height: 100%;
  padding-top: 0px;
  transition: all 0.3s ease;
  margin-bottom: 20px;
  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    overflow: hidden;
    z-index: -1;
  }
  .quizInfo {
    width: 100%;
    padding: $infoPaddingY $infoPaddingX;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .infoItem {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      font-family: "Lexend", sans-serif;
      font-size: $infoItemFontSize;
      .infoLabel{
        font-weight: 600;
        color: #333;
      }
      .infoValue {
        font-weight: 500;
        text-align: center;
        background-color: #5955e5;
        color: #ffffff;
        padding: $infoItemPaddingY $infoItemPaddingX;
        border-radius: 8px;
      }
    }
  }
  .quizBody {
    padding: 0.5rem 0.5rem 2rem 1rem;
    .questionArea {
      display: flex;
      align-items: center;
      .questionNo {
        background-color: #5955e5;
        color: #ffffff;
        font-size: 1rem;
        min-width: 2rem;
        min-height: 2rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1rem;
      }
      .question {
        display: flex;
        align-items: center;
        color: rgb(15, 15, 15);
        width: 100%;
        font-family: "Lexend", sans-serif;
        font-size: $questionFontSize;
        font-weight: 500;
        padding: 2rem 0;
      }
    }
    .options {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      transition: all 0.3s ease;
      .option {
        display: flex;
        align-items: center;
        background: #ffffff;
        border-radius: 50px;
        width: $optionWidth;
        cursor: pointer;
        transition: all 0.2s ease;
        border: 1px solid #e9e9e9;
        margin: 0.5rem 0;
        padding: 0 4px;
        .circle {
          background-color: #d9eaff;
          min-width: 35px;
          min-height: 35px;
          border-radius: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #5955e5;
          font-size: 1rem;
          font-family: "Lexend", sans-serif;
          font-weight: 700;
          text-align: center;
        }
        .text {
          text-align: center;
          font-size: $optionFontSize;
          font-family: "Lexend", sans-serif;
          font-weight: 700;
          padding: 10px;
          letter-spacing: 0.5px;
        }
        &:hover {
          box-shadow: 5px 15px 31px -14px rgba(0, 0, 0, 0.62);
          -webkit-box-shadow: 5px 15px 31px -14px rgba(0, 0, 0, 0.62);
          -moz-box-shadow: 5px 15px 31px -14px rgba(0, 0, 0, 0.62);
        }
      }
      .correct {
        background-color: rgb(178, 255, 178);
      }
      .wrong {
        background-color: rgb(255, 231, 231);
      }
      .selected {
        background-color: #5955e5;
        .circle {
          background-color: #ffffff;
          color: #000000;
        }
        .text {
          color: white;
        }
      }
    }
  }
}

.quiz {
  @include fullPage();
}

@media only screen and (min-width: 501px) and (max-width: 990px) {
  .quiz {
    @include fullPage(
      1rem,
      0.5rem,
      0.75rem,
      0.5rem,
      0.75rem,
      1rem,
      90%,
      0.85rem,
    );
  }
}

@media only screen and (max-width: 500px) {
  .quiz {
    @include fullPage(
      1rem,
      0.5rem,
      0.75rem,
      0.5rem,
      0.75rem,
      1rem,
      90%,
      0.85rem,
    );
  }
}