.formSection {
  width: 100%;
  padding: 0 7vw;
  display: flex;
  height: 66vh;
  max-height: 500px;
  margin: 10vh 0;
  .left {
    width: 50%;
    background: #f9f9f96e;
    border-radius: 12px;
    padding: 40px;
    min-width: 550px;
    .error {
      color: rgb(238, 79, 79);
      font-size: 1rem;
    }
    .headingmain {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      font-weight: 500;
      color: black;
      justify-content: flex-start;
      margin-bottom: 10px;
      width: 100%;
      height: 10%;
    }
    .inputForm {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .input {
        flex: 1;
        padding: 0.75rem 0.75rem;
        background: #fff;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 8px;
        &::placeholder {
          color: #727272;
        }
        &:focus-visible {
          outline: none;
        }
      }
      .nameArea {
        display: flex;
        gap: 1rem;
        .input {
          @extend .input;
        }
      }
    }
    .buttons {
      display: flex;
      margin-top: 40px;

      .startbutton {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 165px;
        height: 48px;
        background: #5955e5;
        border-radius: 6px;
        color: white;
        transition: all 0.3s ease;
        margin-bottom: 20px;
        cursor: pointer;
        &:hover {
          background: hsl(227, 59%, 51%);
        }
      }
      .skipbutton {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 165px;
        height: 48px;
        background: #616161;
        margin-bottom: 20px;
        border-radius: 6px;
        color: white;
        transition: all 0.3s ease;
        margin-left: 30px;
        cursor: pointer;
        &:hover {
          background: hsl(0, 0%, 30%);
        }
      }
    }
  }
  .right {
    width: 50%;
    img {
      height: 100%;
    }
  }
}