.view {
  position: relative;
  z-index: 999;
  .fullScreenView {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 1);
    overflow: hidden;
    .iframe {
      width: 100%;
      flex: 1;
      display: flex;
      position: relative;
      align-items: flex-start;
      border: none;
    }
  }
}
