.class {
  background-color: #f4f5f7;
  height: 100vh;
  width: 100vw;
  display: flex;
  overflow: hidden;
  .contentWrapper {
    height: 100vh;
    flex: 1;
    display: flex;
    width: calc(100vw - 55px);
    overflow-x: hidden;
    overflow-y: auto;
    flex-direction: column;
    .mainhead {
      display: flex;
      align-items: center;
      padding: 20px 40px;
      background-color: white;
      border-radius: 25px;
      margin-top: 20px;
      height: 219px;
      margin-left: 40px;
      margin-right: 40px;
      position: relative;
      img {
        object-fit: cover;
        width: 136px;
        height: 137px;
        border-radius: 25px;
        margin-right: 30px;
      }
      .right {
        .questheading {
          color: #232323;
          font-size: 32px;
          font-weight: 600;
        }
        .age {
          color: #000000cf;
          font-family: "Lexend", sans-serif;
          font-size: 14px;
          margin-top: 10px;
          font-weight: 500;
        }
        .details {
          display: flex;
          color: #232323;
          font-family: "Lexend", sans-serif;
          font-size: 14px;
          font-weight: 400;
          margin-top: 10px;
          svg {
            margin-right: 5px;
          }
          .students {
            margin-right: 20px;
            display: flex;
            align-items: center;
          }
          .projects {
            display: flex;
            align-items: center;
          }
        }
      }
      .creditandweeks {
        position: absolute;
        bottom: 20px;
        right: 40px;
        color: #232323;
        font-size: 24px;
        font-weight: 600;
        text-align: right;
      }
    }
    .maincontent {
      display: flex;
      margin-left: 40px;
      .left {
        flex: 1;
        .heading {
          color: #4166eb;
          margin-top: 20px;
          font-size: 24px;
          font-weight: 600;
        }
        .about,
        .content {
          margin-top: 10px;
          font-family: "Lexend", sans-serif;
          font-size: 14px;
          font-weight: 400;
        }
        .coursecontentwrapper {
          margin-top: 40px;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          padding-right: 40px;
        }
      }
      .right {
        width: 20vw;
        margin-right: 40px;
        padding-top: 20px;
        .buttonwrapper {
          display: flex;
          justify-content: center;

          .bookmarkbutton {
            width: 129px;
            height: 42px;
            border: 1px solid #000000;
            border-radius: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            font-weight: 500;
            cursor: pointer;
            margin-right: 20px;
            svg {
              margin-right: 5px;
            }
          }
          .startbutton {
            color: white;
            background-color: #4166eb;
            width: 129px;
            height: 42px;
            border-radius: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            cursor: pointer;
            font-weight: 500;
          }
        }
        .details {
          display: flex;
          justify-content: space-around;
          font-weight: 500;
          margin-top: 40px;
          .section {
            .number {
              font-size: 36px;
            }
            .name {
              font-size: 14px;
            }
          }
        }
        .heading {
          color: #4166eb;
          margin-top: 20px;
          font-size: 24px;
          font-weight: 600;
        }
        .conceptswrapper {
          display: flex;
          flex-wrap: wrap;
          align-content: flex-start;
          margin-top: 20px;
          .concept {
            width: fit-content;
            height: fit-content;
            padding: 10px 20px;
            background: #f4f5f7;
            border: 0.5px solid #9d9d9d;
            border-radius: 4px;
            margin: 5px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 860px) {
  .class {
    .contentWrapper {
      .mainhead {
        padding: 15px 15px;
        border-radius: 20px;
        margin-top: 30px;
        margin-left: 20px;
        width: 94%;
        margin-right: 20px;
        img {
          width: 15vw;
          height: 10vh;
          border-radius: 20px;
          margin-right: 10px;
        }
        .right {
          .questheading {
            font-size: 3vw;
          }
          .age {
            font-size: 1.5vw;
            margin-top: 5px;
          }
          .details {
            display: flex;

            flex-direction: column;
            color: #232323;
            font-family: "Lexend", sans-serif;
            font-size: 1.5vw;
            font-weight: 400;
            margin-top: 10px;
            svg {
              width: 1.5vw;
              margin-right: 5px;
            }
            .students {
              margin-top: 5px;
              align-items: center;
              margin-bottom: 5px;
            }
          }
        }
        .creditandweeks {
          font-size: 2vw;
        }
      }
      .maincontent {
        display: flex;
        margin-left: 20px;
        .left {
          flex: 1;
          .heading {
            font-size: 20px;
          }
          .about,
          .content {
            margin-top: 10px;
            font-family: "Lexend", sans-serif;
            font-size: 14px;
            font-weight: 400;
          }
        }
        .right {
          width: 25vw;
          margin-right: 20px;
          .buttonwrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .bookmarkbutton {
              width: 80%;
              height: 42px;
              border: 1px solid #000000;
              border-radius: 12px;
              display: flex;
              margin-bottom: 20px;
              align-items: center;
              justify-content: center;
              font-size: 14px;
              font-weight: 500;
              cursor: pointer;
              margin-right: 0px;
              svg {
                margin-right: 5px;
              }
            }
            .startbutton {
              color: white;
              background-color: #4166eb;
              width: 80%;
              height: 42px;
              border-radius: 12px;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 14px;
              cursor: pointer;
              font-weight: 500;
            }
          }
          .details {
            display: flex;
            justify-content: space-around;
            align-items: center;
            font-weight: 500;
            margin-top: 40px;
            .section {
              display: flex;
              flex-direction: column;
              justify-content: center;
              .number {
                font-size: 30px;
                text-align: center;
              }
              .name {
                font-size: 12px;
              }
            }
          }
          .heading {
            font-size: 20px;
          }
          .conceptswrapper {
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            margin-top: 20px;
            .concept {
              width: fit-content;
              height: fit-content;
              padding: 10px 20px;
              background: #f4f5f7;
              border: 0.5px solid #9d9d9d;
              border-radius: 4px;
              margin: 5px;
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 500px) {
  .class {
    .contentWrapper {
      .mainhead {
        padding: 10px 10px;
        border-radius: 10px;
        margin-top: 30px;
        margin-left: 20px;
        width: unset;
        margin-right: 20px;
        flex-direction: column;
        img {
          width: 100%;
          height: 15vh;
          border-radius: 10px;
          margin-right: 0px;
        }
        .right {
          margin-top: 10px;
          width: 100%;
          .questheading {
            font-size: 16px;
          }
          .age {
            font-size: 10px;
            margin-top: 5px;
          }
          .details {
            font-size: 8px;
            font-weight: 400;
            margin-top: 7px;
            svg {
              width: 1.5vw;
              margin-right: 5px;
            }
            .students {
              margin-top: 0px;
              align-items: center;
              margin-bottom: 0px;
            }
          }
        }
        .creditandweeks {
          font-size: 10px;
          right: 15px;
          bottom: 15px;
        }
      }
      .maincontent {
        display: flex;
        flex-direction: column-reverse;
        margin-left: 20px;
        .left {
          flex: 1;
          .heading {
            font-size: 18px;
          }
          .about,
          .content {
            margin-top: 10px;
            font-family: "Lexend", sans-serif;
            font-size: 12px;
            font-weight: 400;
          }
        }
        .right {
          width: 100%;
          padding-right: 10px;
          margin-right: 20px;
          .buttonwrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            .bookmarkbutton {
              width: 47%;
              height: 35px;
              border: 1px solid #000000;
              border-radius: 12px;
              display: flex;
              margin-bottom: 0px;
              align-items: center;
              justify-content: center;
              font-size: 12px;
              font-weight: 500;
              cursor: pointer;
              margin-right: 0px;
              svg {
                width: 12px;
                margin-right: 5px;
              }
            }
            .startbutton {
              color: white;
              background-color: #4166eb;
              width: 47%;
              height: 35px;
              border-radius: 12px;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 12px;
              cursor: pointer;
              font-weight: 500;
            }
          }
          .details {
            display: flex;
            justify-content: space-around;
            align-items: center;
            font-weight: 500;
            margin-top: 20px;
            .section {
              display: flex;
              flex-direction: column;
              justify-content: center;
              .number {
                font-size: 25px;
                text-align: center;
              }
              .name {
                font-size: 10px;
              }
            }
          }
          .heading {
            font-size: 18px;
          }
          .conceptswrapper {
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            margin-top: 5px;
            .concept {
              width: fit-content;
              height: fit-content;
              padding: 5px 15px;
              background: #f4f5f7;
              border: 0.5px solid #9d9d9d;
              border-radius: 4px;
              margin: 10px;
              margin-left: 0;
              margin-bottom: 0;
              font-size: 10px;
            }
          }
        }
      }
    }
  }
}
