.otpnotverified {
  .authContentWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 7vh;
    .authcontainer {
      display: flex;
      align-items: center;
      flex-direction: column;
      z-index: 6;
      background-color: white;
      height: fit-content;
      width: 70vw;
      max-width: 589px;
      padding: 40px 55px 59px;
      border-radius: 37px;
      position: relative;
      transition: all 0.3s ease;
      .error {
        font-size: 0.9375rem;
        color: #ff6263;
        font-weight: 500;
        margin-bottom: 15px;
        width: 100%;
        text-align: center;
      }
      .headingflex {
        font-family: Rubik;
        font-style: normal;
        transition: all 0.3s ease;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 49px;
        align-items: center;
        .heading {
          font-weight: 500;
          font-size: 2rem;
          display: flex;
          align-items: center;
          transition: all 0.3s ease;
          justify-content: center;
          .svg {
            cursor: pointer;
            position: absolute;
            left: 0;
            margin-left: 27px;
            transition: all 0.3s ease;
            &:hover {
              path {
                fill: #4166eb;
              }
            }
          }
        }
        .changemode {
          font-weight: 500;
          font-size: 1rem;
          span {
            cursor: pointer;
            color: rgba(65, 102, 235, 1);
            &:hover {
              color: #2751e9;
            }
          }
        }
      }
      input {
        outline: none;
        border: 1px solid #898989;
        box-sizing: border-box;
        border-radius: 14px;
        font-family: "Lexend", sans-serif;
        font-size: 1.5rem;
        font-weight: 400;
        width: 100%;
        height: 59px;
        margin-bottom: 18px;
        padding: 15px;
        &::placeholder {
          color: #bcbcbc;
        }
      }
      .notverifiedtext {
        font-size: 1.25rem;
        font-weight: 500;
        text-align: center;
        margin-bottom: 30px;
      }
      .otpHeadWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 10px;
        .text {
          font-size: 1.25rem;
          font-weight: 400;
          text-align: center;
        }
        .phone {
          font-size: 1.25rem;
          font-weight: 500;
          text-align: center;
        }
      }
      .otpWrapper {
        justify-content: center;
        align-items: center;
        display: flex;
        margin-top: 22px;
        input {
          width: 60px;
          margin: 0 6px;
          text-align: center;
        }
      }
      .resendButton {
        color: rgba(65, 102, 235, 1);
        font-size: 1.125rem;
        font-weight: 500;
        margin-top: 12px;
        text-align: center;
        cursor: pointer;
      }
      .button {
        background: #4166eb;
        border-radius: 14px;
        color: white;
        width: 100%;
        max-width: 480px;
        height: 63px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-weight: 500;
        font-size: 1.25rem;
        transition: all 0.3s ease;
        margin-top: 22px;
        &:hover {
          background-color: #ffffff;
          color: #4166eb;
          border: 1px solid #4166eb;
        }
      }
    }
    .signupAuth {
      padding: 40px 70px 70px;
      .headingflex {
        margin-bottom: 60px;
      }
    }
    .parentAuth {
      padding: 40px 70px 70px;
      .headingflex {
        margin-bottom: 60px;
      }
    }
    .learnerAuth {
      padding: 40px 70px 75px;
      .headingflex {
        margin-bottom: 45px;
      }
    }
    .privacyAuth {
      max-width: none;
      height: 80vh;
    }
    .background {
      position: absolute;
      z-index: 4;
      width: 100vw;
      cursor: pointer;
      height: 100vh;
      top: 0;
      left: 0;
    }
    .agreement {
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
      .agreementText {
        width: 80%;
        text-align: center;
        font-weight: 300;
        .agreementLinks {
          border: none;
          outline: none;
          cursor: pointer;
          background-color: transparent;
          font-size: inherit;
          font-weight: 600;
        }
      }
    }
  }
}
